/*
Typography

The design system doesn't style base HTML typography elements (like `h1`, `h2`, `p`, etc) in order to avoid conflicting with any existing site styles. You should instead use one of the base typography classes below to apply styling:

- `ds-display`
- `ds-title`
- `ds-h{level}` where `level` is a number between `1` and `6`
- `ds-text` and `ds-text--lead`

Markup: typography.example.html

Style guide: style.typography
*/

/*
Link

Links connect users to a different page or further information.

The only base HTML element the design system applies styling to is the `<a>` element. To prevent this, you can override the `$ds-include-base-html-rulesets` Sass variable and set it to `false`. You can also use `.ds-c-link` and `.ds-c-link--inverse` for styling links.

Markup: link.example.html

### When to use

- Navigating to a new page or view in your application
- Navigating to a different web page, e.g. external documentation
- **Note:** Warn the user if links open a new window or downloads a file (PDF, for example).

### When to consider alternatives

- Opening or closing a modal or dialog
- Triggering a dropdown menu
- Submitting data to the server



Your link should always describe where it will take users. Users tend to scan text online, and elements that stand out (like links) grab attention. Clear links can help users navigate more quickly.

For example, instead of:
> [Learn more](#)

Use:
> [Learn how to reset your passphrase](#)

Never use a link to say “click here.” A nondescript link forces users to backtrack and read the surrounding text for more context. This is even more problematic for those who rely on screen readers, which can list links for quicker navigation. A list of “click here” isn’t helpful for anyone.

### Accessibility

- Users should be able to tab to navigate between links.
- Users should be able to activate a link when pressing ‘Enter’ on their keyboard.
- Users should be able to identify links without relying on color alone.
- Users should be able to activate hover and focus states with both a mouse and a keyboard.

Style guide: style.typography.links


*/

/*
Responsive typography

@responsive

The `ds-display`, `ds-title`, and `ds-h1` classes are responsive by default.
To apply responsive typography elsewhere, use the [font size utility class](/utilities/font-size/#utilities.font-size.responsive).
Since the base typography margins and line height is measured in `em` units,
they'll automatically adjust as you change the font size.

Markup: responsive-typography.example.html

Style guide: style.typography.responsive
*/

/*
Customization

The following Sass variables can be overridden to change the type sizes:

- `$small-font-size`
- `$base-font-size`
- `$lead-font-size`
- `$h6-font-size`
- `$h5-font-size`
- `$h4-font-size`
- `$h3-font-size`
- `$h2-font-size`
- `$h1-font-size`
- `$h1-mobile-font-size`
- `$title-font-size`
- `$display-font-size`

Style guide: style.typography.variables
*/
