/* stylelint-disable selector-class-pattern */
@import '@cmsgov/design-system-support/src/settings/index';

@if $ds-include-base-html-rulesets {
  // <a> is the only base HTML element in the design system that
  // has a style declaration. In all other cases, styles are applied using a
  // namespaced class name. This selector isn't scoped under .ds-base, since that
  // would cause the selector's specificity to be higher than most other component
  // selectors (i.e. ds-c-button), necessitating overly specific selectors anytime
  // a developer wanted to change an anchor's color property.
  a {
    color: $color-primary;

    &:hover,
    &:focus {
      color: $color-primary-darker;
    }

    &:active {
      color: $color-primary-darkest;
    }

    &:visited {
      color: $color-visited;
    }
  }
}

// Change color of links that are descendants of .ds-base--inverse
// Exclude <a> that are being styled as a button
.ds-base--inverse a:not(.ds-u-button) {
  color: $color-base-inverse;

  &:visited,
  &:active,
  &:focus,
  &:hover {
    // :visited links can only style color, not opacity. This color styling is equivalent to:
    // color: $color-base-inverse;
    // opacity: 0.8;
    color: #cfd5dc;
  }
}
/* stylelint-enable */
