@use 'layout' as *;

/**
 * Icon Overrides
 */

svg {
  &.ds-u-color--success {
    .apply-fill {
      fill: var(--color-success);
    }
  }

  &.ds-u-color--error {
    .apply-fill {
      fill: var(--color-error);
    }
  }

  &.ds-u-color--white {
    .apply-fill {
      fill: #fff;
    }
  }
}

/**
 * Typography overrides
 */

// Specific style overrides that are not easily affected via variables alone.
.ds-text-heading--5xl,
.ds-text-heading--4xl,
.ds-text-heading--3xl,
.ds-text-heading--2xl,
.ds-text-heading--xl,
.ds-text-heading--lg,
.ds-text-heading--md,
.ds-text-heading--sm {
  > a {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary-light);
    text-underline-offset: 3px;

    &:hover {
      color: var(--color-primary-darker);
      text-decoration-color: var(--color-primary-darker);
    }
  }
}

.ds-text-heading--3xl {
  line-height: var(--font-line-height-heading-lg);
  margin-bottom: 44px;

  @media screen and (min-width: $media-width-md) {
    line-height: var(--font-line-height-heading-lg);
    margin-bottom: 52px;
  }
}

.ds-text-heading--2xl {
  line-height: var(--font-line-height-heading);
  margin-bottom: 44px;

  @media screen and (max-width: $media-width-md) {
    line-height: var(--font-line-height-heading);
    margin-bottom: 44px;
  }
}

.ds-text-heading--xl {
  line-height: var(--font-line-height-heading);
  margin-bottom: $spacer-4;
}

.ds-text-heading--lg {
  line-height: var(--font-line-height-heading);
  margin-bottom: $spacer-3;
}

.ds-text-heading--md {
  line-height: var(--font-line-height-base);
  margin-bottom: $spacer-2;
}

.ds-text-heading--sm {
  line-height: var(--font-line-height-base);
  margin-bottom: $spacer-1;
}
