$font-path: '../fonts' !default;

/* inter-400 - regular - latin */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/inter/inter-latin-400.woff2') format('woff2');
}

/* inter-400 - italic - latin */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  src: url('#{$font-path}/inter/inter-latin-400italic.woff2') format('woff2');
}

/* inter-600 - italic - latin */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}/inter/inter-latin-600.woff2') format('woff2');
}

/* inter-600 - italic - latin */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  src: url('#{$font-path}/inter/inter-latin-600italic.woff2') format('woff2');
}
