@import '../settings/index';

/*
Badges

Badges draw attention to new or important content.

Markup:
<span class="hc-c-badge">New</span>
<span class="hc-c-badge hc-u-bg-secondary">Due: December 31, 2018</span>

Style guide: components.badges
*/
.hc-c-badge {
  background-color: $color-primary-alt;
  border-radius: $border-radius;
  color: $color-white;
  font-size: $small-font-size;
  line-height: $heading-line-height;
  margin-right: 5px;
  padding: 3px 6px;

  &:only-of-type {
    margin-right: 0;
  }
}
