@import '../../settings/index';

/*
Badge

Badges draw attention to new or important content.

@react-component Badge

@status prototype

Markup:
<span class="ds-c-badge">New</span>
<span class="ds-c-badge ds-u-fill--error">Due: December 31, 2018</span>

Style guide: components.badge
*/
.ds-c-badge {
  background-color: $color-primary-alt;
  border-radius: $border-radius;
  color: $color-white;
  display: inline-block;
  font-size: $small-font-size;
  line-height: $heading-line-height;
  margin-right: 5px;
  padding: 3px 6px;

  &:only-of-type {
    margin-right: 0;
  }
}
