@import 'variables.spacers';

// These variables override default variables defined by USWDS

// Typography
// USWDS uses rem units for their font sizes, however this relies on
// the root element (typically <html>) to have its font size set to
// 10px. Since styling a root element goes against the guiding principles
// of this design system, we use px units instead.
$base-font-size:      $spacer-2 !default;         // 16px
$small-font-size:     $spacer-2 * 0.875 !default; // 14px
$lead-font-size:      $spacer-2 * 1.125 !default; // 18px
$title-font-size:     $spacer-6 !default;         // 48px

$h1-font-size:        $spacer-5 !default;         // 40px
$h2-font-size:        $spacer-4 !default;         // 32px
$h3-font-size:        $spacer-3 !default;         // 24px
$h4-font-size:        $spacer-2 !default;         // 16px
$h5-font-size:        $small-font-size !default;
$h6-font-size:        $small-font-size !default;

$font-sans:           'Open Sans', Helvetica, sans-serif;
$font-serif:          Bitter, Georgia, serif;

// Magic Numbers
$border-radius:       3px;
