// font-weight (additional font-weights are defined as USWDS variables)
$font-semibold: 600;

// line-height (additional line-heights are defined as USWDS variables)
$reset-line-height: 1 !default;

// measure
$measure-narrow: 21em;
$measure-base: 31em;
$measure-wide: 41em;
