@import '../../settings/index';
@import '../../tools/index';

/*
List

@status prototype

Markup:
<ul class="ds-c-list {{modifier}}">
  <li>List item 1</li>
  <li>List item 2</li>
</ul>

.ds-c-list--bare - Unstyled list (no `margin`, `padding` or `list-style`)

Style guide: components.list
*/
.ds-c-list {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1.94em; // Approximately 15px left padding at default font size

  li {
    line-height: $base-line-height;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ds-c-list--bare {
  @include ds-unstyled-list;
}
