@import '@cmsgov/design-system-support/src/index';

/*
List

Lists organize written information for users.

@uswds https://standards.usa.gov/components/typography/#lists

Markup:
<h6 class="ds-h6" id="unordered-list-id">Unordered list title</h6>
<ul class="ds-c-list {{modifier}}" aria-labelledby="unordered-list-id">
  <li>List item 1</li>
  <li>List item 2</li>
</ul>
<h6 class="ds-h6" id="ordered-list-id">Ordered list title</h6>
<ol class="ds-c-list {{modifier}}" aria-labelledby="ordered-list-id">
  <li>List item 1</li>
  <li>List item 2</li>
</ol>

.ds-c-list--bare - Unstyled list (no `margin`, `padding` or `list-style`)

Style guide: components.list
*/
.ds-c-list {
  margin-bottom: $spacer-2;
  margin-top: $spacer-2;
  padding-left: $spacer-4;

  li {
    line-height: $base-line-height;
    margin-bottom: $spacer-1;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ds-c-list--bare {
  @include ds-unstyled-list;
}

/*
---

## When to use

- Use an ordered list when you need to display text in some ranking, hierarchy, or series of steps.
- Use unordered lists to display text in no specific order.

## When to consider alternatives

- If you need to communicate long lists of narrative text.

## Guidance

- Use sentence case and begin lists with a capital letter.
- Use punctuation appropriate to the text. Do not leave sentences without periods.

## Accessibility
- When a list has a heading, consider adding an `id` attribute to the heading element, and an `aria-labelledby` attribute to the list element. Screen readers will then announce the heading text when users navigate to the list. See example below.

  ```html
  <h6 id="foo">List heading</h6>
  <ul aria-labelledby="foo">
    <li>Item</li>
    <li>Item</li>
  </ul>
  ```

## Learn more

- [18F Content Guide \- Bulleted lists](https://content-guide.18f.gov/punctuation/#bulleted-lists)

Style guide: components.list.guidance
*/
