/* stylelint-disable selector-class-pattern */
@import '../settings/index';

/*
Base

A base layer of styling can be applied to an area of your site by adding the `ds-base` class. If you're implementing the design system on a new site, you would likely want to apply this class to the `<body>` element. On existing sites this might not be feasible and introduce unintended side effects. In which case, you could apply the `ds-base` class to an element which scopes the styling to its decendants.

Specifically, the base styling sets the following properties:

- `color`
- `font-family`
- `font-size`
- `line-height`

.ds-base--inverse - Applies an inverse `color` and `background-color`

Markup:
<div class="ds-base {{modifier}} ds-u-padding--2">
  {{lorem-l}}
</div>

Weight: 10

Style guide: base
*/
.ds-base {
  color: $color-base;
  font-family: $font-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.ds-base--inverse {
  background-color: $color-background-inverse;
  color: $color-base-inverse;
  font-family: $font-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
/* stylelint-enable */
