/* stylelint-disable selector-class-pattern */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Base

A base layer of styling can be applied to an area of your site by adding the `ds-base` class. If you're implementing the design system on a new site, you'd likely want to apply this class to the `<body>` element. On existing sites this might not be desirable. In which case, you could apply the `ds-base` class to an element which scopes the styling to itself and its children.

Specifically, the base styling sets the following properties:

- `color`
- `font-family`
- `font-size`
- `line-height`

.ds-base--inverse - Applies an inverse `color` and `background-color`

Markup:
<div class="ds-base {{modifier}} ds-u-padding--2">
  {{lorem-l}}
</div>

Style guide: style.base
*/
%ds-base {
  font-family: $font-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.ds-base {
  @extend %ds-base;
  color: $color-base;
}

.ds-base--inverse {
  @extend %ds-base;
  background-color: $color-background-inverse;
  color: $color-base-inverse;
}
/* stylelint-enable */
