/* stylelint-disable selector-class-pattern */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Icons

Iconography should be used sparingly and only with support of labels. We use a subset of FontAwesome icons, with one or two bespoke icons.

Please refer to [USWDS' documentation](https://designsystem.digital.gov/components/icons/) for more detail.

Style guide: style.icons
*/

/*
Alert Icons

@hide-markup

These icons are used primarily as part of the Alert Box component, though the Checkmark can sometimes be found in other places, without the background.

Markup:
<% var icons = [
  'information', 'success', 'success-fill', 'warning', 'error'
]; -%>
<div class="ds-u-padding--1 ">
  <% icons.forEach(icon => { -%>
    <div class="ds-l-row">
      <span class='icon-container <%= icon %>'></span><span class='icon-text'><%= icon %> | <a href="{{root}}/public/images/<%= icon%>.svg" target="_blank">Download SVG</a></span>
    </div>
  <% }) -%>
</div>

Style guide: style.icons.alert
*/

/*
Interaction Icons

@hide-markup

These icons are used primarily for interaction with the user interface.

Markup:
<% var icons = [
  'close', 'arrow-up', 'arrow-down'
]; -%>
<div class="ds-u-padding--1">
  <% icons.forEach(icon => { -%>
    <div class="ds-l-row">
      <span class='icon-container <%= icon %>'></span><span class='icon-text'><%= icon %> | <a href="{{root}}/public/images/<%= icon%>.svg" target="_blank">Download SVG</a></span>
    </div>
  <% }) -%>
</div>

Style guide: style.icons.interaction
*/

/*
Supplemental Icons

@hide-markup

These icons are used to convey more information about a given block of text or interaction. They should be used sparingly.

Markup:
<% var icons = [
  'star','star-filled', 'information-new', 'information-new-hover', 'PDF', 'image', 'download', 'next'
]; -%>
<div class="ds-u-padding--1">
  <% icons.forEach(icon => { -%>
    <div class="ds-l-row">
      <span class='icon-container <%= icon %>'></span><span class='icon-text'><%= icon %> | <a href="{{root}}/public/images/<%= icon%>.svg" target="_blank">Download SVG</a></span>
    </div>
  <% }) -%>
</div>

Style guide: style.icons.supplemental
*/

.icon-text {
  text-transform: capitalize;
}

.icon-container {
  height: auto;
  overflow: auto;
  padding-bottom: 48px;
  padding-right: 16px;
  width: 32px;

  &.information {
    background-image: url('#{$image-path}/information.svg');
    background-repeat: no-repeat;
    background-size: 32px;
  }

  &.success {
    background-image: url('#{$image-path}/success.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    margin-left: 4px;
    margin-right: -4px;
  }

  &.success-fill {
    background-image: url('#{$image-path}/success-fill.svg');
    background-repeat: no-repeat;
    background-size: 32px;
  }

  &.warning {
    background-image: url('#{$image-path}/warning.svg');
    background-repeat: no-repeat;
    background-size: 32px;
  }

  &.error {
    background-image: url('#{$image-path}/error.svg');
    background-repeat: no-repeat;
    background-size: 32px;
  }

  &.close {
    background-image: url('#{$image-path}/close.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    margin-top: 5px;
  }

  &.arrow-up {
    background-image: url('#{$image-path}/arrow-up.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    margin-top: 5px;
  }

  &.arrow-down {
    background-image: url('#{$image-path}/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    margin-top: 5px;
  }

  &.star-filled {
    background-image: url('#{$image-path}/star-filled.svg');
    background-repeat: no-repeat;
    background-size: 24px;
  }

  &.star {
    background-image: url('#{$image-path}/star.svg');
    background-repeat: no-repeat;
    background-size: 24px;
  }

  &.information-new-hover {
    background-image: url('#{$image-path}/information-new-hover.svg');
    background-repeat: no-repeat;
    background-size: 24px;
  }

  &.information-new {
    background-image: url('#{$image-path}/information-new.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 4px;
    margin-right: -4px;
    margin-top: 5px;
  }

  &.PDF {
    background-image: url('#{$image-path}/pdf.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 5px;
    margin-right: -5px;
    margin-top: 2px;
  }

  &.image {
    background-image: url('#{$image-path}/image.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 5px;
    margin-right: -5px;
    margin-top: 5px;
  }

  &.download {
    background-image: url('#{$image-path}/download.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 5px;
    margin-right: -5px;
  }

  &.next {
    background-image: url('#{$image-path}/next.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 5px;
    margin-right: -5px;
    margin-top: 5px;
  }
}

/* stylelint-enable */
