@import '../settings/index';
@import '../tools/index';

/*
Type

The design system applies basic global type styles. Specifically it:

- Sets the `body` font family and size
- Sets base spacing for `p` tags
- Sets base colors for `a` tags (including `:hover`, `:active`, `:focus`)

Markup:
<p>When in the <a href="http://example.com">Course of human events</a> it becomes necessary for one people to dissolve the political bands which have connected them with another and to assume among the powers of the earth, the separate and equal station to which the <em>Laws of Nature</em> and of Nature's God entitle them, a decent respect to the opinions of mankind requires that <strong>they should declare the causes</strong> which impel them to the separation.</p>

Style guide: base.type
*/

body {
  @include font-size-s;
  font-family: $font-sans;
}

p {
  line-height: $base-line-height;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: $color-primary;

  &:hover,
  &:active {
    color: $color-primary-darker;
  }

  &:visited {
    color: $color-visited;
  }
}
