@import "utils/mixins";
@import "utils/variables";

.hc-btn {
  background-color: @white;
  border: 1px solid @blue;
  border-radius: @border-radius;
  color: @blue;
  cursor: pointer;
  font-family: @body-font;
  font-size: @font-size-base;
  font-weight: bold;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    background-color: darken(@blue, @darken-percent);
    color: @white;
  }

  &:focus {
    .accessible-outline();
  }

  a& {
    display: inline-block;
  }
}
