/*
Svg Icon

For improved usability and consistency in consuming applications, the design system now exports a utility icon called `<SvgIcon>`.

See additional guidance on the [Styles >> Icon page](https://design.cms.gov/styles/icons/).

Style guide: components.icon
*/

/*
`<SvgIcon>`

The `<SvgIcon>` component is a re-usable component that wraps its children in an `<svg>` element. It is an attempt to standardize props and SVG attributes.
This component is used by each individual icon component listed below.

@react-example IconComponent.example.jsx

@react-props SvgIcon.tsx

Style guide: components.icon.react

*/

/*
Changing icon color

Icon components support a few built-in color options that can be applied by using one of the following utility classes.

If you need a different color for an icon, you can pass a custom class to an icon component through the `className` prop. Then, in your application CSS, set the `color` prop.

@react-example IconComponentColor.example.jsx

Style guide: components.icon.colors
*/

/*
Changing icon size

Icon components use `ems` for their height and width and can thereby be sized by changing the font-size of the SVG element.

It is recommended that the [font-size utilities](https://design.cms.gov/utilities/font-size/) be used.

@react-example IconComponentSize.example.jsx

Style guide: components.icon.size
*/

/*
Using `<SvgIcon>` for a Custom Icon

The `<SvgIcon>` component can be used for other custom icons. It allows you to pass in the SVG child elements. This component is recommended if you want built-in accessibility features and standard icon styles.

In the example below, the `<SvgIcon>` component is used with a custom path.

@react-example IconComponentCustom.example.jsx

Style guide: components.icon.custom
*/

/*
Accessibility

The `<SvgIcon>` component has built-in accessibility features including:
- a built-in `title` attribute. For any specific exported icon, the `title` attribute is defaulted, but can be overwritten.
- `focusable="false"` which prevents the icon from being focusable
- `role="img"` which tells assistive technologies that the icon's purpose is as an image
- optional `description` attribute which can be used for a more detailed explanation of the icon's contents. Meant to be used to provide more detail than just the `title`
- an available`ariaHidden` attribute which can be used if the icon's context is described elsewhere. For example, if the icon is part of a button with text, the text may provide the text description instead of the icon component.

Style guide: components.icon.accessibility
*/
