//Helpers for component examples

// stylelint-disable scss/at-extend-no-missing-placeholder
.example--wrapper>*+* {
  @extend .ds-u-margin-top--2;
}

.example--wrapper>:first-child {
  margin-top: 0;
}

.example--inverse {
  @extend .ds-base;
  @extend .ds-base--inverse;
  @extend .ds-u-padding--2;
  max-width: fit-content;
  >.ds-c-field {
    width: $input-max-width;
  }
}
// stylelint-enable
