// Visualize grid layout
.preview-grid .ds-l-row > [class*='ds-l-'] {
  background-color: $color-primary-alt-lightest;
  border: 1px dashed $color-primary-alt;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}
