// Visualize grid layout
.preview__grid .ds-l-row > [class*='ds-l-'],
.preview__grid .ds-l-form-row > [class*='ds-l-'] {
  background-color: $color-primary-alt-lightest;
  border: 1px dashed $color-primary-alt;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}

.preview__label {
  // This resembles the design system's H6
  color: $color-muted;
  display: block;
  font-size: $h6-font-size;
  font-weight: $font-normal;
  margin-bottom: $spacer-1;
  margin-top: $spacer-2;

  &:first-child {
    margin-top: 0;
  }
}
