// Responsive docs table

.docs_table--wrapper {
  overflow-x: auto;
}

.docs_table {
  @media (max-width: $width-sm) {
    thead {
      /* Hide table headers (.ds-u-visibility--screen-reader) */
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
      word-wrap: normal;
    }

    tr {
      border: 1px solid $color-gray;
      display: block;
      margin: 0 0 0.5rem;
    }

    td {
      border-top: 1px solid $color-gray-lightest;
      display: block;
      margin-top: -1px;
      word-break: break-word;
    }

    td:last-child {
      border-bottom: 0;
    }

    td:first-child {
      background-color: $color-gray-lightest;
      border-top: 1px solid $color-gray;
    }

    td::before {
      content: attr(data-title) '\00000A';
      font-weight: $font-bold;
      white-space: pre-wrap;
    }
  }
}
