.c-swatch {
  font-size: $xs-font-size;
}

.c-swatch__label {
  display: block;
  line-height: $reset-line-height;
  margin: 0;
}

.c-swatch__preview {
  box-shadow: inset 0 0 1px rgba(#000, 0.2);
  margin-bottom: $spacer-half;
  padding-top: 50%;

  &.ds-u-fill--transparent {
    background-image: url('#{$image-path}/canvas.png');
  }
}

.c-swatch__preview--condensed {
  height: $spacer-4;
  padding-top: 0;
}
