.usa-banner {
  background-color: #f0f0f0;
  font-family: 'Source Sans Pro Web', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06471rem;
  line-height: 1.52155;
}

  .usa-accordion {
    color: #1b1b1b;
    font-family: 'Source Sans Pro Web', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06471rem;
    line-height: 1.52155;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .usa-banner__header {
    font-size: 0.79853rem;
    font-weight: 400;
    min-height: 0;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    position: relative;
  }

  .usa-banner__inner {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }

  .usa-banner__header-flag {
    float: left;
    margin-right: 0.5rem;
    width: 1rem;
  }

  .usa-banner__header-text {
    font-size: 0.79853rem;
    line-height: 1.12707;
    margin-bottom: 0;
    margin-top: 0;
  }

  .usa-banner__header-action {
    color: #005ea2;
    font-family: Helvetica;
    line-height: 1.12707;
    margin-bottom: 0;
    text-decoration: underline;

    &::before {
      content: none;
    }
  }

  .usa-banner__button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    bottom: auto;
    box-shadow: none;
    font-size: 0.79853rem;
    font-weight: 400;
    height: auto;
    left: 0;
    line-height: 1.12707;
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
    position: relative;
    right: auto;
    top: 0;
    width: auto;
  }

  .usa-banner__content {
    background-color: transparent;
    font-size: 0.99816rem;
    overflow: hidden;
    width: 100%;
  }

  .usa-banner__icon {
    width: 2.5rem;
  }

  .usa-media-block__img {
    float: left;
    margin-right: 0.5rem;
  }

  .usa-media-block__body {
    overflow: hidden;
  }

  .usa-banner__content p:first-child {
    margin: 0;
  }

  .usa-banner__guidance {
    width: 100%;
  }
  
  .usa-accordion__button {
    @extend %link-darker;
  }

  .usa-banner__button::after {
    background-image: url('../images/arrow-down.svg'), linear-gradient(transparent, transparent);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 0.5rem;
    content: '';
    display: inline-block;
    height: 0.5rem;
    margin-left: 2px;
    width: 0.5rem;
  }

  .usa-banner__header--expanded {
    background-color: transparent;
    color: #1b1b1b;
    display: block;
    font-size: 0.79853rem;
    font-weight: 400;
    min-height: 0;
    padding-right: 0;

    .usa-banner__button::after {
      background-image: url('../images/arrow-down.svg'), linear-gradient(transparent, transparent);
      content: '';
      transform: rotate(180deg);
    }
  }
