@use '../../../../design-system/src/styles/layout';

.c-button-migration-table {
  margin-bottom: layout.$spacer-3;
  margin-top: layout.$spacer-3;
}

.c-button-migration-table td:nth-child(1),
.c-button-migration-table th:nth-child(1) {
  text-align: center;
}
