@use '../../../../design-system/src/styles/layout';

.c-button-variations-table {
  margin-bottom: layout.$spacer-3;
  margin-top: layout.$spacer-3;
}

.c-button-variations-table td,
.c-button-variations-table th {
  text-align: center;
}
