// Color examples
.c-swatch__name,
.c-swatch__label {
  font-size: $font-size-md;
}

.c-swatch__preview {
  box-shadow: inset 0 0 1px rgba($color-black, 0.2);
  display: inline-block;
  height: $spacer-4;
  margin-bottom: $spacer-half;
  vertical-align: middle;
  width: $spacer-4;
}
