.c-color-example-row {
  display: flex;
  justify-content: space-between;
  padding: $spacer-1;
  position: relative;
  text-align: right;

  svg {
    left: 0;
    position: absolute;
    top: 0;
  }

  code {
    position: relative;
  }
}
