.c-color-card {
  dl {
    margin: var(--spacer-1) auto;
  }

  .c-color-card__attribute {
    display: grid;
    column-gap: var(--spacer-1);
    grid-template-columns: max-content 1fr;
  }

  dt {
    font-weight: var(--font-weight-bold);
  }

  dd {
    margin: 0;

    &[data-category='hex'] {
      text-transform: uppercase;
    }
  }
}
