@use '../../../../design-system/src/styles/layout';

.c-color-swatch {
  display: inline-block;
  height: layout.$spacer-4;
  margin-bottom: layout.$spacer-half;
  vertical-align: middle;
  width: layout.$spacer-4;
}
