// Color examples
.c-swatch__name,
.c-swatch__label {
  font-size: $font-size-md;
}

.c-swatch__preview {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: $spacer-4;
  margin-bottom: $spacer-half;
  vertical-align: middle;
  width: $spacer-4;
}

.c-color-ramps {
  gap: $grid-gutter-width;
}

.c-color-ramp__wrapper {
  flex-basis: 256px;
  flex-shrink: 0;
  width: 256px;
}

.c-color-ramp {
  clip-path: inset(0 0);
  max-width: 256px;
  // Move everything 1px away from the clipping rectangle to avoid a bug where
  // we get a subpixel-tall row of transparency pattern bleeding through on the
  // top edge of the ramp.
  padding-top: 1px;
  position: relative;
}

.c-color-ramp__transparency-pattern {
  left: 0;
  position: absolute;
  // Move everything 1px away from the clipping rectangle to avoid a bug where
  // we get a subpixel-tall row of transparency pattern bleeding through on the
  // top edge of the ramp.
  top: 1px;
  z-index: -1;
}

.c-color-ramp__item {
  // clip-path: inset(0 0);
  padding: $spacer-1;
  position: relative;
  text-align: right;

  svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  code {
    position: relative;
  }
}
