.c-color-migration-table {
  width: 100%;

  th {
    padding-bottom: $spacer-1;
    text-align: center;
  }

  td {
    padding: 0;
  }

  $row-height: 40px;

  th:first-child,
  td:first-child {
    padding-right: $spacer-4;
    width: 50%;
  }

  th:last-child,
  td:last-child {
    padding-left: $spacer-4;
    width: 50%;
  }

  td:first-child {
    position: relative;

    &::after {
      box-sizing: border-box;
      content: '→';
      font-size: var(--font-size-2xl);
      margin-top: -17px;
      position: absolute;
      right: -11px;
      top: 50%;
    }
  }
}

.c-color-migration-table .c-color-example-row {
  text-align: left;
}
