.example-label {
  color: $color-gray;
  display: block;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  margin-bottom: $spacer-1;
}

.example-list {
  & article {
    padding-bottom: $spacer-2;
    padding-top: $spacer-2;
    border-bottom: 1px solid $color-gray-lighter;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: 0;
    }
  }
}

// Examples for styles > spacing
.example-spacer-half {
  height: $spacer-half;
}
.example-spacer-1 {
  height: $spacer-1;
}
.example-spacer-2 {
  height: $spacer-2;
}
.example-spacer-3 {
  height: $spacer-3;
}
.example-spacer-4 {
  height: $spacer-4;
}
.example-spacer-5 {
  height: $spacer-5;
}
.example-spacer-6 {
  height: $spacer-6;
}
.example-spacer-7 {
  height: $spacer-7;
}

// layout grid examples
.example-grid {
  & .ds-l-row > [class*='ds-l-'],
  & .ds-l-form-row > [class*='ds-l-'] {
    background-color: $color-secondary-lightest;
    outline: 2px dashed $color-secondary;
    padding-top: $spacer-2;
    padding-bottom: $spacer-2;
  }
}

.utility-example {
  background-color: $color-secondary-lightest;
  outline: 2px dashed $color-secondary;

  & code {
    background-color: $color-secondary-lightest;
  }
}
