.example-label {
  color: var(--color-gray);
  display: block;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  margin-bottom: $spacer-1;
}

.example-list {
  article {
    border-bottom: 1px solid var(--color-gray-lighter);
    padding-bottom: $spacer-2;
    padding-top: $spacer-2;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: 0;
      padding-bottom: 0;
    }
  }
}

// Examples for styles > spacing
.example-spacer-half {
  height: $spacer-half;
}
.example-spacer-1 {
  height: $spacer-1;
}
.example-spacer-2 {
  height: $spacer-2;
}
.example-spacer-3 {
  height: $spacer-3;
}
.example-spacer-4 {
  height: $spacer-4;
}
.example-spacer-5 {
  height: $spacer-5;
}
.example-spacer-6 {
  height: $spacer-6;
}
.example-spacer-7 {
  height: $spacer-7;
}

// layout grid examples
.example-grid {
  .ds-l-row > [class*='ds-l-'],
  .ds-l-form-row > [class*='ds-l-'] {
    background-color: var(--color-secondary-lightest);
    outline: 2px dashed var(--color-secondary);
    padding-bottom: $spacer-2;
    padding-top: $spacer-2;
  }
}

.utility-example {
  background-color: var(--color-secondary-lightest);
  outline: 2px dashed var(--color-secondary);

  code {
    background-color: var(--color-secondary-lightest);
  }
}

.c-embedded-example {
  margin-top: $spacer-2;
}
