.c-footer {
  border-top: 2px solid $color-gray-lighter;
  padding: 1.5rem 1.5rem 0;

  .c-footer__container {
    margin-inline: auto;
    max-width: $site-max-width;
    width: 100%;
  }

  .ds-c-button--transparent {
    padding: 0;
    font-weight: $font-weight-normal;
  }

  .ds-c-icon--hhs-logo {
    font-size: 2rem;
    margin-right: $spacer-2;
  }
}

.c-footer__links {
  & .c-footer__link {
    display: inline-block;
  }

  & .c-footer__link:not(:last-child) {
    margin-right: $spacer-2;
  }
}

@media (max-width: $media-width-md) {
  .c-footer__text {
    font-size: $font-size-sm;
  }
}
