.c-footer {
  border-top: 2px solid var(--color-gray-lighter);
  padding-top: 1.5rem;

  .c-footer__container {
    max-width: var(--site-max-width);
    width: 100%;
  }

  .ds-c-icon--hhs-logo {
    font-size: 2rem;
    margin-right: $spacer-2;
  }
}

.c-footer__links {
  .c-footer__link {
    display: inline-block;
    text-decoration-thickness: var(--link__text-decoration-thickness);
    text-underline-offset: var(--link__text-decoration-offset);
  }

  .c-footer__link:not(:last-child) {
    margin-right: $spacer-2;
  }

  button.c-footer__link {
    all: inherit; /* removes all DS and browser button styling */
    color: var(--link__color);
    cursor: pointer;
    display: inline;
    text-decoration: underline;
    text-decoration-thickness: var(--link__text-decoration-thickness);

    &:hover {
      color: var(--link__color--hover);
    }
  }
}

@media (max-width: $media-width-md) {
  .c-footer__text {
    font-size: var(--font-size-sm);
  }
}
