.c-header__wrapper {
  background-color: $color-background-inverse;

  & .ds-c-button + .ds-c-button {
    margin-left: $spacer-2;
  }
}

.c-header__link {
  color: $color-base-inverse;
  text-decoration: none;

  &:visited {
    color: $color-base-inverse;
  }

  &:focus {
    color: $color-primary;
  }
}
