.c-maturity-checklist {
  background-color: var(--color-gray-lightest);
  padding: $spacer-4;

  > h2 {
    @extend .ds-text-heading--xl;
  }

  > * + * {
    margin-block: $spacer-2;
  }
}

.c-maturity-checklist__progress {
  align-items: start;
  display: flex;
  font-size: var(--font-size-lg);
  gap: $spacer-2;

  p {
    margin: 0;
  }
}

.c-maturity-checklist__incomplete-items {
  h3 {
    font-weight: var(--font-weight-semibold);
    margin-block-end: $spacer-2;
  }
}

.c-maturity-checklist__list {
  h3 {
    font-weight: var(--font-weight-bold);
  }
}

.c-maturity-checklist__item {
  align-items: center;
  display: grid;
  gap: $spacer-2;
  grid-template-columns: 12ch auto;
  margin-block: $spacer-2;

  p {
    margin: 0;
  }
}
