.c-mobile-nav-button {
  background-color: $color-primary-darker;
  border-radius: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: $spacer-2;
  padding-bottom: $spacer-2;
  position: fixed;
  z-index: 1000;
}
