@use '@styles/mixins';

// Mobile
.c-navigation {
  background-color: var(--color-gray-lightest);
  width: 100%;

  .c-navigation__header {
    align-items: center;
    display: flex;
    gap: $spacer-2;
    padding: $spacer-2;

    > button {
      color: currentColor;

      &:hover,
      &:focus:hover {
        color: currentColor;
      }
    }
  }

  .c-navigation__title {
    background-color: transparent;
    color: currentColor;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
  }

  .c-navigation__link-list {
    border-block: 1px solid var(--vertical-nav-item__border-color);

    .ds-c-vertical-nav__label--parent {
      text-transform: capitalize;
    }
  }

  .c-navigation__bottom-link {
    background-color: transparent;
    display: flex;
    gap: 0.5em;

    svg {
      height: 1em;
      width: auto;
    }
  }
}

.c-navigation__header,
.c-navigation__switchers-wrapper {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.c-navigation__switchers-wrapper {
  padding: $spacer-2 $spacer-2 $spacer-2 $spacer-4;
}

.c-navigation__settings-button {
  appearance: none;
  background: none;
  border: none;
  color: var(--link__color);
  display: inline-block;
  font-weight: var(--font-weight-bold);
  // Keep the hit area large by giving it padding on top and bottom, calculated
  // to be about 40px tall at a default font size
  padding: 0.5rem;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.125em;

  &:visited {
    color: var(--link__color--visited);
  }

  &:hover {
    color: var(--link__color--hover);
  }

  &:active {
    color: var(--link__color--active);
  }

  .c-navigation__switchers-wrapper & {
    color: var(--link-inverse__color);

    &:visited {
      color: var(--link-inverse__color--visited);
    }

    &:hover {
      color: var(--link-inverse__color--hover);
    }

    &:active {
      color: var(--link-inverse__color--active);
    }
  }

  &:focus {
    @include mixins.focus-styles;
  }

  .ds-c-icon {
    height: var(--font-size-sm);
    width: var(--font-size-sm);
  }
}

.c-navigation__links-wrapper {
  background-color: var(--color-gray-lightest);
  padding: $spacer-2;
}

.c-theme-switcher label {
  margin-block-start: 0;
}

.c-theme-switcher .ds-c-field,
.c-version-switcher .ds-c-field {
  max-width: none;
}

.c-navigation--open {
  inset: 0;
  overflow-y: auto;
  position: fixed;
  z-index: 1;

  .c-navigation__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.ds-c-vertical-nav__label {
  &:hover,
  :visited:hover {
    // --vertical-nav-item__background-color--hover: var(--color-primary-lightest);
    --vertical-nav-item__background-color--hover: color-mix(
      in srgb,
      var(--color-primary-lightest),
      transparent 50%
    );
  }
}

// Desktop
@media (min-width: $media-width-md) {
  .c-navigation {
    // Set it to a fixed width that is wide enough for most links so that it
    // doesn't jump around when we open and close subsections.
    width: 17rem;
  }
}

@media (forced-colors: active) {
  .c-navigation {
    forced-color-adjust: none;
    -ms-high-contrast-adjust: none;

    .ds-c-vertical-nav__label--current[aria-expanded='true'] {
      background-color: Highlight;
      color: HighlightText;

      path {
        fill: HighlightText;
      }
    }

    .ds-c-vertical-nav__label--parent {
      background-color: Window;

      path {
        fill: WindowText;
      }
    }
  }
}
