.c-page-header__link {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $spacer-2;
  }

  .c-github-icon {
    height: 1rem;
    margin-right: $spacer-half;
    width: 1rem;
  }
}

.c-page-header__icon {
  height: 1rem;
  margin-right: $spacer-half;
  vertical-align: middle;
}

#header-full-width {
  a {
    color: var(--color-base);
    text-decoration: none;
  }
}
