.c-responsive-example__example-wrapper {
  background-color: var(--color-gray-lightest);
  padding: $spacer-2;
  position: relative;
  width: 100%;
}

.c-responsive-example {
  margin-top: $spacer-3;
}

.c-responsive-example__iframe {
  border: 0;
  position: absolute;
  transform-origin: 0px 0px;
}

.c-responsive-example__scale {
  background-color: var(--color-info-lightest);
  bottom: 0;
  font-size: var(--font-size-sm);
  padding: $spacer-half $spacer-1;
  position: absolute;
  right: 0;
}

.c-responsive-example__button-list {
  flex-direction: row;
  gap: 0;
  list-style: none;
}

.c-responsive-example__list-item {
  list-style: none;
}

.c-responsive-example__button {
  appearance: none;
  background-color: var(--color-gray-lightest);
  border: 0;
  border-right: 1px solid var(--color-gray-lighter);
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  height: 100%;
  padding: $spacer-2;
  position: relative;
  width: 100%;

  &:hover {
    color: var(--color-primary-darker);
  }

  :last-child > & {
    border-right: none;
  }
}

.c-responsive-example__button--active {
  background-color: var(--color-white);
  border-bottom: 4px solid var(--color-primary);
}
