.c-sidebar {
  // leaving space for menu button
  // have to do a mix of calc & sass interpolation in order to accommodate $text-input__line-height being a css var
  bottom: calc(#{$spacer-4} + calc(#{$text-input__line-height} * #{$font-size-base}));
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translate3d(0, 120%, 0);
  transition: transform 0.25s ease-in-out;
  width: 100%;
  z-index: 1000;

  & .ds-c-vertical-nav__label {
    text-transform: capitalize;
  }
}

.c-sidebar--open {
  transform: translateZ(0);
}

.c-sidebar__mobile-button-wrapper {
  & .ds-c-button {
    display: block;
  }

  & .ds-c-button + .ds-c-button {
    margin-top: $spacer-2;
  }
}

@media (min-width: $width-md) {
  .c-sidebar {
    border-right: 1px solid $color-gray-lighter;
    height: auto;
    max-width: 15.625rem;
    position: static;
    transform: translateZ(0);
    transition: none;
    width: auto;
  }
}
