.c-spacing-utility-example__row {
  display: flex;
  margin-bottom: $spacer-2;
  align-items: center;
  code {
    margin-left: $spacer-2;
  }
}

.c-spacing-utility-example__container {
  background-color: $color-secondary;
  display: inline-flex;
}

.c-spacing-utility-example__item:after {
  width: $spacer-4;
  height: $spacer-4;
  background: $color-white;
  display: table;
  content: '';
}

.c-spacing-utility-example--margin .c-spacing-utility-example__item:after {
  border: 1px solid $color-black;
  width: ($spacer-4 + 2px);
  box-sizing: border-box;
}

.c-spacing-utility-example--padding .c-spacing-utility-example__container {
  border: 1px solid $color-black;
}
