.c-storybook-example {
  border: 1px solid var(--color-gray-lighter);
  margin-top: $spacer-2;
}

.c-storybook-example__iframe-wrapper {
  min-height: 15.625rem;
}

.c-storybook-example__iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.c-storybook-example-footer {
  margin-top: $spacer-1;
  position: relative;
}

.c-storybook-example-footer__iframe {
  border: 0;
  height: 0;
  position: absolute;
  width: 0;
}
