pre,
code {
  background-color: $color-gray-lightest;
  color: $color-black;
}

pre {
  display: block;
  overflow-x: auto;
  padding: $spacer-2;
}

code {
  display: inline-block;
  font-size: 0.9em;
  margin: 1px;
  padding: 0 $spacer-half;
}

a code {
  color: $link__color;
  text-decoration: underline;
}

a code {
  text-decoration: underline;
}

/**
 * a11y-light theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 * @see https://github.com/ericwbailey/a11y-syntax-highlighting
 */

/*
 Theme
 */
code[class*='language-'],
pre[class*='language-'] {
  background: none;
  color: #545454;
  hyphens: none;
  line-height: 1.5;

  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre[class*='language-'] {
  border-radius: 0.3em;
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #fefefe;
  border: 1px solid $color-gray-lighter;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  padding: 0.1em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #696969;
}

.token.punctuation {
  color: #545454;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #007299;
}

.token.boolean,
.token.number {
  color: #008000;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #aa5d00;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #008000;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #aa5d00;
}

.token.keyword {
  color: #d91e18;
}

.token.regex,
.token.important {
  color: #d91e18;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*
  Plugin support
 */

/* Line highlight */
.line-highlight {
  background: rgba(183, 134, 11, 0.075);
  border-bottom: 1px solid #b8860b;
  border-top: 1px solid #b8860b;
}

/* Line numbers */
.line-numbers .line-numbers-rows {
  border-right: 1px solid #aa5d00;
}

.line-numbers-rows > span:before {
  color: #696969;
}

/*
 High contrast mode support
*/
@media screen and (-ms-high-contrast: active) {
  code[class*='language-'],
  pre[class*='language-'] {
    background: window;
    color: windowText;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}
