.c-table-of-contents {
  max-height: calc(100vh - $spacer-1);
  overflow-y: auto;
  position: sticky;
  top: $spacer-1;
}

.c-table-of-contents__heading {
  border-bottom: 1px solid var(--color-gray-lighter);
  padding-bottom: $spacer-1;

  @media (max-width: $media-width-lg) {
    display: none;
  }
}

.c-table-of-contents__list,
.c-table-of-contents-mobile__list {
  list-style-type: none;
  margin-top: 0;
  padding-left: $spacer-1;
}

.c-table-of-contents__list .c-table-of-contents__list,
.c-table-of-contents-mobile__list .c-table-of-contents-mobile__list {
  list-style-type: '- ';
  padding-left: $spacer-3;
}

.c-table-of-contents-mobile {
  .ds-c-accordion__content {
    border: $spacer-half solid var(--accordion__background-color);
    padding-bottom: $spacer-2;
  }
}

.c-table-of-contents-mobile__list {
  padding-left: 0;
}

.c-table-of-contents__list-item {
  margin-bottom: $spacer-half;
  margin-top: $spacer-half;
}

.c-table-of-contents__list-item--no-marker {
  list-style: none;
}
