.c-table-of-contents {
  position: sticky;
  top: $spacer-1;
}

.c-table-of-contents__heading {
  border-bottom: 1px solid $color-gray-lighter;
  padding-bottom: $spacer-1;
}

.c-table-of-contents__list {
  list-style-type: '- ';
  margin-top: $spacer-1;
}

.c-table-of-contents-mobile {
  & .ds-c-accordion__content {
    border: $spacer-half solid $accordion__background-color;
  }
}

.c-table-of-contents-mobile__list {
  list-style-type: '- ';
  padding-left: 0;
}
