/*
Display/Visibility

Use the display and visibility utility classes to show and hide elements.

Style guide: utilities.display-visibility
*/

/*
Display

> The display CSS property specifies the type of rendering box used for an element. In HTML, default display property values are taken from behaviors described in the HTML specifications or from the browser/user default stylesheet. &mdash; [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/display)

**Format**: `ds-u-display--[block|inline-block|flex|none]`

**Responsive format**: `ds-u-[breakpoint]-display--[block|inline-block|flex|none]`

Markup: display.example.html

Style guide: utilities.display-visibility.display
*/

/*
Visibility

> The visibility property can be used to hide an element while leaving the space where it would have been. &mdash; [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/visibility)

There may be times when you want to hide an element, but still want its text to be read by a screen reader. The `ds-u-visibility--screen-reader` class will hide the content visually, but provide the content to screen readers. The `ds-u-visibility--hidden-print` class uses a print media query to hide content during printing, but otherwise display it normally.

**Format**: `ds-u-visibility--[hidden|visible|screen-reader|hidden-print]`

**Responsive format**: `ds-u-[breakpoint]-visibility--[hidden|visible]`

Markup: visibility.example.html

Style guide: utilities.display-visibility.visibility
*/

/*
Responsive visibility

@responsive

Use a [breakpoint prefix](/guidelines/responsive) to show/hide content at specific breakpoints.

A breakpoint prefix is supported on all of the utility classes mentioned above, except for `ds-u-visibility--screen-reader` and `ds-u-visibility--hidden-print`.

Markup: display-visibility-responsive.example.html

Style guide: utilities.display-visibility.responsive
*/
