$asset-path: '/../../../../../';
$font-path: '#{$asset-path}fonts';
$image-path: '#{$asset-path}img';

@import 'uswds/src/stylesheets/uswds';
@import '~@cmsgov/design-system-layout/src/index';

@font-face {
  font-family: 'OpenSans';
  src:  url('./fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
        url('./fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  font-family: 'OpenSans';
  color: red;
}
