$color-teal-700: #0e4a41;
$color-teal-500: #146a5d;
$color-teal-300: #5b978e;
$color-teal-100: #b9d2ce;
$color-blue-700: #152a4e;
$color-blue-500: #1e3c70;
$color-blue-300: #62779b;
$color-blue-100: #bcc5d4;
$color-green-700: #0d600a;
$color-green-500: #12890e;
$color-green-300: #b8dcb7;
$color-green-100: #e7f3e7;
$color-black-700: #262626;
$color-black-500: #404040;
$color-black-300: #5a5a5a;
$color-black-200: #737373;
$color-black-100: #d9d9d9;
$color-black-50: #f2f2f2;
$color-yellow-700: #dfb01c;
$color-yellow-500: #f8c41f;
$color-yellow-300: #fad662;
$color-yellow-100: #fef9e9;
$color-red-700: #a00000;
$color-red-500: #b20000;
$color-red-300: #e8b3b3;
$color-red-100: #f7e6e6;
$color-primary: #146a5d;
$color-primary-dark: #0e4a41;
$color-primary-darker: #00395e;
$color-primary-darkest: #002238;
$color-primary-light: #5b978e;
$color-primary-lightest: #b9d2ce;
$color-primary-alt: #1e3c70;
$color-primary-alt-dark: #152a4e;
$color-primary-alt-darker: #0f1e38;
$color-primary-alt-darkest: #091222;
$color-primary-alt-light: #8f9eb8;
$color-primary-alt-lightest: #ecf4fa;
$color-secondary: #1e3c70;
$color-secondary-dark: #1e3c70;
$color-secondary-darker: #1e3c70;
$color-secondary-darkest: #1e3c70;
$color-secondary-light: #8f9eb8;
$color-secondary-lightest: #ecf4fa;
$color-gray: #5a5a5a;
$color-gray-dark: #404040;
$color-gray-darker: #262626;
$color-gray-light: #737373;
$color-gray-lighter: #d9d9d9;
$color-gray-lightest: #f2f2f2;
$color-green: #12890e;
$color-green-dark: #0d600a;
$color-green-lighter: #b8dcb7;
$color-green-lightest: #e7f3e7;
$color-warn: #f8c41f;
$color-warn-dark: #dfb01c;
$color-warn-light: #fad662;
$color-warn-lightest: #fef9e9;
$color-error: #b20000;
$color-error-dark: #a00000;
$color-error-light: #e8b3b3;
$color-error-lightest: #f7e6e6;
$color-visited: #590000;
$color-base: #404040;
$color-background-inverse: #146a5d;
$font-family-open-sans: 'Open Sans', Helvetica, sans-serif;
$font-family-rubik: 'Rubik', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-bitter: Bitter, Georgia, serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 21px;
$font-size-2xl: 24px;
$font-size-3xl: 36px;
$font-size-4xl: 48px;
$font-size-5xl: 60px;
$font-line-height-reset: 1;
$font-line-height-base: 1.5;
$font-line-height-heading: 1.3;
$font-line-height-lead: 1.7;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$shadow-box-card: 0 2px 3px 0 rgba(50, 50, 50, 0.23);
