// Button-specific color overrides
$button-primary-bg: $color-primary;
$button-primary-bg--hover: $color-primary-dark;
$button-primary-bg--focus: $color-primary;
$button-primary-bg--active: $color-primary-light;

$choice-border-color: $black-300;
$choice-checked-background-color: $color-primary-alt;
$choice-checked-border-color: $color-primary-alt;
$choice-border-radius: 3px;
$choice-border-width: 2px;
$choice-size: $spacer-3;
$choice-radio-button-size: 16px;
