// these variables are reference names for backwards compatibility with
// pre token work, should be deprecated as soon as possible, when deprecated
// values with extra -color declarations can be shortened as a part of that
// process

$blue-700: $color-blue-700;
$blue-500: $color-blue-500;
$blue-300: $color-blue-300;
$blue-100: $color-blue-100;
$teal-700: $color-teal-700;
$teal-500: $color-teal-500;
$teal-300: $color-teal-300;
$teal-100: $color-teal-100;
$black-700: $color-black-700;
$black-500: $color-black-500;
$black-300: $color-black-300;
$black-200: $color-black-200;
$black-100: $color-black-100;
$black-050: $color-black-50;
$green-500: $color-green-500;
$green-700: $color-green-700;
$green-300: $color-green-300;
$green-100: $color-green-100;
$yellow-500: $color-yellow-500;
$yellow-700: $color-yellow-700;
$yellow-300: $color-yellow-300;
$yellow-100: $color-yellow-100;
$red-500: $color-red-500;
$red-700: $color-red-700;
$red-300: $color-red-300;
$red-100: $color-red-100;
$card-box-shadow: $shadow-box-card;

$rubik-font: $font-family-rubik;
$montserrat-font: $font-family-montserrat;
$display-font-size: $font-size-5xl;
$title-font-size: $font-size-4xl;
$h1-font-size: $font-size-3xl;
$h2-font-size: $font-size-2xl;
$h3-font-size: $font-size-xl;
$h4-font-size: $font-size-lg;
$h5-font-size: $base-font-size;
$h6-font-size: $font-size-sm;

$button-primary-bg--hover: $button__background-color--hover;
$button-primary-bg--active: $button__background-color--active;
