$base-font-size: 16px;

$font-size-5xl: 50px;
$font-size-4xl: 44px;
$font-size-3xl: 40px;
$font-size-2xl: 32px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-md: $font-size-base; // 16px
$font-size-sm: 14px;

// Do we need versions of the above for mobile?
$h1-mobile-font-size: 26px !default;

// This format was different than core so it's been updated - to be removed
$h1-font-size-mobile: 26px;

$mct-p1-font-size: 18px;
$mct-p2-font-size: 16px;
$mct-p3-font-size: 14px;
$mct-p1-mobile-font-size: 18px;
$mct-p2-mobile-font-size: 17px;
$mct-p3-mobile-font-size: 17px;
