/**
 *  Override these build variables to change what CSS rulesets get outputted when the Sass is transpiled to CSS
 */

// Paths to images and fonts relative from the SCSS entry point
$font-path: './fonts';
$image-path: './images';

// Set $ds-include-focus-styles to enable the CMSDS focus styles.
$ds-include-focus-styles: true;
