$accordion__color: var(--accordion__color) !default;
$accordion__background-color: var(--accordion__background-color) !default;
$accordion__background-color--hover: var(--accordion__background-color--hover) !default;
$accordion__border-color: var(--accordion__border-color) !default;
$accordion-button__color: var(--accordion-button__color) !default;
$accordion-content__background-color: var(--accordion-content__background-color) !default;
$alert__background-color: var(--alert__background-color) !default;
$alert__background-color--error: var(--alert__background-color--error) !default;
$alert__background-color--lightweight: var(--alert__background-color--lightweight) !default;
$alert__background-color--success: var(--alert__background-color--success) !default;
$alert__background-color--warn: var(--alert__background-color--warn) !default;
$alert__border-left-color: var(--alert__border-left-color) !default;
$alert__border-color--error: var(--alert__border-color--error) !default;
$alert__border-color--success: var(--alert__border-color--success) !default;
$alert__border-color--warn: var(--alert__border-color--warn) !default;
$alert__font-color: var(--alert__font-color) !default;
$alert__icon-size: var(--alert__icon-size) !default;
$alert__padding: var(--alert__padding) !default;
$alert-bar__width: var(--alert-bar__width) !default;
$alert-link__font-color: var(--alert-link__font-color) !default;
$alert-link__font-color--hover: var(--alert-link__font-color--hover) !default;
$alert-link__font-color--focus: var(--alert-link__font-color--focus) !default;
$alert-link__font-color--active: var(--alert-link__font-color--active) !default;
$autocomplete__background-color: var(--autocomplete__background-color) !default;
$autocomplete__border-color: var(--autocomplete__border-color) !default;
$autocomplete-item__font-color: var(--autocomplete-item__font-color) !default;
$autocomplete-item__background-color--active: var(
  --autocomplete-item__background-color--active
) !default;
$autocomplete-item__font-color--active: var(--autocomplete-item__font-color--active) !default;
$autocomplete-item-message__font-color: var(--autocomplete-item-message__font-color) !default;
$badge__background-color: var(--badge__background-color) !default;
$badge__background-color--alert: var(--badge__background-color--alert) !default;
$badge__background-color--info: var(--badge__background-color--info) !default;
$badge__background-color--success: var(--badge__background-color--success) !default;
$badge__background-color--warn: var(--badge__background-color--warn) !default;
$badge__font-color: var(--badge__font-color) !default;
$badge__font-color--warn: var(--badge__font-color--warn) !default;
$button__background-color--active: var(--button__background-color--active) !default;
$button__background-color--disabled: var(--button__background-color--disabled) !default;
$button__background-color--hover: var(--button__background-color--hover) !default;
$button__background-color: var(--button__background-color) !default;
$button__border-color--active: var(--button__border-color--active) !default;
$button__border-color--disabled: var(--button__border-color--disabled) !default;
$button__border-color--hover: var(--button__border-color--hover) !default;
$button__border-color: var(--button__border-color) !default;
$button__border-radius: var(--button__border-radius) !default;
$button__border-width: var(--button__border-width) !default;
$button__color--active: var(--button__color--active) !default;
$button__color--disabled: var(--button__color--disabled) !default;
$button__color--hover: var(--button__color--hover) !default;
$button__color: var(--button__color) !default;
$button__font-weight: var(--button__font-weight) !default;
$button-icon__fill: var(--button-icon__fill) !default;
$button-alt__background-color--active: var(--button-alt__background-color--active) !default;
$button-alt__background-color--disabled: var(--button-alt__background-color--disabled) !default;
$button-alt__background-color--hover: var(--button-alt__background-color--hover) !default;
$button-alt__background-color: var(--button-alt__background-color) !default;
$button-alt__border-color--active: var(--button-alt__border-color--active) !default;
$button-alt__border-color--disabled: var(--button-alt__border-color--disabled) !default;
$button-alt__border-color--hover: var(--button-alt__border-color--hover) !default;
$button-alt__border-color: var(--button-alt__border-color) !default;
$button-alt__color--active: var(--button-alt__color--active) !default;
$button-alt__color--disabled: var(--button-alt__color--disabled) !default;
$button-alt__color--hover: var(--button-alt__color--hover) !default;
$button-alt__color: var(--button-alt__color) !default;
$button-dark__background-color--active: var(--button-dark__background-color--active) !default;
$button-dark__background-color--disabled: var(--button-dark__background-color--disabled) !default;
$button-dark__background-color--hover: var(--button-dark__background-color--hover) !default;
$button-dark__background-color: var(--button-dark__background-color) !default;
$button-dark__border-color--active: var(--button-dark__border-color--active) !default;
$button-dark__border-color--disabled: var(--button-dark__border-color--disabled) !default;
$button-dark__border-color--hover: var(--button-dark__border-color--hover) !default;
$button-dark__border-color: var(--button-dark__border-color) !default;
$button-dark__color--active: var(--button-dark__color--active) !default;
$button-dark__color--disabled: var(--button-dark__color--disabled) !default;
$button-dark__color--hover: var(--button-dark__color--hover) !default;
$button-dark__color: var(--button-dark__color) !default;
$button-dark-alt__background-color--active: var(
  --button-dark-alt__background-color--active
) !default;
$button-dark-alt__background-color--disabled: var(
  --button-dark-alt__background-color--disabled
) !default;
$button-dark-alt__background-color--hover: var(--button-dark-alt__background-color--hover) !default;
$button-dark-alt__background-color: var(--button-dark-alt__background-color) !default;
$button-dark-alt__border-color--active: var(--button-dark-alt__border-color--active) !default;
$button-dark-alt__border-color--disabled: var(--button-dark-alt__border-color--disabled) !default;
$button-dark-alt__border-color--hover: var(--button-dark-alt__border-color--hover) !default;
$button-dark-alt__border-color: var(--button-dark-alt__border-color) !default;
$button-dark-alt__color--active: var(--button-dark-alt__color--active) !default;
$button-dark-alt__color--disabled: var(--button-dark-alt__color--disabled) !default;
$button-dark-alt__color--hover: var(--button-dark-alt__color--hover) !default;
$button-dark-alt__color: var(--button-dark-alt__color) !default;
$button-solid__background-color--active: var(--button-solid__background-color--active) !default;
$button-solid__background-color--disabled: var(--button-solid__background-color--disabled) !default;
$button-solid__background-color--hover: var(--button-solid__background-color--hover) !default;
$button-solid__background-color: var(--button-solid__background-color) !default;
$button-solid__border-color--active: var(--button-solid__border-color--active) !default;
$button-solid__border-color--disabled: var(--button-solid__border-color--disabled) !default;
$button-solid__border-color--hover: var(--button-solid__border-color--hover) !default;
$button-solid__border-color: var(--button-solid__border-color) !default;
$button-solid__color--active: var(--button-solid__color--active) !default;
$button-solid__color--disabled: var(--button-solid__color--disabled) !default;
$button-solid__color--hover: var(--button-solid__color--hover) !default;
$button-solid__color: var(--button-solid__color) !default;
$button-solid-alt__background-color--active: var(
  --button-solid-alt__background-color--active
) !default;
$button-solid-alt__background-color--disabled: var(
  --button-solid-alt__background-color--disabled
) !default;
$button-solid-alt__background-color--hover: var(
  --button-solid-alt__background-color--hover
) !default;
$button-solid-alt__background-color: var(--button-solid-alt__background-color) !default;
$button-solid-alt__border-color--active: var(--button-solid-alt__border-color--active) !default;
$button-solid-alt__border-color--disabled: var(--button-solid-alt__border-color--disabled) !default;
$button-solid-alt__border-color--hover: var(--button-solid-alt__border-color--hover) !default;
$button-solid-alt__border-color: var(--button-solid-alt__border-color) !default;
$button-solid-alt__color--active: var(--button-solid-alt__color--active) !default;
$button-solid-alt__color--disabled: var(--button-solid-alt__color--disabled) !default;
$button-solid-alt__color--hover: var(--button-solid-alt__color--hover) !default;
$button-solid-alt__color: var(--button-solid-alt__color) !default;
$button-solid-dark__background-color--active: var(
  --button-solid-dark__background-color--active
) !default;
$button-solid-dark__background-color--disabled: var(
  --button-solid-dark__background-color--disabled
) !default;
$button-solid-dark__background-color--hover: var(
  --button-solid-dark__background-color--hover
) !default;
$button-solid-dark__background-color: var(--button-solid-dark__background-color) !default;
$button-solid-dark__border-color--active: var(--button-solid-dark__border-color--active) !default;
$button-solid-dark__border-color--disabled: var(
  --button-solid-dark__border-color--disabled
) !default;
$button-solid-dark__border-color--hover: var(--button-solid-dark__border-color--hover) !default;
$button-solid-dark__border-color: var(--button-solid-dark__border-color) !default;
$button-solid-dark__color--active: var(--button-solid-dark__color--active) !default;
$button-solid-dark__color--disabled: var(--button-solid-dark__color--disabled) !default;
$button-solid-dark__color--hover: var(--button-solid-dark__color--hover) !default;
$button-solid-dark__color: var(--button-solid-dark__color) !default;
$button-solid-dark-alt__background-color--active: var(
  --button-solid-dark-alt__background-color--active
) !default;
$button-solid-dark-alt__background-color--disabled: var(
  --button-solid-dark-alt__background-color--disabled
) !default;
$button-solid-dark-alt__background-color--hover: var(
  --button-solid-dark-alt__background-color--hover
) !default;
$button-solid-dark-alt__background-color: var(--button-solid-dark-alt__background-color) !default;
$button-solid-dark-alt__border-color--active: var(
  --button-solid-dark-alt__border-color--active
) !default;
$button-solid-dark-alt__border-color--disabled: var(
  --button-solid-dark-alt__border-color--disabled
) !default;
$button-solid-dark-alt__border-color--hover: var(
  --button-solid-dark-alt__border-color--hover
) !default;
$button-solid-dark-alt__border-color: var(--button-solid-dark-alt__border-color) !default;
$button-solid-dark-alt__color--active: var(--button-solid-dark-alt__color--active) !default;
$button-solid-dark-alt__color--disabled: var(--button-solid-dark-alt__color--disabled) !default;
$button-solid-dark-alt__color--hover: var(--button-solid-dark-alt__color--hover) !default;
$button-solid-dark-alt__color: var(--button-solid-dark-alt__color) !default;
$button-ghost__background-color--active: var(--button-ghost__background-color--active) !default;
$button-ghost__background-color--disabled: var(--button-ghost__background-color--disabled) !default;
$button-ghost__background-color--hover: var(--button-ghost__background-color--hover) !default;
$button-ghost__background-color: var(--button-ghost__background-color) !default;
$button-ghost__border-color--active: var(--button-ghost__border-color--active) !default;
$button-ghost__border-color--disabled: var(--button-ghost__border-color--disabled) !default;
$button-ghost__border-color--hover: var(--button-ghost__border-color--hover) !default;
$button-ghost__border-color: var(--button-ghost__border-color) !default;
$button-ghost__color--active: var(--button-ghost__color--active) !default;
$button-ghost__color--disabled: var(--button-ghost__color--disabled) !default;
$button-ghost__color--hover: var(--button-ghost__color--hover) !default;
$button-ghost__color: var(--button-ghost__color) !default;
$button-ghost-alt__background-color--active: var(
  --button-ghost-alt__background-color--active
) !default;
$button-ghost-alt__background-color--disabled: var(
  --button-ghost-alt__background-color--disabled
) !default;
$button-ghost-alt__background-color--hover: var(
  --button-ghost-alt__background-color--hover
) !default;
$button-ghost-alt__background-color: var(--button-ghost-alt__background-color) !default;
$button-ghost-alt__border-color--active: var(--button-ghost-alt__border-color--active) !default;
$button-ghost-alt__border-color--disabled: var(--button-ghost-alt__border-color--disabled) !default;
$button-ghost-alt__border-color--hover: var(--button-ghost-alt__border-color--hover) !default;
$button-ghost-alt__border-color: var(--button-ghost-alt__border-color) !default;
$button-ghost-alt__color--active: var(--button-ghost-alt__color--active) !default;
$button-ghost-alt__color--disabled: var(--button-ghost-alt__color--disabled) !default;
$button-ghost-alt__color--hover: var(--button-ghost-alt__color--hover) !default;
$button-ghost-alt__color: var(--button-ghost-alt__color) !default;
$button-ghost-dark__background-color--active: var(
  --button-ghost-dark__background-color--active
) !default;
$button-ghost-dark__background-color--disabled: var(
  --button-ghost-dark__background-color--disabled
) !default;
$button-ghost-dark__background-color--hover: var(
  --button-ghost-dark__background-color--hover
) !default;
$button-ghost-dark__background-color: var(--button-ghost-dark__background-color) !default;
$button-ghost-dark__border-color--active: var(--button-ghost-dark__border-color--active) !default;
$button-ghost-dark__border-color--disabled: var(
  --button-ghost-dark__border-color--disabled
) !default;
$button-ghost-dark__border-color--hover: var(--button-ghost-dark__border-color--hover) !default;
$button-ghost-dark__border-color: var(--button-ghost-dark__border-color) !default;
$button-ghost-dark__color--active: var(--button-ghost-dark__color--active) !default;
$button-ghost-dark__color--disabled: var(--button-ghost-dark__color--disabled) !default;
$button-ghost-dark__color--hover: var(--button-ghost-dark__color--hover) !default;
$button-ghost-dark__color: var(--button-ghost-dark__color) !default;
$button-ghost-dark-alt__background-color--active: var(
  --button-ghost-dark-alt__background-color--active
) !default;
$button-ghost-dark-alt__background-color--disabled: var(
  --button-ghost-dark-alt__background-color--disabled
) !default;
$button-ghost-dark-alt__background-color--hover: var(
  --button-ghost-dark-alt__background-color--hover
) !default;
$button-ghost-dark-alt__background-color: var(--button-ghost-dark-alt__background-color) !default;
$button-ghost-dark-alt__border-color--active: var(
  --button-ghost-dark-alt__border-color--active
) !default;
$button-ghost-dark-alt__border-color--disabled: var(
  --button-ghost-dark-alt__border-color--disabled
) !default;
$button-ghost-dark-alt__border-color--hover: var(
  --button-ghost-dark-alt__border-color--hover
) !default;
$button-ghost-dark-alt__border-color: var(--button-ghost-dark-alt__border-color) !default;
$button-ghost-dark-alt__color--active: var(--button-ghost-dark-alt__color--active) !default;
$button-ghost-dark-alt__color--disabled: var(--button-ghost-dark-alt__color--disabled) !default;
$button-ghost-dark-alt__color--hover: var(--button-ghost-dark-alt__color--hover) !default;
$button-ghost-dark-alt__color: var(--button-ghost-dark-alt__color) !default;
$choice__background-color: var(--choice__background-color) !default;
$choice__background-color--checked: var(--choice__background-color--checked) !default;
$choice__background-color--disabled: var(--choice__background-color--disabled) !default;
$choice__background-color--inverse: var(--choice__background-color--inverse) !default;
$choice__background-color--disabled--inverse: var(
  --choice__background-color--disabled--inverse
) !default;
$choice__border-color: var(--choice__border-color) !default;
$choice__border-color--checked: var(--choice__border-color--checked) !default;
$choice__border-color--disabled: var(--choice__border-color--disabled) !default;
$choice__border-color--error: var(--choice__border-color--error) !default;
$choice__border-color--inverse: var(--choice__border-color--inverse) !default;
$choice__border-color--left: var(--choice__border-color--left) !default;
$choice__border-color--focus: var(--choice__border-color--focus) !default;
$choice__border-color--disabled--inverse: var(--choice__border-color--disabled--inverse) !default;
$choice__border-radius: var(--choice__border-radius) !default;
$choice__border-width: var(--choice__border-width) !default;
$choice__color--unchecked: var(--choice__color--unchecked) !default;
$choice__color--disabled: var(--choice__color--disabled) !default;
$choice__size: var(--choice__size) !default;
$choice__size--small: var(--choice__size--small) !default;
$choice__size-radio: var(--choice__size-radio) !default;
$choice__size-radio--small: var(--choice__size-radio--small) !default;
$choice-label__color--disabled: var(--choice-label__color--disabled) !default;
$choice-label__color--disabled--inverse: var(--choice-label__color--disabled--inverse) !default;
$dialog__background-color: var(--dialog__background-color) !default;
$dialog__padding: var(--dialog__padding) !default;
$dialog-overlay__background-color: var(--dialog-overlay__background-color) !default;
$drawer__animation-timing: var(--drawer__animation-timing) !default;
$drawer__background-color: var(--drawer__background-color) !default;
$drawer__border-color: var(--drawer__border-color) !default;
$drawer-close__color: var(--drawer-close__color) !default;
$drawer-header__background-color: var(--drawer-header__background-color) !default;
$drawer-footer__background-color: var(--drawer-footer__background-color) !default;
$drawer-toggle__background-color--hover: var(--drawer-toggle__background-color--hover) !default;
$drawer-toggle__color--hover: var(--drawer-toggle__color--hover) !default;
$drawer-toggle__background-color--hover--inverse: var(
  --drawer-toggle__background-color--hover--inverse
) !default;
$drawer-toggle__color--hover--inverse: var(--drawer-toggle__color--hover--inverse) !default;
$dropdown__background-color: var(--dropdown__background-color) !default;
$dropdown__icon-size: var(--dropdown__icon-size) !default;
$filter-chip__border-radius: var(--filter-chip__border-radius) !default;
$filter-chip__background-color: var(--filter-chip__background-color) !default;
$filter-chip__border-color: var(--filter-chip__border-color) !default;
$filter-chip__color: var(--filter-chip__color) !default;
$filter-chip__background-color--active: var(--filter-chip__background-color--active) !default;
$filter-chip__border-color--active: var(--filter-chip__border-color--active) !default;
$filter-chip__color--active: var(--filter-chip__color--active) !default;
$filter-chip-icon__color: var(--filter-chip-icon__color) !default;
$filter-chip-icon__color-active: var(--filter-chip-icon__color-active) !default;
$form-label__color--inverse: var(--form-label__color--inverse) !default;
$form__max-width: var(--form__max-width) !default;
$form__max-width--small: var(--form__max-width--small) !default;
$form__max-width--medium: var(--form__max-width--medium) !default;
$form-hint__color: var(--form-hint__color) !default;
$form-hint__color--inverse: var(--form-hint__color--inverse) !default;
$form-error__color: var(--form-error__color) !default;
$form-error__color--inverse: var(--form-error__color--inverse) !default;
$icon__color__error: var(--icon__color__error) !default;
$icon__color--inverse: var(--icon__color--inverse) !default;
$icon__color--primary: var(--icon__color--primary) !default;
$icon__color--success: var(--icon__color--success) !default;
$icon__color--warn: var(--icon__color--warn) !default;
$link__color: var(--link__color) !default;
$link__color--active: var(--link__color--active) !default;
$link__color--hover: var(--link__color--hover) !default;
$link__color--visited: var(--link__color--visited) !default;
$link-inverse__color: var(--link-inverse__color) !default;
$link-inverse__color--active: var(--link-inverse__color--active) !default;
$link-inverse__color--hover: var(--link-inverse__color--hover) !default;
$link-inverse__color--visited: var(--link-inverse__color--visited) !default;
$link__text-decoration-offset: var(--link__text-decoration-offset) !default;
$link__text-decoration-thickness: var(--link__text-decoration-thickness) !default;
$link__text-decoration-thickness--hover: var(--link__text-decoration-thickness--hover) !default;
$pagination-link__color: var(--pagination-link__color) !default;
$pagination-link__color--hover: var(--pagination-link__color--hover) !default;
$pagination-link__color--active: var(--pagination-link__color--active) !default;
$pagination-link__color--focus: var(--pagination-link__color--focus) !default;
$pagination-link__color--disabled: var(--pagination-link__color--disabled) !default;
$pagination-current-page__color: var(--pagination-current-page__color) !default;
$pagination-overflow__color: var(--pagination-overflow__color) !default;
$pagination-page-count__color: var(--pagination-page-count__color) !default;
$review__border-color: var(--review__border-color) !default;
$steplist__color: var(--steplist__color) !default;
$steplist__color--current: var(--steplist__color--current) !default;
$steplist__background-color--current: var(--steplist__background-color--current) !default;
$steplist-step__color: var(--steplist-step__color) !default;
$steplist-step__border-color: var(--steplist-step__border-color) !default;
$steplist-step__border-color--default: var(--steplist-step__border-color--default) !default;
$steplist-step__color--current: var(--steplist-step__color--current) !default;
$steplist-step__color--completed: var(--steplist-step__color--completed) !default;
$steplist-step__background-color--completed: var(
  --steplist-step__background-color--completed
) !default;
$spinner__background-color: var(--spinner__background-color) !default;
$spinner__color: var(--spinner__color) !default;
$spinner__background-color--inverse: var(--spinner__background-color--inverse) !default;
$spinner__color--inverse: var(--spinner__color--inverse) !default;
$table__padding: var(--table__padding) !default;
$table__border-color: var(--table__border-color) !default;
$table-header__background-color: var(--table-header__background-color) !default;
$table-striped__background-color: var(--table-striped__background-color) !default;
$table-striped-header__background-color: var(--table-striped-header__background-color) !default;
$tabs__border-color: var(--tabs__border-color) !default;
$tabs__background-color: var(--tabs__background-color) !default;
$tabs__color: var(--tabs__color) !default;
$tabs-selected__background-color: var(--tabs-selected__background-color) !default;
$tabs-selected__border-color: var(--tabs-selected__border-color) !default;
$tabs-selected__color: var(--tabs-selected__color) !default;
$tabs-selected__border-color--active: var(--tabs-selected__border-color--active) !default;
$tabs__color--hover: var(--tabs__color--hover) !default;
$tabs__color--active: var(--tabs__color--active) !default;
$tabs__background-color--disabled: var(--tabs__background-color--disabled) !default;
$tabs__border-color--disabled: var(--tabs__border-color--disabled) !default;
$tabs__color--disabled: var(--tabs__color--disabled) !default;
$text-input__line-height: var(--text-input__line-height) !default;
$text-input__background-color--disabled: var(--text-input__background-color--disabled) !default;
$text-input__border-width: var(--text-input__border-width) !default;
$text-input__border-width--error: var(--text-input__border-width--error) !default;
$text-input__border-width--success: var(--text-input__border-width--success) !default;
$text-input__border-color: var(--text-input__border-color) !default;
$text-input__border-color--disabled: var(--text-input__border-color--disabled) !default;
$text-input__border-color--error: var(--text-input__border-color--error) !default;
$text-input__border-color--error--inverse: var(--text-input__border-color--error--inverse) !default;
$text-input__border-color--inverse: var(--text-input__border-color--inverse) !default;
$text-input__border-color--success: var(--text-input__border-color--success) !default;
$text-input__color: var(--text-input__color) !default;
$text-input__padding: var(--text-input__padding) !default;
$text-input__border-radius: var(--text-input__border-radius) !default;
$tooltip__background-color: var(--tooltip__background-color) !default;
$tooltip__border-color: var(--tooltip__border-color) !default;
$tooltip__color: var(--tooltip__color) !default;
$tooltip__box-shadow-color: var(--tooltip__box-shadow-color) !default;
$tooltip-icon__color: var(--tooltip-icon__color) !default;
$tooltip-icon__color--inverse: var(--tooltip-icon__color--inverse) !default;
$tooltip-trigger__color: var(--tooltip-trigger__color) !default;
$typography-heading__font-family: var(--typography-heading__font-family) !default;
$typography-heading__font-weight: var(--typography-heading__font-weight) !default;
$typography-heading-4xl__font-weight: var(--typography-heading-4xl__font-weight) !default;
$typography-heading-3xl__font-weight: var(--typography-heading-3xl__font-weight) !default;
$typography-heading-lg__font-weight: var(--typography-heading-lg__font-weight) !default;
$typography-heading-md__font-weight: var(--typography-heading-md__font-weight) !default;
$typography-heading-sm__font-weight: var(--typography-heading-sm__font-weight) !default;
$typography-body__color: var(--typography-body__color) !default;
$typography-body__font-family: var(--typography-body__font-family) !default;
$usa-banner__background-color: var(--usa-banner__background-color) !default;
$usa-banner__color: var(--usa-banner__color) !default;
$usa-banner-close__background-color: var(--usa-banner-close__background-color) !default;
$usa-banner-action__color: var(--usa-banner-action__color) !default;
$usa-banner-lock-icon__color: var(--usa-banner-lock-icon__color) !default;
$vertical-nav-item__background-color--hover: var(
  --vertical-nav-item__background-color--hover
) !default;
$vertical-nav-item__color--hover: var(--vertical-nav-item__color--hover) !default;
$vertical-nav-item__border-color: var(--vertical-nav-item__border-color) !default;
$vertical-nav-label__color: var(--vertical-nav-label__color) !default;
$vertical-nav-label-icon__color: var(--vertical-nav-label-icon__color) !default;
$vertical-nav-label__border-color--current: var(
  --vertical-nav-label__border-color--current
) !default;
$vertical-nav-label__color--current: var(--vertical-nav-label__color--current) !default;
