$animation-ease-in-out-expo: var(--animation-ease-in-out-expo) !default;
$animation-speed-base: var(--animation-speed-base) !default;
$animation-speed-1: var(--animation-speed-1) !default;
$animation-speed-2: var(--animation-speed-2) !default;
$animation-speed-3: var(--animation-speed-3) !default;
$animation-speed-4: var(--animation-speed-4) !default;
$color-white: var(--color-white) !default;
$color-black: var(--color-black) !default;
$color-transparent: var(--color-transparent) !default;
$color-background: var(--color-background) !default;
$color-background-dialog: var(--color-background-dialog) !default;
$color-background-dialog-mask: var(--color-background-dialog-mask) !default;
$color-background-inverse: var(--color-background-inverse) !default;
$color-base: var(--color-base) !default;
$color-base-inverse: var(--color-base-inverse) !default;
$color-border: var(--color-border) !default;
$color-border-dark: var(--color-border-dark) !default;
$color-border-inverse: var(--color-border-inverse) !default;
$color-coolblue: var(--color-coolblue) !default;
$color-coolblue-light: var(--color-coolblue-light) !default;
$color-coolblue-lighter: var(--color-coolblue-lighter) !default;
$color-coolblue-lightest: var(--color-coolblue-lightest) !default;
$color-error: var(--color-error) !default;
$color-error-dark: var(--color-error-dark) !default;
$color-error-darker: var(--color-error-darker) !default;
$color-error-darkest: var(--color-error-darkest) !default;
$color-error-light: var(--color-error-light) !default;
$color-error-lighter: var(--color-error-lighter) !default;
$color-error-lightest: var(--color-error-lightest) !default;
$color-focus: var(--color-focus) !default;
$color-focus-border-inverse: var(--color-focus-border-inverse) !default;
$color-focus-dark: var(--color-focus-dark) !default;
$color-focus-inverse: var(--color-focus-inverse) !default;
$color-focus-light: var(--color-focus-light) !default;
$color-focus-shadow: var(--color-focus-shadow) !default;
$color-focus-shadow-inverse: var(--color-focus-shadow-inverse) !default;
$color-focus-shadow-link: var(--color-focus-shadow-link) !default;
$color-focus-shadow-link-inverse: var(--color-focus-shadow-link-inverse) !default;
$color-gold: var(--color-gold) !default;
$color-gold-dark: var(--color-gold-dark) !default;
$color-gold-darker: var(--color-gold-darker) !default;
$color-gold-darkest: var(--color-gold-darkest) !default;
$color-gold-light: var(--color-gold-light) !default;
$color-gold-lighter: var(--color-gold-lighter) !default;
$color-gold-lightest: var(--color-gold-lightest) !default;
$color-gray: var(--color-gray) !default;
$color-gray-cool-light: var(--color-gray-cool-light) !default;
$color-gray-dark: var(--color-gray-dark) !default;
$color-gray-light: var(--color-gray-light) !default;
$color-gray-lighter: var(--color-gray-lighter) !default;
$color-gray-lightest: var(--color-gray-lightest) !default;
$color-gray-medium: var(--color-gray-medium) !default;
$color-gray-warm-dark: var(--color-gray-warm-dark) !default;
$color-gray-warm-light: var(--color-gray-warm-light) !default;
$color-green: var(--color-green) !default;
$color-green-dark: var(--color-green-dark) !default;
$color-green-darker: var(--color-green-darker) !default;
$color-green-darkest: var(--color-green-darkest) !default;
$color-green-light: var(--color-green-light) !default;
$color-green-lighter: var(--color-green-lighter) !default;
$color-green-lightest: var(--color-green-lightest) !default;
$color-muted: var(--color-muted) !default;
$color-muted-inverse: var(--color-muted-inverse) !default;
$color-primary: var(--color-primary) !default;
$color-primary-darker: var(--color-primary-darker) !default;
$color-primary-darkest: var(--color-primary-darkest) !default;
$color-primary-alt: var(--color-primary-alt) !default;
$color-primary-alt-dark: var(--color-primary-alt-dark) !default;
$color-primary-alt-darkest: var(--color-primary-alt-darkest) !default;
$color-primary-alt-light: var(--color-primary-alt-light) !default;
$color-primary-alt-lightest: var(--color-primary-alt-lightest) !default;
$color-secondary: var(--color-secondary) !default;
$color-secondary-dark: var(--color-secondary-dark) !default;
$color-secondary-darker: var(--color-secondary-darker) !default;
$color-secondary-darkest: var(--color-secondary-darkest) !default;
$color-secondary-light: var(--color-secondary-light) !default;
$color-secondary-lighter: var(--color-secondary-lighter) !default;
$color-secondary-lightest: var(--color-secondary-lightest) !default;
$color-red: var(--color-red) !default;
$color-red-dark: var(--color-red-dark) !default;
$color-red-darker: var(--color-red-darker) !default;
$color-red-darkest: var(--color-red-darkest) !default;
$color-red-light: var(--color-red-light) !default;
$color-red-lighter: var(--color-red-lighter) !default;
$color-red-lightest: var(--color-red-lightest) !default;
$color-success: var(--color-success) !default;
$color-success-dark: var(--color-success-dark) !default;
$color-success-darker: var(--color-success-darker) !default;
$color-success-darkest: var(--color-success-darkest) !default;
$color-success-light: var(--color-success-light) !default;
$color-success-lighter: var(--color-success-lighter) !default;
$color-success-lightest: var(--color-success-lightest) !default;
$color-warn: var(--color-warn) !default;
$color-warn-dark: var(--color-warn-dark) !default;
$color-warn-darker: var(--color-warn-darker) !default;
$color-warn-darkest: var(--color-warn-darkest) !default;
$color-warn-light: var(--color-warn-light) !default;
$color-warn-lighter: var(--color-warn-lighter) !default;
$color-warn-lightest: var(--color-warn-lightest) !default;
$color-visited: var(--color-visited) !default;
$font-sans: var(--font-sans) !default;
$font-serif: var(--font-serif) !default;
$font-family-open-sans: var(--font-family-open-sans) !default;
$font-family-rubik: var(--font-family-rubik) !default;
$font-family-montserrat: var(--font-family-montserrat) !default;
$font-family-bitter: var(--font-family-bitter) !default;
$font-size-base: var(--font-size-base) !default;
$font-size-sm: var(--font-size-sm) !default;
$font-size-md: var(--font-size-md) !default;
$font-size-lg: var(--font-size-lg) !default;
$font-size-xl: var(--font-size-xl) !default;
$font-size-2xl: var(--font-size-2xl) !default;
$font-size-3xl: var(--font-size-3xl) !default;
$font-size-4xl: var(--font-size-4xl) !default;
$font-size-5xl: var(--font-size-5xl) !default;
$font-line-height-reset: var(--font-line-height-reset) !default;
$font-line-height-base: var(--font-line-height-base) !default;
$font-line-height-heading: var(--font-line-height-heading) !default;
$font-line-height-lead: var(--font-line-height-lead) !default;
$font-weight-normal: var(--font-weight-normal) !default;
$font-weight-bold: var(--font-weight-bold) !default;
$font-weight-semibold: var(--font-weight-semibold) !default;
$article-max-width: var(--article-max-width) !default;
$grid-columns: 12 !default;
$grid-gutter-width: var(--grid-gutter-width) !default;
$grid-form-gutter-width: var(--grid-form-gutter-width) !default;
$lead-max-width: var(--lead-max-width) !default;
$nav-width: var(--nav-width) !default;
$site-margins: var(--site-margins) !default;
$site-margins-mobile: var(--site-margins-mobile) !default;
$site-max-width: var(--site-max-width) !default;
$text-max-width: var(--text-max-width) !default;
$measure-narrow: var(--measure-narrow) !default;
$measure-base: var(--measure-base) !default;
$measure-wide: var(--measure-wide) !default;
$media-width-xs: 0px !default;
$media-width-sm: 544px !default;
$media-width-md: 768px !default;
$media-width-lg: 1024px !default;
$media-width-xl: 1280px !default;
$radius-circle: var(--radius-circle) !default;
$radius-default: var(--radius-default) !default;
$radius-large: var(--radius-large) !default;
$radius-medium: var(--radius-medium) !default;
$radius-pill: var(--radius-pill) !default;
$radius-small: var(--radius-small) !default;
$shadow-focus: var(--shadow-focus) !default;
$shadow-focus-inverse: var(--shadow-focus-inverse) !default;
$shadow-focus-link: var(--shadow-focus-link) !default;
$shadow-focus-link-inverse: var(--shadow-focus-link-inverse) !default;
$shadow-base-offset-x: var(--shadow-base-offset-x) !default;
$shadow-base-offset-y: var(--shadow-base-offset-y) !default;
$shadow-base-blur-radius: var(--shadow-base-blur-radius) !default;
$shadow-base-color: var(--shadow-base-color) !default;
$shadow-base: var(--shadow-base) !default;
$spacer-1: 8px !default;
$spacer-2: 16px !default;
$spacer-3: 24px !default;
$spacer-4: 32px !default;
$spacer-5: 40px !default;
$spacer-6: 48px !default;
$spacer-7: 56px !default;
$spacer-none: 0px !default;
$spacer-half: 4px !default;
$z-deep: var(--z-deep) !default;
$z-default: var(--z-default) !default;
$z-drawer: var(--z-drawer) !default;
$z-dialog: var(--z-dialog) !default;
$z-popup: var(--z-popup) !default;
$z-spinner: var(--z-spinner) !default;
