.ds-c-accordion {
  .ds-c-accordion__button {
    flex-direction: row-reverse;
    background-color: $accordion__background-color;
    color: $accordion-button__color;
    column-gap: $spacer-1;
    justify-content: flex-end;
    font-weight: $font-weight-normal;
    padding: $spacer-1 $spacer-2 $spacer-1 $spacer-2;

    &:hover {
      background-color: transparent;
      color: $color-primary-darker;
      text-decoration: underline;
      .ds-c-icon--minus-circle__circle,
      .ds-c-icon--plus-circle__circle {
        fill: #0071bb;
      }
      .ds-c-icon--minus-circle__group,
      .ds-c-icon--plus-circle__group {
        fill: $color-white;
      }
    }
  }

  .ds-c-icon {
    font-size: 14px;
    align-self: center;
  }

  .ds-c-accordion__content {
    background-color: $accordion-content__background-color;
    padding: $spacer-1 $spacer-2 $spacer-1 $spacer-5;
  }
}

// overwrite core bordered styles
.ds-c-accordion--bordered {
  .ds-c-accordion__content {
    border: none;
    padding: $spacer-1 $spacer-2 $spacer-1 $spacer-5;
  }
}
