.ds-c-button--secondary,
.ds-c-button--secondary:visited {
  background-color: $button-secondary__background-color;
  border-color: transparent;
  color: $button-secondary__color;

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
    color: $button-secondary__color--active;
  }
  &:focus,
  &.ds-c-button--focus {
    background-color: $button-secondary__background-color;
  }
  &:hover,
  &.ds-c-button--hover {
    background-color: $button-secondary__background-color--hover;
  }

  &:active,
  &.ds-c-button--active {
    background-color: $button-secondary__background-color--active;
    border-color: transparent;
  }
  // Make sure active overrides focus styles
  &:active:focus,
  &.ds-c-button--active:focus {
    background-color: $button-secondary__background-color--active;
    box-shadow: none;
  }
}
