.ds-c-button--secondary,
.ds-c-button--secondary:visited {
  $bg-color: $color-primary;
  $hover-color: $color-primary-darker;
  $active-color: $color-primary-darkest;

  background-color: $bg-color;
  border-color: transparent;
  color: $color-white;

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
    color: $color-white;
  }
  &:focus,
  &.ds-c-button--focus {
    background-color: $bg-color;
  }
  &:hover,
  &.ds-c-button--hover {
    background-color: $hover-color;
  }

  &:active,
  &.ds-c-button--active {
    background-color: $active-color;
    border-color: transparent;
  }
  // Make sure active overrides focus styles
  &:active:focus,
  &.ds-c-button--active:focus {
    background-color: $active-color;
    box-shadow: none;
  }
}
