@use '../layout' as *;
@use './Logo' as *;
@use '../../../../design-system/src/styles/mixins';

.hc-c-footer {
  color: var(--color-muted);
  font-size: var(--font-size-sm);

  a {
    color: currentColor;
    text-decoration-color: transparent;

    &:hover,
    &:focus {
      color: var(--color-primary-darker);
    }
  }
}

.hc-c-footer__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: $spacer-half;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-c-footer__inline-item {
  align-items: center;
  display: flex;
  gap: $spacer-half;

  // "Privacy Settings" link is a button
  > button {
    background-color: inherit;
    border: 0;
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--color-primary-darker);
    }
  }
}

.hc-c-footer__delimiter {
  background-color: currentColor;
  border-radius: 50%;
  height: var(--footer__list-marker-size);
  width: var(--footer__list-marker-size);
}
