@use '../layout' as *;
@use './Logo' as *;
@use '../../../../design-system/src/styles/mixins';

.hc-c-footer {
  background-color: var(--color-gray-lightest);
  color: var(--color-gray-dark);
  font-size: var(--font-size-sm);
  padding-block: var(--spacer-6);
}

.hc-c-footer__site-links-row,
.hc-c-footer__language-resource-links-row {
  border-block-end: 1px solid var(--color-gray-lighter);
  padding-block: var(--spacer-2);

  ul[role='list'] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-1) 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    line-height: 1.25;
    padding-inline: var(--spacer-1);

    // Don't accidentally select links in the privacy settings modal
    > a {
      color: currentColor;
      text-decoration-color: transparent;

      &:hover,
      &:focus {
        color: var(--color-primary-darker);
      }
    }

    // "Privacy Settings" link is a button
    > button {
      background-color: inherit;
      border: 0;
      color: currentColor;
      cursor: pointer;
      font-family: inherit;
      font-size: inherit;
      padding: 0;
      text-decoration: none;

      &:hover {
        color: var(--color-primary-darker);
      }

      &:focus {
        @include mixins.focus-styles-link;
        color: var(--color-primary-darker);
        text-decoration: none;
      }
    }
  }

  li:not(:last-child) {
    border-inline-end: 1px solid currentColor;
  }
}

.hc-c-footer__logo-row {
  margin-block-start: var(--spacer-2);

  @media (min-width: $media-width-md) {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(auto, 215px) minmax(auto, 3.5fr);
  }

  .hc-c-logo {
    padding-inline-end: var(--spacer-2);
  }

  .hc-c-logo__health,
  .hc-c-logo__care,
  .hc-c-logo__gov {
    fill: var(--color-gray-dark);
  }

  .hc-c-footer__logo,
  p:not(:first-of-type) {
    margin-block-start: var(--spacer-1) 0;
  }

  .hc-c-footer__address {
    flex-basis: 3fr;

    @media (min-width: $media-width-md) {
      border-inline-start: 1px solid var(--color-gray-light);
      padding-inline-start: var(--spacer-2);
    }

    > p {
      margin: 0;
    }
  }
}
