@use '../layout' as *;

// This class is being left for compatibility with any raw html
// that utilizes this class to display an error icon with an
// error message. Can be removed when we're sure it is not being
// utilized anywhere important that the component svg can't be used.

.ds-c-field__error-message::before {
  background-image: url('../images/error-red.svg');
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 28px;
  content: '';
  margin-left: -5px;
  padding-right: 28px;
}

.ds-c-field__error-message--inverse::before {
  background-image: url('../images/error-light-red.svg');
}

// overwrites the background image rendering when the InlineError
// component is used in place of the error-message class above
.ds-c-inline-error::before {
  display: none;
}
