$error-message-icon-size: 28px;

.ds-c-field__error-message::before {
  background-image: url('#{$image-path}/error-red.svg');
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: $error-message-icon-size;
  content: '';
  margin-left: -5px;
  padding-right: $error-message-icon-size;
}

.ds-c-field__error-message--inverse::before {
  background-image: url('#{$image-path}/error-light-red.svg');
}
