.hc-c-inset {
  border-left: $inset__border-width solid $color-primary;
  margin-bottom: $spacer-2;
  padding: $spacer-2;
}

// Align the inset's border with the checkbox/radio field when used as part
// of the Exposed Within pattern
.ds-c-choice + label + .hc-c-inset {
  margin-left: 14px;
}

.ds-c-choice--small + label + .hc-c-inset {
  margin-left: $spacer-1;
}
