$hc-c-inset-border-width: $spacer-half;

.hc-c-inset {
  border-left: $hc-c-inset-border-width solid $color-primary;
  margin-bottom: $spacer-2;
  padding: $spacer-2;
}

// Align the inset's border with the checkbox/radio field when used as part
// of the Exposed Within pattern
.ds-c-choice + label + .hc-c-inset {
  margin-left: calc($choice-size / 2) - calc($hc-c-inset-border-width / 2);
}

.ds-c-choice--small + label + .hc-c-inset {
  margin-left: calc($choice-size-small / 2) - calc($hc-c-inset-border-width / 2);
}
