.hc-c-logo {
  display: inline-block;
  line-height: 1;
}

.hc-c-logo--hhs-logo {
  min-height: 68px;
}

.hc-c-logo--usa-logo {
  min-height: 50px;
}

.hc-c-logo--wh-logo {
  min-height: 51px;
}

.hc-c-logo__care {
  fill: var(--color-primary);
}

.hc-c-logo__gov {
  fill: var(--color-gray);
}

.registered-symbol {
  font-size: 0.6rem;
}
