.hc-c-privacy-settings-table {
  $breakpoint-large-min: $media-width-md;
  $breakpoint-small-max: $breakpoint-large-min - 1;

  td:last-child {
    // Avoid text wrapping on the radio buttons
    min-width: 132px;
  }

  @media screen and (max-width: $breakpoint-small-max) {
    &,
    tbody {
      display: block;
      width: 100%;
    }

    thead {
      display: none;
    }

    tr,
    td {
      display: block;
      padding: $spacer-1 0;
      text-align: left;
      white-space: normal;
    }

    td {
      border-width: 0;
    }

    [data-title]::before {
      content: attr(data-title) ':\00A0';
      font-weight: $font-weight-bold;
    }

    td:nth-child(1) {
      font-weight: $font-weight-bold;
    }

    tr {
      border-bottom: 2px solid $color-border;
      margin-top: $spacer-1;
    }
  }

  @media screen and (min-width: $breakpoint-large-min) {
    th:nth-child(1) {
      min-width: 110px;
    }

    th:nth-child(3) {
      min-width: 130px;
    }
  }
}
