%link {
  color: $color-green;
  cursor: pointer;
  text-decoration: underline;

  &:visited {
    color: $color-visited;
  }

  &:hover {
    color: $color-primary-darker;
  }

  @if $ds-include-focus-styles {
    &:focus,
    &:focus:visited {
      @include focus-text;
    }
  } @else {
    color: $color-primary-darker;
  }

  &:active {
    color: $color-primary-darkest;
    outline: 0 none;
  }
}
