{
  "env": {
    "test": {
      "presets": [
        "jest"
      ]
    }
  },
  "plugins": [
    "transform-object-assign"
  ],
  "presets": [
    ["env", {
      "useBuiltIns": "usage"
    }],
    "react",
    "stage-3"
  ]
}