// This is the base ESLint config that applies to all JavaScript files.
// If you want to enable/disable a rule for a specific directory, add the
// rule to the ESLint config file relative to the directory you want it
// applied to.
{
  "extends": ["eslint:recommended", "plugin:react/recommended", "nava"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/no-find-dom-node": "warn",
    "eol-last": "warn"
  }
}
