// This is the base ESLint config that applies to all JavaScript files.
// If you want to enable/disable a rule for a specific directory, add the
// rule to the ESLint config file relative to the directory you want it
// applied to.
{
  "extends": [
    "./packages/eslint-config-design-system/index.js",
    "prettier"
  ]
}
