**/node_modules/**
**/dist/**
**/helpers/**
**/__tests__/**
tmp/**
**/types/**
examples/create-react-app-typescript/**
examples/create-react-app/**
storybook-static/**
packages/coverage/**
packages/design-system-tokens/sketch/cmsds-token-importer/cmsds-token-importer.sketchplugin/**
scripts/migration/test/**
