# Do not commit build files to github
/packages/**/dist
/examples/**/dist

# Package managers
**/package-lock.json
/examples/*/yarn.lock

# Code editors
*.sublime-*

# Environment configuration
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.swp
tmp

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# .DS_Store Mac
.DS_Store
/.vscode

storybook-static/
packages/coverage/

# Doc Site ignores
.cache/
packages/docs/public
packages/docs/static/storybook
