# Documentation is generated into this directory
/docs

# Generated documentation data from CSS and JSX comments. We only need this
# during the docs generation task.
packages/docs/src/data/react-doc.json

# Themes should be in their own repo, but can be included in this directory
# in order to use the same tooling and documentation processes
packages/themes

# Compiled example files
examples/**/dist

# Package managers
**/package-lock.json
/examples/*/yarn.lock

# Code editors
*.sublime-*

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
tmp

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# .DS_Store Mac
.DS_Store
/.vscode
