**/node_modules/**
**/dist/**
tmp/**
**/types/**
storybook-static/**
packages/coverage/**
packages/design-system-tokens/src/themes/**
packages/design-system-tokens/src/tokens/**
scripts/migration/test/**
