before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.1.0
  - export PATH="$HOME/.yarn/bin:$PATH"
branches:
  only:
  - master
  - staging
cache: yarn
language: node_js
node_js:
  - "8"