/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Background color

Use the background color utility to change the default background color of an element.

**Format**: `ds-u-fill--[COLOR NAME]-[SHADE]`

@hide-markup

Markup:
<% var groups = [
  ['primary', 'primary-darker', 'primary-darkest'],
  ['primary-alt', 'primary-alt-dark', 'primary-alt-darkest', 'primary-alt-light', 'primary-alt-lightest'],
  ['gray', 'gray-dark', 'gray-light', 'gray-lighter', 'gray-lightest'],
  ['gold', 'gold-light', 'gold-lighter', 'gold-lightest'],
  ['warn', 'warn-light', 'warn-lighter', 'warn-lightest'],
  ['green', 'green-light', 'green-lighter', 'green-lightest'],
  ['success', 'success-light', 'success-lighter', 'success-lightest'],
  ['secondary', 'secondary-dark', 'secondary-darkest', 'secondary-light', 'secondary-lightest'],
  ['error', 'error-dark', 'error-darkest', 'error-light', 'error-lighter', 'error-lightest'],
  ['base', 'white', 'background', 'background-inverse', 'transparent']
]; -%>
<% groups.forEach(group => { -%>
<div class="ds-l-row ds-u-margin-x--0 ds-u-margin-bottom--7">
<% group.forEach(color => { -%>
  <article class="c-swatch ds-l-col--12 ds-l-sm-col--6 ds-u-padding--0 ds-u-margin-bottom--3">
    <div class="c-swatch__preview c-swatch__preview--condensed ds-u-fill--<%= color %>"></div>
    <code class="c-swatch__label ds-u-font-size--base">
      .ds-u-fill--<%= color %>
    </code>
    <span class="ds-u-color--muted js-swatch-hex">#</span>
  </article>
<% }) -%>
</div>
<% }) %>

Style guide: utilities.background-color
*/

// primary
.ds-u-fill--primary {
  background-color: $color-primary !important;
}

.ds-u-fill--primary-darker {
  background-color: $color-primary-darker !important;
}

.ds-u-fill--primary-darkest {
  background-color: $color-primary-darkest !important;
}

// primary-alt
.ds-u-fill--primary-alt {
  background-color: $color-primary-alt !important;
}

.ds-u-fill--primary-alt-dark {
  background-color: $color-primary-alt-dark !important;
}

.ds-u-fill--primary-alt-darkest {
  background-color: $color-primary-alt-darkest !important;
}

.ds-u-fill--primary-alt-light {
  background-color: $color-primary-alt-light !important;
}

.ds-u-fill--primary-alt-lightest {
  background-color: $color-primary-alt-lightest !important;
}

// secondary
.ds-u-fill--secondary {
  background-color: $color-secondary !important;
}

.ds-u-fill--secondary-dark {
  background-color: $color-secondary-dark !important;
}

.ds-u-fill--secondary-darkest {
  background-color: $color-secondary-darkest !important;
}

.ds-u-fill--secondary-light {
  background-color: $color-secondary-light !important;
}

.ds-u-fill--secondary-lightest {
  background-color: $color-secondary-lightest !important;
}

// gray
.ds-u-fill--gray {
  background-color: $color-gray !important;
}

.ds-u-fill--gray-dark {
  background-color: $color-gray-dark !important;
}

.ds-u-fill--gray-light {
  background-color: $color-gray-light !important;
}

.ds-u-fill--gray-lighter {
  background-color: $color-gray-lighter !important;
}

.ds-u-fill--gray-lightest {
  background-color: $color-gray-lightest !important;
}

// gold
.ds-u-fill--gold {
  background-color: $color-gold !important;
}

.ds-u-fill--gold-light {
  background-color: $color-gold-light !important;
}

.ds-u-fill--gold-lighter {
  background-color: $color-gold-lighter !important;
}

.ds-u-fill--gold-lightest {
  background-color: $color-gold-lightest !important;
}

// green
.ds-u-fill--green {
  background-color: $color-green !important;
}

.ds-u-fill--green-light {
  background-color: $color-green-light !important;
}

.ds-u-fill--green-lighter {
  background-color: $color-green-lighter !important;
}

.ds-u-fill--green-lightest {
  background-color: $color-green-lightest !important;
}

// state colors
.ds-u-fill--error {
  background-color: $color-error !important;
}

.ds-u-fill--error-dark {
  background-color: $color-error-dark !important;
}

.ds-u-fill--error-darkest {
  background-color: $color-error-darkest !important;
}

.ds-u-fill--error-light {
  background-color: $color-error-light !important;
}

.ds-u-fill--error-lighter {
  background-color: $color-error-lighter !important;
}

.ds-u-fill--error-lightest {
  background-color: $color-error-lightest !important;
}

.ds-u-fill--warn {
  background-color: $color-warn !important;
}

.ds-u-fill--warn-light {
  background-color: $color-warn-light !important;
}

.ds-u-fill--warn-lighter {
  background-color: $color-warn-lighter !important;
}

.ds-u-fill--warn-lightest {
  background-color: $color-warn-lightest !important;
}

.ds-u-fill--success {
  background-color: $color-success !important;
}

.ds-u-fill--success-light {
  background-color: $color-success-light !important;
}

.ds-u-fill--success-lighter {
  background-color: $color-success-lighter !important;
}

.ds-u-fill--success-lightest {
  background-color: $color-success-lightest !important;
}

// base colors
.ds-u-fill--base {
  background-color: $color-base !important;
}

.ds-u-fill--white {
  background-color: $color-white !important;
}

.ds-u-fill--background {
  background-color: $color-background !important;
}

.ds-u-fill--background-inverse {
  background-color: $color-background-inverse !important;
}

.ds-u-fill--transparent {
  background-color: transparent !important;
}
