/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/index';

/*
Border

Use the border utility classes to control the border size and color properties.

The border utility class sets the `border-color` and `border-size`, with support for the following sizes: `0`, `1px`, or `2px`.

**Format**: `ds-u-border-[x|y|bottom|left|right|top]--[SIZE]`

@hide-markup

Markup:
<% ['', '-x', '-y', '-bottom', '-left', '-right', '-top'].forEach(name => { -%>
<% for (var i = 0; i < 3; i++) { %>
<div class="ds-u-border<%= name %>--<%= i %> ds-u-margin-y--1 ds-u-padding--1">
  <code class="ds-u-fill--background">ds-u-border<%= name %>--<%= i %></code>
</div>
<% } -%>
<% }) -%>

Style guide: utilities.border
*/
@for $i from 1 through 2 {
  // Example: ds-u-border--1
  .ds-u-border--#{$i} {
    // Example: border: 1px !important;
    border: #{$i}px solid $border-color !important;
  }

  .ds-u-border-top--#{$i} {
    border-top: #{$i}px solid $border-color !important;
  }

  .ds-u-border-right--#{$i} {
    border-right: #{$i}px solid $border-color !important;
  }

  .ds-u-border-bottom--#{$i} {
    border-bottom: #{$i}px solid $border-color !important;
  }

  .ds-u-border-left--#{$i} {
    border-left: #{$i}px solid $border-color !important;
  }

  .ds-u-border-x--#{$i} {
    border-left: #{$i}px solid $border-color !important;
    border-right: #{$i}px solid $border-color !important;
  }

  .ds-u-border-y--#{$i} {
    border-bottom: #{$i}px solid $border-color !important;
    border-top: #{$i}px solid $border-color !important;
  }
}

.ds-u-border--0 {
  // Example: border: 1px !important;
  border: 0 !important;
}

.ds-u-border-top--0 {
  border-top: 0 !important;
}

.ds-u-border-right--0 {
  border-right: 0 !important;
}

.ds-u-border-bottom--0 {
  border-bottom: 0 !important;
}

.ds-u-border-left--0 {
  border-left: 0 !important;
}

.ds-u-border-x--0 {
  border-left: 0 !important;
  border-right: 0 !important;
}

.ds-u-border-y--0 {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

/*
Border color

**Format**: `ds-u-border--[COLOR NAME]`

@hide-markup

Markup:
<% ['dark',
    'inverse',
    'error', 'error-light', 'error-lighter',
    'warn', 'warn-light', 'warn-lighter',
    'success', 'success-light', 'success-lighter'].forEach(color => { -%>
<div <% if (color.match(/(lighte|inverse)/)) { -%>class="ds-u-fill--primary-darkest ds-u-padding--1"<% } -%>>
  <div class="ds-u-border--<%= color %> ds-u-border--2 ds-u-margin-y--1 ds-u-padding--1">
    <code class="ds-u-fill--background">ds-u-border--<%= color %></code>
  </div>
</div>
<% }) -%>

Style guide: utilities.border.color
*/
.ds-u-border--dark {
  border-color: $border-color-dark !important;
}

.ds-u-border--inverse {
  border-color: $border-color-inverse !important;
}

.ds-u-border--error {
  border-color: $color-error !important;
}

.ds-u-border--error-light {
  border-color: $color-error-light !important;
}

.ds-u-border--error-lighter {
  border-color: $color-error-lighter !important;
}

.ds-u-border--warn {
  border-color: $color-warn !important;
}

.ds-u-border--warn-light {
  border-color: $color-warn-light !important;
}

.ds-u-border--warn-lighter {
  border-color: $color-warn-lighter !important;
}

.ds-u-border--success {
  border-color: $color-success !important;
}

.ds-u-border--success-light {
  border-color: $color-success-light !important;
}

.ds-u-border--success-lighter {
  border-color: $color-success-lighter !important;
}

/*
---

## Theming

The following Sass variables can be overridden to theme the border utility:

- `$border-color`
- `$border-color-dark`
- `$border-color-inverse`

Style guide: utilities.border.guidance
*/
