/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Border radius

Apply rounded corners to an element with the border radius utility.

- `ds-u-radius` applies the default radius (`3px`)
- `ds-u-radius--pill`
- `ds-u-radius--circle` can make a circle when combined with a fixed height and width.

Markup:
<code class="preview__label">ds-u-radius</code>
<div class="ds-u-radius ds-u-fill--primary-alt ds-u-padding--2"></div>
<code class="preview__label">ds-u-radius--pill</code>
<div class="ds-u-radius--pill ds-u-fill--primary-alt ds-u-padding--2"></div>
<code class="preview__label">ds-u-radius--circle</code>
<div class="ds-u-radius--circle ds-u-fill--primary-alt" style="width: 50px; height: 50px;"></div>

Style guide: utilities.border-radius
*/
.ds-u-radius {
  border-radius: $border-radius;
}

.ds-u-radius--pill {
  border-radius: $border-radius-pill;
}

.ds-u-radius--circle {
  border-radius: $border-radius-circle;
}

/*
---

## Theming

The following Sass variables can be overridden to theme the border radius utility:

- `$border-radius`

Style guide: utilities.border-radius.guidance
*/
