/* stylelint-disable declaration-no-important */
@import '../settings/index';

/*
Color (text)

Use the color utility to change an element's text color.

**Format**: `ds-u-color--[NAME]-[SHADE]`

## Accessibility

WCAG (Web Content Accessibility Guidelines) ensure that content is accessible by everyone, regardless of disability or user device. To meet these standards, text and interactive elements should have a color contrast ratio of [at least 4.5:1](http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html). This ensures that viewers who cannot see the full color spectrum are able to read the text.

The options below offer color palette combinations that fall within the range of Section 508 compliant foreground/background color contrast ratios. To ensure that text remains accessible, **use only these permitted color combinations**.

@hide-markup

Markup:
<% var groups = {
  'white': [
    'base', 'black',
    'primary', 'primary-darker', 'primary-darkest',
    'primary-alt-darkest',
    'secondary', 'secondary-dark', 'secondary-darkest',
    'gray', 'gray-dark',
    'gray-warm-dark',
    'green',
    'cool-blue'
  ],
  'base': ['white'],
  'gray-warm-dark': ['white'],
  'gray-dark': ['white'],
  'gray': ['white'],
  'primary-darkest': ['white'],
  'primary-darker': ['white'],
  'primary': ['white'],
  'cool-blue-light': ['white'],
  'primary-alt-darkest': ['white'],
  'primary-alt-dark': ['base'],
  'primary-alt': ['base'],
  'green': ['white'],
  'green-light': ['base'],
  'gold': ['base'],
  'gold-light': ['base'],
  'secondary-darkest': ['white'],
  'secondary-dark': ['white'],
  'secondary': ['white'],
  'gray-light': ['base'],
  'gray-lighter': ['base'],
  'gray-warm-light': ['base'],
  'cool-blue-lighter': ['base'],
  'cool-blue-lightest': ['base'],
  'primary-alt-lightest': ['base'],
  'green-lighter': ['base'],
  'green-lightest': ['base'],
  'gold-lighter': ['base'],
  'gold-lightest': ['base'],
  'secondary-lightest': ['base']
}; -%>
<% Object.keys(groups).forEach(fill => { -%>
<% groups[fill].forEach(color => { -%>
  <article class="ds-u-margin-bottom--2">
    <p class="ds-u-color--<%= color %> ds-u-fill--<%= fill %>">
      <code class="ds-u-fill--transparent">.ds-u-color--<%= color %></code> on <%= fill %>
    </p>
  </article>
<% }) -%>
<% }) %>

Style guide: utilities.color
*/


// primary
.ds-u-color--primary {
  color: $color-primary !important;
}

.ds-u-color--primary-darker {
  color: $color-primary-darker !important;
}

.ds-u-color--primary-darkest {
  color: $color-primary-darkest !important;
}

// primary-alt
.ds-u-color--primary-alt {
  color: $color-primary-alt !important;
}

.ds-u-color--primary-alt-dark {
  color: $color-primary-alt-dark !important;
}

.ds-u-color--primary-alt-darkest {
  color: $color-primary-alt-darkest !important;
}

.ds-u-color--primary-alt-light {
  color: $color-primary-alt-light !important;
}

.ds-u-color--primary-alt-lightest {
  color: $color-primary-alt-lightest !important;
}

// secondary
.ds-u-color--secondary {
  color: $color-secondary !important;
}

.ds-u-color--secondary-dark {
  color: $color-secondary-dark !important;
}

.ds-u-color--secondary-darkest {
  color: $color-secondary-darkest !important;
}

.ds-u-color--secondary-light {
  color: $color-secondary-light !important;
}

.ds-u-color--secondary-lightest {
  color: $color-secondary-lightest !important;
}

// gray
.ds-u-color--gray {
  color: $color-gray !important;
}

.ds-u-color--gray-dark {
  color: $color-gray-dark !important;
}

.ds-u-color--gray-medium {
  color: $color-gray-medium !important;
}

.ds-u-color--gray-light {
  color: $color-gray-light !important;
}

.ds-u-color--gray-lighter {
  color: $color-gray-lighter !important;
}

.ds-u-color--gray-lightest {
  color: $color-gray-lightest !important;
}

.ds-u-color--gray-warm-dark {
  color: $color-gray-warm-dark !important;
}

.ds-u-color--gray-warm-light {
  color: $color-gray-warm-light !important;
}

.ds-u-color--gray-cool-light {
  color: $color-gray-cool-light !important;
}

// gold
.ds-u-color--gold{
  color: $color-gold !important;
}

.ds-u-color--gold-light{
  color: $color-gold-light !important;
}

.ds-u-color--gold-lighter{
  color: $color-gold-lighter !important;
}

.ds-u-color--gold-lightest{
  color: $color-gold-lightest !important;
}

// green
.ds-u-color--green{
  color: $color-green !important;
}

.ds-u-color--green-light{
  color: $color-green-light !important;
}

.ds-u-color--green-lighter{
  color: $color-green-lighter !important;
}

.ds-u-color--green-lightest{
  color: $color-green-lightest !important;
}

// cool-blue
.ds-u-color--cool-blue{
  color: $color-cool-blue !important;
}

.ds-u-color--cool-blue-light{
  color: $color-cool-blue-light !important;
}

.ds-u-color--cool-blue-lighter{
  color: $color-cool-blue-lighter !important;
}

.ds-u-color--cool-blue-lightest{
  color: $color-cool-blue-lightest !important;
}

// base colors
.ds-u-color--base{
  color: $color-base !important;
}

.ds-u-color--black{
  color: $color-black !important;
}

.ds-u-color--white{
  color: $color-white !important;
}
