/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Float

Set an element's `float` property using the float utility.

You can use the [clearfix utility class]({{root}}/utilities/clearfix) to automatically clear your floats.

**Format**: `ds-u-float--[VALUE]`

Markup:
<% ['ds-u-float--left', 'ds-u-float--right', 'ds-u-float--none'].forEach(util => { -%>
<div class="ds-u-clearfix">
  <p class="<%= util %> ds-base--inverse ds-u-padding--2">
    <code><%= util %></code>
  </p>
</div>
<% }) %>

Style guide: utilities.float
*/
.ds-u-float--left {
  float: left !important;
}

.ds-u-float--right {
  float: right !important;
}

.ds-u-float--none {
  float: none !important;
}

/*
Responsive

@responsive

Use a [breakpoint prefix]({{root}}/guidelines/responsive) to change how an element is floated at specific breakpoints.

Markup:
<div class="ds-u-clearfix">
  <strong>Inline text</strong>
  <div class="ds-u-float--none ds-u-md-float--left ds-u-lg-float--right">
    <p class="ds-u-md-display--none ds-base--inverse ds-u-padding--2">
      float: none
    </p>
    <p class="ds-u-display--none ds-u-md-display--inline-block ds-u-lg-display--none ds-base--inverse ds-u-padding--2">
      float: left
    </p>
    <p class="ds-u-display--none ds-u-lg-display--inline-block ds-base--inverse ds-u-padding--2">
      float: right
    </p>
  </div>
</div>

Style guide: utilities.float.responsive
*/
@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    .ds-u-#{$breakpoint}-float--left {
      float: left !important;
    }

    .ds-u-#{$breakpoint}-float--right {
      float: right !important;
    }

    .ds-u-#{$breakpoint}-float--none {
      float: none !important;
    }
  }
}
