/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Font familiy

Change an element's typeface to either the sans-serif (Open Sans) or serif (Bitter) family using the font family utility.

**Format**: `ds-u-[serif|sans]`

Markup:
<h2 class="preview__label">ds-u-sans (default)</h2>
<p class="ds-u-sans ds-title">Open Sans, Helvetica, sans-serif</p>
<h2 class="preview__label">ds-u-serif</h2>
<p class="ds-u-serif ds-title">Bitter, Georgia, serif</p>

Style guide: utilities.font-family
*/
.ds-u-sans {
  font-family: $font-sans !important;
}

.ds-u-serif {
  font-family: $font-serif !important;
}

/*
---

## Theming

The following Sass variables can be overridden to theme the font family utility:

- `$font-sans`
- `$font-serif`

Style guide: utilities.font-family.guidance
*/
