/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Font weight

Change an element's `font-weight` property using the font weight utility.

**Format**: `ds-u-font-weight--[VALUE]`

Markup:
<p class="ds-u-font-weight--normal">ds-u-font-weight--normal</p>
<p class="ds-u-font-weight--semibold">ds-u-font-weight--semibold</p>
<p class="ds-u-font-weight--bold">ds-u-font-weight--bold</p>

Style guide: utilities.font-weight
*/
.ds-u-font-weight--normal {
  font-weight: $font-normal !important;
}

.ds-u-font-weight--semibold {
  font-weight: $font-semibold !important;
}

.ds-u-font-weight--bold {
  font-weight: $font-bold !important;
}
