/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Font style

Change an element's `font-style` property using the font style utility.

**Format**: `ds-u-font-style--[VALUE]`

Markup:
<h2 class="preview__label">ds-u-font-style--normal</h2>
<div class="ds-u-font-style--normal">{{ lorem-m }}</div>
<h2 class="preview__label">ds-u-font-style--italic</h2>
<div class="ds-u-font-style--italic">{{ lorem-m }}</div>

Style guide: utilities.font-style
*/
.ds-u-font-style--normal {
  font-style: normal !important;
}

.ds-u-font-style--italic {
  font-style: italic !important;
}
