/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Line height

In CSS, the `line-height` property controls the leading (`led-ing`). Leading refers to the vertical distance from the baseline of one line to the baseline of the next.

**Format**: `ds-u-leading--[NAME]`

Markup:
<h2 class="preview__label">ds-u-leading--lead</h2>
<div class="ds-u-leading--lead">{{lorem-l}}</div>
<h2 class="preview__label">ds-u-leading--base</h2>
<div class="ds-u-leading--base ds-u-font-size--base">{{lorem-l}}</div>
<h2 class="preview__label">ds-u-leading--heading</h2>
<div class="ds-u-leading--heading">{{lorem-l}}</div>
<h2 class="preview__label">ds-u-leading--reset</h2>
<div class="ds-u-leading--reset">{{lorem-l}}</div>

Style guide: utilities.line-height
*/
.ds-u-leading--base {
  line-height: $base-line-height !important;
}

.ds-u-leading--lead {
  line-height: $lead-line-height !important;
}

.ds-u-leading--heading {
  line-height: $heading-line-height !important;
}

.ds-u-leading--reset {
  line-height: $reset-line-height !important;
}

/*
---

## Accessibility

> Many people with cognitive disabilities have trouble tracking lines of text when a block of text is single spaced. Providing spacing between `1.5` to `2` allows them to start a new line more easily once they have finished the previous one. &mdash; [WCAG 2.0 Compliance Techniques](https://www.w3.org/TR/WCAG20-TECHS/C21.html)

Style guide: utilities.line-height.guidance
*/
