/* stylelint-disable declaration-no-important */
@import '../settings/index';

/*
Line height

In CSS, the `line-height` property controls the leading (`led-ing`). Leading refers to the vertical distance from the baseline of one line to the baseline of the next.

**Format**: `ds-u-leading--[NAME]`

### Accessibility

> Many people with cognitive disabilities have trouble tracking lines of text when a block of text is single spaced. Providing spacing between `1.5` to `2` allows them to start a new line more easily once they have finished the previous one. &mdash; [WCAG 2.0 Compliance Techniques](https://www.w3.org/TR/WCAG20-TECHS/C21.html)

Markup:
<p class="ds-u-leading--heading ds-u-font-size--h1 ds-u-margin--0 ds-u-margin-bottom--2">{{lorem-m}}</p>
<p class="ds-u-leading--lead ds-u-font-size--lead ds-u-margin--0 ds-u-margin-bottom--2">{{lorem-l}}</p>
<p class="ds-u-leading--base ds-u-font-size--base ds-u-margin--0 ds-u-margin-bottom--2">{{lorem-l}}</p>
<p class="ds-u-leading--reset ds-u-margin--0">{{lorem-s}}</p>

Style guide: utilities.line-height
*/
.ds-u-leading--base {
  line-height: $base-line-height !important;
}

.ds-u-leading--lead {
  line-height: $lead-line-height !important;
}

.ds-u-leading--heading {
  line-height: $heading-line-height !important;
}

.ds-u-leading--reset {
  line-height: $reset-line-height !important;
}
