/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/index';

/*
Margin

Use the margin utility to change an element's margin.

**Format**: `ds-u-margin-[x|y|bottom|left|right|top]--[MULTIPLE]`

[Read more about how the design system approaches spacing here.]({{root}}/layout/spacing)

@hide-markup

Markup:
<% var backgrounds = ['-cool-light', '-warm-light', '-lightest', '-lighter', '-light', '-medium', '', '-dark']; %>
<% ['', '-x', '-y', '-bottom', '-left', '-right', '-top'].forEach(name => { -%>
<% for (var i = 0; i < 8; i++) { %>
<div class="ds-u-fill--gray<%= backgrounds[i] %>">
  <div class="ds-u-margin<%= name %>--<%= i %> ds-u-display--inline-block">
    <code class="ds-u-fill--background ds-u-margin--0">ds-u-margin<%= name %>--<%= i %></code>
  </div>
</div>
<% } -%>
<div class="ds-u-fill--gray<%= backgrounds[i] %>">
  <div class="ds-u-margin<%= name %>--auto" style="width: 250px">
    <code class="ds-u-fill--background ds-u-margin--0 ds-u-display--block">ds-u-margin<%= name %>--auto</code>
  </div>
</div>
<% }) -%>

Style guide: utilities.margin
*/
@for $i from 1 through length($spacers) {
  $size: #{nth($spacers, $i)};
  $scale: #{$i - 1};

  // Example: ds-u-margin--0
  .ds-u-margin--#{$scale} {
    // Example: margin: 0 !important;
    margin: #{$size} !important;
  }

  .ds-u-margin-top--#{$scale} {
    margin-top: #{$size} !important;
  }

  .ds-u-margin-right--#{$scale} {
    margin-right: #{$size} !important;
  }

  .ds-u-margin-bottom--#{$scale} {
    margin-bottom: #{$size} !important;
  }

  .ds-u-margin-left--#{$scale} {
    margin-left: #{$size} !important;
  }

  .ds-u-margin-x--#{$scale} {
    margin-left: #{$size} !important;
    margin-right: #{$size} !important;
  }

  .ds-u-margin-y--#{$scale} {
    margin-bottom: #{$size} !important;
    margin-top: #{$size} !important;
  }
}

.ds-u-margin--auto {
  margin: auto !important;
}

.ds-u-margin-top--auto {
  margin-top: auto !important;
}

.ds-u-margin-right--auto {
  margin-right: auto !important;
}

.ds-u-margin-bottom--auto {
  margin-bottom: auto !important;
}

.ds-u-margin-left--auto {
  margin-left: auto !important;
}

.ds-u-margin-x--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ds-u-margin-y--auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

/*
Responsive margins

Use a [breakpoint prefix]({{root}}/guidelines/responsive) to change the margin at specific breakpoints.

_Resize your browser to see each breakpoint in action:_

Markup:
<div class="ds-u-fill--gray-dark">
  <div class="ds-u-margin--1 ds-u-sm-margin--2 ds-u-md-margin--3 ds-u-lg-margin--4 ds-u-xl-margin--5 ds-u-display--inline-block">
    <span class="ds-u-fill--background">Responsive margins</span>
  </div>
</div>

Style guide: utilities.margin.responsive
*/
@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @for $i from 1 through length($spacers) {
      $size: #{nth($spacers, $i)};
      $scale: #{$i - 1};

      // Example: ds-u-sm-margin--0
      .ds-u-#{$breakpoint}-margin--#{$scale} {
        // Example: margin: 0 !important;
        margin: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-top--#{$scale} {
        margin-top: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-right--#{$scale} {
        margin-right: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-bottom--#{$scale} {
        margin-bottom: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-left--#{$scale} {
        margin-left: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-x--#{$scale} {
        margin-left: #{$size} !important;
        margin-right: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-y--#{$scale} {
        margin-bottom: #{$size} !important;
        margin-top: #{$size} !important;
      }
    }

    .ds-u-#{$breakpoint}-margin--auto {
      margin: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-top--auto {
      margin-top: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-right--auto {
      margin-right: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-bottom--auto {
      margin-bottom: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-left--auto {
      margin-left: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-x--auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-y--auto {
      margin-bottom: auto !important;
      margin-top: auto !important;
    }
  }
}
