/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Measure

Line length, also called "measure", is an important part of readability.

The design system includes 3 measure modifiers:

- **narrow** = line length ~45 characters
- **base** = line length ~65 characters
- **wide** = line length ~80 characters

**Format**: `ds-u-measure--[NAME]`

Markup:
<h2 class="preview__label">ds-u-measure--narrow</h2>
<div class="ds-u-measure--narrow">{{ lorem-l }}</div>
<h2 class="preview__label">ds-u-measure--base</h2>
<div class="ds-u-measure--base ds-u-font-size--small">{{ lorem-l }}</div>
<h2 class="preview__label">ds-u-measure--wide</h2>
<div class="ds-u-measure--wide ds-u-font-size--small">{{ lorem-l }}</div>

Style guide: utilities.measure
*/
.ds-u-measure--narrow {
  max-width: $measure-narrow !important;
}

.ds-u-measure--base {
  max-width: $measure-base !important;
}

.ds-u-measure--wide {
  max-width: $measure-wide !important;
}

/*
---

## Accessibility

> A line of text shouldn’t be longer than 80 characters. This helps users with certain reading or visual disabilities that have trouble keeping their place when reading long lines of text. If the width of the text container is resized, it should be allowed to scale in a way so 80 characters or less are shown...Another way to ensure good line-length is to use a fluid layout or apply responsive web design techniques that allow the user to resize the window to find a comfortable line length. &mdash; [W3C](https://www.w3.org/WAI/tutorials/page-structure/styling/#line-length)

Style guide: utilities.measure.guidance
*/
