/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/tools/index';

/*
Overflow

Use the overflow utility to set the `overflow` property of an element.

> The overflow property specifies whether to clip content, render scrollbars or just display content when it overflows its block level container. &mdash; [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow)

**Format**: `ds-u-overflow--[VALUE]`

Markup:
<% ['ds-u-overflow--hidden', 'ds-u-overflow--scroll', 'ds-u-overflow--auto'].forEach(util => { -%>
  <code class="preview__label"><%= util %></code>
  <div class="<%= util %> ds-base--inverse ds-u-padding--2" style="height: 100px">
    <div class="ds-u-measure--narrow">{{lorem-l }}</div>
  </div>
<% }) -%>

Style guide: utilities.overflow
*/
.ds-u-overflow--hidden {
  overflow: hidden !important;
}

.ds-u-overflow--scroll {
  overflow: scroll !important;
}

.ds-u-overflow--auto {
  overflow: auto !important;
}

/*
Clearfix

The clearfix utility can be applied to an element to clear floats around the element.

**Format**: `ds-u-clearfix`

Markup:
<div class="ds-u-clearfix ds-u-fill--gray">
  <div class="ds-u-float--right ds-u-fill--primary-alt-lightest" style="width: 100px; height: 100px;">
    Floated right
  </div>
</div>

Style guide: utilities.clearfix
*/
.ds-u-clearfix {
  @include clearfix;
}
