/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Text transform

Set the capitalization of text using the text transform utility.

**Format**: `ds-u-text-transform--[VALUE]`

Markup:
<code class="preview__label">ds-u-text-transform--uppercase</code>
<div class="ds-u-text-transform--uppercase">{{lorem-m}}</div>
<code class="preview__label">ds-u-text-transform--lowercase</code>
<div class="ds-u-text-transform--lowercase">{{lorem-m}}</div>
<code class="preview__label">ds-u-text-transform--capitalize</code>
<div class="ds-u-text-transform--capitalize">{{lorem-m}}</div>

Style guide: utilities.text-transform
*/
.ds-u-text-transform--uppercase {
  text-transform: uppercase !important;
}

.ds-u-text-transform--lowercase {
  text-transform: lowercase !important;
}

.ds-u-text-transform--capitalize {
  text-transform: capitalize !important;
}
