/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Text decoration

Set whether text is underlined or not using the `text-decoration` utility.

**Format**: `ds-u-text-decoration--[VALUE]`

Markup:
<code class="preview__label">ds-u-text-decoration--underline</code>
<span class="ds-u-text-decoration--underline">Underlined text</span>
<code class="preview__label">ds-u-text-decoration--none</code>
<a class="ds-u-text-decoration--none" href="javascript:void(0);">Link text without underline</a>

Style guide: utilities.text-decoration
*/
.ds-u-text-decoration--underline {
  text-decoration: underline !important;
}

.ds-u-text-decoration--none {
  text-decoration: none !important;
}
