/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Truncate

Use the truncate utility (`ds-u-truncate`) to limit a text string to one line.

### Accessibility

Place the full text in a `title` attribute so that it’s accessible on hover.

Markup:
<p class="ds-u-truncate" title="{{lorem-l}}">
  {{lorem-l}}
</p>

Style guide: utilities.truncate
*/
.ds-u-truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
