/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Vertical align

Use the vertical align utility on inline-level elements (`inline` and `inline-block`) and on table cells.

**Format**: `ds-u-valign--[VALUE]`

Markup:
<table>
  <tbody>
    <tr>
      <td class="ds-u-font-size--display ds-u-leading--reset ds-u-padding--4 ds-u-fill--primary-alt-lightest">A</td>
      <td class="ds-u-valign--top">
        <code class="preview__label">ds-u-valign--top</code>
        Top alignment
      </td>
    </tr>
    <tr>
      <td class="ds-u-font-size--display ds-u-leading--reset ds-u-padding--4 ds-u-fill--primary-alt-lightest">B</td>
      <td class="ds-u-valign--middle">
        <code class="preview__label">ds-u-valign--middle</code>
        Middle alignment
      </td>
    </tr>
    <tr>
      <td class="ds-u-font-size--display ds-u-leading--reset ds-u-padding--4 ds-u-fill--primary-alt-lightest">C</td>
      <td class="ds-u-valign--bottom">
        <code class="preview__label">ds-u-valign--bottom</code>
        Bottom alignment
      </td>
    </tr>
  </tbody>
</table>

Style guide: utilities.vertical-align
*/
.ds-u-valign--top {
  vertical-align: top !important;
}

.ds-u-valign--middle {
  vertical-align: middle !important;
}

.ds-u-valign--bottom {
  vertical-align: bottom !important;
}
