/* stylelint-disable declaration-no-important */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Word Break

Use the word break utility (`ds-u-word-break`) to prevent long strings of text from breaking layouts.

Markup:
<section class="ds-l-container preview__grid">
  <div class="ds-l-row">
    <div class="ds-l-col--3 ds-u-word-break">
      <span class="ds-u-font-weight--bold">A long string:</span> Supercalifragilisticexpialidocious
    </div>
  </div>
</section>

Style guide: utilities.ds-u-word-break
*/
.ds-u-word-break {
  overflow-wrap: break-word;
  // IE fallback
  word-wrap: break-word;
}
