@import '@cmsgov/design-system-support/src/index';

.ds-c-vertical-nav {
  @include ds-unstyled-list;

  > .ds-c-vertical-nav__item {
    background-color: transparent;
    border-top: 1px solid $color-gray;

    &:first-child {
      border-top: 0;
    }
  }
}

.ds-c-vertical-nav__item {
  position: relative;
}

.ds-c-vertical-nav__label, .ds-c-vertical-nav__label:visited  {
  border-left: 4px solid transparent;
  color: $color-base;
  display: block;
  font-family: $font-sans; // necessary for <button>
  font-size: $base-font-size; // necessary for <button>
  line-height: $heading-line-height;
  padding: $spacer-1 $spacer-2;
  text-align: left; // necessary for <button>
  text-decoration: none;

}

.ds-c-vertical-nav__label--current, .ds-c-vertical-nav__label--current:visited {
  border-left-color: $color-primary;
  color: $color-primary;
  font-weight: $font-bold;
}

// Subnav toggle
// This class is applied to a <button>, so we need to reset some styling here...
.ds-c-vertical-nav__label--parent {
  appearance: none;
  background-color: transparent;
  background-image: url('#{$image-path}/arrow-down.svg');
  background-position: right $spacer-1 center;
  background-repeat: no-repeat;
  background-size: $small-font-size;
  border-bottom: 0; // Clear <button> borders (border-left is already set)
  border-radius: 0; // Remove default browser radius in Chrome
  border-right: 0;
  border-top: 0;
  cursor: pointer;
  padding-right: $spacer-5; // Creates space for icon
  width: 100%;

  &[aria-expanded='true'] {
    background-image: url('#{$image-path}/arrow-up.svg');
  }

  &:focus,
  &.ds-c-vertical-nav__label--current:focus {
    background-color: $color-focus;
    border-color: $color-base;
    color: $color-base;
    outline: 0 none;
  }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
a.ds-c-vertical-nav__label:hover,
.ds-c-vertical-nav__label--parent:hover {
  background-color: $color-gray-lightest;
  color: $color-primary;
  text-decoration: none;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
a.ds-c-vertical-nav__label:focus,
.ds-c-vertical-nav__label--parent:focus {
  border-left-color: $color-base;
  box-shadow: none;
}


.ds-c-vertical-nav__subnav {
  @include ds-unstyled-list;

  .ds-c-vertical-nav__label {
    font-size: $small-font-size;
    line-height: $heading-line-height;
    padding-left: $spacer-3;
  }

  .ds-c-vertical-nav__label--current {
    border-color: transparent;
  }

  .ds-c-vertical-nav__subnav .ds-c-vertical-nav__label {
    padding-left: $spacer-4;
  }
}
