@import '../../styles/settings/index.scss';
@import '../../styles/typography/link.scss';

$alert-padding: units(2);
$alert-bar-size: units(1);
$alert-icon-size: units(4);

// stylelint-disable scss/at-extend-no-missing-placeholder

.ds-c-alert {
  // @extend .usa-alert;
  background-color: $color-primary-alt-lightest;
  background-image: url('#{$image-path}/information.svg');
  background-position: $alert-padding $alert-padding;
  background-repeat: no-repeat;
  background-size: $alert-icon-size + $alert-bar-size;
  border-left-color: $color-primary-alt;
  border-left-style: solid;
  border-left-width: $alert-bar-size;
  box-sizing: border-box;
  color: $color-base;
  // min-height: $alert-icon-size + $spacer-2;
  padding: $alert-padding;
  position: relative;

  &.ds-c-alert--hide-icon {
    // @extend .usa-alert--no-icon;
    background-image: none;
  }

  a,
  .ds-c-link {
    @extend %link-darker;
  }

  ul {
    &:last-child {
      margin-bottom: u-margin-bottom(0);
    }

    &:first-child {
      margin-top: u-margin-top(0);
    }
  }
}

.ds-c-alert__body {
  padding-left: $alert-icon-size + $alert-padding;
}

.ds-c-alert--hide-icon .ds-c-alert__body {
  padding-left: 0;
}

.ds-c-alert__heading {
  // @extend .usa-alert__heading;
  font-size: $lead-font-size;
  font-weight: $font-bold;
  margin-bottom: $spacer-half;
  margin-top: 0;
}

.ds-c-alert__text {
  // @extend .usa-alert__text;
  margin-bottom: 0;
  margin-top: 0;
}

.ds-c-alert--error {
  // @extend .usa-alert--error;
  background-color: $color-error-lightest;
  background-image: url('#{$image-path}/error.svg');
  border-color: $color-error;
}

.ds-c-alert--warn {
  // @extend .usa-alert--warning;
  background-color: $color-warn-lightest;
  background-image: url('#{$image-path}/warning.svg');
  border-color: $color-warn;
}

.ds-c-alert--success {
  // @extend .usa-alert--success;
  background-color: $color-success-lightest;
  background-image: url('#{$image-path}/success.svg');
  border-color: $color-success;
}
// stylelint-enable
