@import '../settings/index.scss';

$accordion-header-bg-color: $color-gray-lightest;
$accordion-header-bg-hover-color: $color-gray-lighter;
$accordion-border-color: $color-gray-lightest;
$accordion-header-font-family: $font-sans;

.ds-c-accordion {
  color: $color-base;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ds-c-accordion__heading {
  font-size: $base-font-size;
  //   line-height: 0.9;
  margin: 0;
}

.ds-c-accordion__heading:not(:first-child) {
  margin-top: $spacer-1;
}

.ds-c-accordion__button {
  background-color: $accordion-header-bg-color;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: $color-base;
  cursor: pointer;
  display: flex;
  font-family: $accordion-header-font-family;
  font-size: $base-font-size;
  font-weight: $font-bold;
  justify-content: space-between;
  margin: 0;
  padding: $spacer-2 $spacer-3 $spacer-2 $spacer-3;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $accordion-header-bg-hover-color;
  }

  &:focus {
    @include focus-styles;
  }

  @media (-ms-high-contrast: active), (forced-colors: active) {
    -ms-high-contrast-adjust: none;
    background-color: LinkText;
    color: window;

    &:hover,
    &:focus {
      -ms-high-contrast-adjust: none;
      background-color: window;
      color: LinkText;
      outline-offset: -$spacer-half;
      outline: $spacer-half solid LinkText;
    }
  }

  .ds-c-icon {
    flex-shrink: 0;
    height: 1.25em;
    width: 1.25em;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      path {
        fill: Window;
      }
    }
  }
}

.ds-c-accordion__content {
  background-color: $color-white;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-top: 0;
  max-height: 16rem;
  overflow: auto;
  overflow-y: auto;
  padding: $spacer-2 $spacer-3 $spacer-1 $spacer-4;

  // Not sure why this first-child last-child is not working
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.ds-c-accordion--bordered {
  .ds-c-accordion__content {
    border: $spacer-half solid $accordion-border-color;
    border-top: 0;
    padding: $spacer-2 $spacer-2;
  }
}
