@import '../settings/index.scss';

// @TODO: deprecate and either add to component definition or hard-code
$accordion-header-font-family: $font-sans;

.ds-c-accordion {
  color: $accordion__color;
  line-height: $font-line-height-base;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ds-c-accordion__heading {
  font-size: $font-size-base; // Needed to overwrite user agent heading tag styles
  // line-height: 0.9;
  margin: 0;
}

.ds-c-accordion__heading:not(:first-child) {
  margin-top: $spacer-1;
}

.ds-c-accordion__button {
  background-color: $accordion__background-color;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: $accordion-button__color;
  cursor: pointer;
  display: flex;
  font-family: $accordion-header-font-family;
  font-size: $font-size-base; // Needed to overwrite user agent button tag styles
  font-weight: $font-weight-bold;
  justify-content: space-between;
  margin: 0;
  padding: $spacer-2 $spacer-3 $spacer-2 $spacer-3;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $accordion__background-color--hover;
  }

  &:focus {
    @include focus-styles;
  }

  @media (-ms-high-contrast: active), (forced-colors: active) {
    background-color: LinkText;
    color: window;
    forced-color-adjust: none;
    -ms-high-contrast-adjust: none;

    &:hover,
    &:focus {
      background-color: window;
      color: LinkText;
      forced-color-adjust: none;
      -ms-high-contrast-adjust: none;
      outline: $spacer-half solid LinkText;
      outline-offset: -$spacer-half;
    }
  }

  .ds-c-icon {
    flex-shrink: 0;
    height: 1.25em;
    width: 1.25em;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      path {
        fill: Window;
      }
    }
  }
}

.ds-c-accordion__content {
  background-color: $accordion-content__background-color;
  line-height: $font-line-height-base;
  margin-top: 0;
  overflow: auto;
  padding: $spacer-2 $spacer-3 $spacer-1 $spacer-4;

  // Not sure why this first-child last-child is not working
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.ds-c-accordion--bordered {
  .ds-c-accordion__content {
    border: $spacer-half solid $accordion__border-color;
    border-top: 0;
    padding: $spacer-2 $spacer-2;
  }
}
