@use '../core' as *;

.ds-c-alert {
  background-color: $alert__background-color;
  border-left: $alert-bar__width solid $alert__border-left-color;
  box-sizing: border-box;
  color: $alert__font-color;
  display: flex;
  padding: $alert__padding;
  position: relative;

  a:not(.ds-c-button),
  .ds-c-link {
    color: $alert-link__font-color;

    &:hover {
      color: $alert-link__font-color--hover;
    }

    &:focus {
      color: $alert-link__font-color--focus;
    }

    &:active {
      color: $alert-link__font-color--active;
    }
  }

  ul {
    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  @media (-ms-high-contrast: active), (forced-colors: active) {
    border: 1px solid windowText;
    border-left: $alert-bar__width solid windowText;
  }

  &.ds-c-alert--lightweight {
    background-color: $alert__background-color--lightweight;
  }
}

.ds-c-alert__a11y-label {
  margin-right: 0.5rem;

  @media (-ms-high-contrast: active), (forced-colors: active) {
    /* stylelint-disable declaration-no-important -- needed to overwrite screen reader utility styles */
    border: none !important;
    clip: auto !important;
    height: auto !important;
    overflow: visible !important;
    padding: 0 !important;
    position: relative !important;
    width: auto !important;
    // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
    word-wrap: normal !important;
    /* stylelint-enable */
  }
}

.ds-c-alert__header {
  display: flex;
}

.ds-c-alert__icon {
  font-size: $font-size-lg;
  margin-left: $spacer-1;
}

.ds-c-alert__body {
  padding-left: $spacer-2;
}

.ds-c-alert--hide-icon .ds-c-alert__body {
  padding-left: 0;
}

.ds-c-alert__heading {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  margin-bottom: $spacer-half;
  margin-top: 0;
}

.ds-c-alert__text {
  margin-bottom: 0;
  margin-top: 0;
}

.ds-c-alert--error {
  background-color: $alert__background-color--error;
  border-color: $alert__border-color--error;
}

.ds-c-alert--warn {
  background-color: $alert__background-color--warn;
  border-color: $alert__border-color--warn;
}

.ds-c-alert--success {
  background-color: $alert__background-color--success;
  border-color: $alert__border-color--success;
}
