@import '../settings/index.scss';

.ds-c-autocomplete {
  max-width: $input-max-width;
  position: relative;
  // Undoing the clearfix class on the div containing the label element
  .ds-u-clearfix {
    &::before {
      content: none;
      display: block;
    }
    &::after {
      clear: none;
      content: none;
      display: block;
    }
  }
}

.ds-c-autocomplete__list {
  background-color: $color-white;
  box-sizing: border-box;
  max-height: ($base-font-size + $spacer-2) * 10;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: $z-dialog;
}

.ds-c-autocomplete__list-item {
  color: $color-primary;
  padding: $spacer-1;
}

.ds-c-autocomplete__list-item--active {
  background-color: $color-primary-alt-darkest;
  color: $color-white;
}

.ds-c-autocomplete__list-item--message {
  color: $color-muted;
  padding: $spacer-1;
}

// Work-around for bottom placed errors that breaks the Autocomplete's design
// Keep in mind: absolutely positioned error message wont take up space and may
// conflict with designs further down the screen
.ds-c-autocomplete__error-message {
  // position: absolute;
  float: left;
  // '- 100px' make provision for the "Clear search button"
  width: calc(100% - 100px);
}
