@use '../layout' as *;
@use '../mixins';
@use './Dropdown' as *;

// Autocomplete styles extend Dropdown styles

.ds-c-autocomplete {
  @extend .ds-c-dropdown;
}

.ds-c-autocomplete__label {
  margin: 0;
  padding: $spacer-1;
}

.ds-c-autocomplete__menu-container {
  @extend .ds-c-dropdown__menu-container;
}

.ds-c-autocomplete__menu {
  @extend .ds-c-dropdown__menu;
}

// Experienced an error using `@extend .ds-c-dropdown__menu-item` where it wouldn't compile styles for this class.
// I'm assuming the cause is due to the extended class rules are also applied to `.ds-c-dropdown__menu-item-group` (.ds-c-dropdown__menu-item, .ds-c-dropdown__menu-item-group {}). When styles are split into individual rules, it works, but is less DRY. Attempted using the % placeholder selector, but that didn't work either.
.ds-c-autocomplete__menu-item {
  padding: var(--text-input__padding);
}

.ds-c-autocomplete__menu-item-message {
  color: var(--autocomplete-item-message__font-color);
  padding: var(--text-input__padding);
}

.ds-c-autocomplete__menu-item--highlighted {
  @extend .ds-c-dropdown__menu-item--highlighted;
  @media (forced-colors: active) {
    background-color: Highlight;
    color: HighlightText;
    forced-color-adjust: none;
    -ms-high-contrast-adjust: none;
  }
}

.ds-c-autocomplete__menu-item-selected-indicator {
  display: none;
}

// Need a custom class so the bottom error message does not conflict with the clear search button
.ds-c-autocomplete__error-message {
  float: left;
}

// Need a custom class for bottom error message to make space for the clear search button
.ds-c-autocomplete__error-message-clear-btn {
  // @TODO: seems like this could be done differently without calc, perhaps using ch
  width: calc(100% - 110px);
}

.ds-c-autocomplete__clear-btn {
  float: right;
  margin-block-start: $spacer-half;
  margin-inline-end: 0;
}
