@use '../core' as *;
@use '../mixins' as *;

.ds-c-autocomplete {
  max-width: $form__max-width;
  position: relative;
  // Undoing the clearfix class on the div containing the label element
  .ds-u-clearfix {
    &::before {
      content: none;
      display: block;
    }
    &::after {
      clear: none;
      content: none;
      display: block;
    }
  }
  input:focus {
    @include focus-styles-position;
  }
}

.ds-c-autocomplete__label {
  margin: 0;
  padding: $spacer-1;
}

.ds-c-autocomplete__list {
  background-color: $autocomplete__background-color;
  border: 1px solid $autocomplete__border-color;
  box-sizing: border-box;
  max-height: 320px;
  overflow-y: auto;
  padding: $spacer-1;
  position: absolute;
  width: 100%;
  z-index: $z-dialog;
}

.ds-c-autocomplete__list-item {
  color: $autocomplete-item__font-color;
  padding: $spacer-1;
}

.ds-c-autocomplete__list-item--active {
  background-color: $autocomplete-item__background-color--active;
  color: $autocomplete-item__font-color--active;

  @media (-ms-high-contrast: active), (forced-colors: active) {
    background-color: WindowText;
    color: Window;
    forced-color-adjust: none;
    -ms-high-contrast-adjust: none;
  }
}

.ds-c-autocomplete__list-item--message {
  color: $autocomplete-item-message__font-color;
  padding: $spacer-1;
}

// Need a custom class so the bottom error message does not conflict with the clear search button
.ds-c-autocomplete__error-message {
  float: left;
}

// Need a custom class for bottom error message to make space for the clear search button
.ds-c-autocomplete__error-message--clear-btn {
  // @TODO: seems like this could be done differently without calc, perhaps using ch
  width: calc(100% - 110px);
}

.ds-c-autocomplete__clear-btn {
  float: right;
  margin-right: 0;
}
