@import '../settings/index.scss';

$badge-font-size-big: $base-font-size;

@mixin badge-high-contrast-mode-remove-color() {
  /* stylelint-disable scss/media-feature-value-dollar-variable */
  @media (-ms-high-contrast: active), (forced-colors: active) {
    background-color: windowText;
    color: window;
    -ms-high-contrast-adjust: none;
  }
  /* stylelint-enable scss/media-feature-value-dollar-variable */
}

.ds-c-badge {
  background-color: $color-gray;
  border-radius: $border-radius-pill;
  color: $color-white;
  display: inline-block;
  font-size: $font-size-sm;
  line-height: $heading-line-height;
  margin-right: $spacer-half;
  padding: $spacer-half $spacer-1;

  &:only-of-type {
    margin-right: 0;
  }

  > span {
    /* stylelint-disable scss/media-feature-value-dollar-variable, declaration-property-value-blacklist */
    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: none;
      clip: auto;
      height: auto;
      overflow: visible;
      padding: 0;
      position: relative;
      width: auto;
      // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
      word-wrap: normal;
    }
    /* stylelint-enable scss/media-feature-value-dollar-variable, declaration-property-value-blacklist */
  }

  @include badge-high-contrast-mode-remove-color;
}

.ds-c-badge--big {
  font-size: $badge-font-size-big;
}

.ds-c-badge--info {
  background-color: $color-primary;

  @include badge-high-contrast-mode-remove-color;
}

.ds-c-badge--success {
  background-color: $color-success;

  @include badge-high-contrast-mode-remove-color;
}

.ds-c-badge--warn {
  background-color: $color-warn;
  color: $color-base;

  @include badge-high-contrast-mode-remove-color;
}

.ds-c-badge--alert {
  background-color: $color-error;

  @include badge-high-contrast-mode-remove-color;
}
