@use '../layout' as *;

@mixin box-content-high-contrast-mode-remove-color() {
  @media (forced-colors: active) {
    background-color: window;
    color: windowText;
    forced-color-adjust: none;
    -ms-high-contrast-adjust: none;
  }
}

.ds-c-box-content {
  padding: $spacer-2;
  background-color: var(--color-gray-lightest);
  color: var(--color-base);
  border-radius: var(--radius-default);
  border: 1px solid var(--color-transparent);

  @include box-content-high-contrast-mode-remove-color;
}

.ds-c-box-content__heading {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-heading);
  margin-block: 0 $spacer-half;
}

.ds-c-box-content--bordered {
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-background);

  @media (forced-colors: active) {
    border: 1px solid windowText;
    background-color: window;
  }
}

.ds-c-box-content__body {
  min-width: 0; // Allows it to shrink as necessary to fit in the parent
  padding-inline-start: 0;
}

.ds-c-box-content__text {
  margin-block-start: $spacer-half;
}

.ds-c-box-content-quotation {
  margin: $spacer-2;
}

.ds-c-box-content-quotation--blockquote {
  margin: 0;
}

.ds-c-box-content-quotation--caption {
  margin-block-start: $spacer-half;
  font-weight: var(--font-weight-semibold);
}

.ds-c-box-content-quotation--citation {
  font-style: normal;
}
