@import '../settings/index.scss';

// Danger button is marked for deprecation //
.ds-c-button--danger {
  --deprecated: 'WARNING: Use .ds-c-button or .ds-c-button--primary instead';
}

.ds-c-button,
.ds-c-button:visited {
  appearance: none;
  border: $button-border-width solid $color-primary;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  padding: $spacer-1 $spacer-3;
  text-align: center;
  text-decoration: none;

  &:hover,
  &.ds-c-button--hover {
    border-color: $color-primary-darker;
    color: $color-primary-darker;
  }

  &:focus,
  &.ds-c-button--focus {
    @include focus-styles;
  }

  // Removes inner outline on buttons in Firefox.
  &::-moz-focus-inner {
    border: 0;
  }

  &:active,
  &.ds-c-button--active {
    border-color: $color-primary-darkest;
    color: $color-primary-darkest;
  }

  // Make sure active overrides focus styles
  &:active:focus,
  &.ds-c-button--active:focus {
    background-color: $color-white;
    box-shadow: none;
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-white;
    border-color: $color-gray-lighter;
    color: $color-gray-lighter;
    pointer-events: none;
  }
}

.ds-c-button > svg {
  @include inline-icon;
}

/**
 *  Size variants
 */

.ds-c-button--big {
  font-size: $font-size-xl;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}

.ds-c-button--small {
  font-size: $font-size-sm;
  font-weight: $font-normal;
  padding: $spacer-half $spacer-1;
}

$buttons-map: (
  button: (
    text-decoration: $button-text-decoration-none,
    bg-color: $button-default-bg,
    text-color: $button-default-text-color,
    border-color: $button-default-border-color,
    bg-color-hover: $button-default-bg--hover,
    text-color-hover: $button-default-text-color--hover,
    border-color-hover: $button-default-border-color--hover,
    bg-color-active: $button-default-bg--active,
    text-color-active: $button-default-text-color--active,
    border-color-active: $button-default-border-color--active,
    bg-color-disabled: $button-default-bg--disabled,
    text-color-disabled: $button-default-text-color--disabled,
    border-color-disabled: $button-default-border-color--disabled,
  ),
  button--primary: (
    text-decoration: $button-text-decoration-none,
    bg-color: $button-primary-bg,
    text-color: $button-primary-text-color,
    border-color: $button-primary-border-color,
    bg-color-hover: $button-primary-bg--hover,
    text-color-hover: $button-primary-text-color--hover,
    border-color-hover: $button-primary-border-color--hover,
    bg-color-active: $button-primary-bg--active,
    text-color-active: $button-primary-text-color--active,
    border-color-active: $button-primary-border-color--active,
    bg-color-disabled: $button-primary-bg--disabled,
    text-color-disabled: $button-primary-text-color--disabled,
    border-color-disabled: $button-primary-border-color--disabled,
  ),
  button--secondary: (
    text-decoration: $button-text-decoration-none,
    bg-color: $button-secondary-bg,
    text-color: $button-secondary-text-color,
    border-color: $button-secondary-border-color,
    bg-color-hover: $button-secondary-bg--hover,
    text-color-hover: $button-secondary-text-color--hover,
    border-color-hover: $button-secondary-border-color--hover,
    bg-color-active: $button-secondary-bg--active,
    text-color-active: $button-secondary-text-color--active,
    border-color-active: $button-secondary-border-color--active,
    bg-color-disabled: $button-secondary-bg--disabled,
    text-color-disabled: $button-secondary-text-color--disabled,
    border-color-disabled: $button-secondary-border-color--disabled,
  ),
  button--tertiary: (
    text-decoration: $button-text-decoration-none,
    bg-color: $button-tertiary-bg,
    text-color: $button-tertiary-text-color,
    border-color: $button-tertiary-border-color,
    bg-color-hover: $button-tertiary-bg--hover,
    text-color-hover: $button-tertiary-text-color--hover,
    border-color-hover: $button-tertiary-border-color--hover,
    bg-color-active: $button-tertiary-bg--active,
    text-color-active: $button-tertiary-text-color--active,
    border-color-active: $button-tertiary-border-color--active,
    bg-color-disabled: $button-tertiary-bg--disabled,
    text-color-disabled: $button-tertiary-text-color--disabled,
    border-color-disabled: $button-tertiary-border-color--disabled,
  ),
  button--success: (
    text-decoration: $button-text-decoration-none,
    bg-color: $color-success,
    text-color: $color-white,
    border-color: $color-transparent,
    bg-color-hover: $color-success-dark,
    text-color-hover: $color-white,
    border-color-hover: $color-transparent,
    bg-color-active: $color-success-darker,
    text-color-active: $color-white,
    border-color-active: $color-transparent,
    bg-color-disabled: $color-gray-lighter,
    text-color-disabled: $color-gray-dark,
    border-color-disabled: $color-gray-lighter,
  ),
  button--danger: (
    text-decoration: $button-text-decoration-none,
    bg-color: $color-error,
    text-color: $color-white,
    border-color: $color-transparent,
    bg-color-hover: $color-error-dark,
    text-color-hover: $color-white,
    border-color-hover: $color-transparent,
    bg-color-active: $color-error-darker,
    text-color-active: $color-white,
    border-color-active: $color-transparent,
    bg-color-disabled: $color-gray-lighter,
    text-color-disabled: $color-gray-dark,
    border-color-disabled: $color-gray-lighter,
  ),
  button--transparent: (
    text-decoration: $button-text-decoration-underline,
    bg-color: $button-transparent-bg,
    text-color: $button-transparent-text-color,
    border-color: $button-transparent-border-color,
    bg-color-hover: $button-transparent-bg--hover,
    text-color-hover: $button-transparent-text-color--hover,
    border-color-hover: $button-transparent-border-color--hover,
    bg-color-active: $button-transparent-bg--active,
    text-color-active: $button-transparent-text-color--active,
    border-color-active: $button-transparent-border-color--active,
    bg-color-disabled: $button-transparent-bg--disabled,
    text-color-disabled: $button-transparent-text-color--disabled,
    border-color-disabled: $button-transparent-border-color--disabled,
  ),
  button--inverse: (
    text-decoration: $button-text-decoration-none,
    bg-color: $button-inverse-bg,
    text-color: $button-inverse-text-color,
    border-color: $button-inverse-border-color,
    bg-color-hover: $button-inverse-bg--hover,
    text-color-hover: $button-inverse-text-color--hover,
    border-color-hover: $button-inverse-border-color--hover,
    bg-color-active: $button-inverse-bg--active,
    text-color-active: $button-inverse-text-color--active,
    border-color-active: $button-inverse-border-color--active,
    bg-color-disabled: $button-inverse-bg--disabled,
    text-color-disabled: $button-inverse-text-color--disabled,
    border-color-disabled: $button-inverse-border-color--disabled,
  ),
);

@each $label, $map in $buttons-map {
  .ds-c-#{$label},
  .ds-c-#{$label}:visited {
    background-color: map-get($map, bg-color);
    border-color: map-get($map, border-color);
    color: map-get($map, text-color);
    text-decoration: map-get($map, text-decoration);

    &:hover,
    &:focus,
    &:active,
    &.ds-c-button--hover,
    &.ds-c-button--focus,
    &.ds-c-button--active {
      border-color: map-get($map, border-color);
      color: map-get($map, text-color);
    }

    &:hover,
    &.ds-c-button--hover {
      background-color: map-get($map, bg-color-hover);
      border-color: map-get($map, border-color-hover);
      color: map-get($map, text-color-hover);
    }

    &:active,
    &.ds-c-button--active {
      background-color: map-get($map, bg-color-active);
      border-color: map-get($map, border-color-active);
      color: map-get($map, text-color-active);
    }

    &:focus,
    &.ds-c-button--focus {
      @include focus-styles;
      background-color: map-get($map, bg-color);
      color: map-get($map, text-color);
      &:hover,
      &.ds-c-button--hover {
        background-color: map-get($map, bg-color-hover);
        border-color: map-get($map, border-color-hover);
        color: map-get($map, text-color-hover);
      }
      // Make sure active overrides focus styles
      &:active,
      &.ds-c-button--active {
        background-color: map-get($map, bg-color-active);
        box-shadow: none;
        color: map-get($map, text-color-active);
      }
    }

    &:disabled,
    &.ds-c-button--disabled {
      background-color: map-get($map, bg-color-disabled);
      border-color: map-get($map, border-color-disabled);
      color: map-get($map, text-color-disabled);
      pointer-events: none;
      text-decoration: none;
    }
  }
}

.ds-c-button--inverse {
  &.ds-c-button--transparent {
    border: transparent;
    text-decoration: $button-text-decoration-underline;
  }
}
