@import '../settings/index.scss';

// Danger button is marked for deprecation //
.ds-c-button--danger {
  --deprecated: 'WARNING: Use .ds-c-button or .ds-c-button--primary instead';
}

.ds-c-button,
.ds-c-button:visited {
  appearance: none;
  background-color: $color-white;
  border: $button-border-width solid $color-primary;
  border-radius: $border-radius;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: $input-line-height;
  padding: $spacer-1 $spacer-3;
  text-align: center;
  text-decoration: none;

  &:hover,
  &.ds-c-button--hover {
    border-color: $color-primary-darker;
    color: $color-primary-darker;
  }

  &:focus,
  &.ds-c-button--focus {
    @if $ds-include-focus-styles {
      @include focus-styles;
    } @else {
      border-color: $color-primary-darker;
      color: $color-primary-darker;
    }
  }

  @if $ds-include-focus-styles {
    // Removes inner outline on buttons in Firefox.
    &::-moz-focus-inner {
      border: 0;
    }
  }

  &:active,
  &.ds-c-button--active {
    border-color: $color-primary-darkest;
    color: $color-primary-darkest;
  }

  @if $ds-include-focus-styles {
    // Make sure active overrides focus styles
    &:active:focus,
    &.ds-c-button--active:focus {
      background-color: $color-white;
      box-shadow: none;
    }
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-white;
    border-color: $color-gray-lighter;
    color: $color-gray-lighter;
    pointer-events: none;
  }
}

.ds-c-button > svg {
  @include inline-icon;
}

/**
 *  Size variants
 */

.ds-c-button--big {
  font-size: $font-size-xl;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}

.ds-c-button--small {
  font-size: $font-size-sm;
  font-weight: $font-normal;
  padding: $spacer-half $spacer-1;
}

/**
 *  Transparent variant (button styled like a link)
 */
.ds-c-button--transparent,
.ds-c-button--transparent:visited,
.ds-c-button--transparent-inverse,
.ds-c-button--transparent-inverse:visited {
  border-color: transparent;
  text-decoration: underline;

  &:focus,
  &.ds-c-button--focus {
    border-color: transparent;
  }

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
  }

  @if $ds-include-focus-styles {
    // Make sure active overrides focus styles
    &:active:focus,
    &.ds-c-button--active:focus {
      color: $color-primary-darkest;
      text-decoration: underline;
    }
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
    text-decoration: none;
  }
}

/**
 *  Inverse buttons (mainly affects default and transparent buttons)
 */
.ds-c-button--inverse,
.ds-c-button--inverse:visited {
  background-color: $color-background-inverse;
  border-color: $border-color-inverse;
  color: $color-base-inverse;

  &:hover,
  &.ds-c-button--hover {
    border-color: rgba($border-color-inverse, 0.8);
    color: rgba($color-base-inverse, 0.8);
  }

  &:focus,
  &.ds-c-button--focus {
    @if $ds-include-focus-styles {
      @include focus-styles;
    } @else {
      border-color: rgba($border-color-inverse, 0.8);
      color: rgba($color-base-inverse, 0.8);
    }
  }

  &:active,
  &.ds-c-button--active {
    border-color: rgba($border-color-inverse, 0.6);
    color: rgba($color-base-inverse, 0.6);
  }
  @if $ds-include-focus-styles {
    // Make sure active overrides focus styles
    &:active:focus,
    &.ds-c-button--active:focus {
      background-color: $color-background-inverse;
      color: rgba($color-base-inverse, 0.6);
    }
  }
}

/* stylelint-disable */
%transparent-inverse-button {
  border-color: transparent;
  background-color: transparent;

  // Default inverse focus styles are overridden above
  @if $ds-include-focus-styles {
    &:focus,
    &.ds-c-button--focus {
      @include focus-styles;
    }
  }
}

.ds-c-button--inverse.ds-c-button--transparent,
.ds-c-button--inverse.ds-c-button--transparent:visited {
  @extend %transparent-inverse-button;
  &:disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
  }
}

/**
 *  Not recommended usage
 *  Equivalent to ".ds-c-button--inverse.ds-c-button--transparent" 
 */
.ds-c-button--transparent-inverse,
.ds-c-button--transparent-inverse:visited {
  @extend .ds-c-button--inverse;
  @extend %transparent-inverse-button;
}

%disabled-inverse-button {
  background-color: $color-background-inverse;
  border-color: $color-gray-lighter;
  color: $color-gray-lighter;
  pointer-events: none;
}

.ds-c-button--inverse:disabled,
.ds-c-button--inverse.ds-c-button--disabled {
  @extend %disabled-inverse-button;
}

/**
 *  Not recommended usage
 *  Equivalent to ".ds-c-button--inverse.ds-c-button--disabled" 
 */
.ds-c-button--disabled-inverse,
.ds-c-button--disabled-inverse:visited {
  @extend .ds-c-button--inverse;
  @extend %disabled-inverse-button;
}

/**
 *  Status variants

Default
1. button bg
2. button bg-hover
3. button bg-active
4. focus color
5. button text color
6. button border color
7. button border color-hover
8. button border color-active
9. button text color-hover
10. button text color-active
11. button bg-disabled
12. buton text color-disabled
13. button border color-disabled
14. button text decoration

 */
$button-color-variants: (
  primary: $button-primary-bg $button-primary-bg--hover $button-primary-bg--active $color-focus
    $button-primary-text-color $button-primary-border-color $button-primary-border-color--hover
    $button-primary-border-color--active $button-primary-text-color--hover
    $button-primary-text-color--active $button-primary-bg--disabled
    $button-primary-text-color--disabled $button-primary-border-color--disabled
    $button-text-decoration-none,
  secondary: $button-secondary-bg $button-secondary-bg--hover $button-secondary-bg--active
    $color-focus $button-secondary-text-color $button-secondary-border-color
    $button-secondary-border-color--hover $button-secondary-border-color--active
    $button-secondary-text-color--hover $button-secondary-text-color--active
    $button-secondary-bg--disabled $button-secondary-text-color--disabled
    $button-secondary-border-color--disabled $button-text-decoration-none,
  tertiary: $button-tertiary-bg $button-tertiary-bg--hover $button-tertiary-bg--active $color-focus
    $button-tertiary-text-color $button-tertiary-border-color $button-tertiary-border-color--hover
    $button-tertiary-border-color--active $button-tertiary-text-color--hover
    $button-tertiary-text-color--active $button-tertiary-bg--disabled
    $button-tertiary-text-color--disabled $button-tertiary-border-color--disabled
    $button-text-decoration-underline,
  success: $color-success $color-success-dark $color-success-darker $color-focus $color-white
    $color-transparent $color-transparent $color-transparent $color-white $color-white
    $color-gray-lighter $color-gray-dark $color-gray-lighter $button-text-decoration-none,
  danger: $color-error $color-error-dark $color-error-darkest $color-focus $color-white
    $color-transparent $color-transparent $color-transparent $color-white $color-white
    $color-gray-lighter $color-gray-dark $color-gray-lighter $button-text-decoration-none,
);
/* stylelint-enable */
@each $colors in map-keys($button-color-variants) {
  $color: map-get($button-color-variants, $colors);

  .ds-c-button--#{$colors},
  .ds-c-button--#{$colors}:visited {
    background-color: nth($color, 1);
    border-color: nth($color, 6);
    color: nth($color, 5);
    text-decoration: nth($color, 14);

    &:hover,
    &:focus,
    &:active,
    &.ds-c-button--hover,
    &.ds-c-button--focus,
    &.ds-c-button--active {
      border-color: nth($color, 6);
      color: nth($color, 5);
    }

    &:hover,
    &.ds-c-button--hover {
      background-color: nth($color, 2);
      border-color: nth($color, 7);
      color: nth($color, 9);
    }

    &:focus,
    &.ds-c-button--focus {
      background-color: nth($color, 2);
      color: nth($color, 9);
    }

    &:active,
    &.ds-c-button--active {
      background-color: nth($color, 3);
      border-color: nth($color, 8);
      color: nth($color, 10);
    }
    @if $ds-include-focus-styles {
      // Make sure active overrides focus styles
      &:active:focus,
      &.ds-c-button--active:focus {
        background-color: nth($color, 3);
        box-shadow: none;
        color: nth($color, 5);
      }
    }

    &:disabled,
    &.ds-c-button--disabled {
      background-color: nth($color, 11);
      border-color: nth($color, 13);
      color: nth($color, 12);
      pointer-events: none;
    }
  }
}
