@import '../settings/index.scss';

// Danger button is marked for deprecation //
.ds-c-button--danger {
  --deprecated: 'WARNING: Use .ds-c-button or .ds-c-button--primary instead';
}

.ds-c-button,
.ds-c-button:visited {
  appearance: none;
  background-color: $button__background-color;
  border: $button__border-width solid $button__border-color;
  border-radius: $button__border-radius;
  color: $button__color;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  line-height: 1.3;
  padding: $spacer-1 $spacer-3;
  text-align: center;
  text-decoration: none;

  &:hover,
  &.ds-c-button--hover,
  &:hover &:focus,
  &.ds-c-button--hover &.ds-c-button--focus {
    border-color: $button__border-color--hover;
    color: $button__color--hover;
  }

  &:focus,
  &.ds-c-button--focus {
    @include focus-styles;
    text-decoration: none;
  }

  // Removes inner outline on buttons in Firefox.
  &::-moz-focus-inner {
    border: 0;
  }

  &:active,
  &.ds-c-button--active {
    border-color: $button__border-color--active;
    color: $button__color--active;
  }

  // Make sure active overrides focus styles
  &:active:focus,
  &.ds-c-button--active:focus {
    background-color: $button__background-color--active;
    box-shadow: none;
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $button__background-color--disabled;
    border-color: $button__border-color--disabled;
    color: $button__color--disabled;
    pointer-events: none;
  }
}

.ds-c-button > svg {
  @include inline-icon;
}

/**
 *  Size variants
 */

.ds-c-button--big {
  font-size: $font-size-xl;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}

.ds-c-button--small {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  padding: $spacer-half $spacer-1;
}

/**
 *  Transparent variant (button styled like a link)
 */
.ds-c-button--transparent,
.ds-c-button--transparent:visited,
.ds-c-button--transparent-inverse,
.ds-c-button--transparent-inverse:visited {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;

  &:focus,
  &.ds-c-button--focus {
    border-color: transparent;
    text-decoration: underline;
  }

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
  }

  // Make sure active overrides focus styles
  &:active:focus,
  &.ds-c-button--active:focus {
    color: $button-transparent__color--active;
    text-decoration: underline;
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $button-transparent__background-color--disabled;
    border-color: transparent;
    color: $button-transparent__color--disabled;
    text-decoration: none;
  }
}

/**
 *  Inverse buttons (mainly affects default and transparent buttons)
 */
.ds-c-button--inverse,
.ds-c-button--inverse:visited {
  background-color: $button-inverse__background-color;
  border-color: $button-inverse__border-color;
  color: $button-inverse__color;

  &:hover,
  &.ds-c-button--hover {
    border-color: $button-inverse__border-color--hover;
    color: $button-inverse__color--hover;
  }

  &:focus,
  &.ds-c-button--focus {
    @include focus-styles;
    background-color: $button-inverse__background-color--focus;
  }

  &:active,
  &.ds-c-button--active {
    border-color: $button-inverse__border-color--active;
    color: $button-inverse__color--active;
  }

  // Make sure active overrides focus styles
  &:active:focus,
  &.ds-c-button--active:focus {
    background-color: $button-inverse__background-color--focus;
    color: $button-inverse__color--active;
  }
}

%transparent-inverse-button {
  background-color: transparent;
  border-color: transparent;

  // Default inverse focus styles are overridden above
  &:focus,
  &.ds-c-button--focus {
    @include focus-styles;
  }
}

.ds-c-button--inverse.ds-c-button--transparent,
.ds-c-button--inverse.ds-c-button--transparent:visited {
  @extend %transparent-inverse-button;
  &:disabled {
    background-color: $button-inverse-transparent__background-color;
    border-color: transparent;
    color: $button-inverse-transparent__color;
  }
}

/**
 *  Not recommended usage
 *  Equivalent to ".ds-c-button--inverse.ds-c-button--transparent"
 */
.ds-c-button--transparent-inverse,
.ds-c-button--transparent-inverse:visited {
  @extend .ds-c-button--inverse;
  @extend %transparent-inverse-button;
}

%disabled-inverse-button {
  background-color: $button-inverse__background-color--disabled;
  border-color: $button-inverse__border-color--disabled;
  color: $button-inverse__color--disabled;
  pointer-events: none;
}

.ds-c-button--inverse:disabled,
.ds-c-button--inverse.ds-c-button--disabled {
  @extend %disabled-inverse-button;
}

/**
 *  Not recommended usage
 *  Equivalent to ".ds-c-button--inverse.ds-c-button--disabled"
 */
.ds-c-button--disabled-inverse,
.ds-c-button--disabled-inverse:visited {
  @extend .ds-c-button--inverse;
  @extend %disabled-inverse-button;
}

/**
 *  Status variants
 */
$button-color-variants: (
  primary: $button-primary__background-color $button-primary__background-color--hover
    $button-primary__background-color--active,
  success: $color-success $color-success-dark $color-success-darker,
  danger: $color-error $color-error-dark $color-error-darkest,
);

@each $colors in map-keys($button-color-variants) {
  $color: map-get($button-color-variants, $colors);

  .ds-c-button--#{$colors},
  .ds-c-button--#{$colors}:visited {
    background-color: nth($color, 1);
    border-color: transparent;
    color: $color-white;

    &:hover,
    &:focus,
    &:active,
    &.ds-c-button--hover,
    &.ds-c-button--focus,
    &.ds-c-button--active {
      border-color: transparent;
      color: $color-white;
    }

    &:hover,
    &.ds-c-button--hover {
      background-color: nth($color, 2);
    }
    &:focus,
    &.ds-c-button--focus {
      @include focus-styles;
      background-color: nth($color, 1);
    }

    &:active,
    &.ds-c-button--active {
      background-color: nth($color, 3);
    }
    // Make sure active overrides focus styles
    &:active:focus,
    &.ds-c-button--active:focus {
      background-color: nth($color, 3);
      box-shadow: none;
      color: $color-white;
    }

    &:disabled,
    &.ds-c-button--disabled {
      background-color: $color-gray-lighter;
      border-color: transparent;
      color: $color-gray-dark;
      pointer-events: none;
    }
  }
}

@media (-ms-high-contrast: active), (forced-colors: active) {
  .ds-c-button {
    &:hover,
    &.ds-c-button--hover,
    &:active,
    &.ds-c-button--active {
      text-decoration: underline;
    }

    &:disabled,
    &.ds-c-button--disabled {
      border-color: GrayText;
      color: GrayText;
    }

    &:is(button:disabled) {
      cursor: not-allowed;
      pointer-events: initial;
    }

    &,
    &:disabled,
    &.ds-c-button--disabled {
      text-decoration: none;
    }

    &.ds-c-button--transparent {
      border: 0;

      &:hover,
      &.ds-c-button--hover,
      &:active,
      &.ds-c-button--active {
        text-decoration: none;
      }

      &,
      &:disabled,
      &.ds-c-button--disabled {
        text-decoration: underline;
      }
    }
  }
}
