@import '../settings/index.scss';

.ds-c-button,
.ds-c-button:visited {
  appearance: none;
  background-color: var(--backgroundColor, $button__background-color);
  border: $button__border-width solid var(--borderColor, $button__border-color);
  border-radius: $button__border-radius;
  color: var(--color, $button__color);
  cursor: pointer;
  font-family: $font-sans;
  font-size: var(--fontSize, $font-size-base);
  font-weight: var(--fontWeight, $button__font-weight);
  line-height: 1.3;
  text-align: center;
  display: inline-block;
  padding: var(--space, $spacer-1 $spacer-3);

  &:is(a) {
    text-decoration: none;

    &:focus {
      background-color: var(--backgroundColor, $button__background-color);
      color: var(--color, $button__color);
      text-decoration: none;
    }

    &[aria-disabled] {
      pointer-events: none; // Needed to render disabled links correctly
    }
  }

  > svg {
    @include inline-icon;
  }

  &:hover,
  &:hover:focus {
    background-color: var(--backgroundColor--h, $button__background-color--hover);
    border-color: var(--borderColor--h, $button__border-color--hover);
    color: var(--color--h, $button__color--hover);
  }

  &:focus {
    @include focus-styles;
  }

  &:active,
  &:active:focus {
    background-color: var(--backgroundColor--a, $button__background-color--active);
    border-color: var(--borderColor--a, $button__border-color--active);
    color: var(--color--a, $button__color--active);
  }

  // Make sure active overrides focus styles
  &:active:focus {
    box-shadow: none;
  }

  &:disabled,
  &[aria-disabled] {
    background-color: var(--backgroundColor--d, $button__background-color--disabled);
    border-color: var(--borderColor--d, $button__border-color--disabled);
    color: var(--color--d, $button__color--disabled);
    cursor: not-allowed;
  }
}

.ds-c-button {
  &.ds-c-button--alternate {
    --backgroundColor: #{$button-alt__background-color};
    --borderColor: #{$button-alt__border-color};
    --color: #{$button-alt__color};

    // Hover
    --backgroundColor--h: #{$button-alt__background-color--hover};
    --borderColor--h: #{$button-alt__border-color--hover};
    --color--h: #{$button-alt__color--hover};

    // Active
    --backgroundColor--a: #{$button-alt__background-color--active};
    --borderColor--a: #{$button-alt__border-color--active};
    --color--a: #{$button-alt__color--active};

    // Disable
    --backgroundColor--d: #{$button-alt__background-color--disabled};
    --borderColor--d: #{$button-alt__border-color--disabled};
    --color--d: #{$button-alt__color--disabled};
  }

  &.ds-c-button--on-dark {
    --backgroundColor: #{$button-dark__background-color};
    --borderColor: #{$button-dark__border-color};
    --color: #{$button-dark__color};

    // Hover
    --backgroundColor--h: #{$button-dark__background-color--hover};
    --borderColor--h: #{$button-dark__border-color--hover};
    --color--h: #{$button-dark__color--hover};

    // Active
    --backgroundColor--a: #{$button-dark__background-color--active};
    --borderColor--a: #{$button-dark__border-color--active};
    --color--a: #{$button-dark__color--active};

    // Disable
    --backgroundColor--d: #{$button-dark__background-color--disabled};
    --borderColor--d: #{$button-dark__border-color--disabled};
    --color--d: #{$button-dark__color--disabled};
  }

  &.ds-c-button--alternate.ds-c-button--on-dark {
    --backgroundColor: #{$button-dark-alt__background-color};
    --borderColor: #{$button-dark-alt__border-color};
    --color: #{$button-dark-alt__color};

    // Hover
    --backgroundColor--h: #{$button-dark-alt__background-color--hover};
    --borderColor--h: #{$button-dark-alt__border-color--hover};
    --color--h: #{$button-dark-alt__color--hover};

    // Active
    --backgroundColor--a: #{$button-dark-alt__background-color--active};
    --borderColor--a: #{$button-dark-alt__border-color--active};
    --color--a: #{$button-dark-alt__color--active};

    // Disable
    --backgroundColor--d: #{$button-dark-alt__background-color--disabled};
    --borderColor--d: #{$button-dark-alt__border-color--disabled};
    --color--d: #{$button-dark-alt__color--disabled};
  }
}

.ds-c-button--solid {
  --backgroundColor: #{$button-solid__background-color};
  --borderColor: #{$button-solid__border-color};
  --color: #{$button-solid__color};

  // Hover
  --backgroundColor--h: #{$button-solid__background-color--hover};
  --borderColor--h: #{$button-solid__border-color--hover};
  --color--h: #{$button-solid__color--hover};

  // Active
  --backgroundColor--a: #{$button-solid__background-color--active};
  --borderColor--a: #{$button-solid__border-color--active};
  --color--a: #{$button-solid__color--active};

  // Disable
  --backgroundColor--d: #{$button-solid__background-color--disabled};
  --borderColor--d: #{$button-solid__border-color--disabled};
  --color--d: #{$button-solid__color--disabled};

  &.ds-c-button--alternate {
    --backgroundColor: #{$button-solid-alt__background-color};
    --borderColor: #{$button-solid-alt__border-color};
    --color: #{$button-solid-alt__color};

    // Hover
    --backgroundColor--h: #{$button-solid-alt__background-color--hover};
    --borderColor--h: #{$button-solid-alt__border-color--hover};
    --color--h: #{$button-solid-alt__color--hover};

    // Active
    --backgroundColor--a: #{$button-solid-alt__background-color--active};
    --borderColor--a: #{$button-solid-alt__border-color--active};
    --color--a: #{$button-solid-alt__color--active};

    // Disable
    --backgroundColor--d: #{$button-solid-alt__background-color--disabled};
    --borderColor--d: #{$button-solid-alt__border-color--disabled};
    --color--d: #{$button-solid-alt__color--disabled};
  }

  &.ds-c-button--on-dark {
    --backgroundColor: #{$button-solid-dark__background-color};
    --borderColor: #{$button-solid-dark__border-color};
    --color: #{$button-solid-dark__color};

    // Hover
    --backgroundColor--h: #{$button-solid-dark__background-color--hover};
    --borderColor--h: #{$button-solid-dark__border-color--hover};
    --color--h: #{$button-solid-dark__color--hover};

    // Active
    --backgroundColor--a: #{$button-solid-dark__background-color--active};
    --borderColor--a: #{$button-solid-dark__border-color--active};
    --color--a: #{$button-solid-dark__color--active};

    // Disable
    --backgroundColor--d: #{$button-solid-dark__background-color--disabled};
    --borderColor--d: #{$button-solid-dark__border-color--disabled};
    --color--d: #{$button-solid-dark__color--disabled};
  }

  &.ds-c-button--alternate.ds-c-button--on-dark {
    --backgroundColor: #{$button-solid-dark-alt__background-color};
    --borderColor: #{$button-solid-dark-alt__border-color};
    --color: #{$button-solid-dark-alt__color};

    // Hover
    --backgroundColor--h: #{$button-solid-dark-alt__background-color--hover};
    --borderColor--h: #{$button-solid-dark-alt__border-color--hover};
    --color--h: #{$button-solid-dark-alt__color--hover};

    // Active
    --backgroundColor--a: #{$button-solid-dark-alt__background-color--active};
    --borderColor--a: #{$button-solid-dark-alt__border-color--active};
    --color--a: #{$button-solid-dark-alt__color--active};

    // Disable
    --backgroundColor--d: #{$button-solid-dark-alt__background-color--disabled};
    --borderColor--d: #{$button-solid-dark-alt__border-color--disabled};
    --color--d: #{$button-solid-dark-alt__color--disabled};
  }
}

.ds-c-button--ghost {
  text-decoration: underline;
  text-decoration-color: currentColor;

  &:is(a) {
    text-decoration: underline;

    &:hover {
      text-decoration-color: inherit;
      text-decoration-thickness: inherit;
    }
  }

  --backgroundColor: #{$button-ghost__background-color};
  --borderColor: #{$button-ghost__border-color};
  --color: #{$button-ghost__color};

  // Hover
  --backgroundColor--h: #{$button-ghost__background-color--hover};
  --borderColor--h: #{$button-ghost__border-color--hover};
  --color--h: #{$button-ghost__color--hover};

  // Active
  --backgroundColor--a: #{$button-ghost__background-color--active};
  --borderColor--a: #{$button-ghost__border-color--active};
  --color--a: #{$button-ghost__color--active};

  // Disable
  --backgroundColor--d: #{$button-ghost__background-color--disabled};
  --borderColor--d: #{$button-ghost__border-color--disabled};
  --color--d: #{$button-ghost__color--disabled};

  &:disabled,
  &.ds-c-button--disabled {
    text-decoration-color: transparent;

    &:is(a) {
      text-decoration: underline;
      text-decoration-color: inherit;
    }
  }

  &.ds-c-button--alternate {
    --backgroundColor: #{$button-ghost-alt__background-color};
    --borderColor: #{$button-ghost-alt__border-color};
    --color: #{$button-ghost-alt__color};

    // Hover
    --backgroundColor--h: #{$button-ghost-alt__background-color--hover};
    --borderColor--h: #{$button-ghost-alt__border-color--hover};
    --color--h: #{$button-ghost-alt__color--hover};

    // Active
    --backgroundColor--a: #{$button-ghost-alt__background-color--active};
    --borderColor--a: #{$button-ghost-alt__border-color--active};
    --color--a: #{$button-ghost-alt__color--active};

    // Disable
    --backgroundColor--d: #{$button-ghost-alt__background-color--disabled};
    --borderColor--d: #{$button-ghost-alt__border-color--disabled};
    --color--d: #{$button-ghost-alt__color--disabled};
  }

  &.ds-c-button--on-dark {
    --backgroundColor: #{$button-ghost-dark__background-color};
    --borderColor: #{$button-ghost-dark__border-color};
    --color: #{$button-ghost-dark__color};

    // Hover
    --backgroundColor--h: #{$button-ghost-dark__background-color--hover};
    --borderColor--h: #{$button-ghost-dark__border-color--hover};
    --color--h: #{$button-ghost-dark__color--hover};

    // Active
    --backgroundColor--a: #{$button-ghost-dark__background-color--active};
    --borderColor--a: #{$button-ghost-dark__border-color--active};
    --color--a: #{$button-ghost-dark__color--active};

    // Disable
    --backgroundColor--d: #{$button-ghost-dark__background-color--disabled};
    --borderColor--d: #{$button-ghost-dark__border-color--disabled};
    --color--d: #{$button-ghost-dark__color--disabled};
  }

  &.ds-c-button--alternate.ds-c-button--on-dark {
    --backgroundColor: #{$button-ghost-dark-alt__background-color};
    --borderColor: #{$button-ghost-dark-alt__border-color};
    --color: #{$button-ghost-dark-alt__color};

    // Hover
    --backgroundColor--h: #{$button-ghost-dark-alt__background-color--hover};
    --borderColor--h: #{$button-ghost-dark-alt__border-color--hover};
    --color--h: #{$button-ghost-dark-alt__color--hover};

    // Active
    --backgroundColor--a: #{$button-ghost-dark-alt__background-color--active};
    --borderColor--a: #{$button-ghost-dark-alt__border-color--active};
    --color--a: #{$button-ghost-dark-alt__color--active};

    // Disable
    --backgroundColor--d: #{$button-ghost-dark-alt__background-color--disabled};
    --borderColor--d: #{$button-ghost-dark-alt__border-color--disabled};
    --color--d: #{$button-ghost-dark-alt__color--disabled};
  }
}

.ds-c-button--big {
  --fontSize: #{$font-size-xl};
  --space: #{$spacer-2 $spacer-3};
}

.ds-c-button--small {
  --fontSize: #{$font-size-sm};
  --fontWeight: #{$font-weight-normal};
  --space: #{$spacer-half $spacer-1};
}
