@import '../settings/index.scss';

.ds-c-button--big {
  --fontSize: #{$font-size-xl};
  --space: #{$spacer-2 $spacer-3};
}

.ds-c-button--small {
  --fontSize: #{$font-size-sm};
  --fontWeight: #{$font-weight-normal};
  --space: #{$spacer-half $spacer-1};
}

.ds-c-button--solid {
  &.ds-c-button--on-light {
    &.ds-c-button--main {
      --backgroundColor: #{$button-solid-light-main__background-color};
      --borderColor: #{$button-solid-light-main__border-color};
      --color: #{$button-solid-light-main__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-solid-light-main__background-color--hover};
        --borderColor: #{$button-solid-light-main__border-color--hover};
        --color: #{$button-solid-light-main__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-solid-light-main__background-color--active};
        --borderColor: #{$button-solid-light-main__border-color--active};
        --color: #{$button-solid-light-main__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-solid-light-main__background-color--disabled};
        --borderColor: #{$button-solid-light-main__border-color--disabled};
        --color: #{$button-solid-light-main__color--disabled};
      }
    }

    &.ds-c-button--alternate {
      --backgroundColor: #{$button-solid-light-alt__background-color};
      --borderColor: #{$button-solid-light-alt__border-color};
      --color: #{$button-solid-light-alt__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-solid-light-alt__background-color--hover};
        --borderColor: #{$button-solid-light-alt__border-color--hover};
        --color: #{$button-solid-light-alt__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-solid-light-alt__background-color--active};
        --borderColor: #{$button-solid-light-alt__border-color--active};
        --color: #{$button-solid-light-alt__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-solid-light-alt__background-color--disabled};
        --borderColor: #{$button-solid-light-alt__border-color--disabled};
        --color: #{$button-solid-light-alt__color--disabled};
      }
    }
  }

  &.ds-c-button--on-dark {
    &.ds-c-button--main {
      --backgroundColor: #{$button-solid-dark-main__background-color};
      --borderColor: #{$button-solid-dark-main__border-color};
      --color: #{$button-solid-dark-main__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-solid-dark-main__background-color--hover};
        --borderColor: #{$button-solid-dark-main__border-color--hover};
        --color: #{$button-solid-dark-main__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-solid-dark-main__background-color--active};
        --borderColor: #{$button-solid-dark-main__border-color--active};
        --color: #{$button-solid-dark-main__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-solid-dark-main__background-color--disabled};
        --borderColor: #{$button-solid-dark-main__border-color--disabled};
        --color: #{$button-solid-dark-main__color--disabled};
      }
    }

    &.ds-c-button--alternate {
      --backgroundColor: #{$button-solid-dark-alt__background-color};
      --borderColor: #{$button-solid-dark-alt__border-color};
      --color: #{$button-solid-dark-alt__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-solid-dark-alt__background-color--hover};
        --borderColor: #{$button-solid-dark-alt__border-color--hover};
        --color: #{$button-solid-dark-alt__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-solid-dark-alt__background-color--active};
        --borderColor: #{$button-solid-dark-alt__border-color--active};
        --color: #{$button-solid-dark-alt__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-solid-dark-alt__background-color--disabled};
        --borderColor: #{$button-solid-dark-alt__border-color--disabled};
        --color: #{$button-solid-dark-alt__color--disabled};
      }
    }
  }
}

.ds-c-button--outline {
  &.ds-c-button--on-light {
    &.ds-c-button--main {
      --backgroundColor: #{$button-outline-light-main__background-color};
      --borderColor: #{$button-outline-light-main__border-color};
      --color: #{$button-outline-light-main__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-outline-light-main__background-color--hover};
        --borderColor: #{$button-outline-light-main__border-color--hover};
        --color: #{$button-outline-light-main__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-outline-light-main__background-color--active};
        --borderColor: #{$button-outline-light-main__border-color--active};
        --color: #{$button-outline-light-main__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-outline-light-main__background-color--disabled};
        --borderColor: #{$button-outline-light-main__border-color--disabled};
        --color: #{$button-outline-light-main__color--disabled};
      }
    }

    &.ds-c-button--alternate {
      --backgroundColor: #{$button-outline-light-alt__background-color};
      --borderColor: #{$button-outline-light-alt__border-color};
      --color: #{$button-outline-light-alt__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-outline-light-alt__background-color--hover};
        --borderColor: #{$button-outline-light-alt__border-color--hover};
        --color: #{$button-outline-light-alt__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-outline-light-alt__background-color--active};
        --borderColor: #{$button-outline-light-alt__border-color--active};
        --color: #{$button-outline-light-alt__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-outline-light-alt__background-color--disabled};
        --borderColor: #{$button-outline-light-alt__border-color--disabled};
        --color: #{$button-outline-light-alt__color--disabled};
      }
    }
  }

  &.ds-c-button--on-dark {
    &.ds-c-button--main {
      --backgroundColor: #{$button-outline-dark-main__background-color};
      --borderColor: #{$button-outline-dark-main__border-color};
      --color: #{$button-outline-dark-main__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-outline-dark-main__background-color--hover};
        --borderColor: #{$button-outline-dark-main__border-color--hover};
        --color: #{$button-outline-dark-main__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-outline-dark-main__background-color--active};
        --borderColor: #{$button-outline-dark-main__border-color--active};
        --color: #{$button-outline-dark-main__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-outline-dark-main__background-color--disabled};
        --borderColor: #{$button-outline-dark-main__border-color--disabled};
        // 📢 Disabled and default colors look very close
        --color: #{$button-outline-dark-main__color--disabled};
      }
    }

    &.ds-c-button--alternate {
      --backgroundColor: #{$button-outline-dark-alt__background-color};
      --borderColor: #{$button-outline-dark-alt__border-color};
      --color: #{$button-outline-dark-alt__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-outline-dark-alt__background-color--hover};
        --borderColor: #{$button-outline-dark-alt__border-color--hover};
        --color: #{$button-outline-dark-alt__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-outline-dark-alt__background-color--active};
        --borderColor: #{$button-outline-dark-alt__border-color--active};
        --color: #{$button-outline-dark-alt__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-outline-dark-alt__background-color--disabled};
        --borderColor: #{$button-outline-dark-alt__border-color--disabled};
        // 📢 Disabled and default colors look very close
        --color: #{$button-outline-dark-alt__color--disabled};
      }
    }
  }
}

.ds-c-button--link {
  &.ds-c-button--on-light {
    &.ds-c-button--main {
      --backgroundColor: #{$button-link-light-main__background-color};
      --borderColor: #{$button-link-light-main__border-color};
      --color: #{$button-link-light-main__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-link-light-main__background-color--hover};
        --borderColor: #{$button-link-light-main__border-color--hover};
        --color: #{$button-link-light-main__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-link-light-main__background-color--active};
        --borderColor: #{$button-link-light-main__border-color--active};
        --color: #{$button-link-light-main__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-link-light-main__background-color--disabled};
        --borderColor: #{$button-link-light-main__border-color--disabled};
        --color: #{$button-link-light-main__color--disabled};
      }
    }

    &.ds-c-button--alternate {
      --backgroundColor: #{$button-link-light-alt__background-color};
      --borderColor: #{$button-link-light-alt__border-color};
      --color: #{$button-link-light-alt__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-link-light-alt__background-color--hover};
        --borderColor: #{$button-link-light-alt__border-color--hover};
        --color: #{$button-link-light-alt__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-link-light-alt__background-color--active};
        --borderColor: #{$button-link-light-alt__border-color--active};
        --color: #{$button-link-light-alt__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-link-light-alt__background-color--disabled};
        --borderColor: #{$button-link-light-alt__border-color--disabled};
        --color: #{$button-link-light-alt__color--disabled};
      }
    }
  }

  &.ds-c-button--on-dark {
    &.ds-c-button--main {
      --backgroundColor: #{$button-link-dark-main__background-color};
      --borderColor: #{$button-link-dark-main__border-color};
      --color: #{$button-link-dark-main__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-link-dark-main__background-color--hover};
        --borderColor: #{$button-link-dark-main__border-color--hover};
        --color: #{$button-link-dark-main__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-link-dark-main__background-color--active};
        --borderColor: #{$button-link-dark-main__border-color--active};
        --color: #{$button-link-dark-main__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-link-dark-main__background-color--disabled};
        --borderColor: #{$button-link-dark-main__border-color--disabled};
        --color: #{$button-link-dark-main__color--disabled};
      }
    }

    &.ds-c-button--alternate {
      --backgroundColor: #{$button-link-dark-alt__background-color};
      --borderColor: #{$button-link-dark-alt__border-color};
      --color: #{$button-link-dark-alt__color};

      // Hover
      &:hover,
      &.ds-c-button--hover,
      &:hover:focus,
      &.ds-c-button--hover.ds-c-button--focus {
        --backgroundColor: #{$button-link-dark-alt__background-color--hover};
        --borderColor: #{$button-link-dark-alt__border-color--hover};
        --color: #{$button-link-dark-alt__color--hover};
      }

      // Active
      &:active,
      &.ds-c-button--active,
      &:active:focus,
      &.ds-c-button--active:focus {
        --backgroundColor: #{$button-link-dark-alt__background-color--active};
        --borderColor: #{$button-link-dark-alt__border-color--active};
        --color: #{$button-link-dark-alt__color--active};
      }

      &:disabled,
      &.ds-c-button--disabled {
        --backgroundColor: #{$button-link-dark-alt__background-color--disabled};
        --borderColor: #{$button-link-dark-alt__border-color--disabled};
        --color: #{$button-link-dark-alt__color--disabled};
      }
    }
  }
}

.ds-c-button,
.ds-c-button:visited {
  appearance: none;
  background-color: var(--backgroundColor, $button-outline-light-main__background-color);
  border: $button__border-width solid var(--borderColor, $button-outline-light-main__border-color);
  border-radius: $button__border-radius;
  color: var(--color, $button-outline-light-main__color);
  cursor: pointer;
  font-family: $font-sans;
  font-size: var(--fontSize, $font-size-base);
  font-weight: var(--fontWeight, $font-weight-bold);
  line-height: 1.3;
  text-align: center;
  text-decoration-color: transparent;
  display: inline-block;
  padding: var(--space, $spacer-1 $spacer-3);

  > svg {
    @include inline-icon;
  }

  &.ds-c-button--link {
    text-decoration: underline;
    text-decoration-color: currentColor;
  }

  &:focus,
  &.ds-c-button--focus {
    @include focus-styles;
  }

  // Make sure active overrides focus styles
  &:active:focus,
  &.ds-c-button--active:focus {
    box-shadow: none;
  }

  &:disabled,
  &.ds-c-button--disabled {
    pointer-events: none; // Needed to render disabled links correctly
  }
}
