@import '../settings/index.scss';

// Order of the choice styles is important to ensure styles have the correct precedent
// normal < errored < checked < disabled < focused

.ds-c-choice {
  // Hide the default browser checkbox/radio button
  // We create our own custom version using '+ label::before'
  left: -999em;
  opacity: 0;
  position: absolute;

  // Choice label
  + label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-weight: $font-normal;
    margin: $spacer-1 0;
    max-width: $measure-base;
    min-height: $choice-size;
    padding-left: $choice-size + $spacer-1;
    position: relative;
  }

  // Choice checkbox/radio button
  + label::before {
    background-color: $color-background;
    border: $choice-border-width solid $choice-border-color;
    box-sizing: border-box;
    content: '\a0';
    height: $choice-size;
    left: 0;
    line-height: $choice-size;
    position: absolute;
    text-indent: 0.15em;
    top: 0;
    width: $choice-size;
  }

  // Errored checkbox/radio button
  // Currently only enabled in HC.gov DS
  // &.ds-c-choice--error + label::before {
  //   border-color: $color-error;
  // }

  // Checked checkbox/radio button
  &:checked + label::before {
    background-color: $choice-checked-background-color;
    background-image: url('#{$image-path}/checkmark-white.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: $choice-size - $spacer-1;
    border-color: $choice-checked-background-color;
  }

  // Disabled checkbox/radio button and label
  &:disabled + label {
    color: $color-muted;

    &::before {
      background-color: $color-gray-lighter;
      border-color: $color-gray-light;
      cursor: not-allowed;
    }
  }

  // Focused checkbox/radio button
  &:focus + label::before {
    @if $ds-include-focus-styles {
      border-color: $color-base;
      border-width: 3px;
      box-shadow: 0 0 0 3px $focus-color;
      // Transparent outline for Windows High Contrast Mode
      outline: 3px solid transparent;
      outline-offset: 3px;
    } @else {
      box-shadow: 0 0 0 2px $color-background, 0 0 2px 4px $color-focus;
    }
  }
}

.ds-c-choice--inverse {
  // Choice checkbox/radio button
  + label::before {
    background-color: transparent;
    border-color: $choice-border-color-inverse;
  }

  // Errored checkbox/radio button
  // Currently only enabled in HC.gov DS
  // &.ds-c-choice--error + label::before {
  //   border-color: $color-error-light;
  // }

  // Checked checkbox/radio button
  &:checked + label::before {
    border-color: $choice-checked-background-color;
  }

  // Disabled checkbox/radio button and label
  &:disabled + label {
    color: $color-muted-inverse;

    &::before {
      background-color: rgba($color-muted-inverse, 0.15);
      border-color: $color-gray-light;
    }
  }

  // Focused checkbox/radio button
  &:focus + label::before {
    @if $ds-include-focus-styles {
      border-color: $choice-border-color-inverse;
      box-shadow: 0 0 0 3px $focus-color-inverse;
    } @else {
      box-shadow: 0 0 0 2px $color-background-inverse, 0 0 2px 4px $color-focus-inverse;
    }
  }
}

// Display a circular radio button
.ds-c-choice[type='radio'] + label::before {
  border-radius: 100%;
}

// Size variants
.ds-c-choice--small {
  + label {
    min-height: $choice-size-small;
    padding-left: $choice-size-small + $spacer-1;
    padding-top: 0;

    &::before {
      height: $choice-size-small;
      top: 2px;
      width: $choice-size-small;
    }
  }

  &:checked + label::before {
    background-size: $choice-size-small;
  }
}

@if $ds-include-focus-styles {
  .ds-c-choice--small:focus + label::before {
    border-width: 2px;
  }
  .ds-c-choice:checked:focus + label::before {
    border-color: $color-primary-darker;
  }
}
