@import '../settings/index.scss';

$ds-c-inset-border-width: $spacer-half;

// Order of the choice styles is important to ensure styles have the correct precedent
// normal < errored < checked < disabled < focused
.ds-c-choice {
  // Hide the default browser checkbox/radio button
  // We create our own custom version using '+ label::before'
  left: -999em;
  opacity: 0;
  position: absolute;

  // Choice label
  + label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-weight: $font-normal;
    margin: $spacer-1 0;
    max-width: $measure-base;
    // We set min-height to be the same as `$choice-size` to ensure most of the time
    // the label and icon will be vertically aligned. We cannot simply vertically center the icon
    // because of choice hints and label text wrapping, as we want the icon to be vertically aligned
    // with the first line of text only.
    min-height: $choice-size;
    padding-left: $choice-size + $spacer-1;
    position: relative;
    width: fit-content;
  }

  // Choice checkbox/radio button
  + label::before {
    background-color: $choice-background-color;
    border: $choice-border-width solid $choice-border-color;
    border-radius: $choice-border-radius;
    box-sizing: border-box;
    content: '\a0';
    height: $choice-size;
    left: 0;
    position: absolute;
    top: 0;
    width: $choice-size;
  }

  // Choice radio button
  &[type='radio'] + label::before {
    border-radius: 100%;
  }

  // Checkmark icon
  + label::after {
    background: transparent;
    border: solid;
    border-color: $color-white;
    border-top-color: transparent;
    border-width: 0 0 4px 4px;
    box-sizing: content-box;
    content: '';
    height: 4px;
    left: 9px;
    opacity: 0;
    position: absolute;
    top: 11px;
    transform: rotate(-45deg);
    width: 10px;
  }

  // Errored choice
  @if $ds-include-choice-error-highlight {
    &.ds-c-choice--error + label::before {
      border-color: $color-error;
    }
  }

  // Checked choice
  &:checked + label {
    &::before {
      background-color: $choice-checked-background-color;
      border-color: $choice-checked-border-color;
    }

    &::after {
      opacity: 1;
    }
  }

  // Disabled choice
  &:disabled + label {
    color: $color-muted;
    cursor: not-allowed;

    &::before {
      background-color: $choice-disabled-background-color;
      border-color: $choice-disabled-border-color;
    }
  }

  // Focused choice
  &:focus + label::before {
    @if $ds-include-focus-styles {
      @include focus-styles;
    } @else {
      box-shadow: 0 0 0 2px $color-background, 0 0 2px 4px $color-focus;
    }
  }
}

.ds-c-choice--inverse {
  // Choice checkbox/radio button
  + label::before {
    background-color: $choice-background-color-inverse;
    border-color: $choice-border-color-inverse;
  }

  // Errored inverse choice
  @if $ds-include-choice-error-highlight {
    &.ds-c-choice--error + label::before {
      border-color: $color-error-light;
    }
  }

  // Checked inverse choice
  // Need to repeat this styling to override error border-color when checked
  &:checked + label::before {
    border-color: $choice-checked-background-color;
  }

  // Disabled inverse choice
  &:disabled + label {
    color: $color-muted-inverse;

    &::before {
      background-color: $choice-disabled-background-color-inverse;
      border-color: $choice-disabled-border-color-inverse;
    }
  }

  // Focused inverse choice
  &:focus + label::before {
    @if $ds-include-focus-styles {
      @include focus-styles;
    }
  }
}

// Size variants
.ds-c-choice--small {
  + label {
    min-height: $choice-size-small;
    padding-left: $choice-size-small + $spacer-1;

    &::before {
      height: $choice-size-small;
      // $choice-size-small is smaller than the choice label, we need to adjust it manually
      top: 2px;
      width: $choice-size-small;
    }

    &::after {
      border-width: 0 0 3px 3px;
      height: 3px;
      left: 5px;
      top: 8px;
      width: 7px;
    }
  }
}

@if $ds-include-focus-styles {
  .ds-c-choice--small:focus + label::before {
    border-width: 2px;
  }
  .ds-c-choice:checked:focus + label::before {
    border-color: $color-primary-darker;
  }
}

// TODO: rename to .ds-c-choice__checked-child
/* stylelint-disable selector-class-pattern */

// Checked children container
.ds-c-choice__checkedChild {
  border-left: $ds-c-inset-border-width solid $color-primary;
  margin-bottom: $spacer-2;
  margin-left: ($choice-size / 2) - ($ds-c-inset-border-width / 2);
  padding: $spacer-2;

  &--inverse {
    border-left-color: $color-white;
  }

  &--small {
    margin-left: $spacer-1;
  }
}

/* stylelint-enable selector-class-pattern */
