@use '../layout' as *;

.ds-c-field--month,
.ds-c-field--day,
.ds-c-field--year {
  box-sizing: content-box; // allows us to set width based on # of characters
}

.ds-c-field--month,
.ds-c-field--day {
  width: 4ch; // provide additional spacing for browser UI
}

.ds-c-field--year {
  width: 6ch; // provide additional spacing for browser UI
}

.ds-c-datefield__container {
  align-items: flex-end;
}

.ds-c-datefield__separator {
  font-size: var(--font-size-2xl);
  line-height: 1;
  margin: 6px 0;
  padding: var(--text-input__padding) 0;
}

.ds-c-datefield__label {
  font-weight: var(--font-weight-normal);
  margin-top: $spacer-1;
}
