@use '../layout' as *;

// Start polyfill styles
dialog {
  background: var(--color-white);
  border: solid;
  color: var(--color-black);
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

dialog + .backdrop {
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

._dialog_overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}
// End polyfill styles

.ds-c-dialog {
  background-color: var(--dialog__background-color);
  border: none;
  box-shadow: var(--shadow-base);
  box-sizing: border-box;
  display: inline-block;
  margin-top: $spacer-6;
  max-width: var(--measure-base);
  padding: var(--dialog__padding);
  text-align: left;
  width: 95%; // provide space for the background layer to peek through

  @media (-ms-high-contrast: active), (forced-colors: active) {
    outline: $spacer-2 solid WindowText;
  }

  // We set default focus to the role="document" div, but we don't want
  // to show the default focus halo
  > [role='document']:focus {
    outline: none;
  }
}

.ds-c-dialog::backdrop,
.ds-c-dialog + .backdrop {
  background-color: var(--dialog-overlay__background-color);
}

.ds-c-dialog--narrow {
  max-width: var(--measure-narrow);
}

.ds-c-dialog--wide {
  max-width: var(--measure-wide);
}

.ds-c-dialog--full {
  max-width: var(--site-max-width);
}

.ds-c-dialog__header {
  align-items: flex-start;
  display: flex;
  // Provide some spacing when the header only includes the close button
  padding-bottom: $spacer-1;
}

.ds-c-dialog__body {
  overflow-wrap: break-word;
  // IE fallback
  word-wrap: break-word;
}

.ds-c-dialog__actions {
  margin-top: $spacer-3;
}

.ds-c-dialog__close {
  margin-left: auto;
  padding: 0 $spacer-1 0 $spacer-half;

  .ds-c-icon {
    font-size: 13px;
    margin: 0 $spacer-half;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      path {
        fill: ButtonText;
      }
    }
  }

  @media (-ms-high-contrast: active), (forced-colors: active) {
    padding: $spacer-half $spacer-2;
  }
}

.ds--dialog-open {
  left: 0;
  position: fixed;
  right: 0;
  top: var(--body_top--dialog-open, 0);
}
