@import '../settings/index.scss';

// Component vars
$drawer-background-color: $color-background;
$drawer-box-shadow: -2px 0 0 $border-color;
$drawer-space: $spacer-2;
$drawer-animation-timing: $animation-speed-2;

// Header vars
$drawer-header-background-color: $color-gray-lightest;

// Body vars
$drawer-font-size-mobile: $base-font-size;
$drawer-font-size-tablet: $small-font-size;
$drawer-font-size-desktop: $base-font-size;

// Footer vars
$drawer-footer-background-color: $color-primary-alt-lightest;
$drawer-footer-line-height: 1.5;

// Toggle vars
$drawer-toggle-font-weight: $font-normal;
$drawer-toggle-space: 0;

@keyframes slideInDrawer {
  from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Help drawer toggle */
.ds-c-drawer__toggle {
  display: block;
  font-weight: $drawer-toggle-font-weight;
  padding: $drawer-toggle-space;
}

.ds-c-drawer__toggle--inline {
  display: inline;
}

/* Help drawer wrapper */
.ds-c-drawer {
  background: $drawer-background-color;
  bottom: 0;
  box-shadow: $drawer-box-shadow;
  position: fixed;
  right: 0;
  top: 0;

  @media (min-width: $width-md) {
    animation: slideInDrawer $drawer-animation-timing ease-in-out both; // slide in from the right
    max-width: 33%; // this equates to 4 grid columns
  }

  @media (min-width: $width-xl) {
    max-width: $measure-base;
  }
}

.ds-c-drawer__window {
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
  }
}

/* Help drawer header */
.ds-c-drawer__header {
  align-items: center;
  background-color: $drawer-header-background-color;
  display: flex;
  gap: $drawer-space;
  justify-content: space-between;
  padding: $drawer-space;

  @supports (display: flex) {
    flex: 0 0 auto;
  }
}

.ds-c-drawer__header-heading {
  margin: 0;
}

.ds-c-drawer__close-button {
  align-self: flex-start;
}

// This element is focusable via a tabindex attribute.
.ds-c-drawer__header-heading:focus {
  @include focus-styles;
}

// Using `overflow: auto` instead of `position: sticky` on sticky els
// due to a Mozilla bug where sticky els don't calc reflow when inside
// a flex container: https://bugzilla.mozilla.org/show_bug.cgi?id=1585254
.ds-c-drawer--is-sticky {
  overflow: auto;
}

/* Help drawer body content */
.ds-c-drawer__body {
  font-size: $drawer-font-size-mobile;
  padding: $drawer-space;

  @media (min-width: $width-md) {
    font-size: $drawer-font-size-tablet;
  }

  @media (min-width: $width-lg) {
    font-size: $drawer-font-size-desktop;
  }

  @supports (display: flex) {
    flex: 1 1 auto;
  }
}

/* Help drawer footer */
.ds-c-drawer__footer {
  background-color: $drawer-footer-background-color;
  line-height: $drawer-footer-line-height;
  padding: $drawer-space;

  @supports (display: flex) {
    flex: 0 0 auto;
  }
}

.ds-c-drawer__footer-title {
  margin: 0;
}
