@use '../layout' as *;
@use '../mixins';

.ds-c-dropdown {
  max-width: var(--form__max-width);
  position: relative;
}

.ds-c-dropdown__button.ds-c-field {
  appearance: none;
  background-color: var(--dropdown__background-color);
  background-image: url('../images/arrow-both.svg');
  background-position: right $spacer-1 center;
  background-repeat: no-repeat;
  background-size: var(--dropdown__icon-size);
  padding-inline-end: 28px;
  text-align: start;

  &[multiple] {
    background-image: none;
  }

  // Removes inner outline on select elements in Firefox.
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  .ds-c-dropdown--open & {
    border-end-end-radius: 0;
    border-end-start-radius: 0;
  }
}

.ds-c-dropdown__menu-container {
  background-color: var(--autocomplete__background-color);
  border: var(--text-input__border-width) solid var(--text-input__border-color);
  border-block-start: none;
  border-end-end-radius: var(--text-input__border-radius);
  border-end-start-radius: var(--text-input__border-radius);
  margin-block-start: calc(-1 * var(--text-input__border-width));
  max-height: 320px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: var(--z-dialog);

  // Create a line visually separating the
  &::before {
    border-block-start: var(--dropdown-item__border-width) solid var(--dropdown-item__border-color);
    content: '';
    display: block;
    inset-block-start: 0;
    position: sticky;
    width: 100%;
  }
}

.ds-c-dropdown__menu {
  @include mixins.ds-unstyled-list;
  gap: 0;
}

.ds-c-dropdown__item,
.ds-c-dropdown__item-group {
  border-block-end: var(--dropdown-item__border-width) solid var(--dropdown-item__border-color);
  padding: var(--spacer-1);

  &:last-child {
    border-block-end: none;
  }
}

.ds-c-dropdown__item--highlighted {
  background-color: var(--color-primary-lighter);
}

.ds-c-dropdown__item--selected {
  background-color: var(--color-primary-light);
}
