$filter-chip-icon-container-size: 18px;
$filter-chip-icon-size: 10px;
$filter-chip-text-color: $color-base !default;
$filter-chip-background-color: $color-primary-alt-lightest !default;
$filter-chip-border-color: $color-primary !default;
$filter-chip-text-color-hover: $color-white !default;
$filter-chip-background-color-hover: $color-primary !default;
$filter-chip-border-color-hover: $color-primary !default;
$filter-chip-border-radius: $border-radius-pill !default;

.ds-c-filter-chip__button {
  background-color: $filter-chip-background-color;
  border: 1px solid $filter-chip-border-color;
  border-radius: $filter-chip-border-radius;
  color: $filter-chip-text-color;
  cursor: pointer;
  font-family: $font-sans;
  font-size: $small-font-size;
  font-weight: $font-normal;
  margin-right: $spacer-1;
  margin-top: $spacer-1;
  min-height: 0;
  padding: $spacer-half $spacer-1;
  padding-right: ($spacer-2 + $filter-chip-icon-container-size);
  position: relative;
  text-align: left;

  &--big {
    min-height: 44px;
    padding: $spacer-1 $spacer-2;
    padding-right: ($spacer-2 + $filter-chip-icon-container-size);
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $filter-chip-background-color-hover;
    border: 1px solid $filter-chip-border-color-hover;
    color: $filter-chip-text-color-hover;
  }
  @if $ds-include-focus-styles {
    &:focus {
      @include focus-styles;
    }
  }
}

.ds-c-filter-chip__clear-icon-container {
  border: 1px solid $filter-chip-text-color;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: $filter-chip-icon-container-size;
  margin-left: $spacer-1;
  padding: 0;
  position: absolute;
  right: $spacer-1;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  width: $filter-chip-icon-container-size;

  &.ds-c-filter-chip__clear-icon-alternate-container {
    border: 0;
  }

  .ds-c-clear-icon {
    display: block;
    fill: $filter-chip-text-color;
    height: $filter-chip-icon-size;
    left: ($filter-chip-icon-container-size - 2 - $filter-chip-icon-size) / 2;
    position: relative;
    top: ($filter-chip-icon-container-size - 2 - $filter-chip-icon-size) / 2;
    width: $filter-chip-icon-size;
  }

  .ds-c-filter-chip__button:active &,
  .ds-c-filter-chip__button:focus &,
  .ds-c-filter-chip__button:hover & {
    border-color: $filter-chip-text-color-hover;

    .ds-c-clear-icon {
      fill: $filter-chip-text-color-hover;
    }
  }
}
