$filter-chip-icon-size: 14px;
$filter-chip-text-color: $color-base !default;
$filter-chip-background-color: $color-primary-alt-lightest !default;
$filter-chip-border-color: $color-primary !default;
$filter-chip-text-color-hover: $color-white !default;
$filter-chip-background-color-hover: $color-primary !default;
$filter-chip-border-color-hover: $color-primary !default;

.ds-c-filter-chip {
  display: inline-block;
  margin-right: $spacer-1;
  margin-top: $spacer-1;
}

.ds-c-filter-chip__button {
  background-color: $filter-chip-background-color;
  border: 1px solid $filter-chip-border-color;
  border-radius: $border-radius-pill;
  color: $filter-chip-text-color;
  cursor: pointer;
  font-family: $font-sans;
  font-size: $small-font-size;
  font-weight: $font-normal;
  padding: $spacer-half $spacer-1;
  padding-right: ($spacer-1 + $spacer-1 + $filter-chip-icon-size);
  position: relative;
  text-align: left;

  &:active,
  &:focus,
  &:hover {
    background-color: $filter-chip-background-color-hover;
    border: 1px solid $filter-chip-border-color-hover;
    color: $filter-chip-text-color-hover;
  }
}

.ds-c-filter-chip__button--read-only {
  cursor: default;
  padding-right: $spacer-1;

  &:active,
  &:focus,
  &:hover {
    background-color: $filter-chip-background-color;
    border: 1px solid $filter-chip-border-color;
    color: $filter-chip-text-color;
  }
}

.ds-c-filter-chip__clear-icon {
  $x-size: 6px;
  border: 1px solid $filter-chip-text-color;

  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: $filter-chip-icon-size;
  margin-left: $spacer-1;
  padding: 0;
  position: absolute;
  right: $spacer-1;
  top: ($spacer-half + 3px);
  vertical-align: middle;
  width: $filter-chip-icon-size;

  .ds-c-clear-icon {
    display: block;
    height: $x-size;
    left: ($filter-chip-icon-size - 2 - $x-size) / 2;
    position: relative;
    top: ($filter-chip-icon-size - 2 - $x-size) / 2;
    width: $x-size;
  }

  .ds-c-clear-icon__x {
    fill: $filter-chip-text-color;
  }

  .ds-c-filter-chip__button:active &,
  .ds-c-filter-chip__button:focus &,
  .ds-c-filter-chip__button:hover & {
    border-color: $filter-chip-text-color-hover;

    .ds-c-clear-icon__x {
      fill: $filter-chip-text-color-hover;
    }
  }
}
