@import '../settings/index.scss';

// Component vars
$help-drawer-background-color: $color-background;
$help-drawer-box-shadow: -2px 0 0 $border-color;
$help-drawer-space: $spacer-2;
$help-drawer-animation-timing: $animation-speed-2;

// Header vars
$help-drawer-header-background-color: $color-gray-lightest;
$help-drawer-header-background-color: $color-gray-lightest;

// Body vars
$help-drawer-font-size-mobile: $base-font-size;
$help-drawer-font-size-tablet: $small-font-size;
$help-drawer-font-size-desktop: $base-font-size;

// Footer vars
$help-drawer-footer-background-color: $color-primary-alt-lightest;
$help-drawer-footer-line-height: 1.5;

// Toggle vars
$help-drawer-toggle-font-weight: $font-normal;
$help-drawer-toggle-space: 0;

@keyframes slideInHelpDrawer {
  from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Help drawer toggle */
.ds-c-help-drawer__toggle {
  display: block;
  font-weight: $help-drawer-toggle-font-weight;
  padding: $help-drawer-toggle-space;
}

.ds-c-help-drawer__toggle--inline {
  display: inline;
}

/* Help drawer wrapper */
.ds-c-help-drawer {
  background: $help-drawer-background-color;
  bottom: 0;
  box-shadow: $help-drawer-box-shadow;
  position: fixed;
  right: 0;
  top: 0;

  @media (min-width: $width-md) {
    animation: slideInHelpDrawer $help-drawer-animation-timing ease-in-out both; // slide in from the right
    max-width: 33%; // this equates to 4 grid columns
  }

  @media (min-width: $width-xl) {
    max-width: $measure-base;
  }
}

.ds-c-help-drawer__window {
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
}

/* Help drawer header */
.ds-c-help-drawer__header {
  align-items: center;
  background-color: $help-drawer-header-background-color;
  display: flex;
  gap: $help-drawer-space;
  justify-content: space-between;
  padding: $help-drawer-space;

  &.ds-c-help-drawer__header--is-sticky {
    position: sticky;
    top: 0;
  }
}

.ds-c-help-drawer__header-heading {
  margin: 0;
}

.ds-c-help-drawer__close-button {
  align-self: flex-start;
}

@if $ds-include-focus-styles {
  // This element is focusable via a tabindex attribute.
  .ds-c-help-drawer__heading:focus {
    @include focus-styles;
  }
}

/* Help drawer body content */
.ds-c-help-drawer__body {
  font-size: $help-drawer-font-size-mobile;
  padding: $help-drawer-space;

  @media (min-width: $width-md) {
    font-size: $help-drawer-font-size-tablet;
  }

  @media (min-width: $width-lg) {
    font-size: $help-drawer-font-size-desktop;
  }
}

/* Help drawer footer */
.ds-c-help-drawer__footer {
  background-color: $help-drawer-footer-background-color;
  line-height: $help-drawer-footer-line-height;
  padding: $help-drawer-space;

  &.ds-c-help-drawer__footer--is-sticky {
    bottom: 0;
    position: sticky;
  }
}

.ds-c-help-drawer__footer-title {
  margin: 0;
}
