.ds-c-hint {
  color: var(--hint__color);
  display: block;
  font-weight: var(--font-weight-normal);
  margin-block: 0;
  max-width: var(--form__max-width);
}

.ds-c-hint--inverse {
  color: var(--hint__color--inverse);
}
