@use '../layout' as *;

.ds-c-inline-error {
  color: var(--form-error__color);
  display: block;
  font-weight: var(--font-weight-normal);
  max-width: var(--form__max-width);
}

.ds-c-inline-error--inverse {
  color: var(--form-error__color--inverse);
}

.ds-c-inline-error--bottom {
  margin-block-start: $spacer-half;
}
