@import '../settings/index.scss';

.ds-c-list {
  margin-bottom: units(2);
  margin-top: units(2);
  padding-left: units(4);

  li {
    line-height: $base-line-height;
    margin-bottom: units(1);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ds-c-list--bare {
  @include ds-unstyled-list;
}
