.ds-c-pagination {
  a:focus {
    @include focus-styles-position;
  }
  .ds-c-button {
    font-weight: normal;
    min-width: 44px;
    padding: 8px 0;
    text-decoration: none;
  }
  .ds-c-button:hover {
    text-decoration: underline;
  }
  .ds-c-pagination__current-page {
    background-color: $color-gray-lightest;
    color: $color-base;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      cursor: auto;
      text-decoration: none;
    }
  }
  .ds-c-pagination__overflow {
    border: 2px solid transparent;
    color: $color-gray;
    display: inline-block;
    padding: 8px;
  }
  .ds-c-pagination__navigation--next-img-container {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
  }
  .ds-c-pagination__navigation--previous-img-container {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
  }
  .ds-c-pagination__navigation--next-image {
    height: 20px;
    width: 20px;
  }

  //   .ds-c-pagination__navigation--next-img-container {
  //     position: absolute;
  //     left: 0;
  //   }
  //   .ds-c-pagination__navigation--next-image {
  //     transform: rotate(-90deg);
  //     width: 20px;
  //     height: 20px;
  //     overflow: visible;
  //     object-fit: fill;
  //     margin-top: 4px;
  //   }
  //   .ds-c-pagination__navigation--previous-img-container {
  //     position: absolute;
  //     right: 0;
  //   }
  //   .ds-c-pagination__navigation--previous-image {
  //     transform: rotate(-90deg);
  //     width: 20px;
  //     height: 20px;
  //     overflow: visible;
  //     object-fit: fill;
  //     margin-top: 4px;
  //   }
}
