@use '../core' as *;

.ds-c-pagination {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  ul {
    display: inline;
    margin: 0;
    padding: 0;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      align-items: center;
      display: inline-flex;
      gap: 1ch;
    }
  }
  li {
    display: inline-block;
    list-style: none;
  }
  .ds-c-button {
    color: $pagination-link__color;
    font-weight: normal;
    min-width: 44px;
    padding: $spacer-1 0;
  }
  .ds-c-button--ghost {
    text-decoration: none;

    &:focus {
      color: $pagination-link__color--focus;
    }
    &:hover {
      color: $pagination-link__color--hover;
      text-decoration: underline;
    }
    &:active {
      color: $pagination-link__color--active;
    }
    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: 0;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .ds-c-pagination__current-page {
    color: $pagination-current-page__color;
    font-size: $font-size-xl;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      cursor: auto;
      text-decoration: none;
    }
  }
  .ds-c-pagination__overflow {
    border: 2px solid transparent;
    color: $pagination-overflow__color;
    display: inline-block;
    padding: $spacer-1;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: 0;
    }
  }
  .ds-c-pagination__page-count {
    border: 2px solid transparent;
    color: $pagination-page-count__color;
    display: inline-block;
    padding: $spacer-1;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: 0;
    }
  }
  .ds-c-pagination__nav {
    flex: 0 0 auto;
    text-decoration: none;

    &:hover {
      text-decoration-thickness: 3px;
      text-underline-offset: 5px;
    }

    @media (-ms-high-contrast: active), (forced-colors: active) {
      align-self: center;
      border: 0;
      padding: $spacer-half $spacer-2;

      &:not(.ds-c-pagination__nav--disabled) {
        color: LinkText;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;

        &:hover {
          background-color: Window;
          text-decoration: none;
        }

        &:focus {
          box-shadow: none;
        }

        &:focus:hover {
          outline-color: LinkText;
        }
      }
    }
  }
  .ds-c-pagination__nav--disabled {
    border: 1px solid transparent;
    color: $pagination-link__color--disabled;
    line-height: 1.3;
    padding: $spacer-1 0;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: 0;
      color: GrayText;
      cursor: not-allowed;
      padding: $spacer-half $spacer-2;
    }
  }
  .ds-c-pagination__nav--img-container {
    display: inline-block;
    vertical-align: text-top;
    &-next {
      margin-left: $spacer-half;
    }
    &-previous {
      margin-right: $spacer-half;
    }
  }
  .ds-c-pagination__nav--image {
    height: 18px;
    width: 18px;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      path {
        fill: LinkText;
      }
    }
  }
}
