@use '../layout' as *;

.ds-c-pagination {
  align-items: flex-end;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .ds-c-pagination__pages {
    display: none;
    margin: 0;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      align-items: center;
      display: inline-flex;
      gap: 1ch;
    }
    @media (min-width: $media-width-sm + 1) {
      display: inline-block;
    }
  }
  .ds-c-button {
    color: var(--pagination-link__color);
    font-weight: var(--font-weight-normal);
    min-width: 44px;
    padding: $spacer-1 0;
  }
  .ds-c-button--ghost {
    text-decoration: none;

    &:focus {
      color: var(--pagination-link__color--focus);
    }
    &:hover {
      color: var(--pagination-link__color--hover);
      text-decoration: underline;
    }
    &:active {
      color: var(--pagination-link__color--active);
    }
    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: 0;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .ds-c-pagination__current-page {
    color: var(--pagination-current-page__color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    &:hover {
      color: currentColor;
      cursor: auto;
      text-decoration: none;
    }
  }
  .ds-c-pagination__overflow {
    border: 2px solid transparent;
    color: var(--pagination-overflow__color);
    display: inline-block;
    padding: $spacer-1;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: 0;
    }
  }
  .ds-c-pagination__page-count {
    border: 2px solid transparent;
    color: var(--pagination-page-count__color);
    display: none;
    padding: $spacer-1;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: 0;
    }
    @media (max-width: $media-width-sm) {
      display: inline-block;
    }
  }
  .ds-c-pagination__nav {
    flex: 0 0 auto;
    text-decoration: none;

    &:hover {
      text-decoration-thickness: 3px;
      text-underline-offset: 5px;
    }

    @media (-ms-high-contrast: active), (forced-colors: active) {
      align-self: center;
      border: 0;
      padding: $spacer-half $spacer-2;

      &:not([aria-disabled='true']) {
        color: LinkText;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;

        &:hover {
          background-color: Window;
          text-decoration: none;
        }

        &:focus {
          box-shadow: none;
        }

        &:focus:hover {
          outline-color: LinkText;
        }
      }
    }
  }
  [aria-disabled='true'] {
    border: 1px solid transparent;
    color: var(--pagination-link__color--disabled);
    line-height: 1.3;
    padding: $spacer-1 0;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      border: 0;
      color: GrayText;
      cursor: not-allowed;
      padding: $spacer-half $spacer-2;
    }
  }
  .ds-c-pagination__nav--img-container {
    display: inline-block;
    vertical-align: text-top;
    &-next {
      margin-inline-start: $spacer-half;
    }
    &-previous {
      margin-inline-end: $spacer-half;
    }
  }
  .ds-c-pagination__nav--image {
    height: 18px;
    width: 18px;

    @media (-ms-high-contrast: active), (forced-colors: active) {
      path {
        fill: LinkText;
      }
    }
  }
  &.ds-c-pagination--compact {
    .ds-c-pagination__page-count {
      display: inline;
    }
    .ds-c-pagination__pages {
      display: none;
    }
  }
}
