$pagination-nav-link-color: $color-primary;
$pagination-nav-link-color-hover: $color-primary-darker;
$pagination-nav-link-color-active: $color-primary-darkest;
$pagination-nav-link-color-focus: $color-primary-darker;
$pagination-nav-disabled-color: $color-gray-lighter;

$pagination-current-page-color: $color-base;
$pagination-overflow-color: $color-gray;
$pagination-page-count-color: $color-gray;

.ds-c-pagination {
  align-items: end;
  display: flex;
  justify-content: space-between;
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    list-style: none;
  }
  .ds-c-button {
    color: $pagination-nav-link-color;
    font-weight: normal;
    min-width: 44px;
    padding: 8px 0;
  }
  a:focus {
    color: $pagination-nav-link-color-focus;
  }
  a:hover {
    color: $pagination-nav-link-color-hover;
    text-decoration: underline;
  }
  a:active {
    color: $pagination-nav-link-color-active;
  }
  .ds-c-pagination__current-page {
    color: $pagination-current-page-color;
    font-size: $font-size-xl;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      cursor: auto;
      text-decoration: none;
    }
  }
  .ds-c-pagination__overflow {
    border: 2px solid transparent;
    color: $pagination-overflow-color;
    display: inline-block;
    padding: 8px;
  }
  .ds-c-pagination__page-count {
    border: 2px solid transparent;
    color: $pagination-page-count-color;
    display: inline-block;
    padding: 8px;
  }
  .ds-c-pagination__nav {
    flex: 0 0 auto;
    text-decoration: none;

    &:hover {
      text-decoration-thickness: 3px;
      text-underline-offset: 5px;
    }

    /* stylelint-disable scss/media-feature-value-dollar-variable */
    @media (-ms-high-contrast: active), (forced-colors: active) {
      padding: $spacer-half $spacer-2;
    }
    /* stylelint-enable scss/media-feature-value-dollar-variable */
  }
  .ds-c-pagination__nav--disabled {
    border: 1px solid transparent;
    color: $pagination-nav-disabled-color;
    line-height: 1.3;
    padding: 8px 0;

    /* stylelint-disable scss/media-feature-value-dollar-variable */
    @media (-ms-high-contrast: active), (forced-colors: active) {
      border-color: GrayText;
      color: GrayText;
      padding: $spacer-half $spacer-2;
    }
    /* stylelint-enable scss/media-feature-value-dollar-variable */
  }
  .ds-c-pagination__nav--img-container {
    display: inline-block;
    height: 24px;
    margin-left: 4px;
    vertical-align: middle;
    width: 20px;
  }
  .ds-c-pagination__nav--image {
    height: 18px;
    width: 18px;
  }

  /* stylelint-disable scss/media-feature-value-dollar-variable */
  @media (-ms-high-contrast: active), (forced-colors: active) {
    align-items: center;
  }
  /* stylelint-enable scss/media-feature-value-dollar-variable */
}
