@import '../settings/index.scss';

.ds-c-review {
  border-bottom: 2px solid $review__border-color;
  display: flex;
  justify-content: space-between;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;

  @media (-ms-high-contrast: active), (forced-colors: active) {
    a:hover {
      text-decoration: none;
    }
  }
}

.ds-c-review__content {
  margin-right: $spacer-2;
}

.ds-c-review:last-of-type {
  border-bottom: 0;
}

.ds-c-review__heading {
  display: inline-block;
  font-size: $font-size-base; // Needed to overwrite user agent heading tag styles
  font-weight: $font-weight-bold;
  margin-bottom: 0;
  margin-top: 0;
}
