@use '../layout' as *;

.ds-c-step-list {
  list-style-type: none;
  margin: $spacer-4 0 0;
  padding: 0 0 0 42px;

  @media (-ms-high-contrast: active), (forced-colors: active) {
    a:hover {
      text-decoration: none;
    }
  }
}

.ds-c-step {
  color: var(--steplist__color);
  counter-increment: step-counter;
  margin-bottom: $spacer-2;
  padding-bottom: $spacer-2;
  position: relative;

  &::before {
    border: 2px solid var(--steplist-step__border-color--default);
    border-radius: var(--radius-circle);
    box-sizing: border-box;
    color: var(--steplist-step__color);
    content: counter(step-counter);
    display: block;
    font-size: var(--font-size-sm);
    height: $spacer-3;
    left: -34px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 7px;
    width: $spacer-3;

    @media (min-width: $media-width-md) {
      font-size: var(--font-size-xl);
      height: $spacer-4;
      left: -42px;
      line-height: 28px;
      padding-left: 1px;
      top: 3px;
      width: $spacer-4;
    }

    @media (-ms-high-contrast: active), (forced-colors: active) {
      border-color: GrayText;
      color: GrayText;
      forced-color-adjust: none;
      -ms-high-contrast-adjust: none;
    }
  }

  &::after {
    border-bottom: 1px solid var(--steplist-step__border-color);
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: -42px;
    position: absolute;
    right: 0;
  }
}

.ds-c-step--current,
.ds-c-step--completed {
  padding-bottom: $spacer-2;

  &::before {
    border: 0 none;
    color: var(--steplist-step__color--current);
    line-height: 24px;

    @media (min-width: $media-width-md) {
      line-height: 32px;
    }
  }
}

.ds-c-step--current {
  .ds-c-step__heading {
    color: var(--steplist__color--current);
  }

  &::before {
    background: var(--steplist__background-color--current);
  }

  @media (-ms-high-contrast: active), (forced-colors: active) {
    &::before {
      background-color: Highlight;
      color: Window;
      font-weight: bold;
    }
  }
}

.ds-c-step--completed {
  .ds-c-step__heading {
    color: var(--steplist-step__color--completed);
  }

  .ds-c-step__substeps {
    color: var(--steplist-step__color--completed);
  }

  &::before {
    background: var(--steplist-step__background-color--completed);
  }

  @media (-ms-high-contrast: active), (forced-colors: active) {
    &::before {
      background-color: WindowText;
      color: Window;
    }
  }
}

.ds-c-step__heading {
  font-size: var(--font-size-md); // Needed to overwrite user agent heading tag styles
  line-height: 38px;
  margin: 0;
}

.ds-c-step__actions {
  font-size: var(--font-size-sm);
  margin-left: auto;

  .ds-c-step__content--with-content + & {
    margin-top: $spacer-2;
  }

  .ds-c-step--completed & a {
    font-weight: var(--font-weight-normal);
  }
}

.ds-c-step__completed-text {
  display: inline-block;
  line-height: 26px;
  margin-right: $spacer-2;

  .ds-c-icon {
    height: 12px;
    margin-right: $spacer-1;
    vertical-align: inherit;
    width: 16px;
  }

  @media (-ms-high-contrast: active), (forced-colors: active) {
    .ds-c-icon-color--success {
      color: WindowText;
    }
  }
}

.ds-c-step__description {
  font-size: var(--font-size-sm);
  margin-bottom: $spacer-1;

  .ds-c-step--current &,
  .ds-c-step--completed & {
    margin-top: $spacer-1;
  }
}

.ds-c-step__substeps {
  list-style-type: none;
  margin: 0;
  padding-left: $spacer-5;
}

.ds-c-substep {
  display: block;
  font-size: var(--font-size-sm);

  &::before {
    content: '\2022';
    left: calc(-1 * #{$spacer-3});
    position: relative;
  }
}

.ds-c-substep__heading {
  display: inline;
  margin-right: $spacer-1;
}
