.ds-c-icon {
  display: inline-block;
  fill: currentColor;
  font-size: var(--font-size-base);
  height: 1.5em;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: middle;
  width: 1.5em;

  @media (-ms-high-contrast: active), (forced-colors: active) {
    fill: WindowText;

    path {
      fill: WindowText;
      stroke: WindowText;
    }
  }
}

// Icon color variations
.ds-c-icon-color--primary {
  color: var(--icon__color--primary);

  @media (-ms-high-contrast: active), (forced-colors: active) {
    color: WindowText;
  }
}

.ds-c-icon-color--inverse {
  color: var(--icon__color--inverse);
}

.ds-c-icon-color--error {
  color: var(--icon__color--error);
}

.ds-c-icon-color--warn {
  color: var(--icon__color--warn);
}

.ds-c-icon-color--success {
  color: var(--icon__color--success);
}

// Specific icon variations

.ds-c-icon--arrow-up {
  transform: rotate(-90deg);
}

.ds-c-icon--arrow-left {
  transform: rotate(180deg);
}

.ds-c-icon--arrow-down {
  transform: rotate(90deg);
}

.ds-c-icon--pdf__text {
  fill: var(--color-white);

  @media (-ms-high-contrast: active), (forced-colors: active) {
    fill: Window;
  }
}

.ds-c-icon--star {
  @media (-ms-high-contrast: active), (forced-colors: active) {
    path {
      fill: Window;
      stroke: WindowText;
    }
  }
}

.ds-c-icon--star-filled {
  @media (-ms-high-contrast: active), (forced-colors: active) {
    path {
      fill: WindowText;
      stroke: WindowText;
    }
  }
}

.ds-c-icon--usa-flag {
  @media (-ms-high-contrast: active), (forced-colors: active) {
    forced-color-adjust: none;
    -ms-high-contrast-adjust: none;

    path:nth-of-type(1),
    path:nth-of-type(5) {
      fill: #ffffff;
    }

    path:nth-of-type(2),
    path:nth-of-type(4) {
      fill: #db3e1f;
    }

    path:nth-of-type(3) {
      fill: #1e33b1;
    }
  }
}

.ds-c-icon--minus-circle {
  @media (-ms-high-contrast: active), (forced-colors: active) {
    .ds-c-icon--minus-circle__circle {
      fill: Window;
      stroke: WindowText;
    }

    .ds-c-icon--minus-circle__group {
      fill: WindowText;
    }
  }
}

.ds-c-icon--plus-circle {
  @media (-ms-high-contrast: active), (forced-colors: active) {
    .ds-c-icon--plus-circle__circle {
      fill: Window;
      stroke: WindowText;
    }

    .ds-c-icon--plus-circle__group {
      fill: WindowText;
    }
  }
}
