@import '../settings/index.scss';

$table-border-color: $color-black !default;
$table-header-background-color: $color-gray-lightest !default;
$table-striped-background-color: $color-gray-lightest !default;
$table-striped-header-background-color: $color-gray-lightest !default;
$table-padding: $spacer-2 !default;
$table-dense-padding: $spacer-half $spacer-2 !default;

.ds-c-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;

  th,
  thead td {
    background-color: $table-header-background-color;
    text-align: left;
  }

  tbody th {
    font-weight: $font-normal;
  }

  th,
  td {
    border: 1px solid $table-border-color;
    padding: $table-padding;
  }
}

.ds-c-table--borderless {
  thead {
    th,
    tr {
      background-color: transparent;
    }

    th {
      border-top: 0;
    }
  }

  th,
  td {
    border-left: 0;
    border-right: 0;
  }
}

.ds-c-table--dense {
  th,
  td {
    padding: $table-dense-padding;
  }
}

.ds-c-table--striped {
  thead {
    th,
    tr {
      background-color: $table-striped-header-background-color;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: $table-striped-background-color;
    }

    tr:nth-child(odd)::before {
      background-color: transparent;
    }
  }
}

.ds-c-table__wrapper {
  overflow-x: auto;
}

.ds-c-table__caption {
  font-weight: $font-bold;
  margin-bottom: $spacer-1;
  text-align: left;
}

@mixin stacked-table-styles {
  thead tr {
    // Hide column headings when responsive table stacked vertically on narrow viewports
    // .ds-u-visibility--screen-reader
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
    word-wrap: normal;
  }

  // Set to display: block for narrow viewports
  caption {
    display: block;
  }

  th,
  td {
    border-bottom-width: 0;
    display: block;
  }

  // Style dividers between different table rows
  tr {
    // Every row has a bottom border
    border-bottom: $spacer-half solid $table-border-color;
    border-top: 0;
    display: block;

    // The first row has a top border
    &:first-child {
      th:first-child,
      td:first-child {
        border-top: $spacer-half solid $table-border-color;
      }
    }

    // Apply striped styling on stacked table
    &:nth-child(even) {
      td,
      th {
        background-color: inherit;
      }
    }
  }

  // stylelint-disable selector-no-qualifying-type
  th[data-title],
  td[data-title] {
    // Add column heading via psuedo element
    &::before {
      content: attr(data-title);
      display: block;
      font-weight: bold;
      padding-bottom: $spacer-half;
    }
  }
  // stylelint-enable selector-no-qualifying-type
}

.ds-c-table--stacked {
  @include stacked-table-styles;
}

.ds-c-sm-table--stacked {
  @media (max-width: $width-sm) {
    @include stacked-table-styles;
  }
}

.ds-c-md-table--stacked {
  @media (max-width: $width-md) {
    @include stacked-table-styles;
  }
}

.ds-c-lg-table--stacked {
  @media (max-width: $width-lg) {
    @include stacked-table-styles;
  }
}
