@use '../mixins';
@use '../layout' as *;

.ds-c-tabs {
  border-bottom: 1px solid var(--tabs__border-color);
  display: flex;
}

/*
`<TabPanel>`
*/
.ds-c-tabs__panel {
  background-color: var(--tabs-panel__background-color);
  border: 1px solid var(--tabs__border-color);
  border-block-start: 0;
  padding: $spacer-3;

  &[aria-hidden='true'] {
    display: none;
  }
}

/*
`<Tab>`
*/
.ds-c-tabs__item,
.ds-c-tabs__item:visited {
  appearance: none;
  background-color: var(--tabs__background-color);
  border-block: 1px solid var(--tabs__border-color);
  border-inline-start: 1px solid var(--tabs__border-color);
  border-radius: 0;
  color: var(--tabs__color);
  display: inline-block;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-reset);
  margin-block-end: -1px;
  padding: $spacer-2 $spacer-1;
  position: relative;
  text-decoration: none;
  // Temporarily disable animation
  //transition: border-bottom-color $animation-speed-2 $ease-in-out-expo;

  @media (min-width: $media-width-sm) {
    padding-inline: $spacer-2;
  }

  // Increase size on larger screens
  @media (min-width: $media-width-md) {
    font-size: var(--font-size-base);
    padding-inline: $spacer-3;
  }

  &:last-child {
    border-inline-end: 1px solid var(--tabs__border-color);
  }

  // A pseudo-element for the top border on selected tabs
  &::after {
    background-color: var(--tabs__border-color--selected);
    content: '';
    height: $spacer-half;
    inset: -1px -1px auto;
    opacity: 0;
    position: absolute;
    transform: scale3d(0, 1, 1);
  }

  // States
  &[aria-selected='true'] {
    background-color: var(--tabs__background-color--selected);
    border-block-end-color: var(
      --tabs__background-color--selected
    ); // Essentially turning off the bottom border
    color: var(--tabs__color--selected);
    pointer-events: none;

    &::after {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }

    @media (-ms-high-contrast: active), (forced-colors: active) {
      border-color: windowText;
      border-bottom-color: window;
      color: windowText;

      &::after {
        background-color: windowText;
      }
    }
  }

  &:hover {
    background-color: var(--tabs__background-color--hover);
    color: var(--tabs__color--hover);
  }

  &:focus {
    @include mixins.focus-styles;
    @include mixins.focus-styles-position;
  }

  &:active {
    color: var(--tabs__color--active);
  }

  &[aria-disabled='true'] {
    background-color: var(--tabs__background-color--disabled);
    border-color: var(--tabs__border-color--disabled);
    color: var(--tabs__color--disabled);

    @media (-ms-high-contrast: active), (forced-colors: active) {
      color: GrayText;
      cursor: not-allowed;
    }
  }

  // SVG icons
  > svg {
    @include mixins.inline-icon;
  }
}
