@import '../settings/index.scss';

.ds-c-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;

  th,
  thead td {
    background-color: $color-gray-lightest;
    text-align: left;
  }

  tbody th {
    font-weight: $font-normal;
  }

  th,
  td {
    border: 1px solid $color-gray;
    padding: $spacer-2;
  }
}

.ds-c-table--borderless {
  thead {
    th,
    tr {
      background-color: transparent;
    }

    th {
      border-top: 0;
    }
  }

  th,
  td {
    border-left: 0;
    border-right: 0;
  }
}

@mixin ds-c-table--stacked {
  $stacked-title-max-width: 120px;

  thead tr {
    /* Hide column headings when responsive table stacked vertically on smaller viewports */
    // ds-u-visibility--screen-reader
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
    word-wrap: normal;
  }

  tr,
  caption {
    display: block;
  }

  td,
  th {
    border: 0;
    border-top: 1px solid;
    display: grid;
    grid-template-columns: $stacked-title-max-width 1fr;
    position: relative;

    // stylelint-disable selector-no-qualifying-type
    &[data-title]::before {
      content: attr(data-title);
      // stylelint-enable selector-no-qualifying-type
      flex: none;
      font-weight: bold;
      max-width: $stacked-title-max-width;
      width: 50%;
    }

    > * {
      grid-column: 2;
    }
  }

  tr {
    border: 1px solid;
    display: block;
    margin: 0 0 1rem;
    padding-bottom: 2px;
    position: relative;

    &::after {
      background-color: $color-gray-lightest;
      border-right: 1px solid;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      max-width: $stacked-title-max-width;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: -9999;
    }
  }

  td:first-child,
  th:first-child {
    border-top: 0;
  }

  &.ds-c-table--striped tbody {
    tr:nth-child(even) {
      background-color: $color-gray-lightest;
    }
  }

  &.ds-c-table--borderless {
    tr {
      border: 0;

      &::after {
        background-color: transparent;
        border-right: 0;
      }
    }

    td:last-child,
    th:last-child {
      border-bottom: 2px solid;
    }
  }
}

.ds-c-sm-table--stacked {
  @media only screen and (max-width: $width-sm) {
    @include ds-c-table--stacked;
  }
}

.ds-c-md-table--stacked {
  @media only screen and (max-width: $width-md) {
    @include ds-c-table--stacked;
  }
}

.ds-c-lg-table--stacked {
  @media only screen and (max-width: $width-lg) {
    @include ds-c-table--stacked;
  }
}

.ds-c-table--striped tbody {
  tr:nth-child(even) {
    background-color: $color-gray-lightest;
  }
}

.ds-c-table__wrapper {
  overflow-x: auto;
}

.ds-c-table__caption {
  font-weight: $font-bold;
  margin-bottom: $spacer-1;
  text-align: left;
}
