@import '../settings/index.scss';

$table-border-color: $color-gray !default;
$table-header-background-color: $color-gray-lightest !default;
$table-striped-background-color: $color-gray-lightest !default;
$table-striped-header-background-color: $color-gray-lightest !default;
$table-padding: $spacer-2 !default;
$table-dense-padding: $spacer-half $spacer-2 !default;

.ds-c-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;

  th,
  thead td {
    background-color: $table-header-background-color;
    text-align: left;
  }

  tbody th {
    font-weight: $font-normal;
  }

  th,
  td {
    border: 1px solid $table-border-color;
    padding: $table-padding;
  }
}

.ds-c-table--borderless {
  thead {
    th,
    tr {
      background-color: transparent;
    }

    th {
      border-top: 0;
    }
  }

  th,
  td {
    border-left: 0;
    border-right: 0;
  }
}

.ds-c-table--dense {
  th,
  td {
    padding: $table-dense-padding;
  }
}

.ds-c-table--striped {
  thead {
    th,
    tr {
      background-color: $table-striped-header-background-color;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: $table-striped-background-color;
    }

    tr:nth-child(odd)::before {
      background-color: transparent;
    }
  }
}

.ds-c-table__wrapper {
  overflow-x: auto;
}

.ds-c-table__caption {
  font-weight: $font-bold;
  margin-bottom: $spacer-1;
  text-align: left;
}

@mixin table-stacked {
  thead tr {
    // Hide column headings when responsive table stacked vertically on narrow viewports
    // ds-u-visibility--screen-reader
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
    word-wrap: normal;
  }

  // Set to display: block for narrow viewports
  caption {
    display: block;
  }

  thead {
    display: none;
  }

  th,
  td {
    border-bottom-width: 0;
    display: block;
  }

  tr {
    border-bottom-color: $table-border-color;
    border-bottom-style: solid;
    border-bottom-width: 4px;

    border-top-width: 0;
    display: block;

    th:first-child,
    td:first-child {
      border-top-width: 0;
    }

    &:nth-child(odd) {
      td,
      th {
        background-color: inherit;
      }
    }

    &:first-child {
      th:first-child,
      td:first-child {
        border-top-color: $table-border-color;
        border-top-style: solid;
        border-top-width: 4px;
      }
    }
  }

  // stylelint-disable selector-no-qualifying-type
  th[data-title],
  td[data-title] {
    padding-bottom: 12px;

    &::before {
      content: attr(data-title);
      display: block;
      font-weight: bold;
      margin: -8px -16px 0;
      padding: 12px 16px 4px;
    }
  }
  // stylelint-enable selector-no-qualifying-type

  // Clears striped styling for stacked table
  &.ds-c-table--striped tbody {
    tr:nth-child(even) {
      background-color: $color-white;
    }
  }
}

.ds-c-table--stacked {
  @include table-stacked;
}

.ds-c-sm-table--stacked {
  @media (max-width: $width-sm) {
    @include table-stacked;
  }
}

.ds-c-md-table--stacked {
  @media (max-width: $width-md) {
    @include table-stacked;
  }
}

.ds-c-lg-table--stacked {
  @media (max-width: $width-lg) {
    @include table-stacked;
  }
}
