@import '../settings/index.scss';

$table-header-background-color: $color-gray-lightest !default;
$table-striped-background-color: $color-gray-lightest !default;
$table-striped-header-background-color: $color-gray-lightest !default;
// Max-width of the header column for a stacked table
$table-stacked-header-max-width: 160px !default;

@mixin table-stacked {
  thead tr {
    /* Hide column headings when responsive table stacked vertically on smaller viewports */
    // ds-u-visibility--screen-reader
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
    word-wrap: normal;
  }

  tr,
  caption {
    display: block;
  }

  td,
  th {
    border: 0;
    border-top: 1px solid;
    display: grid;
    // CSS grid doesn't support word-wrap. Use minmax as a workaround
    // https://css-tricks.com/css-grid-in-ie-debunking-common-ie-grid-misconceptions/#fit-content-is-not-ie-friendly-but
    grid-template-columns: minmax(0, $table-stacked-header-max-width) 1fr;
    position: relative;

    // stylelint-disable selector-no-qualifying-type
    &[data-title]::before {
      content: attr(data-title);
      // stylelint-enable selector-no-qualifying-type
      flex: none;
      font-weight: bold;
      max-width: $table-stacked-header-max-width;
      // allow for spacing on right side of data-title column
      width: calc(100% - #{units(2)});
      word-wrap: break-word;
    }

    > * {
      grid-column: 2;
    }
  }

  tr {
    border: 1px solid;
    display: block;
    margin: 0 0 1rem;
    padding-bottom: 2px;
    position: relative;

    &::before {
      background-color: $color-gray-lightest;
      border-right: 1px solid;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      max-width: $table-stacked-header-max-width;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  td:first-child,
  th:first-child {
    border-top: 0;
  }

  &.ds-c-table--borderless {
    tr {
      border: 0;

      &::before {
        background-color: transparent;
        border-right: 0;
      }
    }

    td:last-child,
    th:last-child {
      border-bottom: 2px solid;
    }
  }
}

.ds-c-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;

  th,
  thead td {
    background-color: $table-header-background-color;
    text-align: left;
  }

  tbody th {
    font-weight: $font-normal;
  }

  th,
  td {
    border: 1px solid $color-gray;
    padding: units(2);
  }
}

.ds-c-table--borderless {
  thead {
    th,
    tr {
      background-color: transparent;
    }

    th {
      border-top: 0;
    }
  }

  th,
  td {
    border-left: 0;
    border-right: 0;
  }
}

.ds-c-table--stacked {
  @include table-stacked;
}

.ds-c-sm-table--stacked {
  @media only screen and (max-width: $width-sm) {
    @include table-stacked;
  }
}

.ds-c-md-table--stacked {
  @media only screen and (max-width: $width-md) {
    @include table-stacked;
  }
}

.ds-c-lg-table--stacked {
  @media only screen and (max-width: $width-lg) {
    @include table-stacked;
  }
}

.ds-c-table--striped {
  thead {
    th,
    tr {
      background-color: $table-striped-header-background-color;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: $table-striped-background-color;
    }

    tr:nth-child(odd)::before {
      background-color: transparent;
    }
  }
}

.ds-c-table__wrapper {
  overflow-x: auto;
}

.ds-c-table__caption {
  font-weight: $font-bold;
  margin-bottom: units(1);
  text-align: left;
}
