// Icon container is the border that appears on hover or focus
.ds-c-tooltip-icon__container {
  border: $spacer-half solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  height: $spacer-3;
  position: relative;
  vertical-align: middle;
  width: $spacer-3;

  @media (-ms-high-contrast: active), (forced-colors: active) {
    border-color: Window;
  }
}

// SVG icon styles/positioning
.ds-c-tooltip-icon {
  display: inline-block;
  fill: $tooltip-icon__color;
  height: 16px;
  left: 0;
  overflow: visible !important; /* stylelint-disable-line declaration-no-important -- fixes clipping issue in Firefox, overrides vendor style */
  position: absolute;
  text-align: center;
  top: 0;
  width: 16px;

  @media (-ms-high-contrast: active), (forced-colors: active) {
    path {
      fill: ButtonText;
    }
  }
}

// Add border style when tooltip is activated in addition to on hover
// TODO: deprecate and remove `ds-c-tooltip-icon--active class and use pseudo element selectors instead
.ds-c-tooltip-icon--active,
.ds-c-tooltip__trigger:active,
.ds-c-tooltip__trigger:hover,
.ds-c-tooltip__trigger:focus {
  .ds-c-tooltip-icon__container {
    border-color: $tooltip-icon__color;
    border-color: rgba($tooltip-icon__color, 0.25);
  }
}

.ds-c-tooltip-icon--inverse {
  fill: $tooltip-icon__color--inverse;
}

.ds-c-tooltip__trigger--inverse {
  // TODO: deprecate and remove `ds-c-tooltip-icon--active class and use pseudo element selectors instead
  &.ds-c-tooltip-icon--active,
  &.ds-c-tooltip__trigger:active,
  &.ds-c-tooltip__trigger:hover,
  &.ds-c-tooltip__trigger:focus {
    .ds-c-tooltip-icon__container {
      border-color: $tooltip-icon__color--inverse;
      border-color: rgba($tooltip-icon__color--inverse, 0.25);
    }
  }
}
