// stylelint-disable selector-class-pattern
// Icon container is the border that appears on hover or focus
.ds-c-tooltip-icon__container {
  background-clip: content-box;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: $tooltip-plus-border-size;
  box-sizing: border-box;
  display: inline-block;
  height: $tooltip-plus-border-size;
  position: relative;
  width: $tooltip-plus-border-size;
  &.ds-c-tooltip-icon--inverse {
    .ds-c-tooltip-icon--fill {
      fill: $color-white;
    }
  }
}

// Add border style when tooltip is activated 
.ds-c-tooltip-icon--active {
  .ds-c-tooltip-icon__container {
    border: 4px solid $color-white;
    box-shadow: 1px 1px $shadow-base-blur-radius $shadow-base-color;

    &.ds-c-tooltip-icon--inverse {
      border: 4px solid $color-gray-lighter;
    }
  }
}

// SVG icon styles/positioning
.ds-c-tooltip-icon {
  display: inline-block;
  height: $tooltip-icon-size;
  left: 0;
  // stylelint-disable declaration-no-important
  // fixes clipping issue in Firefox, overrides vendor style
  overflow: visible !important;
  // stylelint-enable declaration-no-important
  position: absolute;
  text-align: center;
  top: 0;
  width: $tooltip-icon-size;

  .ds-c-tooltip-icon--fill {
    fill: $color-gray;
  }
}

// stylelint-enable selector-class-pattern
