@use '../layout' as *;
@use '../base' as *;
@use '../mixins';

.ds-c-tooltip {
  background-color: var(--tooltip__background-color);
  border: var(--tooltip__border-width) solid var(--tooltip__border-color);
  border-radius: var(--radius-large);
  box-shadow: 0 0 17px var(--tooltip__box-shadow-color);
  color: var(--tooltip__color);
  padding: $spacer-2;
  max-width: 300px;
  margin: initial;
}

.ds-c-tooltip__close-button {
  aspect-ratio: 1;
  line-height: 1;
  color: var(--color-primary);
  margin: -0.625rem -0.625rem 0 0;
  right: unset;

  float: right;
  shape-outside: circle(50%);

  > svg {
    aspect-ratio: 1;
    height: 1em;
  }
}

.ds-c-tooltip__content {
  > * {
    margin: 0;
  }

  > * + * {
    margin-start: 1em;
  }
}

.tooltip-trigger__label--inline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.125em;
}

.tooltip-trigger--inline {
  background-color: var(--color-primary);
  border-radius: 50%;
  font-size: 0.5em;
  padding: 0.25em;
  min-height: 1rem;
  min-width: 1rem;
  aspect-ratio: 1;
  vertical-align: middle;
}
