// Paths
$font-path: '../fonts' !default;
$image-path: '../images' !default;

// Override these variables to change what CSS rulesets get outputted when
// the Sass is transpiled to CSS
$ds-include-base-html-rulesets: true !default;

// Set $ds-include-focus-styles to enable the CMSDS focus styles.
$ds-include-focus-styles: true !default;

// Set $ds-include-choice-error-highlight to automatically add an error highlight to choice components inside a ChoiceList with an errorMessage.
$ds-include-choice-error-highlight: false !default;
