// Generic
$color-white: color('white') !default;
$color-base: color('ink') !default;
$color-black: color('black') !default;

$color-gray-dark: color('base-darker') !default;
$color-gray: color('base-dark') !default;
$color-gray-medium: color('base') !default;
$color-gray-light: color('base-light') !default;
$color-gray-lighter: color('base-lighter') !default;
$color-gray-lightest: color('base-lightest') !default;

$color-gray-warm-dark: #494440 !default;
$color-gray-warm-light: #e4e2e0 !default;
$color-gray-cool-light: #dce4ef !default;

$color-primary: color('primary') !default;
$color-primary-darker: color('primary-dark') !default;
$color-primary-darkest: color('primary-darker') !default;

$color-primary-alt: color('accent-cool') !default;
$color-primary-alt-dark: color('accent-cool-darker') !default;
$color-primary-alt-darkest: color('accent-cool-darker') !default;
$color-primary-alt-light: color('accent-cool-light') !default;
$color-primary-alt-lightest: color('accent-cool-lighter') !default;

// I think we should get rid of all these color-red, color-gold and color-green.
// USWDS has a lot of color tokens that folks to use for specific instances

$color-red: #e31c3d !default;
$color-red-dark: #cd2026 !default;
$color-red-darker: #b31e22 !default;
$color-red-darkest: #981b1e !default;
$color-red-light: #e59393 !default;
$color-red-lighter: #f5adb9 !default;
$color-red-lightest: #f9dede !default;

$color-gold: #fdb81e !default;
$color-gold-dark: #e4a61b !default;
$color-gold-darker: #ca9318 !default;
$color-gold-darkest: #b18115 !default;
$color-gold-light: #f9c642 !default;
$color-gold-lighter: #fad980 !default;
$color-gold-lightest: #fff1d2 !default;

$color-green: #2e8540 !default;
$color-green-dark: #2a7a3b !default;
$color-green-darker: #266e35 !default;
$color-green-darkest: #174320 !default;
$color-green-light: #4aa564 !default;
$color-green-lighter: #94bfa2 !default;
$color-green-lightest: #e7f4e4 !default;

$color-cool-blue: #205493 !default;
$color-cool-blue-light: #4773aa !default;
$color-cool-blue-lighter: #8ba6ca !default;
$color-cool-blue-lightest: #dce4ef !default;

// State Colors
$color-error: color('error') !default;
$color-error-dark: color('error-dark') !default;
$color-error-darker: color('error-darker') !default;
$color-error-light: color('error-light') !default;
$color-error-lighter: color('error-lighter') !default;
$color-error-darkest: $color-red-darkest !default; // doesn't exist in USWDS
$color-error-lightest: $color-red-lightest !default; // doesn't exist in USWDS

$color-warn: color('warning') !default;
$color-warn-dark: color('warning-dark') !default;
$color-warn-darker: color('warning-darker') !default;
$color-warn-light: color('warning-light') !default;
$color-warn-lighter: color('warning-lighter') !default;
$color-warn-darkest: $color-gold-darkest !default; // doesn't exist in USWDS
$color-warn-lightest: $color-gold-lightest !default; // doesn't exist in USWDS

$color-success: color('success') !default;
$color-success-dark: color('success-dark') !default;
$color-success-darker: color('success-darker') !default;
$color-success-light: color('success-light') !default;
$color-success-lighter: color('success-lighter') !default;
$color-success-darkest: $color-green-darkest !default; // doesn't exist in USWDS
$color-success-lightest: $color-green-lightest !default; // doesn't exist in USWDS

// Text
$color-muted: $color-gray !default;
$color-base-inverse: $color-white !default;
$color-muted-inverse: color('gray-10') !default;

// Focus
$focus-color: color('yellow-20v') !default;
$focus-color-inverse: color('yellow-20v') !default;
$focus-border-inverse: color('yellow-50') !default;
$focus-shadow: inset 0 0 0 units(1px) $color-base;
$focus-shadow-inverse: inset 0 0 0 units(1px) $color-base !default;
$focus-shadow-link: 0 units(0.5) $color-base;
$focus-shadow-link-inverse: 0 units(0.5) $focus-border-inverse !default;

$color-visited: color('indigo-70') !default;

// Background
$color-background: $color-white !default;
$color-background-inverse: $color-primary-darkest;
$color-background-dialog-mask: rgba(color('black'), 0.5) !default;
$color-background-dialog: $color-white !default;

// Border
$border-color: $color-gray-lighter !default;
$border-color-dark: $color-gray-dark !default;
$border-color-inverse: $color-white !default;
