$accordion__color: #262626 !default;
$accordion__background-color: #f2f2f2 !default;
$accordion__background-color--hover: #d9d9d9 !default;
$accordion__border-color: #f2f2f2 !default;
$accordion-button__color: #262626 !default;
$accordion-content__background-color: #ffffff !default;
$alert__background-color: #e6f9fd !default;
$alert__background-color--error: #fce8ec !default;
$alert__background-color--lightweight: #ffffff !default;
$alert__background-color--success: #e7f3e7 !default;
$alert__background-color--warn: #fef9e9 !default;
$alert__border-left-color: #02bfe7 !default;
$alert__border-color--error: #e31c3d !default;
$alert__border-color--success: #12890e !default;
$alert__border-color--warn: #f8c41f !default;
$alert__font-color: #262626 !default;
$alert__icon-size: 40px !default;
$alert__padding: 16px !default;
$alert-bar__width: 8px !default;
$alert-link__font-color: #004f84 !default;
$alert-link__font-color--hover: #00395e !default;
$alert-link__font-color--focus: #00395e !default;
$alert-link__font-color--active: #00395e !default;
$autocomplete__background-color: #ffffff !default;
$autocomplete__border-color: #d9d9d9 !default;
$autocomplete-item__font-color: #0071bc !default;
$autocomplete-item__background-color--active: #016074 !default;
$autocomplete-item__font-color--active: #ffffff !default;
$autocomplete-item-message__font-color: #5a5a5a !default;
$badge__background-color: #5a5a5a !default;
$badge__background-color--alert: #e31c3d !default;
$badge__background-color--info: #0071bc !default;
$badge__background-color--success: #12890e !default;
$badge__background-color--warn: #f8c41f !default;
$badge__font-color: #ffffff !default;
$badge__font-color--warn: #262626 !default;
$button__background-color--active: #d9d9d9 !default;
$button__background-color--disabled: transparent !default;
$button__background-color--hover: #f2f2f2 !default;
$button__background-color: transparent !default;
$button__border-color--active: currentColor !default;
$button__border-color--disabled: currentColor !default;
$button__border-color--hover: currentColor !default;
$button__border-color: currentColor !default;
$button__border-radius: 3px !default;
$button__border-width: 1px !default;
$button__color--active: #00395e !default;
$button__color--disabled: #d9d9d9 !default;
$button__color--hover: #004f84 !default;
$button__color: #0071bc !default;
$button__font-weight: 700 !default;
$button-icon__fill: currentColor !default;
$button-alt__background-color--active: #d9d9d9 !default;
$button-alt__background-color--disabled: transparent !default;
$button-alt__background-color--hover: #f2f2f2 !default;
$button-alt__background-color: transparent !default;
$button-alt__border-color--active: currentColor !default;
$button-alt__border-color--disabled: currentColor !default;
$button-alt__border-color--hover: currentColor !default;
$button-alt__border-color: currentColor !default;
$button-alt__color--active: #094507 !default;
$button-alt__color--disabled: #d9d9d9 !default;
$button-alt__color--hover: #0d600a !default;
$button-alt__color: #12890e !default;
$button-dark__background-color--active: transparent !default;
$button-dark__background-color--disabled: transparent !default;
$button-dark__background-color--hover: transparent !default;
$button-dark__background-color: transparent !default;
$button-dark__border-color--active: currentColor !default;
$button-dark__border-color--disabled: currentColor !default;
$button-dark__border-color--hover: currentColor !default;
$button-dark__border-color: currentColor !default;
$button-dark__color--active: #d9d9d9 !default;
$button-dark__color--disabled: #5a5a5a !default;
$button-dark__color--hover: #f2f2f2 !default;
$button-dark__color: #ffffff !default;
$button-dark-alt__background-color--active: transparent !default;
$button-dark-alt__background-color--disabled: transparent !default;
$button-dark-alt__background-color--hover: transparent !default;
$button-dark-alt__background-color: transparent !default;
$button-dark-alt__border-color--active: currentColor !default;
$button-dark-alt__border-color--disabled: currentColor !default;
$button-dark-alt__border-color--hover: currentColor !default;
$button-dark-alt__border-color: currentColor !default;
$button-dark-alt__color--active: #4ed2ee !default;
$button-dark-alt__color--disabled: #5a5a5a !default;
$button-dark-alt__color--hover: #b3ecf8 !default;
$button-dark-alt__color: #e6f9fd !default;
$button-solid__background-color--active: #00395e !default;
$button-solid__background-color--disabled: #d9d9d9 !default;
$button-solid__background-color--hover: #004f84 !default;
$button-solid__background-color: #0071bc !default;
$button-solid__border-color--active: #00395e !default;
$button-solid__border-color--disabled: #d9d9d9 !default;
$button-solid__border-color--hover: #004f84 !default;
$button-solid__border-color: #0071bc !default;
$button-solid__color--active: #ffffff !default;
$button-solid__color--disabled: #404040 !default;
$button-solid__color--hover: #ffffff !default;
$button-solid__color: #ffffff !default;
$button-solid-alt__background-color--active: #094507 !default;
$button-solid-alt__background-color--disabled: #d9d9d9 !default;
$button-solid-alt__background-color--hover: #0d600a !default;
$button-solid-alt__background-color: #12890e !default;
$button-solid-alt__border-color--active: #094507 !default;
$button-solid-alt__border-color--disabled: #d9d9d9 !default;
$button-solid-alt__border-color--hover: #0d600a !default;
$button-solid-alt__border-color: #12890e !default;
$button-solid-alt__color--active: #ffffff !default;
$button-solid-alt__color--disabled: #404040 !default;
$button-solid-alt__color--hover: #ffffff !default;
$button-solid-alt__color: #ffffff !default;
$button-solid-dark__background-color--active: #d9d9d9 !default;
$button-solid-dark__background-color--disabled: #404040 !default;
$button-solid-dark__background-color--hover: #f2f2f2 !default;
$button-solid-dark__background-color: #ffffff !default;
$button-solid-dark__border-color--active: #d9d9d9 !default;
$button-solid-dark__border-color--disabled: #404040 !default;
$button-solid-dark__border-color--hover: #f2f2f2 !default;
$button-solid-dark__border-color: #ffffff !default;
$button-solid-dark__color--active: #262626 !default;
$button-solid-dark__color--disabled: #262626 !default;
$button-solid-dark__color--hover: #262626 !default;
$button-solid-dark__color: #262626 !default;
$button-solid-dark-alt__background-color--active: #02bfe7 !default;
$button-solid-dark-alt__background-color--disabled: #404040 !default;
$button-solid-dark-alt__background-color--hover: #4ed2ee !default;
$button-solid-dark-alt__background-color: #b3ecf8 !default;
$button-solid-dark-alt__border-color--active: #02bfe7 !default;
$button-solid-dark-alt__border-color--disabled: #404040 !default;
$button-solid-dark-alt__border-color--hover: #4ed2ee !default;
$button-solid-dark-alt__border-color: #b3ecf8 !default;
$button-solid-dark-alt__color--active: #262626 !default;
$button-solid-dark-alt__color--disabled: #262626 !default;
$button-solid-dark-alt__color--hover: #262626 !default;
$button-solid-dark-alt__color: #262626 !default;
$button-ghost__background-color--active: transparent !default;
$button-ghost__background-color--disabled: transparent !default;
$button-ghost__background-color--hover: transparent !default;
$button-ghost__background-color: transparent !default;
$button-ghost__border-color--active: transparent !default;
$button-ghost__border-color--disabled: transparent !default;
$button-ghost__border-color--hover: transparent !default;
$button-ghost__border-color: transparent !default;
$button-ghost__color--active: #00395e !default;
$button-ghost__color--disabled: #d9d9d9 !default;
$button-ghost__color--hover: #004f84 !default;
$button-ghost__color: #0071bc !default;
$button-ghost-alt__background-color--active: transparent !default;
$button-ghost-alt__background-color--disabled: transparent !default;
$button-ghost-alt__background-color--hover: transparent !default;
$button-ghost-alt__background-color: transparent !default;
$button-ghost-alt__border-color--active: transparent !default;
$button-ghost-alt__border-color--disabled: transparent !default;
$button-ghost-alt__border-color--hover: transparent !default;
$button-ghost-alt__border-color: transparent !default;
$button-ghost-alt__color--active: #094507 !default;
$button-ghost-alt__color--disabled: #d9d9d9 !default;
$button-ghost-alt__color--hover: #0d600a !default;
$button-ghost-alt__color: #12890e !default;
$button-ghost-dark__background-color--active: transparent !default;
$button-ghost-dark__background-color--disabled: transparent !default;
$button-ghost-dark__background-color--hover: transparent !default;
$button-ghost-dark__background-color: transparent !default;
$button-ghost-dark__border-color--active: transparent !default;
$button-ghost-dark__border-color--disabled: transparent !default;
$button-ghost-dark__border-color--hover: transparent !default;
$button-ghost-dark__border-color: transparent !default;
$button-ghost-dark__color--active: #d9d9d9 !default;
$button-ghost-dark__color--disabled: #5a5a5a !default;
$button-ghost-dark__color--hover: #f2f2f2 !default;
$button-ghost-dark__color: #ffffff !default;
$button-ghost-dark-alt__background-color--active: transparent !default;
$button-ghost-dark-alt__background-color--disabled: transparent !default;
$button-ghost-dark-alt__background-color--hover: transparent !default;
$button-ghost-dark-alt__background-color: transparent !default;
$button-ghost-dark-alt__border-color--active: transparent !default;
$button-ghost-dark-alt__border-color--disabled: transparent !default;
$button-ghost-dark-alt__border-color--hover: transparent !default;
$button-ghost-dark-alt__border-color: transparent !default;
$button-ghost-dark-alt__color--active: #02bfe7 !default;
$button-ghost-dark-alt__color--disabled: #5a5a5a !default;
$button-ghost-dark-alt__color--hover: #4ed2ee !default;
$button-ghost-dark-alt__color: #b3ecf8 !default;
$choice__background-color: #ffffff !default;
$choice__background-color--checked: #0071bc !default;
$choice__background-color--disabled: #d9d9d9 !default;
$choice__background-color--inverse: #ffffff00 !default;
$choice__background-color--disabled--inverse: #e9ecf126 !default;
$choice__border-color: #262626 !default;
$choice__border-color--checked: #0071bc !default;
$choice__border-color--disabled: #a6a6a6 !default;
$choice__border-color--error: #e31c3d !default;
$choice__border-color--inverse: #ffffff !default;
$choice__border-color--left: #0071bc !default;
$choice__border-color--focus: #004f84 !default;
$choice__border-color--disabled--inverse: #a6a6a6 !default;
$choice__border-radius: 0px !default;
$choice__border-width: 2px !default;
$choice__color--unchecked: #ffffff !default;
$choice__color--disabled: #5a5a5a !default;
$choice__size: 32px !default;
$choice__size--small: 20px !default;
$choice__size-radio: 22px !default;
$choice__size-radio--small: 12px !default;
$choice-label__color--disabled: #5a5a5a !default;
$choice-label__color--disabled--inverse: #e9ecf1 !default;
$dialog__background-color: #ffffff !default;
$dialog__padding: 32px !default;
$dialog-overlay__background-color: #00000080 !default;
$drawer__animation-timing: 0.3s !default;
$drawer__background-color: #ffffff !default;
$drawer__border-color: #d9d9d9 !default;
$drawer-close__color: #000000 !default;
$drawer-header__background-color: #f2f2f2 !default;
$drawer-footer__background-color: #e6f9fd !default;
$drawer-toggle__background-color--hover: #02bfe7 !default;
$drawer-toggle__color--hover: #ffffff !default;
$drawer-toggle__background-color--hover--inverse: #ffffff !default;
$drawer-toggle__color--hover--inverse: #404040 !default;
$dropdown__background-color: #ffffff !default;
$dropdown__icon-size: 10px !default;
$filter-chip__border-radius: 9999px !default;
$filter-chip__background-color: #e6f9fd !default;
$filter-chip__border-color: #0071bc !default;
$filter-chip__color: #262626 !default;
$filter-chip__background-color--active: #0071bc !default;
$filter-chip__border-color--active: #0071bc !default;
$filter-chip__color--active: #ffffff !default;
$filter-chip-icon__color: #262626 !default;
$filter-chip-icon__color-active: #ffffff !default;
$form-label__color--inverse: #ffffff !default;
$form__max-width: 460px !default;
$form__max-width--small: 6em !default;
$form__max-width--medium: 12em !default;
$form-hint__color: #5a5a5a !default;
$form-hint__color--inverse: #e9ecf1 !default;
$form-error__color: #e31c3d !default;
$form-error__color--inverse: #f18e9e !default;
$icon__color__error: #e31c3d !default;
$icon__color--inverse: #ffffff !default;
$icon__color--primary: #0071bc !default;
$icon__color--success: #12890e !default;
$icon__color--warn: #f8c41f !default;
$link__color: #0071bc !default;
$link__color--active: #00395e !default;
$link__color--hover: #004f84 !default;
$link__color--visited: #4c2c92 !default;
$link-inverse__color: #ffffff !default;
$link-inverse__color--active: #e9ecf1 !default;
$link-inverse__color--hover: #e9ecf1 !default;
$link-inverse__color--visited: #e9ecf1 !default;
$link__text-decoration-offset: auto !default;
$link__text-decoration-thickness: 1px !default;
$link__text-decoration-thickness--hover: 1px !default;
$pagination-link__color: #0071bc !default;
$pagination-link__color--hover: #004f84 !default;
$pagination-link__color--active: #00395e !default;
$pagination-link__color--focus: #004f84 !default;
$pagination-link__color--disabled: #d9d9d9 !default;
$pagination-current-page__color: #262626 !default;
$pagination-overflow__color: #5a5a5a !default;
$pagination-page-count__color: #5a5a5a !default;
$review__border-color: #d9d9d9 !default;
$steplist__color: #5a5a5a !default;
$steplist__color--current: #0071bc !default;
$steplist__background-color--current: #0071bc !default;
$steplist-step__color: #5a5a5a !default;
$steplist-step__border-color: #d9d9d9 !default;
$steplist-step__border-color--default: #5a5a5a !default;
$steplist-step__color--current: #ffffff !default;
$steplist-step__color--completed: #262626 !default;
$steplist-step__background-color--completed: #262626 !default;
$spinner__background-color: #ffffff !default;
$spinner__color: #262626 !default;
$spinner__background-color--inverse: #00395e !default;
$spinner__color--inverse: #ffffff !default;
$table__padding: 16px !default;
$table__border-color: #000000 !default;
$table-header__background-color: #f2f2f2 !default;
$table-striped__background-color: #f2f2f2 !default;
$table-striped-header__background-color: #f2f2f2 !default;
$tabs__border-color: #d9d9d9 !default;
$tabs__background-color: #ffffff !default;
$tabs__color: #262626 !default;
$tabs-selected__background-color: #0071bc !default;
$tabs-selected__border-color: #ffffff !default;
$tabs-selected__color: #0071bc !default;
$tabs-selected__border-color--active: #0071bc !default;
$tabs__color--hover: #0071bc !default;
$tabs__color--active: #004f84 !default;
$tabs__background-color--disabled: #d9d9d9 !default;
$tabs__border-color--disabled: #d9d9d9 !default;
$tabs__color--disabled: #404040 !default;
$text-input__line-height: 1.3 !default;
$text-input__background-color--disabled: #d9d9d9 !default;
$text-input__border-width: 2px !default;
$text-input__border-width--error: 3px !default;
$text-input__border-width--success: 3px !default;
$text-input__border-color: #262626 !default;
$text-input__border-color--disabled: #a6a6a6 !default;
$text-input__border-color--error: #e31c3d !default;
$text-input__border-color--error--inverse: #f18e9e !default;
$text-input__border-color--inverse: #000000 !default;
$text-input__border-color--success: #2a9526 !default;
$text-input__color: #262626 !default;
$text-input__padding: 8px !default;
$text-input__border-radius: 3px !default;
$tooltip__background-color: #ffffff !default;
$tooltip__border-color: #404040 !default;
$tooltip__color: #262626 !default;
$tooltip__box-shadow-color: #a6a6a6 !default;
$tooltip-icon__color: #0071bc !default;
$tooltip-icon__color--inverse: #ffffff !default;
$tooltip-trigger__color: #0071bc !default;
$usa-banner__background-color: #f2f2f2 !default;
$usa-banner__color: #000000 !default;
$usa-banner-close__background-color: #a6a6a6 !default;
$usa-banner-action__color: #004f84 !default;
$usa-banner-lock-icon__color: #2a9526 !default;
$vertical-nav-item__background-color--hover: #f2f2f2 !default;
$vertical-nav-item__color--hover: #0071bc !default;
$vertical-nav-item__border-color: #5a5a5a !default;
$vertical-nav-label__color: #262626 !default;
$vertical-nav-label-icon__color: #262626 !default;
$vertical-nav-label__border-color--current: #0071bc !default;
$vertical-nav-label__color--current: #0071bc !default;
