$choice__background-color: var(--choice__background-color) !default;
$choice__background-color--checked: var(--choice__background-color--checked) !default;
$choice__background-color--disabled: var(--choice__background-color--disabled) !default;
$choice__background-color--inverse: var(--choice__background-color--inverse) !default;
$choice__background-color--disabled--inverse: var(
  --choice__background-color--disabled--inverse
) !default;
$choice__border-color: var(--choice__border-color) !default;
$choice__border-color--checked: var(--choice__border-color--checked) !default;
$choice__border-color--disabled: var(--choice__border-color--disabled) !default;
$choice__border-color--error: var(--choice__border-color--error) !default;
$choice__border-color--inverse: var(--choice__border-color--inverse) !default;
$choice__border-color--left: var(--choice__border-color--left) !default;
$choice__border-color--focus: var(--choice__border-color--focus) !default;
$choice__border-color--disabled--inverse: var(--choice__border-color--disabled--inverse) !default;
$choice__border-radius: var(--choice__border-radius) !default;
$choice__border-width: var(--choice__border-width) !default;
$choice__color--unchecked: var(--choice__color--unchecked) !default;
$choice__color--disabled: var(--choice__color--disabled) !default;
$choice__size: var(--choice__size) !default;
$choice__size--small: var(--choice__size--small) !default;
$choice__size-radio: var(--choice__size-radio) !default;
$choice__size-radio--small: var(--choice__size-radio--small) !default;
$choice-label__color--disabled: var(--choice-label__color--disabled) !default;
$choice-label__color--disabled--inverse: var(--choice-label__color--disabled--inverse) !default;
