// These variables apply to form fields (input, select, textarea, button)
$input-line-height: line-height('heading', 2) !default;
$input-border-width: units(2px) !default;
$input-small-width: units(15) !default;
$input-medium-width: units('card') !default;
$input-max-width: units('mobile-lg') !default;
$input-padding: $spacer-1 !default;
$input-border-radius: $border-radius !default;
$input-border-color: $color-base !default;
$input-border-color-inverse: $color-black !default;

$choice-checked-background-color: $color-primary !default;
$choice-border-color: $color-base !default;
$choice-border-color-inverse: $color-white !default;
$choice-border-width: units(2px) !default;
$choice-size: $spacer-4 !default;
$choice-size-small: units(2.5) !default;

$button-border-width: units(1px) !default;
$button-primary-bg: $color-primary !default;
$button-primary-bg--hover: $color-primary-darker !default;
$button-primary-bg--active: $color-primary-darkest !default;
