$multiple: units(1) !default;

$spacers: (
  0,
  $multiple,
  $multiple * 2,
  $multiple * 3,
  $multiple * 4,
  $multiple * 5,
  $multiple * 6,
  $multiple * 7
) !default;

$spacer-1: units(1) !default; // 8px
$spacer-2: units(2) !default; // 16px
$spacer-3: units(3) !default; // 24px
$spacer-4: units(4) !default; // 32px
$spacer-5: units(5) !default; // 40px
$spacer-6: units(6) !default; // 48px
$spacer-7: units(7) !default; // 56px
$spacer-half: units(0.5); // 4px

// Breakpoint widths
// INTERNAL: If these values change, the values used for the responsive previews
// in the documentation should also change.
$width-xs: 0 !default;
$width-sm: units('mobile-lg') !default;
$width-md: units('tablet-lg') !default;
$width-lg: units('desktop') !default;
$width-xl: units('widescreen') !default;

// Breakpoints
$breakpoints: (
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
  xl: $width-xl,
) !default;

// Borders
$border-radius: 3px !default;
$border-radius-circle: 100%;
$border-radius-pill: 9999px;

// Grid
$grid-columns: 12 !default;
$grid-gutter-width: $spacer-4 !default;
$grid-form-gutter-width: $spacer-2 !default;

// Z-index
$z-dialog: 1000 !default;

// Site variables
$site-margins: units(6) !default;
$site-margins-mobile: units(3) !default;
$site-max-width: units('desktop') !default;
$text-max-width: measure(6) !default;
$lead-max-width: measure(5) !default;
$article-max-width: measure(6) !default;
$nav-width: units('tablet-lg') !default;

// 44 x 44 pixels hit target following Apple iOS Human Interface Guidelines
$hit-area: units(9) !default;
