// these variables are reference names for backwards compatibility with
// pre token work, should be deprecated as soon as possible, when deprecated
// values with extra -color declarations can be shortened as a part of that
// process

// animation
$ease-in-out-expo: $animation-ease-in-out-expo;
$speed-base: $animation-speed-base;

// border, focus, shadow colors
$border-color: $color-border;
$border-color-dark: $color-border-dark;
$border-color-inverse: $color-border-inverse;
$focus-color: $color-focus;
$focus-color-inverse: $color-focus-inverse;
$focus-border-inverse: $color-focus-border-inverse;
$focus-shadow: $shadow-focus;
$focus-shadow-inverse: $shadow-focus-inverse;
$focus-shadow-link: $shadow-focus-link;
$focus-shadow-link-inverse: $shadow-focus-link-inverse;

// fonts
$display-font-size: $font-size-5xl;
$title-font-size: $font-size-4xl;
$lead-font-size: $font-size-lg;
$base-font-size: $font-size-base;
$small-font-size: $font-size-sm;
$h1-font-size: $font-size-3xl;
$h2-font-size: $font-size-2xl;
$h3-font-size: $font-size-xl;
$h4-font-size: $font-size-lg;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-sm;
$reset-line-height: $font-line-height-reset;
$heading-line-height: $font-line-height-heading;
$base-line-height: $font-line-height-base;
$lead-line-height: $font-line-height-lead;
$font-normal: $font-weight-normal;
$font-bold: $font-weight-bold;
$font-semibold: $font-weight-semibold;
$h1-mobile-font-size: 30px !default;

// media widths
$width-xs: $media-width-xs;
$width-sm: $media-width-sm;
$width-md: $media-width-md;
$width-lg: $media-width-lg;
$width-xl: $media-width-xl;
