// Typography

// USWDS uses rem units for their font sizes, however this relies on
// the root element (typically <html>) to have its font size set to
// 10px. Since styling a root element goes against the guiding principles
// of this design system, we use px units instead.
$base-font-size: 16px !default;
$small-font-size: 14px !default;
$lead-font-size: 18px !default;

$h1-font-size: 36px !default;
$h1-mobile-font-size: 30px !default;
$h2-font-size: 24px !default;
$h3-font-size: 21px !default;
$h4-font-size: 18px !default;
$h5-font-size: $base-font-size !default;
$h6-font-size: $small-font-size !default;

$title-font-size: 48px !default;
$display-font-size: 60px !default;

$font-sans: 'Open Sans', Helvetica, sans-serif !default;
$font-serif: Bitter, Georgia, serif !default;

$reset-line-height: 1 !default;
$base-line-height: 1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height: 1.7 !default;

/*
 *  The following font weight variables are maintained for backwards compatibility but not recommended for use.
 *  Use USWDS font weight theme tokens, mixins, and functions instead (i.e. $theme-font-weight-bold, font-weight(weight))
 *
 *  https://designsystem.digital.gov/design-tokens/typesetting/font-weight/
 */

$font-normal: 400 !default;
$font-bold: 700 !default;
$font-semibold: 600 !default;

$measure-narrow: 45ex !default;
$measure-base: 65ex !default;
$measure-wide: 80ex !default;
