$h1-mobile-font-size: 30px !default;

$font-sans: 'Open Sans', Helvetica, sans-serif !default;
$font-serif: Bitter, Georgia, serif !default;

$reset-line-height: 1 !default;
$base-line-height: 1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height: 1.7 !default;

$font-normal: 400 !default;
$font-bold: 700 !default;
$font-semibold: 600 !default;

