// Typography

// USWDS uses rem units for their font sizes, however this relies on
// the root element (typically <html>) to have its font size set to
// 10px. Since styling a root element goes against the guiding principles
// of this design system, we use px units instead.

$base-font-size: 16px !default;

// To Do: Remove this block of variables after deprecating

$small-font-size: 14px !default;
$lead-font-size: 18px !default;
$title-font-size: 48px !default;
$display-font-size: 60px !default;

$h1-font-size: 36px !default;
$h1-mobile-font-size: 30px !default;
$h2-font-size: 24px !default;
$h3-font-size: 21px !default;
$h4-font-size: 18px !default;
$h5-font-size: $base-font-size !default;
$h6-font-size: $small-font-size !default;

// END to do

$font-size-5xl: $display-font-size !default; //60px
$font-size-4xl: $title-font-size !default; // 48px
$font-size-3xl: $h1-font-size !default; // 36px - h1
$font-size-2xl: $h2-font-size !default; // 24px - h2
$font-size-xl: $h3-font-size !default; // 21px - h3
$font-size-lg: $lead-font-size !default; // 18px - h4 - lead - body large
$font-size-md: $base-font-size !default; // 16px - h5 - base - body medium
$font-size-sm: $small-font-size !default; // 14px - h6 - body small

$font-sans: 'Open Sans', Helvetica, sans-serif !default;
$font-serif: Bitter, Georgia, serif !default;

$reset-line-height: 1 !default;
$base-line-height: 1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height: 1.7 !default;

$font-normal: 400 !default;
$font-bold: 700 !default;
$font-semibold: 600 !default;

$measure-narrow: 45ex !default;
$measure-base: 65ex !default;
$measure-wide: 80ex !default;
