/* stylelint-disable declaration-no-important */
// primary
.hc-u-bg-primary {
  background-color: $color-primary !important;
}

.hc-u-bg-primary-darker {
  background-color: $color-primary-darker !important;
}

.hc-u-bg-primary-darkest {
  background-color: $color-primary-darkest !important;
}

// primary-alt
.hc-u-bg-primary-alt {
  background-color: $color-primary-alt !important;
}

.hc-u-bg-primary-alt-dark {
  background-color: $color-primary-alt-dark !important;
}

.hc-u-bg-primary-alt-darkest {
  background-color: $color-primary-alt-darkest !important;
}

.hc-u-bg-primary-alt-light {
  background-color: $color-primary-alt-light !important;
}

.hc-u-bg-primary-alt-lightest {
  background-color: $color-primary-alt-lightest !important;
}

// secondary
.hc-u-bg-secondary {
  background-color: $color-secondary !important;
}

.hc-u-bg-secondary-dark {
  background-color: $color-secondary-dark !important;
}

.hc-u-bg-secondary-darkest {
  background-color: $color-secondary-darkest !important;
}

.hc-u-bg-secondary-light {
  background-color: $color-secondary-light !important;
}

.hc-u-bg-secondary-lightest {
  background-color: $color-secondary-lightest !important;
}

// gray
.hc-u-bg-gray-dark {
  background-color: $color-gray-dark;
}

.hc-u-bg-gray {
  background-color: $color-gray;
}

.hc-u-bg-gray-medium {
  background-color: $color-gray-medium;
}

.hc-u-bg-gray-light {
  background-color: $color-gray-light;
}

.hc-u-bg-gray-lighter {
  background-color: $color-gray-lighter;
}

.hc-u-bg-gray-lightest {
  background-color: $color-gray-lightest;
}

.hc-u-bg-gray-warm-dark {
  background-color: $color-gray-warm-dark;
}

.hc-u-bg-gray-warm-light {
  background-color: $color-gray-warm-light;
}

.hc-u-bg-gray-cool-light {
  background-color: $color-gray-cool-light;
}
/* stylelint-enable */
