---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="ds-l-container">
    <h1 class="ds-text-heading--4xl ds-u-margin-top--2">
      Astro + CMSDS example project
    </h1>
		<h2>Framework examples</h2>
		<ul>
			<li><a href="react">React examples</a></li>
			<li><a href="web-components">Web-component examples</a></li>
		</ul>
	</div>
</Layout>