---
import Layout from '../layouts/Layout.astro';
import AccordionExample from '../components/react/AccordionExample';
import AlertExample from '../components/react/AlertExample';
import AutocompleteExample from '../components/react/AutocompleteExample';
import BadgeExample from '../components/react/BadgeExample';
import ButtonExample from '../components/react/ButtonExample';
import ChoiceListExample from '../components/react/ChoiceListExample';
import SingleInputDateFieldExample from '../components/react/SingleInputDateFieldExample';
import MultiInputDateFieldExample from '../components/react/MultiInputDateFieldExample';
import DropdownExample from '../components/react/DropdownExample';
import FilterChipExample from '../components/react/FilterChipExample';
import LabelExample from '../components/react/LabelExample';
import HelpDrawerExample from '../components/react/HelpDrawerExample';
import MaskedFieldExample from '../components/react/MaskedFieldExample';
import ModalDialogExample from '../components/react/ModalDialogExample';
import MonthPickerExample from '../components/react/MonthPickerExample';
import PaginationExample from '../components/react/PaginationExample';
import SpinnerExample from '../components/react/SpinnerExample';
import TableExample from '../components/react/TableExample';
import TabsExample from '../components/react/TabsExample';
import TextFieldExample from '../components/react/TextFieldExample';
import TooltipExample from '../components/react/TooltipExample';
import UsaBannerExample from '../components/react/UsaBannerExample';
import VerticalNavigationExample from '../components/react/VerticalNavigationExample';
---

<Layout title="React component examples">
  <div class="ds-l-container">
    <h1 class="ds-text-heading--4xl ds-u-margin-top--2">
      React component examples
    </h1>

    <AccordionExample client:visible />
    <AlertExample client:visible />
    <AutocompleteExample client:visible />
    <BadgeExample client:visible />
    <ButtonExample client:visible />
    <ChoiceListExample client:visible />
    <SingleInputDateFieldExample client:visible />
    <MultiInputDateFieldExample client:visible />
    <DropdownExample client:visible />
    <FilterChipExample client:visible />
    <LabelExample client:visible />
    <HelpDrawerExample client:visible />
    <MaskedFieldExample client:visible />
    <ModalDialogExample client:visible />
    <MonthPickerExample client:visible />
    <PaginationExample client:visible />
    <SpinnerExample client:visible />
    <TextFieldExample client:visible />
    <TableExample client:visible />
    <TabsExample client:visible />
    <TooltipExample client:visible />
    <UsaBannerExample client:visible />
    <VerticalNavigationExample client:visible />
  </div>
</Layout>