/* stylelint-disable declaration-no-important */
@import 'styles/settings/index.scss';

.ds-u-truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
