@import '../settings/index.scss';

%ds-base {
  font-family: $font-sans;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
}

.ds-base {
  @extend %ds-base;
  color: $color-base;
}

.ds-base--inverse {
  @extend %ds-base;
  background-color: $color-background-inverse;
  color: $color-base-inverse;
}
