/* stylelint-disable selector-class-pattern */
@import '../settings/index.scss';

%link {
  color: $color-primary;
  cursor: pointer;
  text-decoration: underline;

  &:visited {
    color: $color-visited;
  }

  &:hover {
    color: $color-primary-darker;
  }

  @if $ds-include-focus-styles {
    &:focus,
    &:focus:visited {
      @include focus-styles;
    }
  } @else {
    &:focus {
      color: $color-primary-darker;
    }
  }

  &:active {
    color: $color-primary-darkest;
    outline: 0 none;
  }
}

%link-inverse {
  color: $color-base-inverse;
  cursor: pointer;
  text-decoration: underline;

  /* stylelint-disable selector-max-specificity */
  @if $ds-include-focus-styles {
    &:focus,
    &:focus:visited {
      @include focus-styles;
    }
  } @else {
    &:focus {
      color: $color-muted-inverse;
    }
  }
  /* stylelint-enable selector-max-specificity */

  &:visited,
  &:hover,
  &:active {
    // :visited links can only style color, not opacity. This color styling is equivalent to:
    // color: $color-base-inverse;
    // opacity: 0.8;
    color: $color-muted-inverse;
  }
}

// Rename to ds-link
.ds-c-link {
  @extend %link;
}

.ds-c-link--inverse {
  @extend %link-inverse;
}

@if $ds-include-base-html-rulesets {
  // <a> is the only base HTML element in the design system that
  // has a style declaration. In all other cases, styles are applied using a
  // namespaced class name. This selector isn't scoped under .ds-base, since that
  // would cause the selector's specificity to be higher than most other component
  // selectors (i.e. ds-c-button), necessitating overly specific selectors anytime
  // a developer wanted to change an anchor's color property.
  a {
    @extend %link;
  }
  // Change color of links that are descendants of '.ds-base--inverse'
  //
  // Fix TODO: Because this selector's specificity is higher than most components,
  // changing inverse links will require unusually specific selectors
  //
  // Specifically exclude '.ds-c-button' because this is most likely case where
  // a inverse link element will have other styles applied
  // Also exclude '.ds-c-tooltip__trigger-link' as we need to set
  // text decoration styles for the tooltip trigger links
  .ds-base--inverse a:not(.ds-c-button):not(.ds-c-tooltip__trigger-link) {
    @extend %link-inverse;
  }
}
