// One of the few places !important is allowed.
/* stylelint-disable declaration-no-important */

// primary

.ds-u-fill--primary-lightest {
  background-color: var(--color-primary-lightest) !important;
}

.ds-u-fill--primary-lighter {
  background-color: var(--color-primary-lighter) !important;
}

.ds-u-fill--primary-light {
  background-color: var(--color-primary-light) !important;
}

.ds-u-fill--primary {
  background-color: var(--color-primary) !important;
}

.ds-u-fill--primary-dark {
  background-color: var(--color-primary-dark) !important;
}

.ds-u-fill--primary-darker {
  background-color: var(--color-primary-darker) !important;
}

.ds-u-fill--primary-darkest {
  background-color: var(--color-primary-darkest) !important;
}

// secondary
.ds-u-fill--secondary {
  background-color: var(--color-secondary) !important;
}

.ds-u-fill--secondary-light {
  background-color: var(--color-secondary-light) !important;
}

.ds-u-fill--secondary-lighter {
  background-color: var(--color-secondary-lighter) !important;
}

.ds-u-fill--secondary-lightest {
  background-color: var(--color-secondary-lightest) !important;
}

.ds-u-fill--secondary-dark {
  background-color: var(--color-secondary-dark) !important;
}

.ds-u-fill--secondary-darker {
  background-color: var(--color-secondary-darker) !important;
}

.ds-u-fill--secondary-darkest {
  background-color: var(--color-secondary-darkest) !important;
}

// gray
.ds-u-fill--gray {
  background-color: var(--color-gray) !important;
}

.ds-u-fill--gray-dark {
  background-color: var(--color-gray-dark) !important;
}

.ds-u-fill--gray-light {
  background-color: var(--color-gray-light) !important;
}

.ds-u-fill--gray-lighter {
  background-color: var(--color-gray-lighter) !important;
}

.ds-u-fill--gray-lightest {
  background-color: var(--color-gray-lightest) !important;
}

.ds-u-fill--muted-inverse {
  background-color: var(--color-muted-inverse) !important;
}

// State color - error

.ds-u-fill--error {
  background-color: var(--color-error) !important;
}

.ds-u-fill--error-light {
  background-color: var(--color-error-light) !important;
}

.ds-u-fill--error-lighter {
  background-color: var(--color-error-lighter) !important;
}

.ds-u-fill--error-lightest {
  background-color: var(--color-error-lightest) !important;
}

.ds-u-fill--error-dark {
  background-color: var(--color-error-dark) !important;
}

.ds-u-fill--error-darker {
  background-color: var(--color-error-darker) !important;
}

.ds-u-fill--error-darkest {
  background-color: var(--color-error-darkest) !important;
}

// State color - warn

.ds-u-fill--warn {
  background-color: var(--color-warn) !important;
}

.ds-u-fill--warn-light {
  background-color: var(--color-warn-light) !important;
}

.ds-u-fill--warn-lighter {
  background-color: var(--color-warn-lighter) !important;
}

.ds-u-fill--warn-lightest {
  background-color: var(--color-warn-lightest) !important;
}

.ds-u-fill--warn-dark {
  background-color: var(--color-warn-dark) !important;
}

.ds-u-fill--warn-darker {
  background-color: var(--color-warn-darker) !important;
}

.ds-u-fill--warn-darkest {
  background-color: var(--color-warn-darkest) !important;
}

// State color - success

.ds-u-fill--success {
  background-color: var(--color-success) !important;
}

.ds-u-fill--success-light {
  background-color: var(--color-success-light) !important;
}

.ds-u-fill--success-lighter {
  background-color: var(--color-success-lighter) !important;
}

.ds-u-fill--success-lightest {
  background-color: var(--color-success-lightest) !important;
}

.ds-u-fill--success-dark {
  background-color: var(--color-success-dark) !important;
}

.ds-u-fill--success-darker {
  background-color: var(--color-success-darker) !important;
}

.ds-u-fill--success-darkest {
  background-color: var(--color-success-darkest) !important;
}

// State color - info

.ds-u-fill--info {
  background-color: var(--color-info) !important;
}

.ds-u-fill--info-light {
  background-color: var(--color-info-light) !important;
}

.ds-u-fill--info-lighter {
  background-color: var(--color-info-lighter) !important;
}

.ds-u-fill--info-lightest {
  background-color: var(--color-info-lightest) !important;
}

.ds-u-fill--info-dark {
  background-color: var(--color-info-dark) !important;
}

.ds-u-fill--info-darker {
  background-color: var(--color-info-darker) !important;
}

.ds-u-fill--info-darkest {
  background-color: var(--color-info-darkest) !important;
}

// base colors
.ds-u-fill--base {
  background-color: var(--color-base) !important;
}

.ds-u-fill--white {
  background-color: var(--color-white) !important;
}

.ds-u-fill--black {
  background-color: var(--color-black) !important;
}

.ds-u-fill--background {
  background-color: var(--color-background) !important;
}

.ds-u-fill--background-inverse {
  background-color: var(--color-background-inverse) !important;
}

.ds-u-fill--transparent {
  background-color: transparent !important;
}

// Focus colors
.ds-u-fill--focus-color-light {
  background-color: var(--color-focus-light) !important;
}

.ds-u-fill--focus-color-dark {
  background-color: var(--color-focus-dark) !important;
}

/* stylelint-enable declaration-no-important */
