/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

@for $i from 1 through 2 {
  // Example: ds-u-border--1
  .ds-u-border--#{$i} {
    // Example: border: 1px !important;
    border: #{$i}px solid $border-color !important;
  }

  .ds-u-border-top--#{$i} {
    border-top: #{$i}px solid $border-color !important;
  }

  .ds-u-border-right--#{$i} {
    border-right: #{$i}px solid $border-color !important;
  }

  .ds-u-border-bottom--#{$i} {
    border-bottom: #{$i}px solid $border-color !important;
  }

  .ds-u-border-left--#{$i} {
    border-left: #{$i}px solid $border-color !important;
  }

  .ds-u-border-x--#{$i} {
    border-left: #{$i}px solid $border-color !important;
    border-right: #{$i}px solid $border-color !important;
  }

  .ds-u-border-y--#{$i} {
    border-bottom: #{$i}px solid $border-color !important;
    border-top: #{$i}px solid $border-color !important;
  }
}

.ds-u-border--0 {
  // Example: border: 1px !important;
  border: 0 !important;
}

.ds-u-border-top--0 {
  border-top: 0 !important;
}

.ds-u-border-right--0 {
  border-right: 0 !important;
}

.ds-u-border-bottom--0 {
  border-bottom: 0 !important;
}

.ds-u-border-left--0 {
  border-left: 0 !important;
}

.ds-u-border-x--0 {
  border-left: 0 !important;
  border-right: 0 !important;
}

.ds-u-border-y--0 {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

.ds-u-border--dark {
  border-color: $border-color-dark !important;
}

.ds-u-border--inverse {
  border-color: $border-color-inverse !important;
}

.ds-u-border--error {
  border-color: $color-error !important;
}

.ds-u-border--error-light {
  border-color: $color-error-light !important;
}

.ds-u-border--error-lighter {
  border-color: $color-error-lighter !important;
}

.ds-u-border--warn {
  border-color: $color-warn !important;
}

.ds-u-border--warn-light {
  border-color: $color-warn-light !important;
}

.ds-u-border--warn-lighter {
  border-color: $color-warn-lighter !important;
}

.ds-u-border--success {
  border-color: $color-success !important;
}

.ds-u-border--success-light {
  border-color: $color-success-light !important;
}

.ds-u-border--success-lighter {
  border-color: $color-success-lighter !important;
}
