@use '../core' as *;

// TODO: Example border radius utilities and make utility format consistent
.ds-u-radius {
  border-radius: $radius-default;
}

.ds-u-radius--pill {
  border-radius: $radius-pill;
}

.ds-u-radius--circle {
  border-radius: $radius-circle;
}
