@use '../base' as *;

.ds-u-font-size--sm {
  font-size: var(--font-size-sm) !important;
}

.ds-u-font-size--base,
.ds-u-font-size--md {
  font-size: var(--font-size-base) !important;
}

.ds-u-font-size--lg {
  font-size: var(--font-size-lg) !important;
}

.ds-u-font-size--xl {
  font-size: var(--font-size-xl) !important;
}

.ds-u-font-size--2xl {
  font-size: var(--font-size-2xl) !important;
}

.ds-u-font-size--3xl {
  font-size: var(--font-size-3xl) !important;
}

.ds-u-font-size--4xl {
  font-size: var(--font-size-4xl) !important;
}

.ds-u-font-size--5xl {
  font-size: var(--font-size-5xl) !important;
}

@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    .ds-u-#{$breakpoint}-font-size--sm {
      font-size: var(--font-size-sm) !important;
    }
    .ds-u-#{$breakpoint}-font-size--md,
    .ds-u-#{$breakpoint}-font-size--base {
      font-size: var(--font-size-base) !important;
    }

    .ds-u-#{$breakpoint}-font-size--lg {
      font-size: var(--font-size-lg) !important;
    }

    .ds-u-#{$breakpoint}-font-size--5xl {
      font-size: var(--font-size-5xl) !important;
    }

    .ds-u-#{$breakpoint}-font-size--4xl {
      font-size: var(--font-size-4xl) !important;
    }

    .ds-u-#{$breakpoint}-font-size--3xl {
      font-size: var(--font-size-3xl) !important;
    }

    .ds-u-#{$breakpoint}-font-size--2xl {
      font-size: var(--font-size-2xl) !important;
    }

    .ds-u-#{$breakpoint}-font-size--xl {
      font-size: var(--font-size-xl) !important;
    }
  }
}
