.ds-u-font-weight--normal {
  font-weight: $font-weight-normal !important;
}

.ds-u-font-weight--semibold {
  font-weight: $font-weight-semibold !important;
}

.ds-u-font-weight--bold {
  font-weight: $font-weight-bold !important;
}
