.ds-u-leading--base {
  line-height: var(--font-line-height-base) !important;
}

.ds-u-leading--lead {
  line-height: var(--font-line-height-lead) !important;
}

.ds-u-leading--heading {
  line-height: var(--font-line-height-heading) !important;
}

.ds-u-leading--reset {
  line-height: var(--font-line-height-reset) !important;
}
