.ds-u-leading--base {
  line-height: $font-line-height-base !important;
}

.ds-u-leading--lead {
  line-height: $font-line-height-lead !important;
}

.ds-u-leading--heading {
  line-height: $font-line-height-heading !important;
}

.ds-u-leading--reset {
  line-height: $font-line-height-reset !important;
}
