@use '../base' as *;

@each $scale, $size in $spacers {
  // Example: ds-u-margin--0
  .ds-u-margin--#{$scale} {
    // Example: margin: 0 !important;
    margin: #{$size} !important;
  }

  .ds-u-margin-top--#{$scale} {
    margin-block-start: #{$size} !important;
  }

  .ds-u-margin-right--#{$scale} {
    margin-inline-end: #{$size} !important;
  }

  .ds-u-margin-bottom--#{$scale} {
    margin-block-end: #{$size} !important;
  }

  .ds-u-margin-left--#{$scale} {
    margin-inline-start: #{$size} !important;
  }

  .ds-u-margin-x--#{$scale} {
    margin-inline: #{$size} !important;
  }

  .ds-u-margin-y--#{$scale} {
    margin-block: #{$size} !important;
  }
}

.ds-u-margin--auto {
  margin: auto !important;
}

.ds-u-margin-top--auto {
  margin-block-start: auto !important;
}

.ds-u-margin-right--auto {
  margin-inline-end: auto !important;
}

.ds-u-margin-bottom--auto {
  margin-block-end: auto !important;
}

.ds-u-margin-left--auto {
  margin-inline-start: auto !important;
}

.ds-u-margin-x--auto {
  margin-inline: auto !important;
}

.ds-u-margin-y--auto {
  margin-block: auto !important;
}

@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @each $scale, $size in $spacers {
      // Example: ds-u-sm-margin--0
      .ds-u-#{$breakpoint}-margin--#{$scale} {
        // Example: margin: 0 !important;
        margin: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-top--#{$scale} {
        margin-block-start: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-right--#{$scale} {
        margin-inline-end: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-bottom--#{$scale} {
        margin-block-end: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-left--#{$scale} {
        margin-inline-start: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-x--#{$scale} {
        margin-inline: #{$size} !important;
      }

      .ds-u-#{$breakpoint}-margin-y--#{$scale} {
        margin-block: #{$size} !important;
      }
    }

    .ds-u-#{$breakpoint}-margin--auto {
      margin: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-top--auto {
      margin-block-start: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-right--auto {
      margin-inline-end: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-bottom--auto {
      margin-block-end: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-left--auto {
      margin-inline-start: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-x--auto {
      margin-inline: auto !important;
    }

    .ds-u-#{$breakpoint}-margin-y--auto {
      margin-block: auto !important;
    }
  }
}
