.ds-u-measure--narrow {
  max-width: var(--measure-narrow) !important;
}

.ds-u-measure--base {
  max-width: var(--measure-base) !important;
}

.ds-u-measure--wide {
  max-width: var(--measure-wide) !important;
}
