// One of the few places !important is allowed.
/* stylelint-disable declaration-no-important */

// primary
.ds-u-color--primary:not(:focus) {
  color: var(--color-primary) !important;
}

.ds-u-color--primary-darker:not(:focus) {
  color: var(--color-primary-darker) !important;
}

.ds-u-color--primary-darkest:not(:focus) {
  color: var(--color-primary-darkest) !important;
}

// secondary
.ds-u-color--secondary:not(:focus) {
  color: var(--color-secondary) !important;
}

.ds-u-color--secondary-light:not(:focus) {
  color: var(--color-secondary-light) !important;
}

.ds-u-color--secondary-lighter:not(:focus) {
  color: var(--color-secondary-lighter) !important;
}

.ds-u-color--secondary-lightest:not(:focus) {
  color: var(--color-secondary-lightest) !important;
}

.ds-u-color--secondary-dark:not(:focus) {
  color: var(--color-secondary-dark) !important;
}

.ds-u-color--secondary-darker:not(:focus) {
  color: var(--color-secondary-darker) !important;
}

.ds-u-color--secondary-darkest:not(:focus) {
  color: var(--color-secondary-darkest) !important;
}

// gray
.ds-u-color--gray:not(:focus) {
  color: var(--color-gray) !important;
}

.ds-u-color--gray-lightest:not(:focus) {
  color: var(--color-gray-lightest) !important;
}

.ds-u-color--gray-lighter:not(:focus) {
  color: var(--color-gray-lighter) !important;
}

.ds-u-color--gray-light:not(:focus) {
  color: var(--color-gray-light) !important;
}

.ds-u-color--muted:not(:focus) {
  color: var(--color-muted) !important;
}

// states
.ds-u-color--error:not(:focus) {
  color: var(--color-error) !important;
}

.ds-u-color--error-dark:not(:focus) {
  color: var(--color-error-dark) !important;
}

.ds-u-color--error-darkest:not(:focus) {
  color: var(--color-error-darkest) !important;
}

.ds-u-color--error-light:not(:focus) {
  color: var(--color-error-light) !important;
}

.ds-u-color--success:not(:focus) {
  color: var(--color-success) !important;
}

// base colors
.ds-u-color--base:not(:focus) {
  color: var(--color-base) !important;
}

.ds-u-color--base-inverse:not(:focus) {
  color: var(--color-base-inverse) !important;
}

.ds-u-color--muted-inverse:not(:focus) {
  color: var(--color-muted-inverse) !important;
}

.ds-u-color--black:not(:focus) {
  color: var(--color-black) !important;
}

.ds-u-color--white:not(:focus) {
  color: var(--color-white) !important;
}

.ds-u-color--inherit:not(:focus) {
  color: inherit !important;
}

/* stylelint-enable declaration-no-important */
