.ds-u-text-decoration--underline {
  text-decoration: underline !important;
}

.ds-u-text-decoration--line-through {
  text-decoration: line-through !important;
}

.ds-u-text-decoration--none {
  text-decoration: none !important;
}
