// WNMGDS-1859: Deprecate .truncate utility class
// Refer to `_set-for-deprecation.scss` for complete list
// Classes marked with 💀 are deprecated and will be removed in the next major release

// 💀
.ds-u-truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
