@import 'syntax-highlighting';

pre,
code {
  background-color: $color-gray-lightest;
}

code {
  color: $color-gray-dark;
  display: inline-block;
  font-family: $font-monospace;
  font-size: 0.9em;
  // add spacing for when two code blocks are next to each other
  margin-left: 1px;
  margin-right: 1px;
  padding: $spacer-half;
}

pre {
  line-height: 1.4;
  margin: 0;
  padding: $spacer-2;

  code {
    background-color: transparent;
    font-size: $xs-font-size;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
