$code-background-color: $color-cool-blue-lightest;

code {
  background-color: $color-gray-lightest;
  // add spacing for when two code blocks are next to each other
  margin-left: 1px;
  margin-right: 1px;
  padding: 3px;
}

pre {
  background-color: $color-gray-lightest;
  font-size: 13px;

  // Override styles applied by Prism
  &[class*=language-] {
    background-color: $color-gray-lightest;
    margin-top: 0;
  }

  code {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
  }
}