// Apply custom styling for the marker so it's consistent across all browsers
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: '\25B6';
  padding-right: 0.5em;
}

// stylelint-disable-next-line selector-no-qualifying-type
details[open] > summary::before {
  content: '\25BC';
}
