blockquote {
  background: $color-primary-alt-lightest;
  border-left: 2px solid $color-primary-alt-light;
  margin-left: 0;
  padding: $spacer-2;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
