// Paths to images and fonts relative from the SCSS entry point
$font-path: '~@cmsgov/design-system/dist/fonts';
$image-path: '~@cmsgov/design-system/dist/images';

// Core CMSDS styles
@import '@cmsgov/design-system/dist/scss/index';

body {
  margin: 0;
}
