// Paths to images and fonts relative from the SCSS entry point
$font-path: '~@cmsgov/ds-healthcare-gov/dist/fonts';
$image-path: '~@cmsgov/ds-healthcare-gov/dist/images';

// Core CMSDS styles
@import '@cmsgov/ds-healthcare-gov/dist/scss/index';

body {
  margin: 0;
}
