$font-path: '../fonts' !default;
$image-path: '../images' !default;

// add an error highlight to choice components inside a ChoiceList with an errorMessage.
// TODO: remove this, we should not be setting variables like this in sass
$ds-include-choice-error-highlight: false !default;

// 44 x 44 pixels hit target following Apple iOS Human Interface Guidelines
$hit-area: 4.4rem !default;

@import 'variables/index';
@import 'mixins/index';

$spacers: (
  '0': 0,
  '05': $spacer-half,
  '1': $spacer-1,
  '2': $spacer-2,
  '3': $spacer-3,
  '4': $spacer-4,
  '5': $spacer-5,
  '6': $spacer-6,
  '7': $spacer-7,
) !default;

$breakpoints: (
  sm: $media-width-sm,
  md: $media-width-md,
  lg: $media-width-lg,
  xl: $media-width-xl,
) !default;
