/**
 *  Design system fonts
 *
 *  Fonts are separated from other settings scss because font-faces are compiled and included css build files
 */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  src: url('#{$font-path}/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  src: url('#{$font-path}/Lato/Lato-Italic.ttf');
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  src: url('#{$font-path}/Raleway/Raleway-Italic.ttf');
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/Raleway/Raleway-Bold.ttf');
}
