@import '@cmsgov/design-system-support/src/settings/index';

/*
Modal dialog

@status beta

The dialog component can be used to focus a user's attention on a single piece of content, without taking them to a new screen. Please use with caution; view our guidance for more details.

.ds-c-dialog--narrow - A dialog with a narrow measure
.ds-c-dialog--wide - A dialog with a wide measure
.ds-c-dialog--full - A dialog spanning a normal page width

Markup:
<div data-demo="This div is for demo purposes only" style="min-height: 450px;">
  <div class="ds-c-dialog-wrap" aria-labelledby="dialog-title" role="dialog">
    <div class="ds-c-dialog {{modifier}}" role="document">
      <header class="ds-c-dialog__header" role="banner">
        <h1 class="ds-h2" id="dialog-title">Dialog title</h1>
        <button class="ds-c-button ds-c-button--transparent ds-c-dialog__close" aria-label="Close modal dialog">Close</button>
      </header>
      <main role="main">
        <p class="ds-text"><strong>Dialog body text.</strong>  {{lorem-l}}</p>
      </main>
      <aside class="ds-c-dialog__actions" role="complementary">
        <button class="ds-c-button ds-c-button--danger">Dialog action</button>
        <button class="ds-c-button ds-c-button--transparent">Cancel</button>
      </aside>
    </div>
  </div>
</div>

Style guide: components.dialog
*/
$dialog-spacer: $spacer-4;

.ds-c-dialog {
  background-color: $color-background-dialog;
  box-shadow: $shadow-base;
  box-sizing: border-box;
  display: inline-block;
  font-size: $base-font-size;
  max-width: $measure-base;
  padding: $dialog-spacer;
  text-align: left;
  vertical-align: middle;
  width: 95%; // provide space for the background layer to peek through
}

.ds-c-dialog--narrow {
  max-width: $measure-narrow;
}

.ds-c-dialog--wide {
  max-width: $measure-wide;
}

.ds-c-dialog--full {
  max-width: $site-max-width;
}

.ds-c-dialog__header {
  align-items: start;
  display: flex;
  // Provide some spacing when the header only includes the close button
  padding-bottom: $spacer-1;
}

.ds-c-dialog__actions {
  margin-top: $spacer-3;
}

.ds-c-dialog__close {
  background: url('#{$image-path}/close--primary.svg') center left no-repeat;
  background-size: 12px 12px;
  margin-left: auto;
  padding: 0 0 0 (12px + $spacer-1);

  &:active,
  &:focus,
  &:hover {
    background-image: url('#{$image-path}/close--primary-darker.svg');
  }
}

.ds-c-dialog-wrap {
  background-color: $color-background-dialog-mask;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $spacer-6 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: $z-dialog;
}

/*
`<Dialog />`

@react-component Dialog

Style guide: components.dialog.react
*/

/*
---

## Related patterns

- [Alert]({{root}}/components/alert)

## Learn more

- [Making an accessible dialog box](https://www.nczonline.net/blog/2013/02/12/making-an-accessible-dialog-box/)
- [GOV.UK modal dialog boxes discussion](https://paper.dropbox.com/doc/Modal-dialog-boxes-jbsTPoITg37IIc6ybjetM)
- [Overuse of Overlays: How to Avoid Misusing Lightboxes](https://www.nngroup.com/articles/overuse-of-overlays/)
- [Using ARIA role=dialog to implement a modal dialog box](https://www.w3.org/WAI/GL/wiki/Using_ARIA_role%3Ddialog_to_implement_a_modal_dialog_box)

Style guide: components.dialog.guidance
*/
