@import 'Dialog';

/*
Modal dialog

The dialog component can be used to focus a user's attention on a single piece of content, without taking them to a new screen. Please use with caution; view our guidance for more details.

.ds-c-dialog--narrow - A dialog with a narrow measure
.ds-c-dialog--wide - A dialog with a wide measure
.ds-c-dialog--full - A dialog spanning a normal page width

Markup: dialog.example.html

Style guide: components.dialog
*/

/*
`<Dialog />`

@react-component Dialog

Style guide: components.dialog.react
*/

/*
---

## Related patterns

- [Alert](/components/alert)

## Learn more

- [Making an accessible dialog box](https://www.nczonline.net/blog/2013/02/12/making-an-accessible-dialog-box/)
- [GOV.UK modal dialog boxes discussion](https://paper.dropbox.com/doc/Modal-dialog-boxes-jbsTPoITg37IIc6ybjetM)
- [Overuse of Overlays: How to Avoid Misusing Lightboxes](https://www.nngroup.com/articles/overuse-of-overlays/)
- [Using ARIA role=dialog to implement a modal dialog box](https://www.w3.org/WAI/GL/wiki/Using_ARIA_role%3Ddialog_to_implement_a_modal_dialog_box)

Style guide: components.dialog.guidance
*/
