// In our Gulp Sass task, we've added node_modules to the list of paths that
// are used to resolve @import declarations, so we omit it from the path below.
@import '@cmsgov/design-system-core/src/index';

.wrap {
  margin: auto;
  max-width: 800px;
  width: 95%;
}
