.bp-toggles {
  border-bottom: 1px solid $border-color;
}

.bp-toggle {
  appearance: none;
  background-color: $color-gray-lightest;
  border: 0;
  border-right: 1px solid $border-color;
  cursor: pointer;
  font-size: $base-font-size;
  font-weight: normal;
  padding: $spacer-2;
  position: relative;

  &:last-of-type {
    border-right: 0;
  }

  &:hover,
  &:focus {
    color: $color-primary-darker;
  }

  &:active {
    color: $color-primary-darkest;
  }

  &:focus {
    z-index: 10; // Bring the focus in front of neighboring buttons
  }
}

.bp-toggle--active {
  background-color: $color-white;
  border-bottom: $spacer-half solid $color-primary;
}
