.docs--locked {
  // This keeps the page from going back to the top until the menu has
  //   finished its animation and is covering the rest of the page.
  animation: $animation-speed-2 $animation-speed-2 forwards lock;
  left: 0;
  top: 0;
  width: 100%;
}

@keyframes lock {
  from {
    position: static;
  }
  to {
    position: fixed;
  }
}

.docs__toggle {
  border-radius: 0;
  bottom: 0;
  height: $menu-toggle-height;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

.docs__sidebar {
  $menu-max-width: 250px;
  $menu-transition: transform $animation-speed-1 ease-in-out;
  bottom: $menu-toggle-height;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translate3d(0, 120%, 0);
  transition: $menu-transition;
  width: 100%;
  z-index: 1000;

  @media (min-width: $breakpoint-mobile-nav) {
    border-right: 1px solid $border-color;
    height: auto;
    max-width: $menu-max-width;
    position: static;
    right: auto;
    top: auto;
    transform: translate3d(0, 0, 0);
    transition: none;
    width: auto;
  }

  .docs--menu-open & {
    transform: translate3d(0, 0, 0);
  }
}
