// Helpers for component examples
// TODO: rename and consolidate example classes

.example--wrapper > * {
  @extend .ds-u-margin-top--3;
}

.example--wrapper > :first-child {
  @extend .ds-u-margin-top--0;
}

.example--wrapper > :last-child {
  @extend .ds-u-margin-bottom--0;
}

.example--list > * {
  @extend .ds-u-margin-top--2;
  @extend .ds-u-border-bottom--1;
  @extend .ds-u-padding-bottom--2;
}

.example--list > :first-child {
  @extend .ds-u-margin-top--0;
  @extend .ds-u-border-top--0;
}

.example--list > :last-child {
  @extend .ds-u-margin-bottom--0;
  @extend .ds-u-border-bottom--0;
}

.example--inverse {
  @extend .ds-base;
  @extend .ds-base--inverse;
  margin-top: $spacer-3;
  padding: $spacer-2;
}

.example--autocomplete {
  .ds-c-autocomplete__search-all.ds-c-autocomplete__list-item--active {
    a {
      color: $color-white;
      text-decoration-color: $color-white;
    }
  }
}

// Visualize grid layout
.preview__element {
  background-color: $color-secondary-lightest;
  margin: 2px;
  outline: 2px dashed $color-secondary;

  code {
    background-color: $color-secondary-lightest;
  }
}

.preview__grid .ds-l-row > [class*='ds-l-'],
.preview__grid .ds-l-form-row > [class*='ds-l-'] {
  @extend .preview__element;
  margin: 0;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}

.preview__label {
  // This resembles the design system's H6
  color: $color-muted;
  display: block;
  font-size: $font-size-sm;
  font-weight: $font-normal;
  margin-bottom: $spacer-1;
  margin-top: $spacer-2;

  &:first-child {
    margin-top: 0;
  }
}

// Color examples
.c-swatch__preview {
  box-shadow: inset 0 0 1px rgba(#000, 0.2);
  display: inline-block;
  margin-bottom: $spacer-half;
  vertical-align: middle;

  &.ds-u-fill--transparent {
    background-image: url('#{$image-path}/canvas.png');
  }
}

.c-swatch__preview--condensed {
  height: $spacer-4;
  width: $spacer-4;
}
