$_link-font-size: $small-font-size;
$_link-spacer: $spacer-1;

.frame {
  padding-bottom: $_link-font-size + ($_link-spacer * 2);
  position: relative;
}

.frame--loading .frame__parent {
  background: url('#{$image-path}/spinner-gray.svg') center center no-repeat;
  background-size: 30px;
  min-height: 30px + $spacer-2;
}

.frame--responsive {
  background-image: url('#{$image-path}/canvas.png');
}

.frame--responsive .frame__parent {
  margin: $spacer-2;
}

.frame__preview {
  overflow: hidden;
  transform-origin: 0% 0%;
}

.frame__link {
  background-color: $color-gray-lightest;
  background-image: url('#{$image-path}/new-tab.svg');
  background-position: center right $_link-spacer;
  background-repeat: no-repeat;
  background-size: $_link-font-size;
  bottom: 0;
  font-size: $_link-font-size;
  line-height: $reset-line-height;
  padding: $_link-spacer ($_link-font-size + $_link-spacer + $_link-spacer) $_link-spacer
    $_link-spacer;
  position: absolute;
  right: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    background-image: url('#{$image-path}/new-tab--hover.svg');
  }

  &:active {
    background-image: url('#{$image-path}/new-tab--active.svg');
  }
}
