/* stylelint-disable scss/at-extend-no-missing-placeholder */
.c-page-block-description {
  // Style base HTML typography elements. In most cases these are created
  // when Markdown is converted to an HTML page, so we're not able to manually
  // apply a design system class.
  h1:not([class]) {
    @extend .ds-h1;
  }

  h2:not([class]) {
    @extend .ds-h2;
  }

  h3:not([class]) {
    @extend .ds-h3;
  }

  h4:not([class]) {
    @extend .ds-h4;
  }

  h5:not([class]) {
    @extend .ds-h5;
  }

  h6:not([class]) {
    @extend .ds-h6;
  }

  p:not([class]) {
    @extend .ds-text;
  }

  ul:not([class]),
  ol:not([class]) {
    @extend .ds-c-list;
  }
}

.c-page-block-container {
  // Constrain the content to a max width so things like code examples don't
  // extend to an obnoxious width on large screens
  max-width: $width-xl + $spacer-2; // wide enough for examples to reach their xl breakpoint
}
