// Responsive docs table

.docs_table--container {
  overflow-x: auto;
}

.docs_table {
  border: 1px solid $color-gray;

  td {
    border: 0;
    border-top: 1px solid $color-gray-lighter;
  }

  @media (min-width: $width-sm) {
    /* Hide individual cell heading */
    tbody .docs_table__column-header {
      display: none;
    }
  }

  @media (max-width: $width-sm) {
    border: 0;

    thead tr {
      /* Hide table headers (.ds-u-visibility--screen-reader) */
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
      word-wrap: normal;
    }

    tr {
      border: 1px solid $color-gray;
      display: block;
      margin: 0 0 0.5rem;
    }

    td {
      border: 0;
      border-top: 1px solid $color-gray-lighter;
      display: block;
      word-break: break-word;
    }

    td:last-child {
      border-bottom: 0;
    }

    td:first-child {
      background-color: $color-gray-lightest;
      border-top: 0;
    }

    td::before .docs_table__column-header {
      display: block;
    }
  }
}
