// Visualize colors
.c-swatch__preview {
  box-shadow: inset 0 0 1px rgba(#000, 0.2);
  display: inline-block;
  margin-bottom: $spacer-half;
  vertical-align: middle;

  &.ds-u-fill--transparent {
    background-image: url('#{$image-path}/canvas.png');
  }
}

.c-swatch__preview--condensed {
  height: $spacer-4;
  width: $spacer-4;
}
