/*
Text transform

Set the capitalization of text using the text transform utility.

**Format**: `.ds-u-text-transform--[uppercase|lowercase|capitalize]`

Markup: text-transform.example.html

Style guide: utilities.text-transform
*/

/*
---

### Accessibility

Use all capital letters sparingly. They can cause challenges for some people.

- All capital letters make it harder to read words, particularly for those with dyslexia. "When we read, we don't actually look at every letter in a sentence, but actually the shapes of the words. When text is in All Caps, the height of every letter is identical making every word an even rectangular shape, forcing us to read letter-by-letter, reducing our reading speed." Fore more, read [Writing readable content](https://www.mity.com.au/blog/writing-readable-content-and-why-all-caps-is-so-hard-to-read).
-  "Some screen readers read capitalized text letter-by-letter. And this occasionally even occurs when the HTML is in sentence-case and the CSS forces the capitalization." For more, read [Making Accessible Links](https://www.sitepoint.com/15-rules-making-accessible-links/).

Style guide: utilities.text-transform.guidance
*/
