// These variables override default variables defined by USWDS

// Typography
// USWDS uses rem units for their font sizes, however this relies on
// the root element (typically <html>) to have its font size set to
// 10px. Since styling a root element is out of the scope of this
// design system, we simply use px units instead.
$base-font-size:      17px !default;
$small-font-size:     14px !default;
$lead-font-size:      20px !default;
$title-font-size:     52px !default;
$h1-font-size:        40px !default;
$h2-font-size:        30px !default;
$h3-font-size:        20px !default;
$h4-font-size:        17px !default;
$h5-font-size:        15px !default;
$h6-font-size:        13px !default;

$font-sans:           'Open Sans', Helvetica, sans-serif;
$font-serif:          Bitter, Georgia, serif;

// Magic Numbers
$border-radius:       3px;
