@import '@cmsgov/design-system-support/src/settings/index';

/*
Step List

@responsive

@status beta

A step list represents a user's progression through an application or multi-page
form. It serves as a table of contents and a way to quickly see where they are
and what they should be working on next.

Markup:
<div style="max-width: 628px">
  <ol class="ds-c-step-list ds-u-margin-top--4">
    <li class="ds-c-step ds-c-step--completed">
      <div class="ds-c-step__content">
        <h2 class="ds-c-step__title">Choose a tax year</h2>
      </div>
      <div
        class="ds-c-step__actions"
        aria-label="Primary actions for Choose a tax year"
      >
        <div class="ds-c-step__completed-text">Completed</div>
        <a href="#step-1">
          Edit<span class="ds-u-visibility--screen-reader">
            {" "}
            "Choose a tax year"
          </span>
        </a>
      </div>
    </li>
    <li class="ds-c-step ds-c-step--current">
      <div class="ds-c-step__content ds-c-step__content--with-content">
        <h2 class="ds-c-step__title">Enter household details</h2>
        <div
          class="ds-c-step__description"
          aria-label="Description for Enter household details"
        >
          Answer questions about who in your household qualifies for a premium tax
          credit and information on each person, including date of birth,
          location(s) they lived in for the year, and months of marketplace
          coverage.
        </div>
        <ol
          class="ds-c-step__substeps"
          aria-label="Secondary actions for Enter household details"
        >
          <li class="ds-c-substep">
            <div class="ds-c-substep__title">Overall household</div>
            <a href="#step-2a" class="ds-c-substep__edit">
              Edit<span class="ds-u-visibility--screen-reader">
                {" "}
                "Overall household"
              </span>
            </a>
          </li>
          <li class="ds-c-substep">
            <div class="ds-c-substep__title">Bob's information</div>
          </li>
          <li class="ds-c-substep">
            <div class="ds-c-substep__title">Barb's information</div>
          </li>
        </ol>
      </div>
      <div
        class="ds-c-step__actions"
        aria-label="Primary actions for Enter household details"
      >
        <a href="#step-2" class="ds-c-button ds-c-button--primary">
          Resume<span class="ds-u-visibility--screen-reader">
            {" "}
            "Enter household details"
          </span>
        </a>
      </div>
    </li>
    <li class="ds-c-step">
      <div class="ds-c-step__content">
        <h2 class="ds-c-step__title">Review your information</h2>
      </div>
      <div
        class="ds-c-step__actions"
        aria-label="Primary actions for Review your information"
      />
    </li>
    <li class="ds-c-step">
      <div class="ds-c-step__content">
        <h2 class="ds-c-step__title">View premium results</h2>
      </div>
      <div
        class="ds-c-step__actions"
        aria-label="Primary actions for View premium results"
      />
    </li>
  </ol>
</div>

Style guide: patterns.step-list
*/

$step-list-number-size: 32px !default;
$step-list-number-size-mobile: 24px !default;
$step-list-number-font-size: 20px !default;
$step-list-number-font-size-mobile: $small-font-size !default;
$step-list-number-border-size: 2px !default;
$step-list-number-margin: 10px !default;
$step-list-padding-h: 0 !default;
$step-list-padding-left: $step-list-padding-h + $step-list-number-margin +
  $step-list-number-size;
$step-list-breakpoint: $width-md !default;
$step-margin: $spacer-2 !default;
$step-border-width: 1px !default;
$step-button-height: 38px !default;
$current-step-color: $color-primary !default;

.ds-c-step-list {
  list-style-type: none;
  margin: 0;
  padding: 0 $step-list-padding-h;
  padding-left: $step-list-padding-left;
}

.ds-c-step {
  color: $color-muted;
  counter-increment: step-counter;
  margin-bottom: $step-margin;
  padding-bottom: $step-margin;
  position: relative;

  &::before {
    border: $step-list-number-border-size solid $color-muted;
    border-radius: 50%;
    box-sizing: border-box;
    color: $color-muted;
    content: counter(step-counter);
    display: block;
    font-size: $step-list-number-font-size-mobile;
    height: $step-list-number-size-mobile;
    left: -($step-list-number-margin + $step-list-number-size-mobile);
    line-height: $step-list-number-size-mobile - $step-list-number-border-size *
      2;
    position: absolute;
    text-align: center;
    top: ($step-button-height - $step-list-number-size-mobile) / 2;
    width: $step-list-number-size-mobile;

    @media (min-width: $step-list-breakpoint) {
      font-size: $step-list-number-font-size;
      height: $step-list-number-size;
      left: -($step-list-number-margin + $step-list-number-size);
      line-height: $step-list-number-size - $step-list-number-border-size * 2;
      padding-left: 1px;
      top: ($step-button-height - $step-list-number-size) / 2;
      width: $step-list-number-size;
    }
  }

  &::after {
    border-bottom: $step-border-width solid $border-color;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: -$step-list-padding-left;
    position: absolute;
    right: -$step-list-padding-h;
  }

  @media (min-width: $step-list-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.ds-c-step--current,
.ds-c-step--completed {
  padding-bottom: $step-margin;

  &::before {
    border: 0 none;
    color: $color-white;
    line-height: $step-list-number-size-mobile;

    @media (min-width: $step-list-breakpoint) {
      line-height: $step-list-number-size;
    }
  }
}

.ds-c-step--current {
  .ds-c-step__title {
    color: $current-step-color;
  }

  &::before {
    background: $current-step-color;
  }
}

.ds-c-step--completed {
  .ds-c-step__title {
    color: $color-base;
  }

  .ds-c-step__substeps {
    color: $color-base;
  }

  &::before {
    background: $color-base;
  }
}

.ds-c-step__content {
  @media (min-width: $step-list-breakpoint) {
    padding-right: $spacer-2;
  }
}

.ds-c-step__title {
  font-size: $h5-font-size;
  line-height: $step-button-height;
  margin: 0;

  @media (min-width: $step-list-breakpoint) {
    font-size: $h3-font-size;
  }
}

.ds-c-step__actions {
  font-size: $small-font-size;
  margin-left: auto;

  .ds-c-step__content--with-content + & {
    margin-top: $spacer-2;

    @media (min-width: $step-list-breakpoint) {
      margin-top: 0;
    }
  }

  .ds-c-step--completed & a {
    font-weight: $font-normal;
  }

  @media (min-width: $step-list-breakpoint) {
    font-size: $base-font-size;
    text-align: right;
  }
}

.ds-c-step__completed-text {
  display: inline-block;
  line-height: $step-button-height - 12px;
  margin-right: $spacer-2;

  &::before {
    background-image: url('#{$image-path}/checkmark-green.svg');
    background-size: contain;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    height: 12px;
    margin-right: $spacer-1;
    width: 16px;
  }

  @media (min-width: $step-list-breakpoint) {
    display: block;
    margin-right: 0;
    padding-top: 6px;
    white-space: nowrap;
  }
}

.ds-c-step__description {
  font-size: $small-font-size;
  margin-bottom: $spacer-1;

  .ds-c-step--current &,
  .ds-c-step--completed & {
    margin-top: $spacer-1;
  }

  @media (min-width: $step-list-breakpoint) {
    font-size: $base-font-size;
  }
}

.ds-c-step__substeps {
  list-style-type: none;
  margin: 0;
  padding-left: $spacer-5;
}

.ds-c-substep {
  display: block;
  font-size: $small-font-size;

  &::before {
    content: '\2022';
    left: -$spacer-3;
    position: relative;
  }
}

.ds-c-substep__title {
  display: inline-block;
  margin-right: $spacer-1;
}

.ds-c-substep__edit {
  @media (min-width: $step-list-breakpoint) {
    position: absolute;
    right: 0;
  }
}

/*
Start, Resume, and Edit links

A user interacts with the steps through "Start", "Resume", and "Edit"
links.

In the React component, the links' `href` properties are determined by the
`step` object's `href` property. One can also optionally pass an
`onStepLinkClick` function that will cancel the default link behavior and call
`onStepLinkClick` with `href` as a parameter for apps that handle routing with
JavaScript.

When a step has substeps and is incomplete, the `href` property should be set to
match the `href` of the current substep—that is, the first incomplete substep.
The "Edit" button will only appear on substeps that have been completed.

Style guide: patterns.step-list.buttons
*/

/*
`<StepList>`

@react-component StepList

Style guide: patterns.step-list.react
*/

/*
Step object

A `step` object contains all information needed to render the step, including
text, progress, and routing information.

Step object properties:
- **id** (`string`) - Unique string representing the step. Will be passed to onStepLinkClick as second parameter
- **href** (`string`) - URL or partial URL that routes to the step. Will be passed to onStepLinkClick as first parameter
- **completed** (`bool`) - Whether the step has been completed
- **started** (`bool`) - Whether the step has been started
- **isNextStep** (`bool`) - Whether this is the next unstarted step
- **title** (`string`) - Text to display as the step title
- **description** (`string`) - Additional text to display under (only rendered for top-level steps)

Style guide: patterns.step-list.step-object
*/

/*
---

## Managing list state

### Substeps
The `<StepList>` component takes an array of step objects. From there steps can
be broken down infinitely into sub-steps. This allows us to have unique URLs for
each part of a step; however, by default we only display two levels of this tree
—the _step_ and _substep_. This default behavior should remain unchanged except
for special circumstances. It is better not to overwhelm the user with showing
all the substeps and giving them names.

We do, nonetheless, encourage the use of sub-substeps that are not visible where
these substeps span multiple pages and have their own unique URLs. If, for
example, the user completes the first page of the `household > overall` substep
where they list the household members but has not completed the second page
where they define those members' relationships to each other, we want the
"Resume" button to take them back to the relationships page and not the first
page where they entered their names. This, of course, requires an extra
steps-building process to update a top-level steps' `href` property by
traversing the substep tree to find the first incomplete step. See the
[Completed, started, and isNextStep](#completed-started-and-isnextstep) section
below for an example JavaScript function that can change the `href` of steps
based on their substeps.

### Completed, started, and isNextStep

The _state_ of a step object will be defined for these purposes as the values
of its `completed`, `started`, and `isNextStep` properties. These correspond to
different visual states when rendered by the `<StepList>`, showing "Completed",
"Resume", or "Start" respectively. For steps with substeps, the state should be
representative of the collective states of its substeps. For example, if a step
has substeps that have `completed: false`, that step should not have
`completed: true` because not all of its substeps have been completed. Similarly
a step can only be `started` if at least one of its substeps has been `started`.
This should be true for each of the substep's substeps and so on. Below is an
example function that can propagate this state information up from the smallest
substep to the largest step before passing the steps array to the `<StepList>`
component.

```js
function propagateSubstepState(step) {
  if (step.steps) {
    const steps = step.steps.map(propagateSubstepState);
    const newStep = {
      ...step,
      steps,
      started: steps.some(s => s.started),
      completed: steps.every(s => s.completed)
    };
    if (!newStep.completed) {
      const nextStep = steps.find(s => !s.completed);
      newStep.href = nextStep.href;
    }
    return newStep;
  }
  else {
    return step;
  }
}

// ...
//
// Render function:

const steps = rawSteps.map(propagateSubstepState);
return <StepList steps={steps} />;
```

Style guide: patterns.step-list.guidance
*/
