@import '@cmsgov/design-system-support/src/index';

/*
Review

The review pattern is used for listing a summary of information entered
by a user. Its content includes a heading, value, and edit link.

Markup:
<div class="ds-u-border-bottom--2 ds-u-padding-y--2 ds-u-justify-content--between ds-u-display--flex">
  <div class="ds-u-margin-right--2">
    <h3 class="ds-text ds-u-margin-bottom--0 ds-u-font-weight--bold ds-u-display--inline-block">
      Name
    </h3>
    <div>Jane Doe</div>
  </div>
  <div class="ds-u-margin--0">
    <a href="javascript:void(0);">Edit</a>
  </div>
</div>
<div class="ds-u-border-bottom--2 ds-u-padding-y--2 ds-u-justify-content--between ds-u-display--flex">
  <div class="ds-u-margin-right--2">
    <h3 class="ds-text ds-u-margin-bottom--0 ds-u-font-weight--bold ds-u-display--inline-block">
      Date of Birth
    </h3>
    <div>December 3, 1981</div>
  </div>
  <div class="ds-u-margin--0">
    <a href="javascript:void(0);">Edit</a>
  </div>
</div>
<div class="ds-u-border-bottom--2 ds-u-padding-y--2 ds-u-justify-content--between ds-u-display--flex">
  <div class="ds-u-margin-right--2">
    <h3 class="ds-text ds-u-margin-bottom--0 ds-u-font-weight--bold ds-u-display--inline-block">
      States Lived
    </h3>
    <div>
      <ul>
        <li>Ohio</li>
        <li>Idaho</li>
        <li>Iowa</li>
    </div>
  </div>
  <div class="ds-u-margin--0">
    <a href="javascript:void(0);">Edit</a>
  </div>
</div>

Style guide: patterns.review
*/

/*
`<Review>`

@react-component Review

Style guide: patterns.review.react
*/
