:root, ::before, ::after, ::backdrop {
--radius-circle: 100%;
--radius-default: 3px;
--radius-large: 8px;
--radius-medium: 4px;
--radius-pill: 9999px;
--radius-small: 2px;
--site-margins: 3rem;
--site-margins-mobile: 1.5rem;
--site-max-width: 1104px;
--media-width-xs: 0px;
--media-width-sm: 544px;
--media-width-md: 768px;
--media-width-lg: 1024px;
--media-width-xl: 1280px;
--measure-narrow: 45ex;
--measure-base: 65ex;
--measure-wide: 80ex;
--spacer-1: 8px;
--spacer-2: 16px;
--spacer-3: 24px;
--spacer-4: 32px;
--spacer-5: 40px;
--spacer-6: 48px;
--spacer-7: 56px;
--spacer-none: 0px;
--spacer-half: 4px;
--grid-columns: 12;
--grid-gutter-width: var(--spacer-4);
--grid-form-gutter-width: var(--spacer-2);
--animation-speed-1: 250ms;
--animation-speed-2: 300ms;
--animation-speed-3: 500ms;
--animation-speed-4: 800ms;
--field-max-width: 460px;
--field-max-width--small: 6rem;
--field-max-width--medium: 12rem;
--color-white: #ffffff;
--color-black: #000000;
--color-transparent: transparent;
--color-transparent-black-alpha50: #00000080;
--color-transparent-black-alpha25: #00000040;
--color-transparent-white-alpha50: #ffffff80;
--color-transparent-white-alpha25: #ffffff40;
--color-background: #ffffff;
--color-background-inverse: #07124d;
--color-base: #262626;
--color-base-inverse: #ffffff;
--color-border: #d9d9d9;
--color-border-dark: #0f1e38;
--color-border-inverse: #ffffff;
--color-error-lightest: #fef5f7;
--color-error-lighter: #f7bbc5;
--color-error-light: #f18e9e;
--color-error: #e31c3d;
--color-error-dark: #cc1937;
--color-error-darker: #9f142b;
--color-error-darkest: #720e1f;
--color-focus-light: #ffffff;
--color-focus-dark: #bd13b8;
--color-gray-lightest: #f2f2f2;
--color-gray-lighter: #d9d9d9;
--color-gray-light: #a6a6a6;
--color-gray: #808080;
--color-gray-dark: #5a5a5a;
--color-gray-darker: #404040;
--color-gray-darkest: #262626;
--color-muted: #5a5a5a;
--color-muted-inverse: #e9ecf1;
--color-primary-lightest: #e7e9f5;
--color-primary-lighter: #b6bde0;
--color-primary-light: #5666b8;
--color-primary: #0d2499;
--color-primary-dark: #0c208a;
--color-primary-darker: #09196b;
--color-primary-darkest: #07124d;
--color-secondary-lightest: #ecfcf3;
--color-secondary-lighter: #c6f6db;
--color-secondary-light: #7bebac;
--color-secondary: #42e288;
--color-secondary-dark: #3bcb7a;
--color-secondary-darker: #2e9e5f;
--color-secondary-darkest: #217144;
--color-accent-primary-lightest: #fffce6;
--color-accent-primary-lighter: #fff7b5;
--color-accent-primary-light: #ffec52;
--color-accent-primary: #ffe400;
--color-accent-primary-dark: #e6cd07;
--color-accent-primary-darker: #b3a006;
--color-accent-primary-darkest: #807204;
--color-info-lightest: #e7e9f5;
--color-info-lighter: #b6bde0;
--color-info-light: #5666b8;
--color-info: #0d2499;
--color-info-dark: #0c208a;
--color-info-darker: #09196b;
--color-info-darkest: #07124d;
--color-success-lightest: #f6faf5;
--color-success-lighter: #b8dcb7;
--color-success-light: #59ac56;
--color-success: #12890e;
--color-success-dark: #107b0d;
--color-success-darker: #0d600a;
--color-success-darkest: #094507;
--color-warn-lightest: #fffce6;
--color-warn-lighter: #fff7b5;
--color-warn-light: #ffec52;
--color-warn: #ffe400;
--color-warn-dark: #e6cd07;
--color-warn-darker: #b3a006;
--color-warn-darkest: #807204;
--color-visited: #5f0a5c;
--font-size-base: 1rem;
--font-size-sm: 0.875rem;
--font-size-md: 1rem;
--font-size-lg: 1.125rem;
--font-size-xl: 1.3125rem;
--font-size-2xl--mobile: 1.5rem;
--font-size-2xl: 1.5rem;
--font-size-3xl--mobile: 1.875rem;
--font-size-3xl: 2.25rem;
--font-size-4xl--mobile: 2.25rem;
--font-size-4xl: 3rem;
--font-size-5xl--mobile: 2.25rem;
--font-size-5xl--tablet: 3rem;
--font-size-5xl: 3.75rem;
--font-line-height-reset: 1;
--font-line-height-heading: 1.2999999523162842;
--font-line-height-base: 1.5;
--font-line-height-lead: 1.7000000476837158;
--font-family-heading: 'Open Sans', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', 'Arial', 'sans-serif';
--font-family-body: 'Open Sans', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', 'Arial', 'sans-serif';
--font-family-button: 'Open Sans', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', 'Arial', 'sans-serif';
--font-family-link: 'Open Sans', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', 'Arial', 'sans-serif';
--font-weight-heading-5xl: var(--font-weight-bold);
--font-weight-heading-4xl: var(--font-weight-normal);
--font-weight-heading-3xl: var(--font-weight-normal);
--font-weight-heading-2xl: var(--font-weight-bold);
--font-weight-heading-xl: var(--font-weight-bold);
--font-weight-heading-lg: var(--font-weight-bold);
--font-weight-heading-md: var(--font-weight-bold);
--font-weight-heading-sm: var(--font-weight-normal);
--font-weight-body-lg: var(--font-weight-normal);
--font-weight-body-md: var(--font-weight-normal);
--font-weight-body-sm: var(--font-weight-normal);
--font-weight-button-lg: var(--font-weight-bold);
--font-weight-button-md: var(--font-weight-bold);
--font-weight-button-sm: var(--font-weight-normal);
--font-weight-normal: 400;
--font-weight-bold: 700;
--global__color: var(--color-base);
--global__color--inverse: var(--color-base-inverse);
--global__font-family: var(--font-family-body);
--global__font-size: var(--font-size-base);
--global__line-height: var(--font-line-height-base);
--accordion__color: var(--color-base);
--accordion__border-top-left-radius: 20px;
--accordion__border-top-right-radius: 20px;
--accordion__border-bottom-left-radius: 0px;
--accordion__border-bottom-right-radius: 0px;
--accordion__border-width: 1px;
--accordion-button__color: var(--color-base);
--accordion-content__background-color: var(--color-white);
--accordion__background-color: var(--color-primary-lightest);
--accordion__background-color--hover: var(--color-primary-lighter);
--accordion__border-color: var(--color-gray-lightest);
--alert__background-color--lightweight: var(--color-white);
--alert__border-left-color: var(--color-info);
--alert__border-color--error: var(--color-error);
--alert__border-color--success: var(--color-success);
--alert__border-color--warn: var(--color-warn);
--alert__font-color: var(--color-base);
--alert__background-color: var(--color-info-lightest);
--alert__background-color--error: var(--color-error-lightest);
--alert__background-color--success: var(--color-success-lightest);
--alert__background-color--warn: var(--color-warn-lightest);
--alert__icon-size: 1.5rem;
--alert__padding: var(--spacer-2);
--alert-bar__width: var(--spacer-1);
--badge__background-color--alert: var(--color-error);
--badge__background-color--info: var(--color-primary);
--badge__background-color--success: var(--color-success);
--badge__background-color--warn: var(--color-warn);
--badge__font-color: var(--color-base);
--badge__font-color--alert: var(--color-white);
--badge__font-color--info: var(--color-white);
--badge__font-color--success: var(--color-white);
--badge__font-color--warn: var(--color-base);
--badge__background-color: var(--color-gray-lightest);
--badge__border-radius: var(--radius-medium);
--button__background-color: var(--color-transparent);
--button__background-color--active: var(--color-primary-lightest);
--button__background-color--hover: var(--color-accent-primary);
--button__background-color--disabled: var(--color-gray-lightest);
--button__border-color: var(--color-primary);
--button__border-color--active: var(--color-primary);
--button__border-color--hover: var(--color-primary);
--button__border-color--disabled: var(--color-gray-lighter);
--button__border-radius: var(--radius-pill);
--button__border-width: 2px;
--button__color: var(--color-primary);
--button__color--active: var(--color-primary-darkest);
--button__color--hover: var(--color-primary-darker);
--button__color--disabled: var(--color-gray-dark);
--button-alt__background-color: var(--color-transparent);
--button-alt__background-color--active: var(--color-gray-lighter);
--button-alt__background-color--hover: var(--color-accent-primary);
--button-alt__background-color--disabled: var(--color-transparent);
--button-alt__border-color: var(--color-primary);
--button-alt__border-color--active: var(--color-primary-darkest);
--button-alt__border-color--hover: var(--color-primary-darker);
--button-alt__border-color--disabled: var(--color-gray-lighter);
--button-alt__color: var(--color-primary);
--button-alt__color--active: var(--color-primary-darkest);
--button-alt__color--hover: var(--color-primary-darker);
--button-alt__color--disabled: var(--color-gray-lighter);
--button-dark__background-color: var(--color-transparent);
--button-dark__background-color--active: var(--color-transparent);
--button-dark__background-color--hover: var(--color-transparent);
--button-dark__background-color--disabled: var(--color-transparent);
--button-dark__border-color: var(--color-white);
--button-dark__border-color--active: var(--color-gray-lighter);
--button-dark__border-color--hover: var(--color-gray-lightest);
--button-dark__border-color--disabled: var(--color-gray-dark);
--button-dark__color: var(--color-white);
--button-dark__color--active: var(--color-gray-lighter);
--button-dark__color--hover: var(--color-gray-lightest);
--button-dark__color--disabled: var(--color-gray-dark);
--button-dark-alt__background-color: var(--color-transparent);
--button-dark-alt__background-color--active: var(--color-transparent);
--button-dark-alt__background-color--hover: var(--color-transparent);
--button-dark-alt__background-color--disabled: var(--color-transparent);
--button-dark-alt__border-color: var(--color-secondary-lightest);
--button-dark-alt__border-color--active: var(--color-secondary-light);
--button-dark-alt__border-color--hover: var(--color-secondary-lighter);
--button-dark-alt__border-color--disabled: var(--color-gray-dark);
--button-dark-alt__color: var(--color-secondary-lightest);
--button-dark-alt__color--active: var(--color-secondary-light);
--button-dark-alt__color--hover: var(--color-secondary-lighter);
--button-dark-alt__color--disabled: var(--color-gray-dark);
--button-solid__background-color: var(--color-primary);
--button-solid__background-color--active: var(--color-primary-lightest);
--button-solid__background-color--hover: var(--color-accent-primary);
--button-solid__background-color--disabled: var(--color-gray-lightest);
--button-solid__border-color: var(--color-primary);
--button-solid__border-color--active: var(--color-primary);
--button-solid__border-color--hover: var(--color-primary);
--button-solid__border-color--disabled: var(--color-gray-lighter);
--button-solid__color: var(--color-white);
--button-solid__color--active: var(--color-primary);
--button-solid__color--hover: var(--color-primary);
--button-solid__color--disabled: var(--color-gray-dark);
--button-solid-alt__background-color: var(--color-primary);
--button-solid-alt__background-color--active: var(--color-primary-lightest);
--button-solid-alt__background-color--hover: var(--color-accent-primary);
--button-solid-alt__background-color--disabled: var(--color-gray-lightest);
--button-solid-alt__border-color: var(--color-primary);
--button-solid-alt__border-color--active: var(--color-primary);
--button-solid-alt__border-color--hover: var(--color-primary);
--button-solid-alt__border-color--disabled: var(--color-gray-lighter);
--button-solid-alt__color: var(--color-white);
--button-solid-alt__color--active: var(--color-primary);
--button-solid-alt__color--hover: var(--color-primary);
--button-solid-alt__color--disabled: var(--color-gray-dark);
--button-solid-dark__background-color: var(--color-white);
--button-solid-dark__background-color--active: var(--color-gray-lighter);
--button-solid-dark__background-color--hover: var(--color-gray-lightest);
--button-solid-dark__background-color--disabled: var(--color-gray-darker);
--button-solid-dark__border-color: var(--color-white);
--button-solid-dark__border-color--active: var(--color-gray-lighter);
--button-solid-dark__border-color--hover: var(--color-gray-lightest);
--button-solid-dark__border-color--disabled: var(--color-gray-darker);
--button-solid-dark__color: var(--color-base);
--button-solid-dark__color--active: var(--color-base);
--button-solid-dark__color--hover: var(--color-base);
--button-solid-dark__color--disabled: var(--color-base);
--button-solid-dark-alt__background-color: var(--color-secondary-lighter);
--button-solid-dark-alt__background-color--active: var(--color-secondary);
--button-solid-dark-alt__background-color--hover: var(--color-secondary-light);
--button-solid-dark-alt__background-color--disabled: var(--color-gray-darker);
--button-solid-dark-alt__border-color: var(--color-secondary-lighter);
--button-solid-dark-alt__border-color--active: var(--color-secondary);
--button-solid-dark-alt__border-color--hover: var(--color-secondary-light);
--button-solid-dark-alt__border-color--disabled: var(--color-gray-darker);
--button-solid-dark-alt__color: var(--color-base);
--button-solid-dark-alt__color--active: var(--color-base);
--button-solid-dark-alt__color--hover: var(--color-base);
--button-solid-dark-alt__color--disabled: var(--color-base);
--button-ghost__background-color: var(--color-transparent);
--button-ghost__background-color--active: var(--color-transparent);
--button-ghost__background-color--hover: var(--color-accent-primary);
--button-ghost__background-color--disabled: var(--color-transparent);
--button-ghost__border-color: var(--color-transparent);
--button-ghost__border-color--active: var(--color-transparent);
--button-ghost__border-color--hover: var(--color-transparent);
--button-ghost__border-color--disabled: var(--color-transparent);
--button-ghost__color: var(--color-primary);
--button-ghost__color--active: var(--color-primary);
--button-ghost__color--hover: var(--color-primary);
--button-ghost__color--disabled: var(--color-gray-dark);
--button-ghost-alt__background-color: var(--color-transparent);
--button-ghost-alt__background-color--active: var(--color-transparent);
--button-ghost-alt__background-color--hover: var(--color-accent-primary);
--button-ghost-alt__background-color--disabled: var(--color-transparent);
--button-ghost-alt__border-color: var(--color-transparent);
--button-ghost-alt__border-color--active: var(--color-transparent);
--button-ghost-alt__border-color--hover: var(--color-transparent);
--button-ghost-alt__border-color--disabled: var(--color-transparent);
--button-ghost-alt__color: var(--color-primary);
--button-ghost-alt__color--active: var(--color-primary);
--button-ghost-alt__color--hover: var(--color-primary);
--button-ghost-alt__color--disabled: var(--color-gray-dark);
--button-ghost-dark__background-color: var(--color-transparent);
--button-ghost-dark__background-color--active: var(--color-transparent);
--button-ghost-dark__background-color--hover: var(--color-transparent);
--button-ghost-dark__background-color--disabled: var(--color-transparent);
--button-ghost-dark__border-color: var(--color-transparent);
--button-ghost-dark__border-color--active: var(--color-transparent);
--button-ghost-dark__border-color--hover: var(--color-transparent);
--button-ghost-dark__border-color--disabled: var(--color-transparent);
--button-ghost-dark__color: var(--color-white);
--button-ghost-dark__color--active: var(--color-gray-lighter);
--button-ghost-dark__color--hover: var(--color-gray-lightest);
--button-ghost-dark__color--disabled: var(--color-gray-dark);
--button-ghost-dark-alt__background-color: var(--color-transparent);
--button-ghost-dark-alt__background-color--active: var(--color-transparent);
--button-ghost-dark-alt__background-color--hover: var(--color-transparent);
--button-ghost-dark-alt__background-color--disabled: var(--color-transparent);
--button-ghost-dark-alt__border-color: var(--color-transparent);
--button-ghost-dark-alt__border-color--active: var(--color-transparent);
--button-ghost-dark-alt__border-color--hover: var(--color-transparent);
--button-ghost-dark-alt__border-color--disabled: var(--color-transparent);
--button-ghost-dark-alt__color: var(--color-secondary-lighter);
--button-ghost-dark-alt__color--active: var(--color-secondary);
--button-ghost-dark-alt__color--hover: var(--color-secondary-light);
--button-ghost-dark-alt__color--disabled: var(--color-gray-dark);
--choice__background-color: var(--color-background);
--choice__background-color--checked: var(--color-primary);
--choice__background-color--inverse: var(--color-transparent);
--choice__border-color: var(--color-base);
--choice__border-color--checked: var(--color-primary);
--choice__border-color--error: var(--color-base);
--choice__border-color--error--inverse: var(--color-white);
--choice__border-color--inverse: var(--color-white);
--choice__border-color--left: var(--color-primary);
--choice__border-radius: 0px;
--choice__border-width: 2px;
--choice__color--unchecked: var(--color-white);
--choice__color--disabled: var(--color-muted);
--choice__size--small: 20px;
--choice__size-radio: 22px;
--choice__size-radio--small: 12px;
--choice-label__color--disabled: var(--color-muted);
--choice-label__color--disabled--inverse: var(--color-muted-inverse);
--choice-label__top-offset: 0.25rem;
--choice__background-color--disabled: var(--color-gray-lighter);
--choice__border-color--disabled: var(--color-gray-light);
--choice__border-color--focus: var(--color-primary-darker);
--choice__border-color--disabled--inverse: var(--color-gray-light);
--choice__size: 32px;
--choice__background-color--disabled--inverse: #e9ecf126;
--choice-wrapper__gap: 0.5rem;
--choice-wrapper__gap--small: 0.5rem;
--date-field__show-separators: 1;
--day-picker-button__background-color--hover: var(--color-primary-lightest);
--dialog__background-color: var(--color-background);
--dialog-overlay__background-color: var(--color-transparent-black-alpha50);
--dialog__padding: var(--spacer-4);
--drawer__background-color: var(--color-background);
--drawer__border-color: var(--color-border);
--drawer-close__color: var(--color-black);
--drawer-toggle__background-color--hover: var(--color-info);
--drawer-toggle__background-color--hover--inverse: var(--color-white);
--drawer-toggle__color--hover: var(--color-white);
--drawer-toggle__color--hover--inverse: var(--color-gray-darker);
--drawer-header__background-color: var(--color-gray-lightest);
--drawer-footer__background-color: var(--color-info-lightest);
--drawer__animation-timing: var(--animation-speed-2);
--filter-chip__background-color: var(--color-primary-lightest);
--filter-chip__background-color--active: var(--color-primary);
--filter-chip__border-color: var(--color-primary);
--filter-chip__border-color--active: var(--color-primary);
--filter-chip__border-radius: var(--radius-pill);
--filter-chip__color: var(--color-base);
--filter-chip__color--active: var(--color-white);
--filter-chip-icon__color: var(--color-base);
--filter-chip-icon__color-active: var(--color-white);
--hint__color: var(--color-muted);
--hint__color--inverse: var(--color-muted-inverse);
--label__font-family: var(--font-family-body);
--label__font-size: var(--font-size-md);
--label__font-weight: var(--font-weight-bold);
--label__letter-spacing: 0px;
--label__text-transform: inherit;
--inline-error__color: var(--color-error);
--inline-error__color--inverse: var(--color-error-light);
--link__color: var(--color-primary);
--link__color--active: var(--color-base);
--link__color--hover: var(--color-primary);
--link__color--visited: var(--color-visited);
--link__text-decoration-offset: 4px;
--link__text-decoration-thickness: 2.4000000953674316px;
--link__text-decoration-thickness--hover: 2.4000000953674316px;
--link-inverse__color--active: var(--color-muted-inverse);
--link-inverse__color--hover: var(--color-muted-inverse);
--link-inverse__color--visited: var(--color-muted-inverse);
--link-inverse__color: var(--color-base-inverse);
--pagination-link__color: var(--color-primary);
--pagination-link__color--hover: var(--color-primary-darker);
--pagination-link__color--active: var(--color-primary-darkest);
--pagination-link__color--focus: var(--color-primary-darker);
--pagination-link__color--disabled: var(--color-gray-lighter);
--pagination-overflow__color: var(--color-gray-dark);
--pagination-page-count__color: var(--color-gray-dark);
--pagination-current-page__color: var(--color-base);
--steplist__background-color--current: var(--color-primary);
--steplist__color: var(--color-muted);
--steplist__color--current: var(--color-primary);
--steplist-step__border-color: var(--color-border);
--steplist-step__border-color--default: var(--color-muted);
--steplist-step__background-color--completed: var(--color-base);
--steplist-step__color: var(--color-muted);
--steplist-step__color--current: var(--color-white);
--steplist-step__color--completed: var(--color-base);
--review__border-color: var(--color-border);
--spinner__background-color: var(--color-background);
--spinner__color: var(--color-base);
--spinner__color--inverse: var(--color-white);
--spinner__background-color--inverse: var(--color-background-inverse);
--table__border-color: var(--color-gray-lighter);
--table__background-color--striped: var(--color-primary-lightest);
--table__padding: var(--spacer-2);
--table-header__background-color: var(--color-primary-lightest);
--tabs__border-color: var(--color-border);
--tabs__background-color: var(--color-background);
--tabs__background-color--selected: var(--color-background);
--tabs__background-color--hover: var(--color-primary-lightest);
--tabs__background-color--disabled: var(--color-gray-lighter);
--tabs__border-color--selected: var(--color-primary);
--tabs__border-color--disabled: var(--color-gray-lighter);
--tabs__color: var(--color-base);
--tabs__color--hover: var(--color-primary);
--tabs__color--selected: var(--color-primary);
--tabs-panel__background-color: var(--color-background);
--tabs__color--active: var(--color-primary-darker);
--tabs__color--disabled: var(--color-gray-darker);
--text-input__background-color--disabled: var(--color-gray-lighter);
--text-input__border-width: 2px;
--text-input__border-width--disabled: 2px;
--text-input__border-width--error: 3px;
--text-input__border-color: var(--color-base);
--text-input__border-color--disabled: var(--color-gray-light);
--text-input__border-color--error: var(--color-error);
--text-input__border-color--error--inverse: var(--color-error-light);
--text-input__border-color--inverse: var(--color-black);
--text-input__border-radius: var(--radius-default);
--text-input__color: var(--color-base);
--text-input__divider-color: var(--color-gray-light);
--text-input__padding: var(--spacer-1);
--text-input__line-height: 1.2999999523162842;
--text-input-currency-icon__line-height: var(--text-input__line-height);
--text-input-currency-icon__spacing: 20px;
--tooltip__background-color: var(--color-background);
--tooltip__border-color: var(--color-gray-darker);
--tooltip__border-color--active: #0d249940;
--tooltip__border-color--inverse-active: #ffffff40;
--tooltip__border-width: 1px;
--tooltip__box-shadow-color: var(--color-gray-light);
--tooltip__color: var(--color-base);
--tooltip-icon__color: var(--color-primary);
--tooltip-icon__color--inverse: var(--color-white);
--tooltip-trigger__color: var(--color-base);
--vertical-nav-item__background-color--hover: var(--color-gray-lightest);
--vertical-nav-item__border-color: var(--color-gray-dark);
--vertical-nav-item__color--hover: var(--color-primary);
--vertical-nav-label__border-color--current: var(--color-primary);
--vertical-nav-label__color: var(--color-base);
--vertical-nav-label__color--current: var(--color-primary);
--vertical-nav-label-icon__color: var(--color-base);
--usa-banner__background-color: var(--color-gray-lightest);
--usa-banner-domain-icon__color: var(--color-primary);
--usa-banner-close-button__color--mobile: var(--color-primary);
--usa-banner-close-button__background-color--mobile: var(--color-gray-lighter);
--usa-banner-security-icon__color: var(--color-success-light);
}