:root, ::before, ::after, ::backdrop {
--animation-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
--animation-speed-base: 1;
--animation-speed-1: 0.25s;
--animation-speed-2: 0.3s;
--animation-speed-3: 0.5s;
--animation-speed-4: 0.8s;
--color-white: #ffffff;
--color-black: #000000;
--color-transparent: #ffffff00;
--color-transparent-black-alpha50: #00000080;
--color-transparent-black-alpha25: #00000040;
--color-transparent-white-alpha50: #ffffff80;
--color-transparent-white-alpha25: #ffffff40;
--color-background: #ffffff;
--color-background-dialog: #ffffff;
--color-background-dialog-mask: #00000080;
--color-background-inverse: #146a5d;
--color-base: #404040;
--color-base-inverse: #ffffff;
--color-border: #d9d9d9;
--color-border-dark: #0f1e38;
--color-border-inverse: #ffffff;
--color-error-lightest: #f7e6e6;
--color-error-lighter: #e8b3b3;
--color-error-light: #c94d4d;
--color-error: #b20000;
--color-error-dark: #a00000;
--color-error-darker: #7d0000;
--color-error-darkest: #590000;
--color-focus-light: #ffffff;
--color-focus-dark: #c97532;
--color-gray-lightest: #f2f2f2;
--color-gray-lighter: #d9d9d9;
--color-gray-light: #a6a6a6;
--color-gray: #808080;
--color-gray-dark: #5a5a5a;
--color-gray-darker: #404040;
--color-gray-darkest: #262626;
--color-muted: #5a5a5a;
--color-muted-inverse: #e9ecf1;
--color-primary-lightest: #e8f0ef;
--color-primary-lighter: #b9d2ce;
--color-primary-light: #5b978e;
--color-primary: #146a5d;
--color-primary-dark: #125f54;
--color-primary-darker: #0e4a41;
--color-primary-darkest: #0a352f;
--color-secondary-lightest: #e9ecf1;
--color-secondary-lighter: #bcc5d4;
--color-secondary-light: #62779b;
--color-secondary: #1e3c70;
--color-secondary-dark: #1b3665;
--color-secondary-darker: #152a4e;
--color-secondary-darkest: #0f1e38;
--color-info-lightest: #e9ecf1;
--color-info-lighter: #bcc5d4;
--color-info-light: #62779b;
--color-info: #1e3c70;
--color-info-dark: #1b3665;
--color-info-darker: #152a4e;
--color-info-darkest: #0f1e38;
--color-success-lightest: #e7f3e7;
--color-success-lighter: #b8dcb7;
--color-success-light: #59ac56;
--color-success: #12890e;
--color-success-dark: #107b0d;
--color-success-darker: #0d600a;
--color-success-darkest: #094507;
--color-warn-lightest: #fef9e9;
--color-warn-lighter: #fdedbc;
--color-warn-light: #fad662;
--color-warn: #f8c41f;
--color-warn-dark: #dfb01c;
--color-warn-darker: #ae8916;
--color-warn-darkest: #7c6210;
--color-visited: #590000;
--font-family-open-sans: 'Open Sans', Helvetica, sans-serif;
--font-family-rubik: 'Rubik', sans-serif;
--font-family-montserrat: 'Montserrat', sans-serif;
--font-family-bitter: Bitter, Georgia, serif;
--font-line-height-reset: 1;
--font-line-height-heading: 1.3;
--font-line-height-base: 1.5;
--font-line-height-lead: 1.7;
--font-size-base: 16px;
--font-size-sm: 14px;
--font-size-md: 16px;
--font-size-lg: 20px;
--font-size-xl: 24px;
--font-size-2xl: 32px;
--font-size-3xl: 40px;
--font-size-4xl: 44px;
--font-size-5xl: 50px;
--font-weight-light: 400;
--font-weight-normal: 400;
--font-weight-semibold: 600;
--font-weight-bold: 600;
--font-sans: 'Rubik', sans-serif;
--font-montserrat: 'Montserrat', sans-serif;
--font-rubik: 'Rubik', sans-serif;
--article-max-width: 600px;
--grid-columns: 12;
--grid-gutter-width: 32px;
--grid-form-gutter-width: 16px;
--lead-max-width: 77rem;
--nav-width: 951px;
--site-margins: 3rem;
--site-margins-mobile: 1.5rem;
--site-max-width: 1040px;
--text-max-width: 53rem;
--measure-narrow: 45ex;
--measure-base: 65ex;
--measure-wide: 80ex;
--media-width-xs: 0px;
--media-width-sm: 544px;
--media-width-md: 768px;
--media-width-lg: 1024px;
--media-width-xl: 1280px;
--radius-circle: 100%;
--radius-default: 3px;
--radius-large: 8px;
--radius-medium: 4px;
--radius-pill: 9999px;
--radius-small: 2px;
--shadow-focus: inset 0 0 0 1px #404040;
--shadow-focus-inverse: inset 0 0 0 1px #404040;
--shadow-focus-link: 0 3px #404040;
--shadow-box-card: 0 2px 3px 0 rgba(50, 50, 50, 0.23);
--shadow-base-offset-x: 2px;
--shadow-base-offset-y: 2px;
--shadow-base-blur-radius: 4px;
--shadow-base-color: #00000040;
--shadow-base: 2px 2px 4px;
--spacer-1: 8px;
--spacer-2: 16px;
--spacer-3: 24px;
--spacer-4: 32px;
--spacer-5: 40px;
--spacer-6: 48px;
--spacer-7: 56px;
--spacer-none: 0px;
--spacer-half: 4px;
--z-deep: -99999;
--z-default: 1;
--z-drawer: 500;
--z-dialog: 1000;
--z-popup: 6000;
--z-spinner: 9050;
--accordion__color: #404040;
--accordion__background-color: #f2f2f2;
--accordion__background-color--hover: #d9d9d9;
--accordion__border-color: #f2f2f2;
--accordion__border-radius: 0;
--accordion__border-width: 4px;
--accordion-button__color: #404040;
--accordion-content__background-color: #ffffff;
--alert__background-color: #e9ecf1;
--alert__background-color--error: #f7e6e6;
--alert__background-color--lightweight: #ffffff;
--alert__background-color--success: #e7f3e7;
--alert__background-color--warn: #fef9e9;
--alert__border-left-color: #1e3c70;
--alert__border-color--error: #b20000;
--alert__border-color--success: #12890e;
--alert__border-color--warn: #f8c41f;
--alert__font-color: #404040;
--alert__icon-size: 40px;
--alert__padding: 16px;
--alert-bar__width: 8px;
--alert-link__font-color: #1e3c70;
--alert-link__font-color--hover: #1b3665;
--alert-link__font-color--focus: #0f1e38;
--alert-link__font-color--active: #0f1e38;
--autocomplete__background-color: #ffffff;
--autocomplete__border-color: #d9d9d9;
--autocomplete-item__font-color: #146a5d;
--autocomplete-item__background-color--active: #0f1e38;
--autocomplete-item__font-color--active: #ffffff;
--autocomplete-item-message__font-color: #5a5a5a;
--badge__background-color: #5a5a5a;
--badge__background-color--alert: #b20000;
--badge__background-color--info: #146a5d;
--badge__background-color--success: #12890e;
--badge__background-color--warn: #f8c41f;
--badge__font-color: #ffffff;
--badge__font-color--alert: #ffffff;
--badge__font-color--info: #ffffff;
--badge__font-color--success: #ffffff;
--badge__font-color--warn: #404040;
--badge__border-radius: 9999px;
--button__background-color--active: #ffffff;
--button__background-color--disabled: #ffffff;
--button__background-color--hover: #1b3665;
--button__background-color: #ffffff;
--button__border-color--active: #62779b;
--button__border-color--disabled: currentColor;
--button__border-color--hover: #1b3665;
--button__border-color: currentColor;
--button__border-radius: 3px;
--button__border-width: 1px;
--button__color--active: #62779b;
--button__color--disabled: #d9d9d9;
--button__color--hover: #ffffff;
--button__color: #1e3c70;
--button__font-weight: 400;
--button-icon__fill: currentColor;
--button-alt__background-color--active: #ffffff;
--button-alt__background-color--disabled: #ffffff;
--button-alt__background-color--hover: #125f54;
--button-alt__background-color: #ffffff;
--button-alt__border-color--active: #5b978e;
--button-alt__border-color--disabled: currentColor;
--button-alt__border-color--hover: #125f54;
--button-alt__border-color: currentColor;
--button-alt__color--active: #5b978e;
--button-alt__color--disabled: #d9d9d9;
--button-alt__color--hover: #ffffff;
--button-alt__color: #146a5d;
--button-dark__background-color--active: transparent;
--button-dark__background-color--disabled: transparent;
--button-dark__background-color--hover: transparent;
--button-dark__background-color: transparent;
--button-dark__border-color--active: currentColor;
--button-dark__border-color--disabled: currentColor;
--button-dark__border-color--hover: currentColor;
--button-dark__border-color: currentColor;
--button-dark__color--active: #d9d9d9;
--button-dark__color--disabled: #5a5a5a;
--button-dark__color--hover: #f2f2f2;
--button-dark__color: #ffffff;
--button-dark-alt__background-color--active: transparent;
--button-dark-alt__background-color--disabled: transparent;
--button-dark-alt__background-color--hover: transparent;
--button-dark-alt__background-color: transparent;
--button-dark-alt__border-color--active: currentColor;
--button-dark-alt__border-color--disabled: currentColor;
--button-dark-alt__border-color--hover: currentColor;
--button-dark-alt__border-color: currentColor;
--button-dark-alt__color--active: #62779b;
--button-dark-alt__color--disabled: #5a5a5a;
--button-dark-alt__color--hover: #bcc5d4;
--button-dark-alt__color: #e9ecf1;
--button-solid__background-color--active: #5b978e;
--button-solid__background-color--disabled: #d9d9d9;
--button-solid__background-color--hover: #125f54;
--button-solid__background-color: #146a5d;
--button-solid__border-color--active: #5b978e;
--button-solid__border-color--disabled: #d9d9d9;
--button-solid__border-color--hover: #125f54;
--button-solid__border-color: #146a5d;
--button-solid__color--active: #ffffff;
--button-solid__color--disabled: #404040;
--button-solid__color--hover: #ffffff;
--button-solid__color: #ffffff;
--button-solid-alt__background-color--active: #62779b;
--button-solid-alt__background-color--disabled: #d9d9d9;
--button-solid-alt__background-color--hover: #1b3665;
--button-solid-alt__background-color: #1e3c70;
--button-solid-alt__border-color--active: #62779b;
--button-solid-alt__border-color--disabled: #d9d9d9;
--button-solid-alt__border-color--hover: #1b3665;
--button-solid-alt__border-color: #1e3c70;
--button-solid-alt__color--active: #ffffff;
--button-solid-alt__color--disabled: #404040;
--button-solid-alt__color--hover: #ffffff;
--button-solid-alt__color: #ffffff;
--button-solid-dark__background-color--active: #ffffff;
--button-solid-dark__background-color--disabled: #d9d9d9;
--button-solid-dark__background-color--hover: #125f54;
--button-solid-dark__background-color: #ffffff;
--button-solid-dark__border-color--active: #ffffff;
--button-solid-dark__border-color--disabled: #d9d9d9;
--button-solid-dark__border-color--hover: #125f54;
--button-solid-dark__border-color: #ffffff;
--button-solid-dark__color--active: #5b978e;
--button-solid-dark__color--disabled: #404040;
--button-solid-dark__color--hover: #ffffff;
--button-solid-dark__color: #146a5d;
--button-solid-dark-alt__background-color--active: #ffffff;
--button-solid-dark-alt__background-color--disabled: #d9d9d9;
--button-solid-dark-alt__background-color--hover: #1b3665;
--button-solid-dark-alt__background-color: #ffffff;
--button-solid-dark-alt__border-color--active: #ffffff;
--button-solid-dark-alt__border-color--disabled: #d9d9d9;
--button-solid-dark-alt__border-color--hover: #1b3665;
--button-solid-dark-alt__border-color: #ffffff;
--button-solid-dark-alt__color--active: #62779b;
--button-solid-dark-alt__color--disabled: #404040;
--button-solid-dark-alt__color--hover: #ffffff;
--button-solid-dark-alt__color: #1e3c70;
--button-ghost__background-color--active: transparent;
--button-ghost__background-color--disabled: transparent;
--button-ghost__background-color--hover: transparent;
--button-ghost__background-color: transparent;
--button-ghost__border-color--active: transparent;
--button-ghost__border-color--disabled: transparent;
--button-ghost__border-color--hover: transparent;
--button-ghost__border-color: transparent;
--button-ghost__color--active: #62779b;
--button-ghost__color--disabled: #d9d9d9;
--button-ghost__color--hover: #1b3665;
--button-ghost__color: #1e3c70;
--button-ghost-alt__background-color--active: transparent;
--button-ghost-alt__background-color--disabled: transparent;
--button-ghost-alt__background-color--hover: transparent;
--button-ghost-alt__background-color: transparent;
--button-ghost-alt__border-color--active: transparent;
--button-ghost-alt__border-color--disabled: transparent;
--button-ghost-alt__border-color--hover: transparent;
--button-ghost-alt__border-color: transparent;
--button-ghost-alt__color--active: #5b978e;
--button-ghost-alt__color--disabled: #d9d9d9;
--button-ghost-alt__color--hover: #0e4a41;
--button-ghost-alt__color: #146a5d;
--button-ghost-dark__background-color--active: transparent;
--button-ghost-dark__background-color--disabled: transparent;
--button-ghost-dark__background-color--hover: transparent;
--button-ghost-dark__background-color: transparent;
--button-ghost-dark__border-color--active: transparent;
--button-ghost-dark__border-color--disabled: transparent;
--button-ghost-dark__border-color--hover: transparent;
--button-ghost-dark__border-color: transparent;
--button-ghost-dark__color--active: #d9d9d9;
--button-ghost-dark__color--disabled: #5a5a5a;
--button-ghost-dark__color--hover: #f2f2f2;
--button-ghost-dark__color: #ffffff;
--button-ghost-dark-alt__background-color--active: transparent;
--button-ghost-dark-alt__background-color--disabled: transparent;
--button-ghost-dark-alt__background-color--hover: transparent;
--button-ghost-dark-alt__background-color: transparent;
--button-ghost-dark-alt__border-color--active: transparent;
--button-ghost-dark-alt__border-color--disabled: transparent;
--button-ghost-dark-alt__border-color--hover: transparent;
--button-ghost-dark-alt__border-color: transparent;
--button-ghost-dark-alt__color--active: #d9d9d9;
--button-ghost-dark-alt__color--disabled: #5a5a5a;
--button-ghost-dark-alt__color--hover: #f2f2f2;
--button-ghost-dark-alt__color: #ffffff;
--choice__background-color: #ffffff;
--choice__background-color--checked: #1e3c70;
--choice__background-color--disabled: #d9d9d9;
--choice__background-color--inverse: #ffffff00;
--choice__background-color--disabled--inverse: #e9ecf126;
--choice__border-color: #5a5a5a;
--choice__border-color--checked: #1e3c70;
--choice__border-color--disabled: #a6a6a6;
--choice__border-color--error: #808080;
--choice__border-color--error--inverse: #ffffff;
--choice__border-color--inverse: #ffffff;
--choice__border-color--left: #146a5d;
--choice__border-color--focus: #0e4a41;
--choice__border-color--disabled--inverse: #a6a6a6;
--choice__border-radius: 3px;
--choice__border-width: 2px;
--choice__color--unchecked: #ffffff;
--choice__color--disabled: #5a5a5a;
--choice__size: 24px;
--choice__size--small: 20px;
--choice__size-radio: 16px;
--choice__size-radio--small: 12px;
--choice-label__color--disabled: #5a5a5a;
--choice-label__color--disabled--inverse: #e9ecf1;
--day-picker-button__background-color--hover: #e8f0ef;
--dialog__background-color: #ffffff;
--dialog__padding: 32px;
--dialog-overlay__background-color: #00000080;
--drawer__animation-timing: 0.3s;
--drawer__background-color: #ffffff;
--drawer__border-color: #d9d9d9;
--drawer-close__color: #000000;
--drawer-header__background-color: #ffffff00;
--drawer-footer__background-color: #e9ecf1;
--drawer-toggle__background-color--hover: #1e3c70;
--drawer-toggle__color--hover: #ffffff;
--drawer-toggle__background-color--hover--inverse: #ffffff;
--drawer-toggle__color--hover--inverse: #5a5a5a;
--dropdown__background-color: #ffffff;
--dropdown__icon-size: 10px;
--filter-chip__border-radius: 9999px;
--filter-chip__background-color: #e9ecf1;
--filter-chip__border-color: #1e3c70;
--filter-chip__color: #404040;
--filter-chip__background-color--active: #146a5d;
--filter-chip__border-color--active: #146a5d;
--filter-chip__color--active: #ffffff;
--filter-chip-icon__color: #404040;
--filter-chip-icon__color-active: #ffffff;
--filter-chip-icon__container-size: 18px;
--form-label__color--inverse: #ffffff;
--form-label__color--not-error: #808080;
--form__max-width: 460px;
--form__max-width--small: 6em;
--form__max-width--medium: 12em;
--form-hint__color: #5a5a5a;
--form-hint__color--inverse: #e9ecf1;
--form-error__color: #b20000;
--form-error__color--inverse: #e8b3b3;
--icon__color__error: #b20000;
--icon__color--inverse: #ffffff;
--icon__color--primary: #146a5d;
--icon__color--success: #12890e;
--icon__color--warn: #f8c41f;
--link__color: #1e3c70;
--link__color--active: #1b3665;
--link__color--hover: #1b3665;
--link__color--visited: #590000;
--link-inverse__color: #ffffff;
--link-inverse__color--active: #d9d9d9;
--link-inverse__color--hover: #d9d9d9;
--link-inverse__color--visited: #d9d9d9;
--link__text-decoration-offset: 3px;
--link__text-decoration-thickness: 1px;
--link__text-decoration-thickness--hover: 2px;
--pagination-link__color: #146a5d;
--pagination-link__color--hover: #0e4a41;
--pagination-link__color--active: #0a352f;
--pagination-link__color--focus: #0e4a41;
--pagination-link__color--disabled: #d9d9d9;
--pagination-current-page__color: #404040;
--pagination-overflow__color: #5a5a5a;
--pagination-page-count__color: #5a5a5a;
--review__border-color: #d9d9d9;
--steplist__color: #5a5a5a;
--steplist__color--current: #146a5d;
--steplist__background-color--current: #146a5d;
--steplist-step__color: #5a5a5a;
--steplist-step__border-color: #d9d9d9;
--steplist-step__border-color--default: #5a5a5a;
--steplist-step__color--current: #ffffff;
--steplist-step__color--completed: #404040;
--steplist-step__background-color--completed: #404040;
--spinner__background-color: #ffffff;
--spinner__color: #404040;
--spinner__background-color--inverse: #146a5d;
--spinner__color--inverse: #ffffff;
--table__padding: 16px;
--table__border-color: #000000;
--table-header__background-color: #f2f2f2;
--table-striped__background-color: #f2f2f2;
--table-striped-header__background-color: #f2f2f2;
--tabs__border-color: #d9d9d9;
--tabs__background-color: #ffffff;
--tabs__background-color--hover: #ffffff;
--tabs__background-color--disabled: #d9d9d9;
--tabs__background-color--selected: #ffffff;
--tabs__color: #404040;
--tabs__color--hover: #146a5d;
--tabs__color--active: #0e4a41;
--tabs__color--disabled: #404040;
--tabs__color--selected: #146a5d;
--tabs__border-color--disabled: #d9d9d9;
--tabs__border-color--selected: #146a5d;
--tabs-panel__background-color: #ffffff;
--text-input__line-height: 1.3;
--text-input__background-color--disabled: #d9d9d9;
--text-input__border-width: 2px;
--text-input__border-width--error: 3px;
--text-input__border-width--success: 3px;
--text-input__border-color: #808080;
--text-input__border-color--disabled: #404040;
--text-input__border-color--error: #b20000;
--text-input__border-color--error--inverse: #e8b3b3;
--text-input__border-color--inverse: #000000;
--text-input__border-color--success: #59ac56;
--text-input__color: #404040;
--text-input__padding: 8px;
--text-input__border-radius: 3px;
--tooltip__background-color: #ffffff;
--tooltip__border-color: #404040;
--tooltip__border-color--active: #146a5d40;
--tooltip__border-color--inverse-active: #ffffff40;
--tooltip__border-width: 1px;
--tooltip__color: #404040;
--tooltip__box-shadow-color: #808080;
--tooltip-icon__color: #146a5d;
--tooltip-icon__color--inverse: #ffffff;
--tooltip-trigger__color: #404040;
--typography-heading__font-family: 'Montserrat', sans-serif;
--typography-heading__font-weight: 600;
--typography-heading-4xl__font-weight: 600;
--typography-heading-3xl__font-weight: 600;
--typography-heading-lg__font-weight: 600;
--typography-heading-md__font-weight: 600;
--typography-heading-sm__font-weight: 600;
--typography-body__font-family: 'Rubik', sans-serif;
--usa-banner__background-color: #f2f2f2;
--usa-banner__color: #000000;
--usa-banner-close__background-color: #a6a6a6;
--usa-banner-action__color: #0e4a41;
--usa-banner-lock-icon__color: #59ac56;
--vertical-nav-item__background-color--hover: #f2f2f2;
--vertical-nav-item__color--hover: #146a5d;
--vertical-nav-item__border-color: #5a5a5a;
--vertical-nav-label__color: #404040;
--vertical-nav-label-icon__color: #404040;
--vertical-nav-label__border-color--current: #146a5d;
--vertical-nav-label__color--current: #146a5d;
}
