.accessible-outline(@outline-color: lighten(@blue, @lighten-percent), @outline-offset: 1px) {
  outline-color: @outline-color;
  outline-offset: @outline-offset;
  outline-style: solid;
  outline-width: 2px;
}

.font-xs() {
  font-size: @font-size-xsmall;
  line-height: @line-height-xsmall;
}

.font-sm() {
  font-size: @font-size-small;
  line-height: @line-height-small;
}

.font-md() {
  font-size: @font-size-base;
  line-height: @line-height-base;
}

.font-lg() {
  font-size: @font-size-large;
  line-height: @line-height-large;
}

.font-xl() {
  font-size: @font-size-xlarge;
  line-height: @line-height-xlarge;
}

.font-xx() {
  font-size: @font-size-xxlarge;
  line-height: @line-height-xxlarge;
}
