@mixin focus-styles {
  box-shadow: 0 0 0 3px $color-focus-light, 0 0 4px 6px $color-focus-dark;
  // Add support for Windows High Contrast Mode (WHCM)
  // The transparent color only shows when WHCM is triggered
  outline: 3px solid transparent;
  outline-offset: 3px;
}

@mixin focus-styles-position {
  position: relative;
  z-index: 100;
}

@mixin focus-styles-link {
  background-color: $color-focus-light;
  box-shadow: none;
  color: innitial;
  outline: 3px solid $color-focus-dark;
  outline-offset: 1px;
  text-decoration: underline;
}
