blockquote {
  background-color: $color-gray-lightest;
  border-left: 4px solid $color-gray-light;
  font-family: $font-sans;
  font-style: italic;
  margin-left: 0;
  padding: $spacer-2;
  padding-left: $spacer-6;
  position: relative;

  &::before {
    color: $color-gray-light;
    content: '\201C';
    font-family: $font-serif;
    font-size: 4em;
    left: 10px;
    position: absolute;
    top: -10px;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
