---
import '@cmsgov/design-system/css/index.css';
import '@cmsgov/design-system/css/core-theme.css';

import Layout from '../../layouts/Layout.astro';
---

<Layout title="Web component examples">
	<div class="ds-l-container">
    <h1 class="ds-text-heading--4xl ds-u-margin-top--2">
      Web component examples
    </h1>
		<ul>
			<li><a href="/web-components/core">core theme</a></li>
			<li><a href="/web-components/healthcare">healthcare theme</a></li>
      <li><a href="/web-components/medicare">medicare theme</a></li>
      <li><a href="/web-components/cmsgov">cmsgov theme</a></li>
		</ul>
	</div>
</Layout>