/*
Icons

Iconography should be used sparingly and only with support of labels. We use a subset of FontAwesome icons, with one or two bespoke icons.

Please refer to [USWDS' documentation](https://designsystem.digital.gov/components/icons/) for more detail.

Style guide: style.icons
*/

/*
Status Icons

@hide-markup

These icons are used primarily as part of the Alert Box component, though the Checkmark can sometimes be found in other places, without the background.

Markup: status-icons.example.html

Style guide: style.icons.alert
*/

/*
Interaction Icons

@hide-markup

These icons are used primarily for interaction with the user interface.

Markup: interaction-icons.example.html

Style guide: style.icons.interaction
*/

/*
Supplemental Icons

@hide-markup

These icons are used to convey more information about a given block of text or interaction. They should be used sparingly.

Markup: supplemental-icons.example.html

Style guide: style.icons.supplemental
*/
