@import "@cmsgov/design-system-support/src/settings/index";

/*
Modal

@status alpha

TODO: Enter your description here

Markup:
<p>TODO: Enter your markup here</p>

Style guide: components.modal
*/

.ds-c-modal  {
  // TODO: Enter your ruleset here
}

/*
---

## When to use

- List typical use cases for this component

## When to consider alternatives

- List commonly confused use cases where an alternative component would be a better solution

## Guidance

- List any design or content guidelines related to how this component should be used

## Accessibility

- List any accessibility considerations like required keyboard functionality, ARIA attributes, etc

## Theming

- List any Sass variables a developer could override to customize the appearance of the component

## Future research

- Optionally list any suggestions for future research that could mature and extend the component

## Related patterns

- List any related components or utility classes that connect with the component, whether as a parent, sibling, or child within the pattern's taxonomy.

## Learn more

- List any links that served as inspiration, references, or research related to this component.

Style guide: components.modal.guidance
*/
