@use 'layout' as *;
@use 'mixins';

/**
 * Global
 */

$spacers: (
  '0': 0,
  '05': $spacer-half,
  '1': $spacer-1,
  '2': $spacer-2,
  '3': $spacer-3,
  '4': $spacer-4,
  '5': $spacer-5,
  '6': $spacer-6,
  '7': $spacer-7,
) !default;

$breakpoints: (
  sm: $media-width-sm,
  md: $media-width-md,
  lg: $media-width-lg,
  xl: $media-width-xl,
) !default;

/**
 * Body
 */

%ds-base {
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height-base);
}

.ds-base {
  @extend %ds-base;
  color: var(--color-base);
}

.ds-base--inverse {
  @extend %ds-base;
  background-color: var(--color-background-inverse);
  color: var(--color-base-inverse);
}

/**
 * Icons
 */

.icon-text {
  text-transform: capitalize;
}

/**
 * Links
 */

%link {
  color: var(--link__color);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--link__color);
  text-decoration-thickness: var(--link__text-decoration-thickness);
  text-underline-offset: var(--link__text-decoration-offset);

  &:visited {
    color: var(--link__color--visited);
    text-decoration-color: var(--link__color--visited);
  }

  &:hover {
    color: var(--link__color--hover);
    text-decoration-color: var(--link__color--hover);
    text-decoration-thickness: var(--link__text-decoration-thickness--hover);
  }
  &:focus,
  &:focus:visited {
    @include mixins.focus-styles-link;
  }

  &:active {
    color: var(--link__color--active);
    outline: 0 none;
    text-decoration-color: var(--link__color--active);
  }
}

%link-inverse {
  color: var(--link-inverse__color);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--link-inverse__color);
  text-decoration-thickness: var(--link__text-decoration-thickness);
  text-underline-offset: var(--link__text-decoration-offset);

  &:visited {
    color: var(--link-inverse__color--visited);
    text-decoration-color: var(--link-inverse__color--visited);
  }

  &:hover {
    color: var(--link-inverse__color--hover);
    text-decoration-color: var(--link-inverse__color--hover);
    text-decoration-thickness: var(--link__text-decoration-thickness--hover);
  }

  &:focus,
  &:focus:visited {
    @include mixins.focus-styles-link;
    color: var(--link__color);
  }

  &:active {
    background-color: transparent;
    color: var(--link-inverse__color--active);
    outline: 0 none;
  }
}

a,
.ds-c-link {
  @extend %link;
}

.ds-c-link--inverse {
  @extend %link-inverse;
}

/**
 * Change color of links that are descendants of '.ds-base--inverse'
 *
 * @TODO: Because this selector's specificity is higher than most components,
 * changing inverse links will require unusually specific selectors
 *
 * Specifically exclude '.ds-c-button' because this is most likely case where
 * a inverse link element will have other styles applied
 * Also exclude '.ds-c-tooltip__trigger-link' as we need to set
 * text decoration styles for the tooltip trigger links
 */
.ds-base--inverse a:not(.ds-c-button):not(.ds-c-tooltip__trigger-link) {
  @extend %link-inverse;
}

/**
 * Typography
 */

// @TODO: Remove the semantic classes h1, h2, h3, display, title, etc... after deprecating

// Titles and headings
.ds-display,
.ds-title,
.ds-h1,
.ds-h2,
.ds-h3,
.ds-h4,
.ds-h5,
.ds-h6,
.ds-text-heading--5xl,
.ds-text-heading--4xl,
.ds-text-heading--3xl,
.ds-text-heading--2xl,
.ds-text-heading--xl,
.ds-text-heading--lg,
.ds-text-heading--md,
.ds-text-heading--sm {
  font-family: var(--typography-heading__font-family);
  font-weight: var(--typography-heading__font-weight);
  line-height: var(--font-line-height-heading);
  margin: 0;
}

// Headings
.ds-h1,
.ds-h2,
.ds-h3,
.ds-h4,
.ds-h5,
.ds-h6,
.ds-text-heading--3xl,
.ds-text-heading--2xl,
.ds-text-heading--xl,
.ds-text-heading--lg,
.ds-text-heading--md,
.ds-text-heading--sm {
  margin-bottom: 0.5em;
  margin-top: 1.5em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ds-display,
.ds-text-heading--5xl {
  font-size: var(--font-size-3xl);

  @media (min-width: $media-width-sm) {
    font-size: var(--font-size-4xl);
  }

  @media (min-width: $media-width-md) {
    font-size: var(--font-size-5xl);
  }
}

.ds-title,
.ds-text-heading--4xl {
  font-size: var(--font-size-3xl);
  font-weight: var(--typography-heading-4xl__font-weight);

  @media (min-width: $media-width-md) {
    font-size: var(--font-size-4xl);
  }
}

.ds-h1,
.ds-text-heading--3xl {
  font-size: 30px;
  font-weight: var(--typography-heading-3xl__font-weight);

  @media (min-width: $media-width-md) {
    font-size: var(--font-size-3xl);
  }
}

.ds-h2,
.ds-text-heading--2xl {
  font-size: var(--font-size-2xl);
}

.ds-h3,
.ds-text-heading--xl {
  font-size: var(--font-size-xl);
}

.ds-h4,
.ds-text-heading--lg {
  font-size: var(--font-size-lg);
  font-weight: var(--typography-heading-lg__font-weight);
}

.ds-h5,
.ds-text-heading--md {
  font-size: var(--font-size-md);
  font-weight: var(--typography-heading-md__font-weight);
}

.ds-h6,
.ds-text-heading--sm {
  color: var(--color-muted);
  font-size: var(--font-size-sm);
  font-weight: var(--typography-heading-sm__font-weight);
}

.ds-base--inverse .ds-h6,
.ds-base--inverse .ds-text-heading--sm {
  color: var(--color-muted-inverse);
}

.ds-text,
.ds-text--lead,
.ds-text-body--lg,
.ds-text-body--md {
  font-family: var(--typography-body__font-family);
  line-height: var(--font-line-height-base);
  margin-bottom: 1em;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ds-text--lead,
.ds-text-body--lg {
  font-size: var(--font-size-lg);
}

.ds-text,
.ds-text-body--md {
  font-size: var(--font-size-base);
}

.ds-text-body--sm {
  font-size: var(--font-size-sm);
}

.ds-content {
  h1 {
    @extend .ds-text-heading--3xl;
  }

  h2 {
    @extend .ds-text-heading--2xl;
  }

  h3 {
    @extend .ds-text-heading--xl;
  }

  h4 {
    @extend .ds-text-heading--lg;
  }

  h5 {
    @extend .ds-text-heading--md;
  }

  h6 {
    @extend .ds-text-heading--sm;
  }

  ul,
  ol {
    @extend .ds-c-list;
  }
}
