@use 'layout' as *;
@use 'mixins';
@use 'components/List' as *;

/**
 * Global
 */

$spacers: (
  '0': 0,
  '05': $spacer-half,
  '1': $spacer-1,
  '2': $spacer-2,
  '3': $spacer-3,
  '4': $spacer-4,
  '5': $spacer-5,
  '6': $spacer-6,
  '7': $spacer-7,
) !default;

$breakpoints: (
  sm: $media-width-sm,
  md: $media-width-md,
  lg: $media-width-lg,
  xl: $media-width-xl,
) !default;

/**
 * Body
 */

.ds-base--inverse {
  background-color: var(--color-background-inverse);
  color: var(--color-base-inverse);
}

/**
 * Icons
 */

.icon-text {
  text-transform: capitalize;
}

/**
 * Links
 */

%link {
  color: var(--link__color);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--link__color);
  text-decoration-thickness: var(--link__text-decoration-thickness);
  text-underline-offset: var(--link__text-decoration-offset);

  &:visited {
    color: var(--link__color--visited);
    text-decoration-color: var(--link__color--visited);
  }

  &:hover {
    color: var(--link__color--hover);
    text-decoration-color: var(--link__color--hover);
    text-decoration-thickness: var(--link__text-decoration-thickness--hover);
  }
  &:focus,
  &:focus:visited {
    @include mixins.focus-styles-link;
  }

  &:active {
    color: var(--link__color--active);
    outline: 0 none;
    text-decoration-color: var(--link__color--active);
  }
}

%link-inverse {
  color: var(--link-inverse__color);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--link-inverse__color);
  text-decoration-thickness: var(--link__text-decoration-thickness);
  text-underline-offset: var(--link__text-decoration-offset);

  &:visited {
    color: var(--link-inverse__color--visited);
    text-decoration-color: var(--link-inverse__color--visited);
  }

  &:hover {
    color: var(--link-inverse__color--hover);
    text-decoration-color: var(--link-inverse__color--hover);
    text-decoration-thickness: var(--link__text-decoration-thickness--hover);
  }

  &:focus,
  &:focus:visited {
    @include mixins.focus-styles-link;
    color: var(--link__color);
  }

  &:active {
    background-color: transparent;
    color: var(--link-inverse__color--active);
    outline: 0 none;
  }
}

.ds-c-link {
  @extend %link;
}

.ds-c-link--inverse {
  @extend %link-inverse;
}

/**
 * Change color of links that are descendants of '.ds-base--inverse'
 *
 * @TODO: Because this selector's specificity is higher than most components,
 * changing inverse links will require unusually specific selectors
 *
 * Specifically exclude '.ds-c-button' because this is most likely case where
 * a inverse link element will have other styles applied
 * Also exclude '.ds-c-tooltip__trigger-link' as we need to set
 * text decoration styles for the tooltip trigger links
 */
.ds-base--inverse a:not(.ds-c-button):not(.ds-c-tooltip__trigger-link) {
  @extend %link-inverse;
}

/**
 * Typography
 */

@mixin heading {
  font-family: var(--typography-heading__font-family);
  font-weight: var(--typography-heading__font-weight);
  line-height: var(--font-line-height-heading);
  margin: 0;
}

@mixin heading-margins {
  margin-block: 1.5em 0.5em;

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

@mixin heading--5xl {
  @include heading;
  font-size: var(--typography-heading-5xl__font-size--mobile);

  @media (min-width: $media-width-sm) {
    font-size: var(--typography-heading-5xl__font-size--tablet);
  }

  @media (min-width: $media-width-md) {
    font-size: var(--typography-heading-5xl__font-size);
  }
}

@mixin heading--4xl {
  @include heading;
  font-size: var(--typography-heading-4xl__font-size--mobile);
  font-weight: var(--typography-heading-4xl__font-weight);

  @media (min-width: $media-width-md) {
    font-size: var(--typography-heading-4xl__font-size);
  }
}

@mixin heading--3xl {
  @include heading;
  @include heading-margins;

  font-size: var(--typography-heading-3xl__font-size--mobile);
  font-weight: var(--typography-heading-3xl__font-weight);

  @media (min-width: $media-width-md) {
    font-size: var(--typography-heading-3xl__font-size);
  }
}

@mixin heading--2xl {
  @include heading;
  @include heading-margins;
  font-size: var(--typography-heading-2xl__font-size--mobile);

  @media (min-width: $media-width-md) {
    font-size: var(--typography-heading-2xl__font-size);
  }
}

@mixin heading--xl {
  @include heading;
  @include heading-margins;
  font-size: var(--typography-heading-xl__font-size);
}

@mixin heading--lg {
  @include heading;
  @include heading-margins;
  font-size: var(--typography-heading-lg__font-size);
  font-weight: var(--typography-heading-lg__font-weight);
}

@mixin heading--md {
  @include heading;
  @include heading-margins;
  font-size: var(--typography-heading-md__font-size);
  font-weight: var(--typography-heading-md__font-weight);
}

@mixin heading--sm {
  @include heading;
  @include heading-margins;
  color: var(--color-muted);
  font-size: var(--typography-heading-sm__font-size);
  font-weight: var(--typography-heading-sm__font-weight);
}

.ds-content {
  :where(h1) {
    @include heading--3xl;
  }

  :where(h2) {
    @include heading--2xl;
  }

  :where(h3) {
    @include heading--xl;
  }

  :where(h4) {
    @include heading--lg;
  }

  :where(h5) {
    @include heading--md;
  }

  :where(h6) {
    @include heading--sm;
  }

  :where(ul, ol) {
    @extend .ds-c-list;
  }
}

.ds-base--inverse .ds-content :where(h6) {
  color: var(--color-muted-inverse);
}

// @TODO: Remove the semantic classes h1, h2, h3, display, title, etc... after deprecating

.ds-display,
.ds-text-heading--5xl {
  @include heading--5xl;
}

.ds-title,
.ds-text-heading--4xl {
  @include heading--4xl;
}

.ds-h1,
.ds-text-heading--3xl {
  @include heading--3xl;
}

.ds-h2,
.ds-text-heading--2xl {
  @include heading--2xl;
}

.ds-h3,
.ds-text-heading--xl {
  @include heading--xl;
}

.ds-h4,
.ds-text-heading--lg {
  @include heading--lg;
}

.ds-h5,
.ds-text-heading--md {
  @include heading--md;
}

.ds-h6,
.ds-text-heading--sm {
  @include heading--sm;
}

.ds-base--inverse .ds-h6,
.ds-base--inverse .ds-text-heading--sm {
  color: var(--color-muted-inverse);
}

.ds-text,
.ds-text--lead,
.ds-text-body--lg,
.ds-text-body--md,
.ds-text-body--sm {
  font-family: var(--typography-body__font-family);
  line-height: var(--font-line-height-base);
  margin-block: 1em;

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

.ds-text--lead,
.ds-text-body--lg {
  font-size: var(--typography-heading-lg__font-size);
}

.ds-text,
.ds-text-body--md {
  font-size: var(--typography-heading-base__font-size);
}

.ds-text-body--sm {
  font-size: var(--typography-heading-sm__font-size);
}
