// Design system fonts
// Fonts are separated from other settings scss because font-faces are compiled and included css build files

$font-path: '../fonts' !default;

@font-face {
  font-display: swap;
  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/bitter-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  src: url('#{$font-path}/bitter-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Bitter;
  font-style: italic;
  font-weight: normal;
  src: url('#{$font-path}/bitter-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/opensans-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: url('#{$font-path}/opensans-italic-webfont.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}/opensans-Semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/opensans-bold-webfont.woff2') format('woff2');
}
