// Classes included in this file are set for deprecation and will be removed in the next major release.

// Imported to access $breakpoints to generate utility classes.
// Remove with semantic font-size classes
@use './layout' as *; // 💀
$breakpoints: (
  sm: $media-width-sm,
  md: $media-width-md,
  lg: $media-width-lg,
  xl: $media-width-xl,
) !default; // 💀

// This adds a border to all soon-to-be deprecated classes.
// When the class is deprecated, remove it from the list below.

@mixin debug {
  border: 2px solid lawngreen;
  padding-block-end: 0.5rem;
  position: relative;

  &::after {
    background-color: honeydew;
    border: 1px solid lawngreen;
    border-radius: 0.5em;
    content: '💀 DEPRECATED';
    font-size: 10px;
    font-weight: 400;
    inset: auto 0.5rem -0.5rem auto;
    padding: 0.25em 0.5em;
    position: absolute;
    z-index: 1;
  }
}
@container style(--debugger: true) {
  .ds-display,
  .ds-title,
  .ds-h1,
  .ds-h2,
  .ds-h3,
  .ds-h4,
  .ds-h5,
  .ds-h6,
  .ds-text,
  .ds-text--lead,
  .ds-u-font-size--small,
  .ds-u-font-size--h6,
  .ds-u-font-size--h5,
  .ds-u-font-size--h4,
  .ds-u-font-size--h3,
  .ds-u-font-size--h2,
  .ds-u-font-size--h1,
  .ds-u-font-size--lead,
  .ds-u-font-size--title,
  .ds-u-font-size--display {
    @include debug;
  }

  @each $breakpoint in map-keys($breakpoints) {
    .ds-u-#{$breakpoint}-font-size--small,
    .ds-u-#{$breakpoint}-font-size--lead,
    .ds-u-#{$breakpoint}-font-size--display,
    .ds-u-#{$breakpoint}-font-size--title,
    .ds-u-#{$breakpoint}-font-size--h1,
    .ds-u-#{$breakpoint}-font-size--h2,
    .ds-u-#{$breakpoint}-font-size--h3,
    .ds-u-#{$breakpoint}-font-size--h4,
    .ds-u-#{$breakpoint}-font-size--h5,
    .ds-u-#{$breakpoint}-font-size--h6 {
      @include debug;
    }
  }
}
