// USWDS
@import 'uswds/styles.scss';

// Settings: Globally-available variables, mixins, functions and config (Sass code that doesn't output CSS)
@import 'settings/index.scss';

// Font variables are imported separately to avoid being compiled and included in multiple css files
@import 'settings/font.scss';

// Layout: Flexbox grid (i.e. ds-l-container, ds-l-row)
@import 'grid/grid.scss';

// Elements: Namespaced selectors for HTML elements (i.e. ds-base, ds-h1, ds-text)
@import 'base/base.scss';
@import 'typography/typography.scss';
@import 'icons/icons.scss'; // TODO: Move icons to components and namespace css
