@import '@cmsgov/design-system-support/src/index';

.ds-c-button {
  appearance: none;
  background-color: $color-white;
  border: $button-border-width solid $color-primary;
  border-radius: $border-radius;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: $input-line-height;
  padding: $spacer-1 $spacer-3;
  text-align: center;
  text-decoration: none;

  &:focus,
  &:hover,
  &.ds-c-button--focus,
  &.ds-c-button--hover {
    border-color: $color-primary-darker;
    color: $color-primary-darker;
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-white;
    border-color: $color-gray-lighter;
    color: $color-gray-lighter;
    pointer-events: none;
  }

  &:active,
  &.ds-c-button--active {
    border-color: $color-primary-darkest;
    color: $color-primary-darkest;
  }
}

.ds-c-button--big {
  font-size: $h3-font-size;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}

.ds-c-button--small {
  font-size: $small-font-size;
  font-weight: $font-normal;
  padding: $spacer-half $spacer-1;
}

.ds-c-button--primary {
  background-color: $button-primary-bg;
  border-color: transparent;
  color: $color-white;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
    pointer-events: none;
  }

  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
    color: $color-white;
  }

  &:focus,
  &.ds-c-button--focus {
    background-color: $button-primary-bg--focus;
  }

  &:hover,
  &.ds-c-button--hover {
    background-color: $button-primary-bg--hover;
  }

  &:active,
  &.ds-c-button--active {
    background-color: $button-primary-bg--active;
  }
}

.ds-c-button--transparent,
.ds-c-button--transparent-inverse {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: transparent;
    border-color: transparent;
    color: $color-gray-lighter;
    pointer-events: none;
  }

  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
  }
}

.ds-c-button--danger {
  background-color: $color-error;
  border-color: transparent;
  color: $color-white;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
    pointer-events: none;
  }

  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    background-color: $color-error-dark;
    border-color: transparent;
    color: $color-white;
  }

  &:active,
  &.ds-c-button--active  {
    background-color: $color-error-darkest;
  }
}

.ds-c-button--success {
  background-color: $color-success;
  border-color: transparent;
  color: $color-white;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
    pointer-events: none;
  }

  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    background-color: $color-success-dark;
    border-color: transparent;
    color: $color-white;
  }

  &:active,
  &.ds-c-button--active {
    background-color: $color-success-darker;
  }
}

.ds-c-button--disabled {
  background-color: $color-gray-lighter;
  border-color: transparent;
  color: $color-gray-dark;
  pointer-events: none;

  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
  }
}

/*
Inverse buttons
*/

.ds-c-button--inverse {
  background-color: $color-background-inverse;
  border-color: $border-color-inverse;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-background-inverse;
    border-color: $color-gray-light;
    color: $color-gray-light;
    pointer-events: none;
  }

  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: $color-base-inverse;
  }
}

.ds-c-button--inverse,
.ds-c-button--transparent-inverse {
  color: $color-base-inverse;

  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    color: $color-base-inverse;
    opacity: 0.8;
  }

  &:active,
  &.ds-c-button--active {
    opacity: 0.6;
  }
}

.ds-c-button--disabled-inverse,
.ds-c-button--disabled-inverse:disabled {
  background-color: darken($color-background-inverse, 10%);
  border-color: darken($color-background-inverse, 10%);
  color: $color-muted-inverse;
  pointer-events: none;

  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    background-color: $color-background-inverse;
    border-color: $color-background-inverse;
    color: $color-muted-inverse;
  }
}

.ds-c-button > svg {
  @include inline-icon;
}
