@import '@cmsgov/design-system-support/src/index';

.ds-c-button,
.ds-c-button:visited {
  appearance: none;
  background-color: $color-white;
  border: $button-border-width solid $color-primary;
  border-radius: $border-radius;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: $input-line-height;
  padding: $spacer-1 $spacer-3;
  text-align: center;
  text-decoration: none;

  &:hover,
  &.ds-c-button--hover {
    border-color: $color-primary-darker;
    color: $color-primary-darker;
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-white;
    border-color: $color-gray-lighter;
    color: $color-gray-lighter;
    pointer-events: none;
  }

  &:active,
  &.ds-c-button--active {
    border-color: $color-primary-darkest;
    color: $color-primary-darkest;
  }

  &:focus,
  &.ds-c-button--focus {
    background-color: $button-primary-bg--focus;
    border-bottom-color: transparent;
    border-color: $color-base;
    box-shadow: $focus-shadow-link;
    color: $color-base;
    outline: 3px solid transparent;
    outline-offset: 2px;
  }

  // Removes inner outline on buttons in Firefox.
  &::-moz-focus-inner {
    border: 0;
  }
}

.ds-c-button > svg {
  @include inline-icon;
}

.ds-c-button--big {
  font-size: $h3-font-size;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}

.ds-c-button--small {
  font-size: $small-font-size;
  font-weight: $font-normal;
  padding: $spacer-half $spacer-1;
}

.ds-c-button--primary,
.ds-c-button--primary:visited {
  background-color: $button-primary-bg;
  border-color: transparent;
  color: $color-white;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
    pointer-events: none;
  }

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
    color: $color-white;
  }

  &:hover,
  &.ds-c-button--hover {
    background-color: $button-primary-bg--hover;
  }

  &:active,
  &.ds-c-button--active {
    background-color: $button-primary-bg--active;
  }

  &:focus,
  &.ds-c-button--focus {
    background-color: $button-primary-bg--focus;
    border-color: transparent;
    color: $color-base;
  }
}

.ds-c-button--danger,
.ds-c-button--danger:visited {
  background-color: $color-error;
  border-color: transparent;
  color: $color-white;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
    pointer-events: none;
  }

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    background-color: $color-error-dark;
    border-color: transparent;
    color: $color-white;
  }

  &:active,
  &.ds-c-button--active {
    background-color: $color-error-darkest;
  }

  &:focus,
  &.ds-c-button--focus {
    background-color: $button-primary-bg--focus;
    border-color: transparent;
    color: $color-base;
  }
}

.ds-c-button--success,
.ds-c-button--success:visited {
  background-color: $color-success;
  border-color: transparent;
  color: $color-white;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
    pointer-events: none;
  }

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    background-color: $color-success-dark;
    border-color: transparent;
    color: $color-white;
  }

  &:active,
  &.ds-c-button--active {
    background-color: $color-success-darker;
  }

  &:focus,
  &.ds-c-button--focus {
    background-color: $button-primary-bg--focus;
    border-color: transparent;
    color: $color-base;
  }
}

.ds-c-button--transparent,
.ds-c-button--transparent:visited,
.ds-c-button--transparent-inverse,
.ds-c-button--transparent-inverse:visited {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;

  &:disabled,
  &.ds-c-button--disabled {
    background-color: transparent;
    border-color: transparent;
    color: $color-gray-lighter;
  }

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
  }

  &:focus,
  &.ds-c-button--focus {
    border-color: transparent;
    text-decoration: none;
  }
}

/*
Inverse buttons
*/
.ds-c-button--inverse,
.ds-c-button--inverse:visited {
  background-color: $color-background-inverse;
  border-color: $border-color-inverse;
  color: $color-base-inverse;

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    color: $color-base-inverse;
    opacity: 0.8;
  }

  &:active,
  &.ds-c-button--active {
    opacity: 0.6;
  }
}

/*
Equivalent to ".ds-c-button--disabled-inverse"
*/
.ds-c-button--inverse:disabled,
.ds-c-button--inverse.ds-c-button--disabled {
  background-color: darken($color-background-inverse, 10%);
  border-color: darken($color-background-inverse, 10%);
  color: $color-muted-inverse;
  pointer-events: none;
}

/*
Equivalent to ".ds-c-button--transparent-inverse"
*/
.ds-c-button--inverse.ds-c-button--transparent,
.ds-c-button--inverse.ds-c-button--transparent:visited {
  border-color: $color-background-inverse;

  &:disabled,
  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--disabled,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: $color-background-inverse;
  }

  &:focus,
  &.ds-c-button--focus {
    background-color: $button-primary-bg--focus;
    border-color: transparent;
    box-shadow: $focus-shadow-link-inverse;
    color: $color-base;
    opacity: 1;
  }
}

/* stylelint-disable */
.ds-c-button--transparent-inverse,
.ds-c-button--transparent-inverse:visited {
  @extend .ds-c-button--inverse;
  border-color: $color-background-inverse;

  &:disabled,
  &:focus,
  &:hover,
  &:active,
  &.ds-c-button--disabled,
  &.ds-c-button--focus,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: $color-background-inverse;
  }
}

.ds-c-button--disabled-inverse,
.ds-c-button--disabled-inverse:visited {
  @extend .ds-c-button--inverse;
  background-color: darken($color-background-inverse, 10%);
  border-color: darken($color-background-inverse, 10%);
  color: $color-muted-inverse;
  pointer-events: none;
}

/* stylelint-enable */
