@import '@cmsgov/design-system-support/src/index';

.ds-c-button,
.ds-c-button:visited {
  appearance: none;
  background-color: $color-white;
  border: $button-border-width solid $color-primary;
  border-radius: $border-radius;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: $input-line-height;
  padding: $spacer-1 $spacer-3;
  text-align: center;
  text-decoration: none;

  &:hover,
  &.ds-c-button--hover {
    border-color: $color-primary-darker;
    color: $color-primary-darker;
  }

  &:focus,
  &.ds-c-button--focus {
    @if $ds-include-focus-styles {
      background-color: $focus-color;
      border-color: $color-base;
      box-shadow: $focus-shadow-link;
      color: $color-base;
      outline: 3px solid transparent;
      outline-offset: 2px;
    } @else {
      border-color: $color-primary-darker;
      color: $color-primary-darker;
    }
  }

  @if $ds-include-focus-styles {
    // Removes inner outline on buttons in Firefox.
    &::-moz-focus-inner {
      border: 0;
    }
  }

  &:active,
  &.ds-c-button--active {
    border-color: $color-primary-darkest;
    color: $color-primary-darkest;
  }

  @if $ds-include-focus-styles {
    // Make sure active overrides focus styles
    &:active:focus,
    &.ds-c-button--active:focus {
      background-color: $color-white;
      box-shadow: none;
    }
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-white;
    border-color: $color-gray-lighter;
    color: $color-gray-lighter;
    pointer-events: none;
  }
}

.ds-c-button > svg {
  @include inline-icon;
}

/**
 *  Size variants
 */

.ds-c-button--big {
  font-size: $h3-font-size;
  padding-bottom: $spacer-2;
  padding-top: $spacer-2;
}

.ds-c-button--small {
  font-size: $small-font-size;
  font-weight: $font-normal;
  padding: $spacer-half $spacer-1;
}

/**
 *  Transparent variant (button styled like a link)
 */
.ds-c-button--transparent,
.ds-c-button--transparent:visited,
.ds-c-button--transparent-inverse,
.ds-c-button--transparent-inverse:visited {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;

  &:focus,
  &.ds-c-button--focus {
    border-color: transparent;

    @if $ds-include-focus-styles {
      text-decoration: none;
    }
  }

  &:hover,
  &:active,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: transparent;
  }

  @if $ds-include-focus-styles {
    // Make sure active overrides focus styles
    &:active:focus,
    &.ds-c-button--active:focus {
      color: $color-primary-darkest;
      text-decoration: underline;
    }
  }

  &:disabled,
  &.ds-c-button--disabled {
    background-color: transparent;
    border-color: transparent;
    color: $color-gray-lighter;
  }
}

/**
 *  Inverse buttons (mainly affects default and transparent buttons)
 */
.ds-c-button--inverse,
.ds-c-button--inverse:visited {
  background-color: $color-background-inverse;
  border-color: $border-color-inverse;
  color: $color-base-inverse;

  &:hover,
  &.ds-c-button--hover {
    border-color: rgba($border-color-inverse, 0.8);
    color: rgba($color-base-inverse, 0.8);
  }

  &:focus,
  &.ds-c-button--focus {
    @if $ds-include-focus-styles {
      background-color: $focus-color;
      border-color: transparent;
      box-shadow: $focus-shadow-link-inverse;
      color: $color-base;
      opacity: 1;
    } @else {
      border-color: rgba($border-color-inverse, 0.8);
      color: rgba($color-base-inverse, 0.8);
    }
  }

  &:active,
  &.ds-c-button--active {
    border-color: rgba($border-color-inverse, 0.6);
    color: rgba($color-base-inverse, 0.6);
  }
  @if $ds-include-focus-styles {
    // Make sure active overrides focus styles
    &:active:focus,
    &.ds-c-button--active:focus {
      background-color: $color-background-inverse;
      color: rgba($color-base-inverse, 0.6);
    }
  }
}

/* stylelint-disable */
%transparent-inverse-button {
  border-color: $color-background-inverse;

  // Default inverse focus styles are overridden above
  @if $ds-include-focus-styles {
    &:focus,
    &.ds-c-button--focus {
      border-color: transparent;
    }
  }

  &:disabled,
  &:hover,
  &:active,
  &.ds-c-button--disabled,
  &.ds-c-button--hover,
  &.ds-c-button--active {
    border-color: $color-background-inverse;
  }
}

.ds-c-button--inverse.ds-c-button--transparent,
.ds-c-button--inverse.ds-c-button--transparent:visited {
  @extend %transparent-inverse-button;
}

/**
 *  Not recommended usage
 *  Equivalent to ".ds-c-button--inverse.ds-c-button--transparent" 
 */
.ds-c-button--transparent-inverse,
.ds-c-button--transparent-inverse:visited {
  @extend .ds-c-button--inverse;
  @extend %transparent-inverse-button;
}

%disabled-inverse-button {
  background-color: darken($color-background-inverse, 10%);
  border-color: darken($color-background-inverse, 10%);
  color: $color-muted-inverse;
  pointer-events: none;
}

.ds-c-button--inverse:disabled,
.ds-c-button--inverse.ds-c-button--disabled {
  @extend %disabled-inverse-button;
}

/**
 *  Not recommended usage
 *  Equivalent to ".ds-c-button--inverse.ds-c-button--disabled" 
 */
.ds-c-button--disabled-inverse,
.ds-c-button--disabled-inverse:visited {
  @extend .ds-c-button--inverse;
  @extend %disabled-inverse-button;
}
/* stylelint-enable */

/**
 *  Status variants
 */
$button-color-variants: (
  primary: $button-primary-bg $button-primary-bg--hover $button-primary-bg--active $focus-color,
  success: $color-success $color-success-dark $color-success-darker $focus-color,
  danger: $color-error $color-error-dark $color-error-darkest $focus-color
);

@each $colors in map-keys($button-color-variants) {
  $color: map-get($button-color-variants, $colors);

  .ds-c-button--#{$colors},
  .ds-c-button--#{$colors}:visited {
    background-color: nth($color, 1);
    border-color: transparent;
    color: $color-white;

    &:disabled,
    &.ds-c-button--disabled {
      background-color: $color-gray-lighter;
      border-color: transparent;
      color: $color-gray-dark;
      pointer-events: none;
    }

    &:hover,
    &:active,
    &.ds-c-button--hover,
    &.ds-c-button--active {
      border-color: transparent;
      color: $color-white;
    }

    &:hover,
    &.ds-c-button--hover {
      background-color: nth($color, 2);
    }

    &:focus,
    &.ds-c-button--focus {
      @if $ds-include-focus-styles {
        background-color: nth($color, 4);
        border-color: transparent;
        color: $color-base;
      } @else {
        background-color: nth($color, 2);
        border-color: transparent;
        color: $color-white;
      }
    }

    &:active,
    &.ds-c-button--active {
      background-color: nth($color, 3);
    }
    @if $ds-include-focus-styles {
      // Make sure active overrides focus styles
      &:active:focus,
      &.ds-c-button--active:focus {
        background-color: nth($color, 3);
        box-shadow: none;
        color: $color-white;
      }
    }
  }
}
