/* stylelint-disable selector-id-pattern -- Need to understand more before removing/refactoring */
#page--not-in-sidebar_contact {
  h2 {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}
/* stylelint-enable */
