body {
  margin: 0;
}

.full-height {
  // viewport height minus the USA banner at the top
  height: calc(100vh - 22px);
}

.page-main {
  display: flex;
  flex-direction: column;

  .c-footer {
    flex-shrink: 0;
  }
}

.page-content {
  max-width: 81rem;
  flex: 1 0 auto;
}

@media (min-width: $width-lg) {
  .page-content__content {
    // removing margin for first heading on content pages
    > :nth-child(2) {
      margin-top: 0;
    }
    > h2 {
      font-size: $font-size-3xl;
      font-weight: normal;
      margin-bottom: 0;
    }
    > h3 {
      font-size: $font-size-2xl;
      margin-bottom: 0;
    }
    > h4 {
      font-size: $font-size-xl;
      margin-bottom: 0;
    }
    > h5 {
      font-size: $font-size-lg;
      margin-bottom: 0;
    }
    > h6 {
      font-size: $font-size-md;
      margin-bottom: 0;
    }
    > p,
    ul,
    ol {
      margin-bottom: 0;
    }
    .ds-c-table {
      margin-top: $spacer-2;
      ol,
      ul {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: $width-lg) {
  .page-content__content {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-content__content {
  > .ds-c-table,
  .c-configuration-options .ds-c-table {
    width: 100%;
  }
  .c-configuration-options th,
  .c-prop-table th {
    background-color: $color-gray-lightest;
  }
  .c-configuration-options td,
  .c-prop-table td {
    border-color: $color-gray-lighter;
  }
  .c-configuration-options p,
  .c-prop-table p {
    font-size: $font-size-sm;
  }
  .ds-c-alert {
    margin-top: $spacer-2;
  }
}

blockquote {
  background-color: $color-gray-lightest;
  border-left: 4px solid $color-gray-light;
  font-family: $font-sans;
  font-style: italic;
  margin-left: 0;
  padding: $spacer-2 $spacer-2 $spacer-2 $spacer-6;
  position: relative;

  &:before {
    color: $color-gray-light;
    content: '\201C';
    font-family: $font-serif;
    font-size: 4em;
    left: 10px;
    position: absolute;
    top: -10px;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

ul:not([class]) li,
.ds-c-list li {
  line-height: 1.5;
  margin-bottom: $spacer-1;
}

img {
  display: block;
  max-width: 100%;
}
