body {
  margin: 0;
}

.full-height {
  // viewport height minus the USA banner at the top
  height: calc(100vh - 22px);
}

.page-main {
  display: flex;
  flex-direction: column;

  .c-footer {
    flex-shrink: 0;
  }
}

.page-content {
  flex: 1 0 auto;
  max-width: 81rem;
}

@media (min-width: $media-width-lg) {
  .page-content__content {
    // removing margin for first heading on content pages
    > :nth-child(2) {
      margin-top: 0;
    }
    > h2 > h3,
    > h4,
    > h5,
    > h6,
    > p,
    ul,
    ol {
      margin-bottom: 0;
    }
    .ds-c-table {
      margin-top: $spacer-2;
      ol,
      ul {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: $media-width-lg) {
  .page-content__content {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-content__content {
  > h2 {
    @extend .ds-text-heading--2xl;
  }
  > h3 {
    @extend .ds-text-heading--xl;
  }
  > h4 {
    @extend .ds-text-heading--lg;
  }
  > h5 {
    @extend .ds-text-heading--md;
  }
  > h6 {
    @extend .ds-text-heading--sm;
  }

  > .ds-c-table,
  .c-configuration-options .ds-c-table {
    width: 100%;
  }
  .c-configuration-options th,
  .c-prop-table th {
    background-color: var(--color-gray-lightest);
  }
  .c-configuration-options td,
  .c-prop-table td {
    border-color: var(--color-gray-lighter);
  }
  .c-configuration-options p,
  .c-prop-table p {
    font-size: var(--font-size-sm);
  }
  .ds-c-alert {
    margin-top: $spacer-2;
  }
  .c-configuration-options {
    .c-color-swatch {
      border: 1px solid var(--color-gray-lighter);
      height: $spacer-4;
      margin-right: $spacer-2;
      vertical-align: middle;
      width: $spacer-4;
    }
  }
}

.ds-c-badge {
  .ds-c-icon {
    font-size: 10px;
  }
}

blockquote {
  background-color: var(--color-gray-lightest);
  border-left: 4px solid var(--color-gray-light);
  font-family: var(--font-sans);
  font-style: italic;
  margin-left: 0;
  padding: $spacer-2 $spacer-2 $spacer-2 $spacer-6;
  position: relative;

  &:before {
    color: var(--color-gray-light);
    content: '\201C';
    font-family: var(--font-serif);
    font-size: 4em;
    left: 10px;
    position: absolute;
    top: -10px;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

ul:not([class]) li,
.ds-c-list li {
  line-height: 1.5;
  margin-bottom: $spacer-1;
}

img {
  display: block;
  max-width: 100%;
}
