// General form styles that don't really deserve their own component file
@import '../../settings/index';

/*
Fieldset

This just removes the browser's default fieldset styling. Not much to see here.

Markup:
<fieldset class="ds-c-fieldset">...</fieldset>
*/
.ds-c-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
Form label/legend

Markup:
<label class="ds-c-label" for="field-id">Label text</label>
*/
.ds-c-label,
.ds-c-legend {
  display: block;
  font-size: $base-font-size;
  font-weight: $font-normal;
  margin-bottom: 0;
  margin-top: $spacer-3;
  max-width: $input-max-width;
}

.ds-c-legend {
  padding: 0;
}

/*
Hint text

(docs stolen from Gov.UK)

- don’t use placeholder text in form fields, as this will disappear once content is entered into the form field
- use hint text for supporting contextual help, this will always be shown
- hint text should sit above a form field
- ensure hint text can be read correctly by screen readers
*/
.ds-c-field__hint {
  color: $color-muted;
  display: block;
}

.ds-c-field__hint--inverse {
  color: $color-muted-inverse;
}
