$animation-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$animation-speed-base: 1;
$animation-speed-1: 0.25s;
$animation-speed-2: 0.3s;
$animation-speed-3: 0.5s;
$animation-speed-4: 0.8s;
$color-primary: #046791;
$color-primary-darker: #046791;
$color-primary-darkest: #045d83;
$color-primary-alt: #3e94cf;
$color-primary-alt-lightest: #eaf8fe;
$color-secondary: #b20000;
$color-secondary-dark: #7d0000;
$color-secondary-light: #f18e9e;
$color-secondary-lightest: #fce8ec;
$color-gray-lightest: #f2f2f2;
$color-green: #12890e;
$color-green-light: #0d600a;
$color-green-lighter: #89c487;
$color-green-lightest: #e7f3e7;
$color-focus-light: #ffffff;
$color-focus-dark: #e63350;
$color-warn: #f8c41f;
$color-warn-light: #f9ca35;
$color-success-dark: #107b0d;
$color-success-darker: #0d600a;
$font-family-open-sans: 'Open Sans', Helvetica, sans-serif;
$font-family-rubik: 'Rubik', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-bitter: Bitter, Georgia, serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 21px;
$font-size-2xl: 24px;
$font-size-3xl: 36px;
$font-size-4xl: 48px;
$font-size-5xl: 60px;
$font-line-height-reset: 1;
$font-line-height-base: 1.5;
$font-line-height-heading: 1.3;
$font-line-height-lead: 1.7;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$measure-narrow: 45ex;
$measure-base: 65ex;
$measure-wide: 80ex;
$spacer-1: 8px;
$spacer-2: 16px;
$spacer-3: 24px;
$spacer-4: 32px;
$spacer-5: 40px;
$spacer-6: 48px;
$spacer-7: 56px;
$spacer-none: 0px;
$spacer-half: 4px;
