$color-white: #ffffff;
$color-black: #000000;
$color-background: #ffffff;
$color-background-dialog: #ffffff;
$color-background-dialog-mask: #00000080;
$color-background-inverse: #00395e;
$color-base: #262626;
$color-base-inverse: #ffffff;
$color-border: #d9d9d9;
$color-border-dark: #0f1e38;
$color-border-inverse: #ffffff;
$color-cool-blue: #045d83;
$color-cool-blue-light: #046791;
$color-cool-blue-lighter: #82b3c8;
$color-cool-blue-lightest: #e6f0f4;
$color-error: #e31c3d;
$color-error-dark: #cc1937;
$color-error-darker: #9f142b;
$color-error-darkest: #720e1f;
$color-error-light: #f18e9e;
$color-error-lighter: #f7bbc5;
$color-error-lightest: #fce8ec;
$color-focus: #3e94cf;
$color-focus-border-inverse: #7c6210;
$color-focus-dark: #e63350;
$color-focus-inverse: #02bfe7;
$color-focus-light: #ffffff;
$color-focus-shadow: #262626;
$color-focus-shadow-inverse: #262626;
$color-focus-shadow-link: #262626;
$color-focus-shadow-link-inverse: #7c6210;
$color-gold: #f8c41f;
$color-gold-dark: #dfb01c;
$color-gold-darker: #ae8916;
$color-gold-darkest: #7c6210;
$color-gold-light: #f9ca35;
$color-gold-lighter: #fce28f;
$color-gold-lightest: #fef9e9;
$color-gray: #5a5a5a;
$color-gray-cool-light: #e6f1f8;
$color-gray-dark: #404040;
$color-gray-light: #a6a6a6;
$color-gray-lighter: #d9d9d9;
$color-gray-lightest: #f2f2f2;
$color-gray-medium: #737373;
$color-gray-warm-dark: #404040;
$color-gray-warm-light: #f2f2f2;
$color-green: #12890e;
$color-green-dark: #107b0d;
$color-green-darker: #0d600a;
$color-green-darkest: #094507;
$color-green-light: #0d600a;
$color-green-lighter: #89c487;
$color-green-lightest: #e7f3e7;
$color-muted: #5a5a5a;
$color-muted-inverse: #e9ecf1;
$color-primary: #046791;
$color-primary-alt: #3e94cf;
$color-primary-alt-dark: #02acd0;
$color-primary-alt-darkest: #016074;
$color-primary-alt-light: #9fcae7;
$color-primary-alt-lightest: #eaf8fe;
$color-primary-darker: #046791;
$color-primary-darkest: #045d83;
$color-red: #e31c3d;
$color-red-dark: #cc1937;
$color-red-darker: #9f142b;
$color-red-darkest: #720e1f;
$color-red-light: #f18e9e;
$color-red-lighter: #f7bbc5;
$color-red-lightest: #fce8ec;
$color-secondary: #b20000;
$color-secondary-dark: #7d0000;
$color-secondary-light: #f18e9e;
$color-secondary-lightest: #fce8ec;
$color-success: #12890e;
$color-success-dark: #107b0d;
$color-success-darker: #0d600a;
$color-success-darkest: #094507;
$color-success-light: #2a9526;
$color-success-lighter: #89c487;
$color-success-lightest: #e7f3e7;
$color-warn: #f8c41f;
$color-warn-dark: #dfb01c;
$color-warn-darker: #ae8916;
$color-warn-darkest: #7c6210;
$color-warn-light: #f9ca35;
$color-warn-lighter: #fce28f;
$color-warn-lightest: #fef9e9;
$color-visited: #4c2c92;
$alert__background-color: #eaf8fe;
$alert__background-color--error: #fce8ec;
$alert__background-color--lightweight: #ffffff;
$alert__background-color--success: #e7f3e7;
$alert__background-color--warn: #fef9e9;
$alert__bar-width: 8px;
$alert__border-left-color: #3e94cf;
$alert__border-color--error: #e31c3d;
$alert__border-color--success: #12890e;
$alert__border-color--warn: #f8c41f;
$alert__font-color: #262626;
$alert__icon-size: 40px;
$alert__padding: 16px;
$alert-link__font-color: #046791;
$alert-link__font-color--hover: #045d83;
$alert-link__font-color--focus: #045d83;
$alert-link__font-color--active: #045d83;
$autocomplete-list__background-color: #ffffff;
$autocomplete-list__border-color: #d9d9d9;
$autocomplete-list-item__font-color: #046791;
$autocomplete-list-item__background-color--active: #016074;
$autocomplete-list-item__font-color--active: #ffffff;
$autocomplete-list-item-message__font-color: #5a5a5a;
$badge__background-color: #5a5a5a;
$badge__font-color: #ffffff;
$badge__background-color--alert: #e31c3d;
$badge__background-color--info: #046791;
$badge__background-color--success: #12890e;
$badge__background-color--warn: #f8c41f;
$badge__font-color--warn: #262626;
$badge__border-radius: 9999px;
$choice__background-color: #ffffff;
$choice__background-color--checked: #046791;
$choice__background-color--disabled: #d9d9d9;
$choice__background-color--inverse: transparent;
$choice__background-color--disabled--inverse: #e9ecf126;
$choice__border-color: #262626;
$choice__border-color--checked: #046791;
$choice__border-color--disabled: #a6a6a6;
$choice__border-color--error: #e31c3d;
$choice__border-color--inverse: #ffffff;
$choice__border-color--left: #046791;
$choice__border-color--focus: #046791;
$choice__border-color--disabled--inverse: #a6a6a6;
$choice__border-radius: 0px;
$choice__border-width: 2px;
$choice__color--unchecked: #ffffff;
$choice__color--disabled: #5a5a5a;
$choice__size: 32px;
$choice__size--small: 20px;
$choice__size-radio: 22px;
$choice__size-radio--small: 12px;
$dialog__background-color: #ffffff;
$dialog__padding: 32px;
$dialog-overlay__background-color: #00000080;
$review__border-color: #d9d9d9;
$dropdown__background-color: #ffffff;
$dropdown__icon-size: 10px;
$filter-chip__border-radius: 9999px;
$filter-chip__background-color: #eaf8fe;
$filter-chip__border-color: #046791;
$filter-chip__color: #262626;
$filter-chip__background-color--active: #046791;
$filter-chip__border-color--active: #046791;
$filter-chip__color--active: #ffffff;
$filter-chip-icon__color: #262626;
$filter-chip-icon__color-active: #ffffff;
$pagination-link__color: #046791;
$pagination-link__color--hover: #046791;
$pagination-link__color--active: #045d83;
$pagination-link__color--focus: #046791;
$pagination-link__color--disabled: #d9d9d9;
$pagination-current-page__color: #262626;
$pagination-overflow__color: #5a5a5a;
$pagination-page-count__color: #5a5a5a;
