$color-primary: #046791;
$color-primary-darker: #046791;
$color-primary-darkest: #045d83;
$color-primary-alt: #3e94cf;
$color-primary-alt-lightest: #eaf8fe;
$color-secondary: #b20000;
$color-secondary-dark: #7d0000;
$color-secondary-light: #f18e9e;
$color-secondary-lightest: #fce8ec;
$color-gray-lightest: #f2f2f2;
$color-green: #12890e;
$color-green-light: #0d600a;
$color-green-lighter: #89c487;
$color-green-lightest: #e7f3e7;
$color-focus-light: #ffffff;
$color-focus-dark: #e63350;
$color-warn: #f8c41f;
$color-warn-light: #f9ca35;
$color-success-dark: #107b0d;
$color-success-darker: #0d600a;
