$button-border-width: 2px;

// On HealthCare.gov, primary buttons have the success color
$button-primary-bg: $color-green;
$button-primary-bg--hover: $color-success-dark;
$button-primary-bg--focus: $color-success-dark;
$button-primary-bg--active: $color-success-darker;

// Likewise, input fields should not have a border radius
$input-border-radius: 0;
