/*
List

Lists organize written information for users.

@uswds https://standards.usa.gov/components/typography/#lists

Markup: list.example.html

Style guide: components.list
*/

/*
---

### When to use

- Use an ordered list when you need to display text in some ranking, hierarchy, or series of steps.
- Use unordered lists to display text in no specific order.

### When to consider alternatives

- If you need to communicate long lists of narrative text.

### Usage

- Use sentence case and begin lists with a capital letter.
- Use punctuation appropriate to the text. Do not leave sentences without periods.

### Accessibility
- When a list has a heading, consider adding an `id` attribute to the heading element, and an `aria-labelledby` attribute to the list element. Screen readers will then announce the heading text when users navigate to the list.

### Learn more

- [18F Content Guide \- Bulleted lists](https://content-guide.18f.gov/punctuation/#bulleted-lists)

Style guide: components.list.guidance
*/
