// Settings - SASS variables, mixins, functions
@import 'settings/index';

// Base - HTML element selectors
@import 'base/index';

// Components - Reusable chunks of UI
@import 'components/example';

body {
  margin: 0;
  // Padding added to ensure *:focus outlines are visible when shown in an iframe
  padding: $spacer-2;
}

code {
  // Slightly larger than on the main doc site
  font-size: 1em;
}
