[data-theme="healthcare"]{
--accordion__color: #262626;
--accordion__background-color: #f2f2f2;
--accordion__background-color--hover: #d9d9d9;
--accordion__border-color: #f2f2f2;
--accordion-button__color: #262626;
--accordion-content__background-color: #ffffff;
--alert__background-color: #eaf8fe;
--alert__background-color--error: #fce8ec;
--alert__background-color--lightweight: #ffffff;
--alert__background-color--success: #e7f3e7;
--alert__background-color--warn: #fef9e9;
--alert__border-left-color: #3e94cf;
--alert__border-color--error: #e31c3d;
--alert__border-color--success: #12890e;
--alert__border-color--warn: #f8c41f;
--alert__font-color: #262626;
--alert__icon-size: 40px;
--alert__padding: 16px;
--alert-bar__width: 8px;
--alert-link__font-color: #046791;
--alert-link__font-color--hover: #045d83;
--alert-link__font-color--focus: #045d83;
--alert-link__font-color--active: #045d83;
--autocomplete__background-color: #ffffff;
--autocomplete__border-color: #d9d9d9;
--autocomplete-item__font-color: #046791;
--autocomplete-item__background-color--active: #016074;
--autocomplete-item__font-color--active: #ffffff;
--autocomplete-item-message__font-color: #5a5a5a;
--badge__background-color: #5a5a5a;
--badge__background-color--alert: #e31c3d;
--badge__background-color--info: #046791;
--badge__background-color--success: #12890e;
--badge__background-color--warn: #f8c41f;
--badge__font-color: #ffffff;
--badge__font-color--warn: #262626;
--button__border-radius: 3px;
--button__border-width: 2px;
--button__background-color: #ffffff;
--button__background-color--active: #ffffff;
--button__background-color--disabled: #ffffff;
--button__background-color--hover: #046791;
--button__border-color: #046791;
--button__border-color--active: #045d83;
--button__border-color--disabled: #d9d9d9;
--button__border-color--hover: #046791;
--button__color: #046791;
--button__color--active: #045d83;
--button__color--disabled: #d9d9d9;
--button__color--hover: #046791;
--button-icon__fill: #262626;
--button-inverse__background-color: #00395e;
--button-inverse__background-color--disabled: #00395e;
--button-inverse__background-color--focus: #00395e;
--button-inverse__border-color: #ffffff;
--button-inverse__border-color--active: #ffffff99;
--button-inverse__border-color--disabled: #d9d9d9;
--button-inverse__border-color--hover: #ffffffcc;
--button-inverse__color: #ffffff;
--button-inverse__color--active: #ffffff99;
--button-inverse__color--disabled: #d9d9d9;
--button-inverse__color--hover: #ffffffcc;
--button-transparent__color--active: #045d83;
--button-transparent__background-color--disabled: #d9d9d9;
--button-transparent__color--disabled: #404040;
--button-inverse-transparent__background-color: #d9d9d9;
--button-inverse-transparent__color: #404040;
--button-inverse-transparent__color--disabled: #404040;
--button-primary__color: #ffffff;
--button-primary__color--hover: #ffffff;
--button-primary__background-color: #12890e;
--button-primary__background-color--hover: #107b0d;
--button-primary__background-color--focus: #046791;
--button-primary__background-color--active: #0d600a;
--button-secondary__background-color: #046791;
--button-secondary__border-color: #ffffff00;
--button-secondary__border-color--active: #ffffff00;
--button-secondary__background-color--hover: #046791;
--button-secondary__background-color--active: #045d83;
--button-secondary__color: #ffffff;
--button-secondary__color--active: #ffffff;
--choice__background-color: #ffffff;
--choice__background-color--checked: #046791;
--choice__background-color--disabled: #d9d9d9;
--choice__background-color--inverse: #ffffff00;
--choice__background-color--disabled--inverse: #e9ecf126;
--choice__border-color: #262626;
--choice__border-color--checked: #046791;
--choice__border-color--disabled: #a6a6a6;
--choice__border-color--error: #e31c3d;
--choice__border-color--inverse: #ffffff;
--choice__border-color--left: #046791;
--choice__border-color--focus: #046791;
--choice__border-color--disabled--inverse: #a6a6a6;
--choice__border-radius: 0px;
--choice__border-width: 2px;
--choice__color--unchecked: #ffffff;
--choice__color--disabled: #5a5a5a;
--choice__size: 32px;
--choice__size--small: 20px;
--choice__size-radio: 22px;
--choice__size-radio--small: 12px;
--choice-label__color--disabled: #5a5a5a;
--choice-label__color--disabled--inverse: #e9ecf1;
--dialog__background-color: #ffffff;
--dialog__padding: 32px;
--dialog-overlay__background-color: #00000080;
--drawer__animation-timing: 0.3s;
--drawer__background-color: #ffffff;
--drawer__border-color: #d9d9d9;
--drawer-close__color: #000000;
--drawer-header__background-color: #f2f2f2;
--drawer-footer__background-color: #eaf8fe;
--drawer-toggle__background-color--hover: #3e94cf;
--drawer-toggle__color--hover: #ffffff;
--drawer-toggle__background-color--hover--inverse: #ffffff;
--drawer-toggle__color--hover--inverse: #404040;
--dropdown__background-color: #ffffff;
--dropdown__icon-size: 10px;
--filter-chip__border-radius: 9999px;
--filter-chip__background-color: #eaf8fe;
--filter-chip__border-color: #046791;
--filter-chip__color: #262626;
--filter-chip__background-color--active: #046791;
--filter-chip__border-color--active: #046791;
--filter-chip__color--active: #ffffff;
--filter-chip-icon__color: #262626;
--filter-chip-icon__color-active: #ffffff;
--form__max-width: 460px;
--form__max-width--small: 6em;
--form__max-width--medium: 12em;
--form-label__color--inverse: #ffffff;
--form-hint__color: #5a5a5a;
--form-hint__color--inverse: #e9ecf1;
--form-error__color: #e31c3d;
--form-error__color--inverse: #f18e9e;
--icon__color__error: #e31c3d;
--icon__color--inverse: #ffffff;
--icon__color--primary: #046791;
--icon__color--success: #12890e;
--icon__color--warn: #f8c41f;
--link__color: #046791;
--link__color--active: #045d83;
--link__color--hover: #046791;
--link__color--visited: #4c2c92;
--link-inverse__color: #ffffff;
--link-inverse__color--active: #e9ecf1;
--link-inverse__color--hover: #e9ecf1;
--link-inverse__color--visited: #e9ecf1;
--link__text-decoration-offset: auto;
--link__text-decoration-thickness: 1px;
--link__text-decoration-thickness--hover: 1px;
--pagination-link__color: #046791;
--pagination-link__color--hover: #046791;
--pagination-link__color--active: #045d83;
--pagination-link__color--focus: #046791;
--pagination-link__color--disabled: #d9d9d9;
--pagination-current-page__color: #262626;
--pagination-overflow__color: #5a5a5a;
--pagination-page-count__color: #5a5a5a;
--review__border-color: #d9d9d9;
--steplist__color: #5a5a5a;
--steplist__color--current: #046791;
--steplist__background-color--current: #046791;
--steplist-step__color: #5a5a5a;
--steplist-step__border-color: #d9d9d9;
--steplist-step__border-color--default: #5a5a5a;
--steplist-step__color--current: #ffffff;
--steplist-step__color--completed: #262626;
--steplist-step__background-color--completed: #262626;
--spinner__background-color: #ffffff;
--spinner__color: #262626;
--spinner__background-color--inverse: #00395e;
--spinner__color--inverse: #ffffff;
--table__padding: 16px;
--table__border-color: #000000;
--table-header__background-color: #f2f2f2;
--table-striped__background-color: #f2f2f2;
--table-striped-header__background-color: #f2f2f2;
--tabs__border-color: #d9d9d9;
--tabs__background-color: #ffffff;
--tabs__color: #262626;
--tabs-selected__background-color: #046791;
--tabs-selected__border-color: #ffffff;
--tabs-selected__color: #046791;
--tabs-selected__border-color--active: #046791;
--tabs__color--hover: #046791;
--tabs__color--active: #046791;
--tabs__background-color--disabled: #d9d9d9;
--tabs__border-color--disabled: #d9d9d9;
--tabs__color--disabled: #404040;
--text-input__line-height: 1.3;
--text-input__background-color--disabled: #d9d9d9;
--text-input__border-width: 2px;
--text-input__border-color: #262626;
--text-input__border-color--disabled: #a6a6a6;
--text-input__border-color--error: #e31c3d;
--text-input__border-color--error--inverse: #f18e9e;
--text-input__border-color--inverse: #000000;
--text-input__border-color--success: #2a9526;
--text-input__color: #262626;
--text-input__padding: 8px;
--text-input__border-radius: 0;
--tooltip__background-color: #ffffff;
--tooltip__border-color: #404040;
--tooltip__color: #262626;
--tooltip__box-shadow-color: #a6a6a6;
--tooltip-icon__color: #046791;
--tooltip-icon__color--inverse: #ffffff;
--tooltip-trigger__color: #046791;
--usa-banner__background-color: #f2f2f2;
--usa-banner__color: #000000;
--usa-banner-close__background-color: #a6a6a6;
--usa-banner-action__color: #046791;
--usa-banner-lock-icon__color: #2a9526;
--vertical-nav-item__background-color--hover: #f2f2f2;
--vertical-nav-item__color--hover: #046791;
--vertical-nav-item__border-color: #5a5a5a;
--vertical-nav-label__color: #262626;
--vertical-nav-label-icon__color: #262626;
--vertical-nav-label__border-color--current: #046791;
--vertical-nav-label__color--current: #046791;
}