$animation-ease-in-out-expo: var(--animation-ease-in-out-expo);
$animation-speed-base: var(--animation-speed-base);
$animation-speed-1: var(--animation-speed-1);
$animation-speed-2: var(--animation-speed-2);
$animation-speed-3: var(--animation-speed-3);
$animation-speed-4: var(--animation-speed-4);
$color-teal-700: var(--color-teal-700);
$color-teal-500: var(--color-teal-500);
$color-teal-300: var(--color-teal-300);
$color-teal-100: var(--color-teal-100);
$color-blue-700: var(--color-blue-700);
$color-blue-500: var(--color-blue-500);
$color-blue-300: var(--color-blue-300);
$color-blue-100: var(--color-blue-100);
$color-green-700: var(--color-green-700);
$color-green-500: var(--color-green-500);
$color-green-300: var(--color-green-300);
$color-green-100: var(--color-green-100);
$color-black-700: var(--color-black-700);
$color-black-500: var(--color-black-500);
$color-black-300: var(--color-black-300);
$color-black-200: var(--color-black-200);
$color-black-100: var(--color-black-100);
$color-black-50: var(--color-black-50);
$color-yellow-700: var(--color-yellow-700);
$color-yellow-500: var(--color-yellow-500);
$color-yellow-300: var(--color-yellow-300);
$color-yellow-100: var(--color-yellow-100);
$color-red-700: var(--color-red-700);
$color-red-500: var(--color-red-500);
$color-red-300: var(--color-red-300);
$color-red-100: var(--color-red-100);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-transparent: var(--color-transparent);
$color-background: var(--color-background);
$color-background-dialog: var(--color-background-dialog);
$color-background-dialog-mask: var(--color-background-dialog-mask);
$color-background-inverse: var(--color-background-inverse);
$color-base: var(--color-base);
$color-base-inverse: var(--color-base-inverse);
$color-border: var(--color-border);
$color-border-dark: var(--color-border-dark);
$color-border-inverse: var(--color-border-inverse);
$color-coolblue: var(--color-coolblue);
$color-coolblue-light: var(--color-coolblue-light);
$color-coolblue-lighter: var(--color-coolblue-lighter);
$color-coolblue-lightest: var(--color-coolblue-lightest);
$color-error: var(--color-error);
$color-error-dark: var(--color-error-dark);
$color-error-darker: var(--color-error-darker);
$color-error-darkest: var(--color-error-darkest);
$color-error-light: var(--color-error-light);
$color-error-lighter: var(--color-error-lighter);
$color-error-lightest: var(--color-error-lightest);
$color-focus: var(--color-focus);
$color-focus-border-inverse: var(--color-focus-border-inverse);
$color-focus-dark: var(--color-focus-dark);
$color-focus-inverse: var(--color-focus-inverse);
$color-focus-light: var(--color-focus-light);
$color-focus-shadow: var(--color-focus-shadow);
$color-focus-shadow-inverse: var(--color-focus-shadow-inverse);
$color-focus-shadow-link: var(--color-focus-shadow-link);
$color-focus-shadow-link-inverse: var(--color-focus-shadow-link-inverse);
$color-gold: var(--color-gold);
$color-gold-dark: var(--color-gold-dark);
$color-gold-darker: var(--color-gold-darker);
$color-gold-darkest: var(--color-gold-darkest);
$color-gold-light: var(--color-gold-light);
$color-gold-lighter: var(--color-gold-lighter);
$color-gold-lightest: var(--color-gold-lightest);
$color-gray: var(--color-gray);
$color-gray-cool-light: var(--color-gray-cool-light);
$color-gray-dark: var(--color-gray-dark);
$color-gray-darker: var(--color-gray-darker);
$color-gray-light: var(--color-gray-light);
$color-gray-lighter: var(--color-gray-lighter);
$color-gray-lightest: var(--color-gray-lightest);
$color-gray-medium-light: var(--color-gray-medium-light);
$color-gray-medium: var(--color-gray-medium);
$color-gray-warm-dark: var(--color-gray-warm-dark);
$color-gray-warm-light: var(--color-gray-warm-light);
$color-green: var(--color-green);
$color-green-dark: var(--color-green-dark);
$color-green-darker: var(--color-green-darker);
$color-green-darkest: var(--color-green-darkest);
$color-green-light: var(--color-green-light);
$color-green-lighter: var(--color-green-lighter);
$color-green-lightest: var(--color-green-lightest);
$color-muted: var(--color-muted);
$color-muted-inverse: var(--color-muted-inverse);
$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-primary-darker: var(--color-primary-darker);
$color-primary-darkest: var(--color-primary-darkest);
$color-primary-light: var(--color-primary-light);
$color-primary-lightest: var(--color-primary-lightest);
$color-primary-alt: var(--color-primary-alt);
$color-primary-alt-dark: var(--color-primary-alt-dark);
$color-primary-alt-darker: var(--color-primary-alt-darker);
$color-primary-alt-darkest: var(--color-primary-alt-darkest);
$color-primary-alt-light: var(--color-primary-alt-light);
$color-primary-alt-lightest: var(--color-primary-alt-lightest);
$color-red: var(--color-red);
$color-red-dark: var(--color-red-dark);
$color-red-darker: var(--color-red-darker);
$color-red-darkest: var(--color-red-darkest);
$color-red-light: var(--color-red-light);
$color-red-lighter: var(--color-red-lighter);
$color-red-lightest: var(--color-red-lightest);
$color-secondary: var(--color-secondary);
$color-secondary-dark: var(--color-secondary-dark);
$color-secondary-darker: var(--color-secondary-darker);
$color-secondary-darkest: var(--color-secondary-darkest);
$color-secondary-light: var(--color-secondary-light);
$color-secondary-lighter: var(--color-secondary-lighter);
$color-secondary-lightest: var(--color-secondary-lightest);
$color-success: var(--color-success);
$color-success-dark: var(--color-success-dark);
$color-success-darker: var(--color-success-darker);
$color-success-darkest: var(--color-success-darkest);
$color-success-light: var(--color-success-light);
$color-success-lighter: var(--color-success-lighter);
$color-success-lightest: var(--color-success-lightest);
$color-warn: var(--color-warn);
$color-warn-dark: var(--color-warn-dark);
$color-warn-darker: var(--color-warn-darker);
$color-warn-darkest: var(--color-warn-darkest);
$color-warn-light: var(--color-warn-light);
$color-warn-lighter: var(--color-warn-lighter);
$color-warn-lightest: var(--color-warn-lightest);
$color-visited: var(--color-visited);
$font-sans: var(--font-sans);
$font-montserrat: var(--font-montserrat);
$font-rubik: var(--font-rubik);
$font-family-open-sans: var(--font-family-open-sans);
$font-family-rubik: var(--font-family-rubik);
$font-family-montserrat: var(--font-family-montserrat);
$font-family-bitter: var(--font-family-bitter);
$font-size-base: var(--font-size-base);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$font-size-xl: var(--font-size-xl);
$font-size-2xl: var(--font-size-2xl);
$font-size-3xl: var(--font-size-3xl);
$font-size-4xl: var(--font-size-4xl);
$font-size-5xl: var(--font-size-5xl);
$font-line-height-reset: var(--font-line-height-reset);
$font-line-height-base: var(--font-line-height-base);
$font-line-height-heading: var(--font-line-height-heading);
$font-line-height-lead: var(--font-line-height-lead);
$font-weight-normal: var(--font-weight-normal);
$font-weight-bold: var(--font-weight-bold);
$font-weight-semibold: var(--font-weight-semibold);
$measure-narrow: var(--measure-narrow);
$measure-base: var(--measure-base);
$measure-wide: var(--measure-wide);
$media-width-xs: 0px;
$media-width-sm: 544px;
$media-width-md: 768px;
$media-width-lg: 1024px;
$media-width-xl: 1280px;
$radius-circle: var(--radius-circle);
$radius-default: var(--radius-default);
$radius-large: var(--radius-large);
$radius-medium: var(--radius-medium);
$radius-pill: var(--radius-pill);
$radius-small: var(--radius-small);
$shadow-box-card: var(--shadow-box-card);
$spacer-1: 8px;
$spacer-2: 16px;
$spacer-3: 24px;
$spacer-4: 32px;
$spacer-5: 40px;
$spacer-6: 48px;
$spacer-7: 56px;
$spacer-none: 0px;
$spacer-half: 4px;
$z-deep: var(--z-deep);
$z-default: var(--z-default);
$z-drawer: var(--z-drawer);
$z-dialog: var(--z-dialog);
$z-popup: var(--z-popup);
$z-spinner: var(--z-spinner);
