@import '@cmsgov/design-system/src/styles/index';
// any @font-face declarations need to be included everywhere to not be
// wrapped with the data-theme selector below
@import '@cmsgov/ds-medicare-gov/src/styles/_fonts';
@import '../packages/docs/src/styles/components/exampleGrid.scss';

.utility-example {
  background-color: var(--color-info-lightest);
  outline: 2px dashed var(--color-info);
}

// This class is meant to turn a be applied to a fullscreen story and match the
// default padding that storybook puts around stories in different contexts. If
// Storybook's styles change, we'll need to update these rules. It is used for
// the decorator of on-dark stories.
.on-dark-story {
  padding: 1rem;

  #storybook-docs & {
    padding: 30px 20px;
  }

  #storybook-root & {
    height: 100vh;
  }
}

[data-theme='healthcare'] {
  @import '@cmsgov/ds-healthcare-gov/src/styles/index';
}

[data-theme='medicare'] {
  @import '@cmsgov/ds-medicare-gov/src/styles/index';
}
