/*
Modal dialog

The dialog component can be used to focus a user's attention on a single piece of content, without taking them to a new screen. Please use with caution; view our guidance for more details.

Markup: dialog.example.html

Style guide: components.dialog
*/

/*
Dialog size variants

Apply one of the size modifier classes to the `ds-c-dialog` element to change the dialog width.
- `.ds-c-dialog--narrow`
- `.ds-c-dialog--wide`
- `.ds-c-dialog--full`

Markup: dialog-size.example.html

Style guide: components.dialog.size
*/

/*
`<Dialog />`

@react-example Dialog.example.jsx

@react-props Dialog.jsx

Style guide: components.dialog.react
*/

/*
---

### When to use
- Require an immediate response from the user. Use a dialog to request information that is preventing the system from continuing a user-initiated process.
- Notify the user of urgent information. Use a modal dialog to notify the user of urgent information concerning their current work. Modal dialogs are commonly used to report system errors or convey a consequence of a user’s action.
- Confirm a user decision. Use a modal dialog to confirm user decisions. Clearly describe the action being confirmed and explain any potential consequences that it may cause. Both the title and the button should reflect the action that will occur. If the action is destructive or irreversible then use a transactional danger modal.

### When to consider alternatives
- Every time! Before using a modal, consider whether there’s another component that might be less disruptive for the user. Modals should be a last resort.
- Multi-step process. Avoid complicated user flows in a modal that may take the user away from the original page. A multi-step process is better suited to an individual page, guiding the user and accommodating complexities in the user flow.

### Usage
- `<Dialog>` makes use of the `<AriaModal>` component maintained by [react-aria-modal docs on Github](https://github.com/davidtheclark/react-aria-modal). The above documented props are only those directly exposed by the `<Dialog>` component, but you can pass props specific to `<AriaModal>` here as well, e.g. you can set the [`scrollDisabled`](https://github.com/davidtheclark/react-aria-modal#scrolldisabled) prop if you'd like to enable scrolling behind the modal window.

### Accessibility

### Focus Management
- When the modal is opened, the entire modal is the default focus state. Most screen readers will announce the entire dialog content.
- Focus is trapped within the modal and users can then navigate through the dialog actions with the keyboard.
- Escape will close the modal. To disable exiting when users press the Escape key, set the `escapeExits` prop to `false`
- When the modal closes, focus returns to the element that was focused just before the modal if activated
- To place the focus inside of the dialog on activating the modal, set the dialog focus using the `initialFocus` prop with boolean prop `focusDialog` set to `false`

### Related patterns

- [Alert]({{root}}/components/alert)

### Learn more

- [Making an accessible dialog box](https://www.nczonline.net/blog/2013/02/12/making-an-accessible-dialog-box/)
- [GOV.UK modal dialog boxes discussion](https://paper.dropbox.com/doc/Modal-dialog-boxes-jbsTPoITg37IIc6ybjetM)
- [Overuse of Overlays: How to Avoid Misusing Lightboxes](https://www.nngroup.com/articles/overuse-of-overlays/)
- [Using ARIA role=dialog to implement a modal dialog box](https://www.w3.org/WAI/GL/wiki/Using_ARIA_role%3Ddialog_to_implement_a_modal_dialog_box)

Style guide: components.dialog.guidance
*/
