/*
Spacing

<div class="ds-c-alert">
    <div class="ds-c-alert__body">
      <h3 class="ds-c-alert__heading">Spacing tokens updates!</h3>
      <p class="ds-c-alert__text">
        We've updated padding and margin to use USWDS spacing tokens.</a>.
      </p>
    </div>
</div>

The design system uses USWDS spacing tokens, mixins, and functions. USWDS spacing tokens are documented in px, but they output values in rem.

The spacing unit tokens are based on multiples of `8px` for all spacing values: dimensions, padding, and margins. The goal behind this is to achieve a consistent vertical rhythm and to reduce the cognitive load of fiddling with different spacing options.

## Usage

- Use the [margin]({{root}}/utilities/margin) and [padding]({{root}}/utilities/padding) utility classes to change a UI's spacing. These utility classes are named in a way that allows you to use the modifier to calculate the amount of spacing. For example, a margin utility class that adds `16px` of spacing would be `ds-u-margin--2`. We can calculate this by looking at the class's modifier (`2`) and multiplying that by our multiple: `2 × 8px = 16px`
- If you've imported the design system's Sass file, you can also use the underlying USWDS spacing Sass function, which follow the format `units(x)` where `x` is a number between 1–7 (i.e. `units(4)`)
- For more detailed information see the [USWDS Spacing units documentation](https://designsystem.digital.gov/design-tokens/spacing-units/)

## Learn more

- [The 8-Point Grid](https://spec.fm/specifics/8-pt-grid)

Style guide: styles.spacing
*/
