@import 'variables.layout';

// These variables override default variables defined by USWDS
// For the most part, these overrides replace rem units with px units.

// Typography
// USWDS uses rem units for their font sizes, however this relies on
// the root element (typically <html>) to have its font size set to
// 10px. Since styling a root element goes against the guiding principles
// of this design system, we use px units instead.
$base-font-size: 16px !default;
$small-font-size: 14px !default;
$lead-font-size: 18px !default;

$h1-font-size: 36px !default;
$h2-font-size: 24px !default;
$h3-font-size: 21px !default;
$h4-font-size: 18px !default;
$h5-font-size: $base-font-size !default;
$h6-font-size: $small-font-size !default;

$title-font-size: 48px !default;
$display-font-size: 60px !default;

// Replace US WDS font stacks with HealthCare.gov font stacks
$font-sans: 'Open Sans', Helvetica, sans-serif !default;
$font-serif: Bitter, Georgia, serif !default;

// Inputs
$input-max-width: 460px !default; // rem -> px

// Paths
$font-path: '../fonts' !default;
$image-path: '../images' !default;
