/*
Color palette 

@uswds https://standards.usa.gov/components/colors/

<p class="ds-text--lead">The design system provides a flexible, yet distinctly American palette designed to communicate warmth and trustworthiness while meeting the highest standards of 508 color contrast requirements.</p>

The palette is designed to support a range of distinct visual styles that continue to feel connected. The intent of the palette is to convey a warm and open American spirit, with bright saturated tints of blue, grounded in sophisticated deeper shades of cool blues and grays. These colors — combined with clear hierarchy, good information design, and ample white space — should leave users feeling welcomed and in good hands.

This is a simple, minimalist color palette. Shades of blue dominate, providing a neutral backdrop on which brighter shades, clean type treatment, and bright white content areas “pop” on the page.

Style guide: style.color
*/

/*
Primary colors

@hide-markup

This palette’s primary colors are blue, gray, and white. Blue is commonly associated with trust, confidence, and sincerity; it is also used to represent calmness and responsibility.

Markup: color-primary.example.html

Style guide: style.color.primary
*/

/*
Secondary colors

@hide-markup

These are accent colors to provide additional lightness and style to pages looking for a more modern flair. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly and never draw the eye to more than one piece of information at a time.

Markup: color-secondary.example.html


Style guide: style.color.secondary
*/

/*
Background colors

@hide-markup

These colors are used largely for background blocks and large content areas. When alternating between tones, be sure to use enough contrast between adjacent colors.

Markup: color-background.example.html


Style guide: style.color.background
*/

/*
Status colors

@hide-markup

These colors are used largely to indicate the status of something. 
Be cautious using these colors to signify something that may contradict what most people would expect the colors to be used for.

Status colors can also be used with these aliases where `green`, `gold`, and `red` are identical to `success`, `warn`, and `error`. Use these alternate naming options when statuses aren't approproiate or give enough detail. For example, in some situations, `$color-red-dark` might be more accurate and descriptive than `$color-error-darker`.

Markup: color-status.example.html



Style guide: style.color.status
*/

/*
Focus colors

@hide-markup

Markup: color-focus.example.html

Style guide: styles.color.focus
*/

/*
Additional colors

@hide-markup

Markup: color-additional.example.html

Style guide: style.color.additional
*/
