// font-weight (additional font-weights are defined as USWDS variables)
$font-semibold: 600;

// line-height (additional line-heights are defined as USWDS variables)
$reset-line-height: 1 !default;

// measure
$measure-narrow: 45ex;
$measure-base: 65ex;
$measure-wide: 80ex;
