// Generic
// USWDS doesn't include a "lighter" variant for red, so we create one
// in order to be consistent with the other "state" colors.
$color-secondary-lighter: mix($color-secondary-light, $color-secondary-lightest) !default;

// USE COLOR RED HERE
$color-error: $color-secondary !default;
$color-error-dark: $color-secondary-dark !default;
$color-error-darkest: $color-secondary-darkest !default;
$color-error-light: $color-secondary-light !default;
$color-error-lighter: $color-secondary-lighter !default;
$color-error-lightest: $color-secondary-lightest !default;

$color-red: $color-secondary !default;
$color-red-light: $color-secondary-light !default;
$color-red-lighter: $color-secondary-lighter !default;
$color-red-lightest: $color-secondary-lightest !default;

$color-warn: $color-gold !default;
$color-warn-light: $color-gold-light !default;
$color-warn-lighter: $color-gold-lighter !default;
$color-warn-lightest: $color-gold-lightest !default;

$color-success: $color-green !default;
$color-success-dark: darken($color-green, 3%) !default;
$color-success-darker: darken($color-green, 6%) !default;
$color-success-light: $color-green-light !default;
$color-success-lighter: $color-green-lighter !default;
$color-success-lightest: $color-green-lightest !default;

// Text
$color-muted: $color-gray !default;
$color-base-inverse: $color-white !default;
$color-muted-inverse: #bac5cf !default;

// Focus
// General focus style color
$color-focus: #ffde11;
$focus-shadow: inset 0 0 0 1px $color-base;
$focus-shadow-link: 0 3px $color-base;



// USWDS has a default focus color, but we want one that can be applied to
// fields that are displayed on top of an inverted background
$color-focus-inverse: #ffde11 !default;
$focus-shadow-inverse: inset 0 0 0 1px $color-base !default;
$focus-border-inverse: #8f7c00 !default;
$focus-shadow-link-inverse: 0 3px $focus-border-inverse !default;

// Background
$color-background: $color-white !default;
$color-background-inverse: $color-primary-darkest;
$color-background-dialog-mask: rgba(0, 0, 0, 0.5) !default;
$color-background-dialog: $color-white !default;

// Border
$border-color: $color-gray-lighter !default;
$border-color-dark: $color-gray-dark !default;
$border-color-inverse: $color-white !default;
