// Libraries
@import '@cmsgov/design-system/src/index';

// Theme, if applicable
//@import '~theme/index';

// Sass settings
@import 'styles/settings/index';

// Sass mixins and functions
@import 'styles/tools/index';

// Base - unclassed HTML element selectors
@import 'styles/base/index';

// Layouts - Structural patterns
@import 'styles/layouts/index';

// Components - reusable chunks of UI
@import 'styles/components/BreakpointToggles';
@import 'styles/components/details';
@import 'styles/components/Docs';
@import 'styles/components/Frame';
@import 'styles/components/Header';
@import 'styles/components/UsaBanner';

// Utilities
@import 'styles/utilities/colors';
