@import '../settings/index.scss';

.ds-c-skip-nav {
  left: 0;
  padding: $spacer-1 $spacer-2;
  position: absolute;
  top: ($spacer-4 + $font-size-base) * -2;
  z-index: 100;

  &:focus {
    background-color: $color-white;
    left: 0;
    top: 0;
  }
}
