@import 'Mask';

/*
Masked field

A masked field is an enhanced input field that provides visual and non-visual
cues to a user about the expected value.

Style guide: components.masked-field
*/

/*
`<TextField mask={...}>`

Passing a `mask` prop into the `TextField` component with a valid value will
enable formatting to occur when the field is blurred. To "unmask" the
value, you can import and call the `unmaskValue` method.

@react-component TextField

@react-example Mask

Style guide: components.masked-field.react
*/
