@import '@cmsgov/design-system-support/src/settings/index';

/*
Form label/legend

Markup:
<label class="ds-c-label" for="field-id">Label text</label>
*/
.ds-c-label {
  display: block;
  font-size: $base-font-size;
  font-weight: $font-normal;
  margin-bottom: 0;
  margin-top: $spacer-3;
  max-width: $input-max-width;
  // Remove default padding on <legend> elements:
  padding: 0;
}

// Webkit won't render a top margin on a fieldset's <legend>, so we apply
// the top margin to the fieldset instead.
.ds-c-fieldset > .ds-c-label:first-child {
  margin-top: 0;
}

/*
Hint text

(docs stolen from Gov.UK)

- don’t use placeholder text in form fields, as this will disappear once content is entered into the form field
- use hint text for supporting contextual help, this will always be shown
- hint text should sit above a form field
- ensure hint text can be read correctly by screen readers
*/
.ds-c-field__hint {
  color: $color-muted;
  display: block;
}

.ds-c-field__hint--inverse {
  color: $color-muted-inverse;
}
