@import '@cmsgov/design-system-support/src/settings/index';

@keyframes slideInHelpDrawer {
  from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ds-c-help-drawer {
  background: $color-background;
  bottom: 0;
  box-shadow: -2px 0 0 $border-color;
  display: flex; // Flex layout helps ds-c-help-drawer__body take up full height regardless of ds-c-help-drawer__header height
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  @media (min-width: $width-md) {
    animation: slideInHelpDrawer $animation-speed-2 ease-in-out both; // slide in from the right
    max-width: 33%; // this equates to 4 grid columns
  }

  @media (min-width: $width-xl) {
    max-width: $measure-base;
  }
}

.ds-c-help-drawer__body {
  // flex-grow: 1; // Stretch so that the container takes up the rest of the screen
  // position: relative;
  // width: 100%;
    // height: 100vh;
    overflow-y: scroll;
}

.ds-c-help-drawer__content-container {
  // bottom: 0;
  display: flex; // Flex layout helps stick the footer to the bottom
  flex-direction: column;
  height: calc(100vh - 60px);
  // height: 100vh;
  // left: 0;
  // overflow-y: scroll;
  // overflow-x: hidden;
  
  // position: absolute;
  // right: 0;
  // top: 0;
}

.ds-c-help-drawer__content {
  p:first-child {
    // Prevent too much space at the top of the body area
    margin-top: 0;
  }
  // Stretch so that the footer sticks to the bottom of the screen
  flex-grow: 1;
}
