/*
Float

Set an element's `float` property using the float utility.

You can use the clearfix utility class to automatically clear your floats.

**Format**: `ds-u-float--[left|right|none]`

**Responsive format**: `ds-u-[breakpoint]-float--[left|right|none]`

Markup: float.example.html

Style guide: utilities.float
*/

/*
Clearfix

The clearfix utility can be applied to an element to clear floats around the element.

**Format**: `ds-u-clearfix`

Markup: clearfix.example.html

Style guide: utilities.float.clearfix
*/

/*

/*
Responsive float

@responsive

Use a [breakpoint prefix](/guidelines/responsive) to change how an element is floated at specific breakpoints.

Markup: float-responsive.example.html

Style guide: utilities.float.responsive
*/
