/*
USA Banner

The USA banner identifies official websites of government organizations in the United States. It also helps visitors understand how to tell that a website is both official and secure.

@uswds https://designsystem.digital.gov/components/banner/

Markup: usabanner.example.html

Style guide: components.usa-banner
*/

/*
`<UsaBanner>`

@react-example UsaBanner.example.jsx

@react-props UsaBanner.jsx

Style guide: components.usa-banner.react
*/

/*
---

### When to use

- To identify as an official government site. Most government sites should use the banner.

### When to consider alternatives

- If you don't use a .gov domain and HTTPS. The banner text identifies .gov domains and HTTPS as indicators that a website is an official government website. Use the banner only if your site uses both the proper TLD and HTTPS.
- Any time it would be misleading. The banner should be used to reduce confusion. Avoid using the banner on any site meant only for testing or otherwise not meant to be identified as an official government website.

### Usage

- Use the provided text without customization. The banner is most effective as an identifier and a learning tool when its message is consistent across government websites.
- Show the banner on every page. Use the banner at the top of every page of a site. It can be confusing or misleading if it appears on some pages and not others.
- Avoid distraction. The banner appears on every page of your site. Choose background colors that fit with your site theme and avoid color combinations that draw excessive attention to the banner.
- Keep the text up-to-date. Use the most current version of the banner.

### Accessibility
Style guide: components.usa-banner.guidance
*/
