@import '@cmsgov/design-system-support/src/settings/index';

.ds-c-fieldset {
  border: 0;
  // We apply the same margin as a label, since in the context of a fieldset
  // this would be a <legend>. See .ds-c-fieldset > .ds-c-label for more info.
  margin: $spacer-3 0 0;
  min-width: 0;
  padding: 0;
}

/*
Checkbox & Radio

Checkboxes allow users to select one or more options from a visible list, whereas radio buttons allow a user to select only one option.

@uswds https://standards.usa.gov/components/form-controls

Markup: checkbox-radio.example.html

Style guide: components.choice
*/

/*
Inverse theme

Markup: checkbox-radio-inverse.example.html

Style guide: components.choice.inversed
*/

$ds-c-inset-border-width: $spacer-half;

// Hide the default browser checkbox/radio button since we'll
// create our own custom version
.ds-c-choice {
  left: -999em;
  opacity: 0;
  position: absolute;

  // Checked children container
  &__checkedChild {
    border-left: $ds-c-inset-border-width solid $color-primary;
    margin-bottom: $spacer-2;
    margin-left: ($choice-size / 2) - ($ds-c-inset-border-width / 2);
    padding: $spacer-2;

    // Checked children container on dark background
    &--inverse {
      border-left-color: $color-white;
    }

    // Small input variant
    &--small {
      margin-left: $spacer-1;
    }
  }
}

.ds-c-choice + label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-weight: $font-normal;
  margin: $spacer-1 0;
  max-width: $measure-base;
  min-height: $choice-size;
  padding-left: $choice-size + $spacer-1;
  position: relative;
}

// Create a custom checkbox/radio button
.ds-c-choice + label::before {
  background-color: $color-background;
  border: $choice-border-width solid $choice-border-color;
  box-sizing: border-box;
  content: '\a0';
  height: $choice-size;
  left: 0;
  line-height: $choice-size;
  position: absolute;
  text-indent: 0.15em;
  top: 0;
  width: $choice-size;
}

.ds-c-choice--inverse + label::before {
  background-color: $color-background-inverse;
  border-color: $choice-border-color-inverse;
}

// Display an outline
.ds-c-choice:focus + label::before {
  box-shadow: 0 0 0 2px $color-background, 0 0 2px 4px $color-focus;
}

.ds-c-choice--inverse:focus + label::before {
  box-shadow: 0 0 0 2px $color-background-inverse,
    0 0 2px 4px $color-focus-inverse;
}

// Display a checkmark
.ds-c-choice:checked + label::before {
  background-color: $choice-checked-background-color;
  background-image: url('#{$image-path}/checkmark-white.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: $choice-size - $spacer-1;
  border-color: $choice-checked-background-color;
}

// Fade the checkbox and label
.ds-c-choice:disabled {
  + label {
    color: $color-muted;

    &::before {
      background-color: $color-gray-lighter;
      border: 1px solid $color-gray-light;
      cursor: not-allowed;
    }
  }
}

.ds-c-choice--inverse:disabled {
  + label {
    color: $color-muted-inverse;

    &::before {
      background-color: rgba($color-muted-inverse, 0.15);
      box-shadow: 0 0 0 1px $color-muted-inverse;
    }
  }
}

// Display a circular radio button
.ds-c-choice[type='radio'] + label::before {
  border-radius: 100%;
}


/*
Right-to-Left

Markup: checkbox-radio-right-to-left.example.html

Style guide: components.choice.rtl
*/
.ds-c-choice--right + label {
  padding-left: 0;
  padding-right: $choice-size + $spacer-1;

  &::before {
    left: auto;
    right: 0;
  }
}

/*
Size variants

Markup: checkbox-radio-size.example.html

Style guide: components.choice.size
*/
.ds-c-choice--small {
  + label {
    min-height: $choice-size-small;
    padding-left: $choice-size-small + $spacer-1;
    padding-top: 0;

    &::before {
      height: $choice-size-small;
      top: 2px;
      width: $choice-size-small;
    }
  }

  &:checked + label::before {
    background-size: $choice-size-small;
  }

  &.ds-c-choice--right + label {
    padding-left: 0;
    padding-right: $choice-size-small + $spacer-1;
  }
}

/*
`<ChoiceList>`

@react-component ChoiceList

Style guide: components.choice.choicelist
*/

/*
`<Choice>`

@react-component Choice

Style guide: components.choice.react
*/

/*
---

## When to use

**Checkboxes**

- When a user can select any number of choices from a set list.
- When a user needs to choose “yes” or “no” on only one option (use a stand-alone checkbox). For example, to toggle a setting on or off.
- When users need to see all the available options at a glance.
- When users should be able to select zero of the options.

**Radio buttons**

- When users need to select only one option out of a set of mutually exclusive choices.

## When to consider alternatives

- If there are too many options to display on a mobile screen. Consider a `select` menu if you don’t have enough space to list out all available options, and if the user can only select one of the options.
- Never use radio buttons for optional questions, since once a radio button is selected from a list, it or another choice will remain selected.

## Guidance

- Don't rely on the visual difference between radio buttons and checkboxes. Make it clear with words when users can select one or multiple options.
- Users should be able to tap on or click on either the text label or the checkbox to select or deselect an option.
- In general, list choices vertically; horizontal listings can make it difficult to tell which label pertains to which choice. An exception is where you have binary choices with short labels, like 'Yes / No'. The convention here is for horizontal alignment.
- Avoid using negative language in labels as they can be counterintuitive. For example, “I want to receive a promotional email” instead of “I don’t want to receive promotional email.”
- Use caution if you decide to set a default value. Setting a default value can discourage users from making conscious decisions, seem pushy, or alienate users who don’t fit into your assumptions. In addition, you'll never know if the user explicitly chose that option or just didn't notice the question. If you're unsure, leave nothing selected by default.

**[View the "Forms" guidelines for additional guidance and best practices.](/guidelines/forms/)**

## Checked children and the expose within pattern

- The `<Choice>` component includes a `checkedChildren` prop that can expose hidden text information or form elements. This **expose within** pattern is especially useful if you need to collect data from follow up questions or give just-in-time feedback.
- Checked children can be exposed by checking the parent checkbox or radio button
- The `checkedChildren` prop should return one or more items wrapped in a `div` with the following className: `ds-c-choice__checkedChild`. This class sets the spacing and border color for the exposed elements.
- Add the className `ds-c-choice__checkedChild--inverse` to the `div` to show the inverse white border
- You may need to add the className `ds-u-margin--0` to your child element(s) to avoid extra top margin
- If you opt for smaller radio buttons or checkboxes, add className `ds-c-choice__checkedChild--small` to your checked child container

## Accessibility

- Surround a related set of choices with a `<fieldset>`. The `<legend>` provides context for the grouping. Do not use `fieldset` and `legend` for a single checkbox.
- Some screen readers read the `legend` text for each `fieldset`, so it should be brief and descriptive.
- Each input should have a semantic `id` attribute, and its corresponding `label` should have the same value in its `for` attribute.
- The custom checkboxes and radio buttons here are accessible to screen readers because the default fields are moved off-screen.
- `checkedChildren` will be announced to screen readers when they are exposed. They have been tested with the following devices:
  - Windows 10 + Internet Explorer 11 + JAWS screen reader
  - Windows 10 + Chrome + JAWS
  - Windows10 - Firefox + NVDA
    - NVDA reads out the `<select>` label and every `<option>` value
  - MacOS Mojave + Safari + VoiceOver

## Theming

The following Sass variables can be overridden to theme choice fields:

- `$choice-border-width`
- `$choice-border-color`
- `$choice-border-color-inverse`
- `$choice-checked-background-color`

## Related patterns

- [Select menu](/components/select)

## Learn more

- [Form Guidelines](/guidelines/forms/)
- [GOV.UK Checkbox/Radio buttons discussion](https://paper.dropbox.com/doc/Radio-buttons-oIwWoxwBKClt5IXvDbnpF)
- ["We've updated the radios and checkboxes on GOV.UK"](https://designnotes.blog.gov.uk/2016/11/30/weve-updated-the-radios-and-checkboxes-on-gov-uk/)
- [Four steps for choosing form elements on the Web (PDF)](http://www.formsthatwork.com/files/Articles/dropdown.pdf)

Style guide: components.choice.guidance
*/
