<div #autocompleteContent style="visibility: hidden; display: none" hidden aria-hidden="true">
  <ng-content></ng-content>
</div>
<ds-autocomplete
  [attr.aria-clear-label]="ariaClearLabel()"
  [attr.aria-complete-label]="ariaCompleteLabel()"
  [attr.autofocus]="autofocus()"
  [attr.class-name]="className()"
  [attr.disabled]="disabled()"
  [attr.error-id]="errorId()"
  [attr.error-message-class-name]="errorMessageClassName()"
  [attr.error-message]="errorMessage()"
  [attr.error-placement]="errorPlacement()"
  [attr.hint-class-name]="hintClassName()"
  [attr.hint-id]="hintId()"
  [attr.hint]="hint()"
  [attr.items]="items()"
  [attr.label-class-name]="labelClassName()"
  [attr.label-id]="labelId()"
  [attr.label]="label()"
  [attr.loading]="loading()"
  [attr.menu-heading-id]="menuHeadingId()"
  [attr.menu-heading]="menuHeading()"
  [attr.name]="name()"
  [attr.requirement-label]="requirementLabel()"
  [attr.root-id]="rootId()"
  [innerHTML]="autocompleteContent.innerHTML"
></ds-autocomplete>
