<ds-autocomplete
  [attr.aria-clear-label]="ariaClearLabel()"
  [attr.aria-complete-label]="ariaCompleteLabel()"
  [attr.autofocus]="autofocus()"
  [attr.class-name]="className()"
  [attr.clear-input-text]="clearInputText()"
  [attr.clear-search-button]="clearSearchButton()"
  [attr.disabled]="disabled()"
  [attr.error-id]="errorId()"
  [attr.error-message-class-name]="errorMessageClassName()"
  [attr.error-message]="errorMessage()"
  [attr.error-placement]="errorPlacement()"
  [attr.hint-class-name]="hintClassName()"
  [attr.hint-id]="hintId()"
  [attr.hint]="hint()"
  [attr.id]="id()"
  [attr.items]="items()"
  [attr.label-class-name]="labelClassName()"
  [attr.label-id]="labelId()"
  [attr.label]="label()"
  [attr.loading-message]="loadingMessage()"
  [attr.loading]="loading()"
  [attr.menu-heading-id]="menuHeadingId()"
  [attr.menu-heading]="menuHeading()"
  [attr.name]="name()"
  [attr.no-results-message]="noResultsMessage()"
  [attr.requirement-label]="requirementLabel()"
  [attr.root-id]="rootId()"
  (ds-change)="onSelectedValue($event)"
  (ds-input-value-change)="onInputValueChange($event)"
>
</ds-autocomplete>
