$accordion__color: var(--accordion__color);
$accordion__background-color: var(--accordion__background-color);
$accordion__background-color--hover: var(--accordion__background-color--hover);
$accordion__border-color: var(--accordion__border-color);
$accordion-button__color: var(--accordion-button__color);
$accordion-content__background-color: var(--accordion-content__background-color);
$alert__background-color: var(--alert__background-color);
$alert__background-color--error: var(--alert__background-color--error);
$alert__background-color--lightweight: var(--alert__background-color--lightweight);
$alert__background-color--success: var(--alert__background-color--success);
$alert__background-color--warn: var(--alert__background-color--warn);
$alert__border-left-color: var(--alert__border-left-color);
$alert__border-color--error: var(--alert__border-color--error);
$alert__border-color--success: var(--alert__border-color--success);
$alert__border-color--warn: var(--alert__border-color--warn);
$alert__font-color: var(--alert__font-color);
$alert__icon-size: var(--alert__icon-size);
$alert__padding: var(--alert__padding);
$alert-bar__width: var(--alert-bar__width);
$alert-link__font-color: var(--alert-link__font-color);
$alert-link__font-color--hover: var(--alert-link__font-color--hover);
$alert-link__font-color--focus: var(--alert-link__font-color--focus);
$alert-link__font-color--active: var(--alert-link__font-color--active);
$autocomplete__background-color: var(--autocomplete__background-color);
$autocomplete__border-color: var(--autocomplete__border-color);
$autocomplete-item__font-color: var(--autocomplete-item__font-color);
$autocomplete-item__background-color--active: var(--autocomplete-item__background-color--active);
$autocomplete-item__font-color--active: var(--autocomplete-item__font-color--active);
$autocomplete-item-message__font-color: var(--autocomplete-item-message__font-color);
$badge__background-color: var(--badge__background-color);
$badge__background-color--alert: var(--badge__background-color--alert);
$badge__background-color--info: var(--badge__background-color--info);
$badge__background-color--success: var(--badge__background-color--success);
$badge__background-color--warn: var(--badge__background-color--warn);
$badge__font-color: var(--badge__font-color);
$badge__font-color--warn: var(--badge__font-color--warn);
$button__border-radius: var(--button__border-radius);
$button__border-width: var(--button__border-width);
$button__background-color: var(--button__background-color);
$button__background-color--active: var(--button__background-color--active);
$button__background-color--disabled: var(--button__background-color--disabled);
$button__background-color--hover: var(--button__background-color--hover);
$button__border-color: var(--button__border-color);
$button__border-color--active: var(--button__border-color--active);
$button__border-color--disabled: var(--button__border-color--disabled);
$button__border-color--hover: var(--button__border-color--hover);
$button__color: var(--button__color);
$button__color--active: var(--button__color--active);
$button__color--disabled: var(--button__color--disabled);
$button__color--hover: var(--button__color--hover);
$button-icon__fill: var(--button-icon__fill);
$button-inverse__background-color: var(--button-inverse__background-color);
$button-inverse__background-color--disabled: var(--button-inverse__background-color--disabled);
$button-inverse__background-color--focus: var(--button-inverse__background-color--focus);
$button-inverse__border-color: var(--button-inverse__border-color);
$button-inverse__border-color--active: var(--button-inverse__border-color--active);
$button-inverse__border-color--disabled: var(--button-inverse__border-color--disabled);
$button-inverse__border-color--hover: var(--button-inverse__border-color--hover);
$button-inverse__color: var(--button-inverse__color);
$button-inverse__color--active: var(--button-inverse__color--active);
$button-inverse__color--disabled: var(--button-inverse__color--disabled);
$button-inverse__color--hover: var(--button-inverse__color--hover);
$button-transparent__color--active: var(--button-transparent__color--active);
$button-transparent__background-color--disabled: var(
  --button-transparent__background-color--disabled
);
$button-transparent__color--disabled: var(--button-transparent__color--disabled);
$button-inverse-transparent__background-color: var(--button-inverse-transparent__background-color);
$button-inverse-transparent__color: var(--button-inverse-transparent__color);
$button-inverse-transparent__color--disabled: var(--button-inverse-transparent__color--disabled);
$button-primary__color: var(--button-primary__color);
$button-primary__color--hover: var(--button-primary__color--hover);
$button-primary__background-color: var(--button-primary__background-color);
$button-primary__background-color--hover: var(--button-primary__background-color--hover);
$button-primary__background-color--focus: var(--button-primary__background-color--focus);
$button-primary__background-color--active: var(--button-primary__background-color--active);
$button-primary-inverse__background-color: var(--button-primary-inverse__background-color);
$button-primary-inverse__border-color: var(--button-primary-inverse__border-color);
$button-primary-inverse__color: var(--button-primary-inverse__color);
$button-primary-inverse__background-color--hover: var(
  --button-primary-inverse__background-color--hover
);
$button-primary-inverse__border-color--hover: var(--button-primary-inverse__border-color--hover);
$button-primary-inverse__color--hover: var(--button-primary-inverse__color--hover);
$button-primary-inverse__border-color--active: var(--button-primary-inverse__border-color--active);
$button-primary-inverse__coloro--active: var(--button-primary-inverse__coloro--active);
$button-primary-inverse__background-color--focus: var(
  --button-primary-inverse__background-color--focus
);
$button-primary-inverse__border-color--focus: var(--button-primary-inverse__border-color--focus);
$button-primary-inverse__color--focus: var(--button-primary-inverse__color--focus);
$button-primary-inverse__background-color--disabled: var(
  --button-primary-inverse__background-color--disabled
);
$button-primary-inverse__border-color--disabled: var(
  --button-primary-inverse__border-color--disabled
);
$button-primary-inverse__color--disabled: var(--button-primary-inverse__color--disabled);
$button-primary-inverse-transparent__background-color: var(
  --button-primary-inverse-transparent__background-color
);
$button-primary-inverse-transparent__border-color: var(
  --button-primary-inverse-transparent__border-color
);
$button-primary-inverse-transparent__color: var(--button-primary-inverse-transparent__color);
$button-secondary__color: var(--button-secondary__color);
$button-secondary__border-color: var(--button-secondary__border-color);
$button-secondary__background-color: var(--button-secondary__background-color);
$button-secondary__color--hover: var(--button-secondary__color--hover);
$button-secondary__background-color--hover: var(--button-secondary__background-color--hover);
$button-secondary__border-color--hover: var(--button-secondary__border-color--hover);
$button-secondary__color--active: var(--button-secondary__color--active);
$button-secondary__background-color--active: var(--button-secondary__background-color--active);
$button-secondary__border-color--active: var(--button-secondary__border-color--active);
$choice__background-color: var(--choice__background-color);
$choice__background-color--checked: var(--choice__background-color--checked);
$choice__background-color--disabled: var(--choice__background-color--disabled);
$choice__background-color--inverse: var(--choice__background-color--inverse);
$choice__background-color--disabled--inverse: var(--choice__background-color--disabled--inverse);
$choice__border-color: var(--choice__border-color);
$choice__border-color--checked: var(--choice__border-color--checked);
$choice__border-color--disabled: var(--choice__border-color--disabled);
$choice__border-color--error: var(--choice__border-color--error);
$choice__border-color--inverse: var(--choice__border-color--inverse);
$choice__border-color--left: var(--choice__border-color--left);
$choice__border-color--focus: var(--choice__border-color--focus);
$choice__border-color--disabled--inverse: var(--choice__border-color--disabled--inverse);
$choice__border-radius: var(--choice__border-radius);
$choice__border-width: var(--choice__border-width);
$choice__color--unchecked: var(--choice__color--unchecked);
$choice__color--disabled: var(--choice__color--disabled);
$choice__size: var(--choice__size);
$choice__size--small: var(--choice__size--small);
$choice__size-radio: var(--choice__size-radio);
$choice__size-radio--small: var(--choice__size-radio--small);
$choice-label__color--disabled: var(--choice-label__color--disabled);
$choice-label__color--disabled--inverse: var(--choice-label__color--disabled--inverse);
$dialog__background-color: var(--dialog__background-color);
$dialog__padding: var(--dialog__padding);
$dialog-overlay__background-color: var(--dialog-overlay__background-color);
$drawer__animation-timing: var(--drawer__animation-timing);
$drawer__background-color: var(--drawer__background-color);
$drawer__border-color: var(--drawer__border-color);
$drawer-close__color: var(--drawer-close__color);
$drawer-header__background-color: var(--drawer-header__background-color);
$drawer-footer__background-color: var(--drawer-footer__background-color);
$drawer-toggle__background-color--hover: var(--drawer-toggle__background-color--hover);
$drawer-toggle__color--hover: var(--drawer-toggle__color--hover);
$drawer-toggle__background-color--hover--inverse: var(
  --drawer-toggle__background-color--hover--inverse
);
$drawer-toggle__color--hover--inverse: var(--drawer-toggle__color--hover--inverse);
$dropdown__background-color: var(--dropdown__background-color);
$dropdown__icon-size: var(--dropdown__icon-size);
$filter-chip__border-radius: var(--filter-chip__border-radius);
$filter-chip__background-color: var(--filter-chip__background-color);
$filter-chip__border-color: var(--filter-chip__border-color);
$filter-chip__color: var(--filter-chip__color);
$filter-chip__background-color--active: var(--filter-chip__background-color--active);
$filter-chip__border-color--active: var(--filter-chip__border-color--active);
$filter-chip__color--active: var(--filter-chip__color--active);
$filter-chip-icon__color: var(--filter-chip-icon__color);
$filter-chip-icon__color-active: var(--filter-chip-icon__color-active);
$form-label__color--inverse: var(--form-label__color--inverse);
$form-label__color--not-error: var(--form-label__color--not-error);
$form__max-width: var(--form__max-width);
$form__max-width--small: var(--form__max-width--small);
$form__max-width--medium: var(--form__max-width--medium);
$form-hint__color: var(--form-hint__color);
$form-hint__color--inverse: var(--form-hint__color--inverse);
$form-error__color: var(--form-error__color);
$form-error__color--inverse: var(--form-error__color--inverse);
$icon__color__error: var(--icon__color__error);
$icon__color--inverse: var(--icon__color--inverse);
$icon__color--primary: var(--icon__color--primary);
$icon__color--success: var(--icon__color--success);
$icon__color--warn: var(--icon__color--warn);
$link__color: var(--link__color);
$link__color--active: var(--link__color--active);
$link__color--hover: var(--link__color--hover);
$link__color--visited: var(--link__color--visited);
$link-inverse__color: var(--link-inverse__color);
$link-inverse__color--active: var(--link-inverse__color--active);
$link-inverse__color--hover: var(--link-inverse__color--hover);
$link-inverse__color--visited: var(--link-inverse__color--visited);
$link__text-decoration-offset: var(--link__text-decoration-offset);
$link__text-decoration-thickness: var(--link__text-decoration-thickness);
$link__text-decoration-thickness--hover: var(--link__text-decoration-thickness--hover);
$pagination-link__color: var(--pagination-link__color);
$pagination-link__color--hover: var(--pagination-link__color--hover);
$pagination-link__color--active: var(--pagination-link__color--active);
$pagination-link__color--focus: var(--pagination-link__color--focus);
$pagination-link__color--disabled: var(--pagination-link__color--disabled);
$pagination-current-page__color: var(--pagination-current-page__color);
$pagination-overflow__color: var(--pagination-overflow__color);
$pagination-page-count__color: var(--pagination-page-count__color);
$reviewreview__border-color: var(--reviewreview__border-color);
$steplist__color: var(--steplist__color);
$steplist__color--current: var(--steplist__color--current);
$steplist__background-color--current: var(--steplist__background-color--current);
$steplist-step__color: var(--steplist-step__color);
$steplist-step__border-color: var(--steplist-step__border-color);
$steplist-step__border-color--default: var(--steplist-step__border-color--default);
$steplist-step__color--current: var(--steplist-step__color--current);
$steplist-step__color--completed: var(--steplist-step__color--completed);
$steplist-step__background-color--completed: var(--steplist-step__background-color--completed);
$spinner__background-color: var(--spinner__background-color);
$spinner__color: var(--spinner__color);
$spinner__background-color--inverse: var(--spinner__background-color--inverse);
$spinner__color--inverse: var(--spinner__color--inverse);
$table__padding: var(--table__padding);
$table__border-color: var(--table__border-color);
$table-header__background-color: var(--table-header__background-color);
$table-striped__background-color: var(--table-striped__background-color);
$table-striped-header__background-color: var(--table-striped-header__background-color);
$tabs__border-color: var(--tabs__border-color);
$tabs__background-color: var(--tabs__background-color);
$tabs__color: var(--tabs__color);
$tabs-selected__background-color: var(--tabs-selected__background-color);
$tabs-selected__border-color: var(--tabs-selected__border-color);
$tabs-selected__color: var(--tabs-selected__color);
$tabs-selected__border-color--active: var(--tabs-selected__border-color--active);
$tabs__color--hover: var(--tabs__color--hover);
$tabs__color--active: var(--tabs__color--active);
$tabs__background-color--disabled: var(--tabs__background-color--disabled);
$tabs__border-color--disabled: var(--tabs__border-color--disabled);
$tabs__color--disabled: var(--tabs__color--disabled);
$text-input__line-height: var(--text-input__line-height);
$text-input__background-color--disabled: var(--text-input__background-color--disabled);
$text-input__border-width: var(--text-input__border-width);
$text-input__border-color: var(--text-input__border-color);
$text-input__border-color--disabled: var(--text-input__border-color--disabled);
$text-input__border-color--error: var(--text-input__border-color--error);
$text-input__border-color--error--inverse: var(--text-input__border-color--error--inverse);
$text-input__border-color--inverse: var(--text-input__border-color--inverse);
$text-input__border-color--success: var(--text-input__border-color--success);
$text-input__color: var(--text-input__color);
$text-input__padding: var(--text-input__padding);
$text-input__border-radius: var(--text-input__border-radius);
$tooltip__background-color: var(--tooltip__background-color);
$tooltip__border-color: var(--tooltip__border-color);
$tooltip__color: var(--tooltip__color);
$tooltip__box-shadow-color: var(--tooltip__box-shadow-color);
$tooltip-icon__color: var(--tooltip-icon__color);
$tooltip-icon__color--inverse: var(--tooltip-icon__color--inverse);
$tooltip-trigger__color: var(--tooltip-trigger__color);
$usa-banner__background-color: var(--usa-banner__background-color);
$usa-banner__color: var(--usa-banner__color);
$usa-banner-close__background-color: var(--usa-banner-close__background-color);
$usa-banner-action__color: var(--usa-banner-action__color);
$usa-banner-lock-icon__color: var(--usa-banner-lock-icon__color);
$vertical-nav-item__background-color--hover: var(--vertical-nav-item__background-color--hover);
$vertical-nav-item__color--hover: var(--vertical-nav-item__color--hover);
$vertical-nav-item__border-color: var(--vertical-nav-item__border-color);
$vertical-nav-label__color: var(--vertical-nav-label__color);
$vertical-nav-label-icon__color: var(--vertical-nav-label-icon__color);
$vertical-nav-label__border-color--current: var(--vertical-nav-label__border-color--current);
$vertical-nav-label__color--current: var(--vertical-nav-label__color--current);
