// Libraries
@import '@cmsgov/design-system-core/src/index';

// Theme, if applicable
@import '~theme/index';

// Sass settings
@import 'settings/index';

// Sass mixins and functions
@import 'tools/functions';

// Base - unclassed HTML element selectors
@import 'base/body';
@import 'base/code';
@import 'base/details';
@import 'base/typography';

// Layouts - Structural patterns
@import 'layouts/content';
@import 'layouts/grid';

// Components - reusable chunks of UI
@import 'components/BreakpointToggles';
@import 'components/details';
@import 'components/Docs';
@import 'components/Frame';
@import 'components/Header';
@import 'components/UsaBanner';

// Utilities
@import 'utilities/colors';
