// Library overrides
// These need to come before the library so !defaults can be overridden
@import 'settings/override.cmsgov';

// Libraries
@import '@cmsgov/design-system-core/src/index';

// Sass settings
@import 'settings/color';
@import 'settings/typography';

// Sass mixins and functions
@import 'tools/functions';

// Base - unclassed HTML element selectors
@import 'base/body';
@import 'base/code';
@import 'base/typography';

// Layouts - Structural patterns
@import 'layouts/content';
@import 'layouts/grid';
@import 'layouts/sidebar';

// Components - reusable chunks of UI
@import 'components/details';

// Utilities
@import 'utilities/colors';

// Div wrapping documentation example output
.markup--html {
  position: relative;
  padding: 0 $spacer-3 $spacer-2;

  // Block-level link to show HTML on new screen
  &__output {
    background: $color-gray-lightest;
    border: none;
    border-bottom: 1px solid $color-gray-lighter;
    border-right: 1px solid $color-gray-lighter;
    bottom: -1px;
    padding: 4px $spacer-2;
    position: absolute;
    right: -1px;
    text-align: center;
    text-decoration: none;
    width: auto;
  }
}
