// Loaded within the markup example iframes
@import '@cmsgov/design-system/src/index';

//@import '~theme/index';
@import 'settings/index';
@import 'base/code';

body {
  margin: 0;
  // Padding added to ensure *:focus outlines are visible when shown in an iframe
  padding: $spacer-2;
}

code {
  // Slightly larger than on the main doc site
  font-size: 1em;
}

@import 'components/example';
@import 'components/preview';
@import 'components/swatch';
