// importing core styles from core index.scss files
// @styles is aliased in gatsby-node.js
@import '@styles/index.scss';

@import 'pages/layout.scss';

@import 'components/colorSwatchList.scss';
@import 'components/embeddedExamples.scss';
@import 'components/footer.scss';
@import 'components/navigation.scss';
@import 'components/propTable.scss';
@import 'components/responsiveExample.scss';
@import 'components/storybookExample.scss';
@import 'components/syntaxHighlighting.scss';
