// including medicare fonts in build for use with medicare theme
@import '@cmsgov/ds-medicare-gov/src/styles/fonts';

// @styles is aliased in gatsby-node.js
@import '@styles/layout';
@import '@styles/index.scss';

@import 'pages/contact.scss';
@import 'pages/layout.scss';
@import 'pages/search.scss';

@import 'components/buttonMigrationTable.scss';
@import 'components/buttonVariationsTable.scss';
@import 'components/codeSnippet.scss';
@import 'components/colorExampleRow.scss';
@import 'components/colorSwatch.scss';
@import 'components/colorRamps.scss';
@import 'components/colorMigrationTable.scss';
@import 'components/embeddedExamples.scss';
@import 'components/exampleGrid.scss';
@import 'components/footer.scss';
@import 'components/maturityChecklist.scss';
@import 'components/navigation.scss';
@import 'components/pageHeader.scss';
@import 'components/responsiveExample.scss';
@import 'components/storybookExample.scss';
@import 'components/syntaxHighlighting.scss';
@import 'components/textColorList.scss';
@import 'components/tableOfContents.scss';
@import 'components/spacingUtilityExampleList.scss';
@import 'components/video.scss';

[data-theme='healthcare'] {
  @import '@cmsgov/ds-healthcare-gov/src/styles/components/index';
}

[data-theme='medicare'] {
  @import '@cmsgov/ds-medicare-gov/src/styles/components/index';
}
