/* stylelint-disable declaration-no-important -- Evaluate the need for border-radius style here (don't think it's needed) */
.m-c-card {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-lighter);
  border-radius: 6px !important;
  box-shadow: var(--card__box-shadow);
}
/* stylelint-enable */
