.ds-c-choice-wrapper {
  gap: 1rem;

  &:has(.ds-c-choice--small) {
    gap: 0.75rem;
  }
}

.ds-c-choice:not(.ds-c-choice--small) + label,
.ds-c-choice:not(.ds-c-choice--small) + .ds-c-label {
  transform: translateY(0.125em);
}

.ds-c-choice[type='checkbox'] {
  &:checked {
    &::before {
      border-radius: $choice__border-radius;
    }
  }
}

.ds-c-choice:not(:disabled):hover {
  border-color: $choice__background-color--checked;
}
