@use '../layout' as *;

.ds-c-field {
  &::placeholder {
    color: var(--color-gray-dark);
  }
}

.ds-c-label {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.5px;
  margin-block-start: 1.7142857em; // 1.5em / 0.875rem (small font)

  text-transform: uppercase;
}

// All form labels inside `ds-c-fieldset` will be lowercase, except the
// MultiInputDateField day/month/year labels
.ds-c-fieldset {
  > .ds-c-label {
    text-transform: none;
  }
}

input[type='radio'] + .ds-c-label,
input[type='checkbox'] + .ds-c-label {
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  letter-spacing: 0;
  text-transform: none;
}
