@use '../layout' as *;

.ds-c-field {
  &::placeholder {
    color: var(--color-gray-dark);
  }
}

input[type='radio'] + .ds-c-label,
input[type='checkbox'] + .ds-c-label {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  letter-spacing: 0;
  text-transform: none;
}
