/* stylelint-disable declaration-no-important -- DS doesn't own mgov header */
.m-c-globalHeader {
  &__top {
    @extend .ds-u-display--flex;
    @extend .ds-u-justify-content--between;
    @extend .ds-u-padding-x--3;
    @extend .ds-u-md-padding-x--7;
    @extend .ds-u-fill--white;
    border-bottom: 4px solid $teal-500 !important;
    z-index: 1000;
  }

  &__dropdownContainer {
    position: relative;
    background-color: $teal-500 !important;
    height: 100%;
    @extend .ds-u-display--flex;
    @extend .ds-u-align-items--center;
  }

  &__dropdownButton {
    @extend .ds-u-border--0;
    @extend .ds-u-fill--white;
    color: $teal-500 !important;
    font-size: 16px !important;
    height: 100%;
    @extend .ds-u-padding-y--0;
    @extend .ds-u-padding-x--2;
    border-radius: 0 !important;
    font-family: $rubik-font !important;
    outline: none !important;
    transition: none !important;

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: $width-md) {
      svg {
        height: 8px;
        margin-left: 8px !important;
      }
    }

    .caret-arrow {
      fill: $teal-500 !important;
    }

    &:focus,
    &--opened,
    &:hover {
      background-color: $teal-500 !important;
      color: $color-white !important;

      .caret-arrow {
        fill: $color-white !important;
      }
    }
  }

  &__actionsNav {
    height: 100%;
  }

  &__actionsList {
    height: 100%;

    > li {
      height: 100%;
      @extend .ds-u-display--flex;
      @extend .ds-u-align-items--center;
      @extend .ds-u-margin-left--2;
    }
  }

  &__dropdownMenu {
    background-color: #f3f3f3 !important;
    box-shadow: $card-box-shadow;
    border: 1px solid #d6d7d9 !important;
    position: absolute;
    width: 285px;
    max-width: 285px;
    @extend .ds-u-padding--2;
    left: 0;
    top: calc(100% + 4px);
    z-index: 999 !important;
  }

  &__logo {
    @extend .ds-u-display--flex;
    @extend .ds-u-align-items--center;
    @extend .ds-u-padding-y--2;

    a {
      @extend .ds-u-display--flex;
      @extend .ds-u-align-items--center;
    }
  }

  &__openMenu {
    @extend .ds-u-md-display--none;
    @extend .ds-u-padding--0;

    svg {
      width: 32px !important;
      height: 32px !important;
      fill: $color-primary !important;
      color: $color-primary !important;
    }
  }

  &__actions {
    @extend .ds-u-display--flex;
    @extend .ds-u-align-items--center;
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-25px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__mobileMenu {
    z-index: 999;
    animation: 0.2s ease slide-in;
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    @extend .ds-u-md-display--none;
    @extend .ds-u-padding-top--1;
    @extend .ds-u-padding-bottom--3;
    @extend .ds-u-padding-x--3;
    @extend .ds-u-margin-bottom--2;

    @extend .ds-u-fill--white;
    box-shadow: $card-box-shadow;

    .m-c-globalHeader__dropdownContainer {
      @extend .ds-u-fill--white;
      @extend .ds-u-padding-bottom--2;

      &::before {
        position: absolute;
        left: -24px;
        bottom: 0;
        height: 1px;
        width: calc(100% + 48px);
        background-color: $black-100;
        content: '';
      }
    }

    .m-c-globalHeader__dropdownButton {
      @extend .ds-u-display--flex;
      @extend .ds-u-justify-content--between;
      @extend .ds-u-padding--0;
      @extend .ds-u-font-weight--normal;
      color: $black-500 !important;
      width: 100%;
      @extend .ds-u-align-items--center;
      font-family: $montserrat-font !important;
    }
  }

  &__actionButton {
    @extend .ds-u-text-decoration--none;
    @extend .ds-u-border--0;
    @extend .ds-u-padding--0;
    @extend .ds-u-padding-x--2;
    font-size: 16px !important;
    color: $color-primary;

    &:hover {
      color: $color-primary-dark;
    }
  }

  &__mobileMenuButton {
    @extend .ds-u-padding--0;
    @extend .ds-u-border--0;
    font-family: $montserrat-font !important;
    @extend .ds-u-font-weight--semibold;
    font-size: 16px !important;
  }

  &__mobilePanelBackButton {
    @extend .ds-u-padding--0;
    font-family: $montserrat-font !important;
    font-size: 16px !important;
    position: relative;
    @extend .ds-u-border--0;
    @extend .ds-u-padding-y--2;
    width: 100%;
    @extend .ds-u-text-align--left;
    @extend .ds-u-margin-bottom--2;
    margin-left: -16px !important;

    .caret-arrow {
      fill: $teal-500 !important;
    }

    &::before {
      position: absolute;
      left: -24px;
      bottom: 0;
      height: 1px;
      width: calc(100% + 48px);
      background-color: $black-100;
      content: '';
    }
  }

  &__productName {
    @extend .ds-u-margin--0;
    font-family: $montserrat-font !important;
    @extend .ds-u-font-weight--normal;
    color: $teal-500 !important;
    @extend .ds-u-text-decoration--none;
  }

  &__productNameDesktop {
    @extend .ds-u-border-left--1;
    border-color: $black-100 !important;
    @extend .ds-u-padding-left--3;
    @extend .ds-u-margin-left--3;
    @extend .ds-u-display--flex;
    @extend .ds-u-align-items--center;
    @extend .ds-u-display--none;
    @extend .ds-u-md-display--block;
  }

  &--no-border {
    .m-c-globalHeader__top {
      @extend .ds-u-border--0;
    }
  }

  &--dark {
    .m-c-globalHeader__top {
      background-color: transparent !important;
    }

    .m-c-globalHeader__actionButton {
      background-color: transparent !important;
      color: $color-white !important;
    }

    .m-c-globalHeader__dropdownContainer {
      background-color: transparent !important;
    }

    .m-c-globalHeader__logo svg {
      .MgovLogoMedicare,
      .MgovLogoGov {
        fill: $color-white !important;
      }
    }

    .m-c-globalHeader__openMenu > svg > g > path {
      fill: $color-white !important;
    }

    .m-c-globalHeader__dropdownButton {
      background-color: transparent !important;
      color: $color-white !important;

      .caret-arrow {
        fill: $color-white !important;
      }

      &:focus,
      &--opened,
      &:hover {
        background-color: transparent !important;
        color: $color-white !important;
      }
    }
  }
}
/* stylelint-enable */
