.ds-c-icon--rounded-star {
  color: var(--color-secondary);
}

// The following styles are to transform the core icon components
// to match current mgov styling
.ds-c-icon--arrow {
  font-size: 12px;
}

.ds-c-icon--check {
  font-size: 14px;
}

.ds-c-icon--close {
  font-size: 13px;
}

.ds-c-icon--close-thin {
  font-size: 11px;
}

.ds-c-icon--hamburger {
  font-size: 20px;
}
