.m-c-navigationMenu__container--alwaysShowMenuButton .m-c-navigationMenu__toggleContainer {
  position: relative;
  right: 0;
  top: 0;

  @media screen and (min-width: $width-sm) {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    position: static;
  }
}

.m-c-navigationMenu__mobileToggle {
  outline: 0;
  position: absolute;
  right: 12px;
  top: calc(-1 * (#{$base-font-size} + 21px + 6px));

  .m-c-navigationMenu__container--alwaysShowMenuButton & {
    @media screen and (min-width: $width-sm) {
      position: static;
    }
  }

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    @media screen and (min-width: $width-sm) {
      display: none;
    }
  }
}

.m-c-navigationMenu__container {
  @extend .ds-l-col--12;
  @extend .ds-l-sm-col--8;
  padding-left: 0 !important; // Has to override the column class styles
  padding-right: 0 !important; // Has to override the column class styles
  position: relative;

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    @media screen and (min-width: $width-md) {
      flex: 1 0 auto;
      text-align: right;
    }
  }
}

.m-c-navigationMenu {
  @extend .ds-l-col--12;
  left: 0;
  max-width: none !important;
  position: relative;
  top: 0;
  width: 100vw;

  @media screen and (min-width: $width-sm) {
    position: relative;
    width: 100%;
  }

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    @extend .ds-l-sm-col--auto;

    @media screen and (min-width: $width-sm) {
      margin-left: auto;
      padding-left: 0 !important; // Has to override the column class styles
      padding-right: 0 !important; // Has to override the column class styles
      text-align: right;
      width: auto;
    }
  }
}

.m-c-navigationMenu__list {
  align-items: flex-start;
  background-color: $color-gray-lightest;
  box-shadow: -3px 0 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 0;
  overflow: hidden;

  // Display definitions based on menu open/closed
  position: absolute;
  right: 0;
  top: 13px;
  transition: all 400ms ease-out;
  width: 100vw;
  z-index: 2;

  .m-c-navigationMenu__container--alwaysShowMenuButton & {
    @media screen and (min-width: $width-sm) {
      padding: 1em 0;
      right: -0.5em;
      top: 12px;
      width: 320px;
    }
  }

  .m-c-navigationMenu--open & {
    max-height: 900px;
  }

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    @media screen and (min-width: $width-sm) {
      background-color: transparent !important;
      max-height: 900px;
      position: static;
      width: auto;
    }
  }
  @extend .ds-c-list;
  @extend .ds-c-list--bare;

  @media screen and (min-width: $width-sm) {
    align-items: center;
    box-shadow: none;
    flex-direction: row;
  }
}

.m-c-navigationMenu__item {
  margin-top: $spacer-1;
  padding-left: $spacer-1;
  width: auto;

  @media screen and (min-width: $width-sm) {
    margin: 0;
    padding: 0;

    .m-c-navigationMenu__container--alwaysShowMenuButton & {
      margin-left: $spacer-1;
    }
  }

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    align-items: center;

    @media screen and (min-width: $width-sm) {
      border-right: 2px solid $color-white;

      .m-c-navbar--inverse & {
        border-right: 2px solid $color-primary;
      }
    }

    @media screen and (max-width: $width-sm) {
      margin-top: 0;
      padding-left: 0;
    }

    @media screen and (max-width: $width-md) {
      display: block !important;
    }
  }

  &:last-child {
    border-right: 0 !important;
    margin-bottom: $spacer-1;

    @media screen and (max-width: $width-sm) {
      margin-bottom: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }

  a {
    color: $color-primary;
    text-decoration: none;

    .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
      @media screen and (min-width: $width-sm) {
        color: $color-white !important;

        .m-c-navbar--inverse & {
          color: $color-primary !important;
        }
      }
    }
  }
}
