/* stylelint-disable declaration-no-important -- Temporarily ignore until mgov overrides can be refactored */
.m-c-navigationMenu__container--alwaysShowMenuButton .m-c-navigationMenu__toggleContainer {
  position: relative;
  top: 0;
  right: 0;

  @media screen and (min-width: $width-sm) {
    position: static;
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
}

.m-c-navigationMenu__mobileToggle {
  position: absolute;
  top: -calc(#{$base-font-size} + 21px + 6px);
  right: 12px;
  outline: 0;

  .m-c-navigationMenu__container--alwaysShowMenuButton & {
    @media screen and (min-width: $width-sm) {
      position: static;
    }
  }

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    @media screen and (min-width: $width-sm) {
      display: none;
    }
  }
}

.m-c-navigationMenu__container {
  @extend .ds-l-col--12;
  @extend .ds-l-sm-col--8;
  padding-left: 0 !important; // Has to override the column class styles
  padding-right: 0 !important; // Has to override the column class styles
  position: relative;

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    @media screen and (min-width: $width-md) {
      flex: 1 0 auto;
      text-align: right;
    }
  }
}

.m-c-navigationMenu {
  @extend .ds-l-col--12;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: none !important;

  @media screen and (min-width: $width-sm) {
    position: relative;
    width: 100%;
  }

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    @extend .ds-l-sm-col--auto;

    @media screen and (min-width: $width-sm) {
      width: auto;
      text-align: right;
      margin-left: auto;
      padding-left: 0 !important; // Has to override the column class styles
      padding-right: 0 !important; // Has to override the column class styles
    }
  }
}

.m-c-navigationMenu__list {
  @extend .ds-c-list;
  @extend .ds-c-list--bare;
  background-color: $color-gray-lightest;
  box-shadow: -3px 0 6px;
  width: 100vw;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;

  @media screen and (min-width: $width-sm) {
    box-shadow: none;
    flex-direction: row;
    align-items: center;
  }

  .m-c-navigationMenu__container--alwaysShowMenuButton & {
    @media screen and (min-width: $width-sm) {
      width: 320px;
      top: 12px;
      right: -0.5em;
      padding: 1em 0;
    }
  }

  // Display definitions based on menu open/closed
  position: absolute;
  top: 13px;
  right: 0;
  max-height: 0;
  transition: all 400ms ease-out;
  overflow: hidden;

  .m-c-navigationMenu--open & {
    max-height: 900px;
  }

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    @media screen and (min-width: $width-sm) {
      background-color: transparent !important;
      width: auto;
      position: static;
      max-height: 900px;
    }
  }
}

.m-c-navigationMenu__item {
  margin-top: $spacer-1;
  padding-left: $spacer-1;
  width: auto;

  @media screen and (min-width: $width-sm) {
    margin: 0;
    padding: 0;

    .m-c-navigationMenu__container--alwaysShowMenuButton & {
      margin-left: $spacer-1;
    }
  }

  .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
    align-items: center;

    @media screen and (min-width: $width-sm) {
      border-right: 2px solid $color-white;

      .m-c-navbar--inverse & {
        border-right: 2px solid $color-primary;
      }
    }

    @media screen and (max-width: $width-sm) {
      margin-top: 0;
      padding-left: 0;
    }

    @media screen and (max-width: $width-md) {
      display: block !important;
    }
  }

  &:last-child {
    margin-bottom: $spacer-1;
    border-right: 0 !important;

    @media screen and (max-width: $width-sm) {
      margin-bottom: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $color-primary;

    .m-c-navigationMenu__container:not(.m-c-navigationMenu__container--alwaysShowMenuButton) & {
      @media screen and (min-width: $width-sm) {
        color: $color-white !important;

        .m-c-navbar--inverse & {
          color: $color-primary !important;
        }
      }
    }
  }
}
/* stylelint-enable */
