.ds-c-field {
  &:disabled {
    border: solid 1px $black-500;
  }

  &::placeholder {
    color: $black-200;
  }

  color: $black-500;
  font-family: $rubik-font;
  font-size: $font-size-md;
  border-radius: 3px;
  border-color: $black-200;
  padding: $spacer-2;

  &--error {
    border-color: $red-500;
  }
}

select.ds-c-field {
  padding-right: 44px;
  background-size: auto;
  background-position: right 16px center;
  background-image: url('data:image/svg+xml,%3Csvg width="15px" height="9px" viewBox="0 0 15 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink"%0A%3E%3Ctitle%3ECaret%3C/title%3E%3Cg stroke="none" strokeWidth="1" fill="none" fillRule="evenodd" %3E%3Cg id="Icons/Arrow/down" transform="translate(-2.000000, -5.000000)" fill="%23323A45" fillRule="nonzero" %3E%3Cpath d="M9.00581395,13.754 L2.26162791,6.686 C1.98837209,6.404 1.98837209,5.948 2.26162791,5.666 L2.6744186,5.24 C2.94767442,4.958 3.38953488,4.958 3.6627907,5.24 L9.5,11.378 L15.3372093,5.246 C15.6104651,4.964 16.0523256,4.964 16.3255814,5.246 L16.7383721,5.672 C17.0116279,5.954 17.0116279,6.41 16.7383721,6.692 L9.99418605,13.76 C9.72093023,14.036 9.27906977,14.036 9.00581395,13.754 Z" %3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.ds-c-label {
  font-family: $rubik-font;
  font-size: $font-size-md;

  span:first-child {
    font-weight: $font-semibold;
    font-size: $font-size-sm;

    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: $montserrat-font;
  }
}

// All form labels inside `ds-c-fieldset` will be lowercase, except the <DateField> main form label
// The <ChoiceList> form label and the day/month/year labels in <DateField> will be lowercase
.ds-c-fieldset {
  & > .ds-c-label:not([id^='datefield']) {
    span:first-child {
      text-transform: none;
    }
  }
}

input[type='radio'] + .ds-c-label,
input[type='checkbox'] + .ds-c-label {
  span:first-child {
    font-weight: $font-normal;
    text-transform: none;
    font-family: $rubik-font;
    font-size: $font-size-md;
    letter-spacing: 0;
  }
}

legend[id^='datefield_label'] {
  + div {
    span:first-child {
      text-transform: none;
    }
  }

  & > .ds-c-field__hint:not(.ds-u-color--error) {
    color: $black-200;
  }
}

.ds-c-field__hint {
  font-size: $font-size-sm;
  font-family: $rubik-font;
}

.ds-c-datefield__separator {
  display: none;
}

// Choice label
.ds-c-choice + label {
  min-height: 32px;
  padding-left: $spacer-5;
}

// Choice checkbox/radio background
.ds-c-choice + label::before {
  // Because the min-height is larger than $choice-size, we need to manually adjust the
  // checkbox/radio background and icon
  top: 3px;
}

// Choice checkbox/radio icon
.ds-c-choice + label::after {
  height: 4px;
  left: 5px;
  // Includes additional 3px spacing to account for the min-height
  top: 10px;
  width: 9px;
}

.ds-c-choice:not(:disabled) + label:hover {
  &::before {
    border-color: $choice-checked-background-color;
  }
}

// Size variants
.ds-c-choice--small {
  + label {
    min-height: 24px;
    padding-left: $spacer-4;

    &::before {
      top: 2px;
    }

    &::after {
      border-width: 0 0 3px 3px;
      height: 3px;
      left: 5px;
      top: 8px;
      width: 7px;
    }
  }
}

// Alignment of $ icon for the currency field
.ds-c-field--currency {
  padding-left: $spacer-3;
}

.ds-c-field__before--currency {
  padding-top: 7px;
}
