// Default (tertiarty) outline button
.ds-c-button,
.ds-c-button:visited {
  border-color: $color-primary-alt;
  color: $color-primary-alt;
  font-weight: 400;
  border-radius: 4px;

  &:hover,
  &.ds-c-button--hover {
    border-color: $color-primary-alt-dark;
    color: $color-primary-alt-dark;
  }

  &:active,
  &.ds-c-button--active {
    border-color: $color-primary-alt-darkest;
    color: $color-primary-alt-darkest;
  }

  &.ds-c-button--transparent {
    border-color: transparent;
  }

  svg {
    &:not(:first-child) {
      margin-left: $spacer-1;
    }

    .apply-fill {
      fill: currentColor;
    }

    &.ds-u-color--gray-dark {
      .apply-fill {
        fill: $color-base;
      }
    }
  }

  // default (tertiary) outline inverse button
  &.ds-c-button--inverse,
  &.ds-c-button--inverse:visited {
    border-color: $color-white;
    color: $color-white;
    background-color: transparent;

    &:hover,
    &.ds-c-button--hover {
      border-color: rgba($color-white, 0.8);
      color: rgba($color-white, 0.8);
    }

    &:active,
    &.ds-c-button--active {
      border-color: rgba($color-white, 0.6);
      color: rgba($color-white, 0.6);
    }

    &:disabled,
    &.ds-c-button--disabled {
      border-color: rgba($color-white, 0.8);
      color: rgba($color-white, 0.8);
    }

    &.ds-c-button--transparent {
      border-color: transparent;

      &:disabled,
      &.ds-c-button--disabled {
        color: $color-gray-dark;
      }
    }
  }

  // Change buttons to full-width on mobile devices
  &.mds-c-button--mobile-full-width {
    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }
}

// Primary teal solid button
.ds-c-button--primary,
.ds-c-button--primary:visited {
  color: $color-white;
  border-color: transparent;

  &:hover,
  &.ds-c-button--hover {
    color: $color-white;
    background-color: $button-primary-bg--hover;
    border-color: $button-primary-bg--hover;
  }

  &:active,
  &.ds-c-button--active {
    color: $color-white;
    background-color: $button-primary-bg--active;
    border-color: $button-primary-bg--active;
  }

  &:focus,
  &.ds-c-button--focus {
    // Ensure active and hover styles can be used with focus
    &:hover,
    &.ds-c-button--hover {
      background-color: $button-primary-bg--hover;
    }
    &:active,
    &.ds-c-button--active {
      background-color: $button-primary-bg--active;
    }
  }
}

// Primary white solid inverse button
.ds-c-button--primary.ds-c-button--inverse,
.ds-c-button--primary.ds-c-button--inverse:visited {
  background-color: $color-white;
  border-color: $color-gray-dark;
  color: $color-gray-dark;

  &:hover,
  &.ds-c-button--hover {
    background-color: $color-white;
    border-color: rgba($color-gray-dark, 0.8);
    color: rgba($color-gray-dark, 0.8);
  }

  &:active,
  &.ds-c-button--active {
    border-color: rgba($color-gray-dark, 0.6);
    color: rgba($color-gray-dark, 0.6);
  }
  &:focus,
  &.ds-c-button--focus {
    background-color: $color-white;
    border-color: rgba($color-gray-dark, 0.8);
    color: rgba($color-gray-dark, 0.8);
  }
  &:disabled,
  &.ds-c-button--disabled {
    background-color: $color-gray-lighter;
    border-color: transparent;
    color: $color-gray-dark;
  }

  &.ds-c-button--transparent {
    background-color: transparent;
    border-color: transparent;
    color: $color-white;
  }
}

// Primary-alt blue solid button
.ds-c-button--primary-alt,
.ds-c-button--primary-alt:visited {
  @extend .ds-c-button--primary;
  color: $color-white;
  border-color: transparent;
  background-color: $color-primary-alt;

  &:hover,
  &.ds-c-button--hover {
    color: $color-white;
    background-color: $color-primary-alt-dark;
    border-color: $color-primary-alt-dark;
  }

  &:active,
  &.ds-c-button--active {
    color: $color-white;
    background-color: $color-primary-alt-light;
    border-color: $color-primary-alt-light;
  }

  &:focus,
  &.ds-c-button--focus {
    // Ensure active and hover styles can be used with focus
    &:hover,
    &.ds-c-button--hover {
      background-color: $color-primary-alt-dark;
    }
    &:active,
    &.ds-c-button--active {
      background-color: $color-primary-alt-light;
    }
  }
}

// Big (landing page) button
.ds-c-button--big {
  font-family: $montserrat-font;
  font-weight: 600;
}
