/* stylelint-disable */
.mct-c-help-drawer {
  $mct-drawer-header-background-color: $color-white;
  $mct-drawer-heading-font-family: $montserrat-font;
  $mct-drawer-heading-font-size: $h1-mobile-font-size;
  $mct-drawer-heading-font-weight: $font-bold;
  $mct-drawer-close-button-color: $color-black;
  $mct-drawer-close-button-size: 26px;

  .ds-c-drawer__header {
    background-color: $mct-drawer-header-background-color;
  }

  .ds-c-drawer__header-heading {
    font-weight: $mct-drawer-heading-font-weight;
    text-align: left;
    font-size: $mct-drawer-heading-font-size;
    font-family: $mct-drawer-heading-font-family;
  }

  .ds-c-drawer__close-button {
    border: 0;
    color: $mct-drawer-close-button-color;

    svg {
      width: $mct-drawer-close-button-size;
      height: $mct-drawer-close-button-size;
    }
  }

  .ds-c-drawer__footer {
    display: none;
  }
}
/* stylelint-enable */

// Help drawer button with icon
.ds-c-help-drawer__toggle {
  background: url('#{$image-path}/InfoOutline.svg') center right no-repeat;
  padding-right: $spacer-3;
  &:hover {
    background: url('#{$image-path}/InfoFilled.svg') center right no-repeat;
    text-decoration-thickness: $link-underline-height-hover;
  }
}

.ds-c-button--inverse {
  &.ds-c-help-drawer__toggle {
    background: url('#{$image-path}/InfoOutline_white.svg') center right no-repeat;
    padding-right: $spacer-3;
    &:hover {
      background: url('#{$image-path}/InfoFilled_grey.svg') center right no-repeat;
      text-decoration-thickness: $link-underline-height-hover;
    }
  }
}
