// @TODO: fold these options into the main tooltip.scss file and set up
// component theme variables for extra options. For now this can remain
// the same as medicare is the only place this is happening, correct
// theme colors are being referenced.

.ds-c-tooltip__trigger-link {
  color: $tooltip-trigger__color;
  cursor: default;
  text-decoration-color: $color-primary;
  text-decoration-style: dashed;
  text-decoration-thickness: $link-underline-height;
  text-underline-offset: $link-underline-offset;
  &:hover {
    color: $color-black;
    text-decoration-color: $color-primary-darker;
    text-decoration-thickness: $link-underline-height;
  }
}

.ds-base--inverse {
  .ds-c-tooltip__trigger-link {
    cursor: default;
    text-decoration-style: dashed;
    text-decoration-thickness: $link-underline-height;
    &:hover {
      text-decoration-color: $color-gray-lighter;
      text-decoration-thickness: $link-underline-height;
    }
  }
}
