/* stylelint-disable declaration-no-important -- temporarily ignore until mgov can be refactored */
.ds-c-dialog {
  outline: 0;

  .ds-c-dialog__close {
    color: transparent !important;
    padding: 5px !important;
    min-width: 20px;
    min-height: 20px;

    .ds-c-icon {
      color: $color-gray-dark;
      font-size: 22px;
      margin-right: 0;
    }
  }
}
/* stylelint-enable */
