// Using darker primary color for link
$alert-link-color: $color-primary-alt;
$alert-link-color-hover: $color-primary-alt-dark;
$alert-link-color-active: $color-primary-alt-darkest;
$alert-link-color-focus: $color-primary-alt-darkest;
