// @TODO: remove these once determined they are not being used elsewhere
$mct-drawer-close-button-size: 26px;
$mct-drawer-heading-font-size: $h1-mobile-font-size;

.mct-c-help-drawer {
  .ds-c-drawer__header {
    background-color: $drawer-header__background-color;
  }

  .ds-c-drawer__header-heading {
    font-weight: $font-weight-bold;
    text-align: left;
    font-size: $mct-drawer-heading-font-size;
    font-family: $font-family-montserrat;
  }

  .ds-c-drawer__close-button {
    border: 0;
    color: $drawer-close__color;

    svg {
      width: $mct-drawer-close-button-size;
      height: $mct-drawer-close-button-size;
    }

    .ds-c-help-drawer__footer {
      display: none;
    }
  }
}

// Help drawer button with icon
// TODO: clean up this code if a different, more flexible SVG can be used instead
.ds-c-help-drawer__toggle {
  .icon-wrapper {
    position: relative;
  }

  .ds-c-icon--info-circle-outline {
    width: 18px;
    height: 18px;
  }
  &:hover {
    .icon-wrapper {
      &:before {
        background-color: $drawer-toggle__background-color--hover;
        border-radius: 50%;
        clip-path: circle(8px);
        content: '';
        height: 18px;
        left: 0;
        position: absolute;
        top: 2px;
        width: 18px;
        z-index: -1;
      }
    }
    .ds-c-icon--info-circle-outline {
      color: $drawer-toggle__color--hover;
    }
  }
}

.ds-c-button--inverse {
  &.ds-c-help-drawer__toggle {
    &:hover {
      .icon-wrapper {
        &:before {
          background-color: rgba($drawer-toggle__background-color--hover--inverse, 0.8);
        }
      }
      .ds-c-icon--info-circle-outline {
        color: $drawer-toggle__color--hover--inverse;
      }
    }
  }
}
