@use '../layout' as *;
@use '../base' as *;

.m-c-footer {
  background-color: var(--color-gray-lightest);
  padding: $spacer-4 $spacer-3;

  @media screen and (min-width: $media-width-lg) {
    padding-inline: $spacer-7;
  }

  .SimpleFooter__linkButton,
  a {
    color: var(--color-base) !important;
    display: inline-block;
    font-size: var(--font-size-sm);
    line-height: 1;
    padding: 0;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;

    &:hover {
      text-decoration-color: currentColor;
    }
  }

  .SimpleFooter__linkButton {
    background-color: transparent;
    border-radius: 0 !important;
    color: var(--color-base) !important;
    cursor: pointer;
  }
}

.m-c-footer__delimiter {
  background-color: var(--color-base);
  height: 1rem;
  width: 1px;
}

.m-c-footer__linkRow {
  align-items: center;
  border-color: var(--color-gray-lighter);
  border-style: solid;
  border-width: 1px 0;

  display: flex;
  flex-wrap: wrap;
  gap: $spacer-1 $spacer-2;
  padding-block: $spacer-3;
}

.m-c-footer__identityRow {
  align-items: center;
  display: grid;
  gap: $spacer-2;
  grid-template-areas: 'mgov hhs' 'address address';
  grid-template-columns: 1fr minmax(auto, 3rem);
  padding-block: $spacer-3 $spacer-1;

  @media (min-width: $media-width-sm) {
    grid-template-areas: 'mgov mgov' 'hhs address';
    grid-template-columns: min-content minmax(min-content, 45ch);
  }

  @media (min-width: $media-width-lg) {
    grid-template-areas: 'mgov hhs address';
    grid-template-columns: 1fr max-content minmax(min-content, 411px);
  }
}

.m-c-footer__medicare-logo {
  grid-area: mgov;
  max-width: 100%;

  .MgovLogoMedicare {
    fill: currentColor;
  }
}

.m-c-footer__hhs-logo {
  grid-area: hhs;
}

.m-c-footer__contactAddress {
  font-size: var(--font-size-sm);
  grid-area: address;
  line-height: 1.25;
  text-wrap: balance;
}
