/* stylelint-disable declaration-no-important -- Temporarily ignore until mgov can be refactored */
.m-c-footer {
  background-color: $color-gray-lightest;
  padding: $spacer-3;
  padding-top: $spacer-4;
  padding-bottom: $spacer-4;

  @media screen and (max-width: $width-md) {
    padding: 32px 24px;
  }

  @media screen and (min-width: $width-lg) {
    padding-left: $spacer-7;
    padding-right: $spacer-7;
  }

  .SimpleFooter__linkButton,
  a {
    @extend .mct-p3;
    font-size: 14px;
    text-decoration: none;
    color: $color-base !important;
    display: inline-block;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child)::after {
      content: '';
      border-right: 1px solid $color-base;
      padding-left: $spacer-2;
    }
  }

  .SimpleFooter__linkButton {
    color: $color-base !important;
    border-radius: 0 !important;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  a {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: 0;
    }
  }
}

.m-c-footer__linkRow {
  padding-top: $spacer-3;
  padding-bottom: $spacer-3;
  margin-bottom: $spacer-1;
  border-color: $color-gray-lighter;
  border-style: solid;
  border-width: 1px 0;

  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0 $spacer-2;
  }

  @media screen and (min-width: $width-sm) {
    flex-direction: column;
  }

  @media screen and (min-width: $width-lg) {
    justify-content: space-between;
  }

  @media screen and (min-width: $width-xl) {
    flex-direction: row;
  }

  &--reverse {
    flex-direction: column-reverse;

    @media screen and (min-width: $width-sm) {
      flex-direction: row;
    }
  }
}

.m-c-footer__links {
  margin-bottom: $spacer-3;

  @media screen and (min-width: $width-xl) {
    margin-bottom: 0;
  }
}

.m-c-footer__identityRow {
  padding-top: $spacer-3;
  padding-bottom: $spacer-1;
  margin-bottom: $spacer-1;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;

  @media screen and (min-width: $width-sm) {
    height: auto;
    justify-content: space-between;
    flex-direction: row;
  }

  @media screen and (min-width: $width-md) {
    align-items: center;
  }

  @media screen and (min-width: $width-lg) {
    justify-content: space-between;
  }

  > * {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $width-md) {
      align-items: center;
    }
  }

  svg {
    max-width: 100%;

    .MgovLogoMedicare {
      fill: $color-base !important;
    }
  }

  &--reverse {
    flex-direction: column-reverse;

    @media screen and (min-width: $width-sm) {
      flex-direction: row;
    }
  }
}

.m-c-footer__identityContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: $spacer-2;

  @media screen and (min-width: $width-sm) {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    flex-direction: row;
  }
}

.m-c-footer__contactAddress {
  @extend .mct-p3;
  font-size: 14px;
  margin-top: $spacer-2;
  max-width: 411px;

  @media screen and (min-width: $width-sm) {
    margin-top: 0;
  }

  @media screen and (min-width: $width-md) {
    margin-left: $spacer-3;
  }
}
/* stylelint-enable */
