// @TODO: fold these options into the main tooltip.scss file and set up
// component theme variables for extra options. For now this can remain
// the same as medicare is the only place this is happening, correct
// theme colors are being referenced.

.ds-c-tooltip__trigger-link {
  color: var(--tooltip-trigger__color);
  cursor: default;
  text-decoration-color: var(--color-primary);
  text-decoration-style: dashed;
  text-decoration-thickness: var(--link__text-decoration-thickness);
  text-underline-offset: var(--link__text-decoration-offset);
  &:hover {
    color: var(--color-black);
    text-decoration-color: var(--color-primary-darker);
    text-decoration-thickness: var(--link__text-decoration-thickness--hover);
  }
}

.ds-base--inverse {
  .ds-c-tooltip__trigger-link {
    cursor: default;
    text-decoration-style: dashed;
    text-decoration-thickness: var(--link__text-decoration-thickness);
    &:hover {
      text-decoration-color: var(--color-gray-lighter);
      text-decoration-thickness: var(--link__text-decoration-thickness--hover);
    }
  }
}
